<button class="btn btn-secondary" (click)="audioDeviceService.getAudioDevices()"
  >Refresh Devices
</button>
<div class="device-lists">
  <div class="device-list">
    <h3>Render Devices</h3>
    <div class="device" *ngFor="let device of renderDevices | async">
      <h4>{{ device.name }}</h4>
      <div>
        <span *ngIf="device.mute">Muted</span>
        <span *ngIf="!device.mute">Unmuted</span>
        <span *ngIf="device.default">&nbsp;(Default Device)</span>
        <span *ngIf="device.default">&nbsp;(Default Communications Device)</span>
      </div>
      <div class="row">
        <span>{{ device.volume * 100 | number : '1.1-1' }}%</span>
        <app-slider
          [min]="0"
          [max]="1"
          [step]="0.001"
          [value]="device.volume"
          (valueChange)="audioDeviceService.setVolume(device.id, $event)"
        ></app-slider>
      </div>
      <button
        class="btn btn-secondary"
        (click)="audioDeviceService.setMute(device.id, !device.mute)"
        >Toggle Mute
      </button>
    </div>
  </div>
  <div class="device-list">
    <h3>Capture Devices</h3>
    <div class="device" *ngFor="let device of captureDevices | async">
      <h4>{{ device.name }}</h4>
      <div>
        <span *ngIf="device.mute">Muted</span>
        <span *ngIf="!device.mute">Unmuted</span>
        <span *ngIf="device.default">&nbsp;(Default Device)</span>
        <span *ngIf="device.default">&nbsp;(Default Communications Device)</span>
      </div>
      <div class="row">
        <span>{{ device.volume * 100 | number : '1.1-1' }}%</span>
        <app-slider
          [min]="0"
          [max]="1"
          [step]="0.001"
          [value]="device.volume"
          (valueChange)="audioDeviceService.setVolume(device.id, $event)"
        ></app-slider>
      </div>
      <button
        class="btn btn-secondary"
        (click)="audioDeviceService.setMute(device.id, !device.mute)"
        >Toggle Mute
      </button>
    </div>
  </div>
</div>
