@import '../settings-tab/settings-tab.component.scss';

.debug-persistent-storage-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  button:not(:last-child) {
    margin-right: 1em;
  }

  button {
    margin-bottom: 1em;
  }

  padding-bottom: 1em;
}

.sleeping-detection-table {
  width: 100%;
  border: 1px solid var(--color-surface-5);
  border-radius: var(--surface-border-radius);

  td {
    padding: 0.5em;
    border: 1px solid var(--color-surface-5);
    border-radius: var(--surface-border-radius);
  }
  &,
  * {
    user-select: all !important;
  }
}
