<div class="setting-category">
  <p translate>settings.debug.description</p>
</div>
<div class="setting-category">
  <h2 translate>settings.debug.persistentStorage.title</h2>
  <p translate>settings.debug.persistentStorage.description</p>
  <div class="debug-persistent-storage-actions">
    <button class="btn btn-secondary" (click)="clearStore('SETTINGS')" translate>
      settings.debug.persistentStorage.clearAllSettings
    </button>
    <button
      class="btn btn-secondary"
      (click)="clearStore('SETTINGS', storeKey.SETTINGS_KEY_AUTOMATION_CONFIGS)"
      translate
    >
      settings.debug.persistentStorage.clearAutomationSettings
    </button>
    <button
      class="btn btn-secondary"
      (click)="clearStore('SETTINGS', storeKey.SETTINGS_KEY_APP_SETTINGS)"
      translate
    >
      settings.debug.persistentStorage.clearAppSettings
    </button>
    <button class="btn btn-secondary" (click)="clearStore('CACHE')" translate>
      settings.debug.persistentStorage.clearCache
    </button>
    <button class="btn btn-secondary" (click)="printSettings()" translate>
      settings.debug.persistentStorage.printSettings
    </button>
  </div>
</div>
<div class="setting-category">
  <h2 translate>settings.debug.language.title</h2>
</div>
<p translate>settings.debug.language.description</p>
<div class="debug-persistent-storage-actions">
  <button class="btn btn-secondary" (click)="loadLanguageFile()" translate>
    settings.debug.language.loadFile
  </button>
</div>
<div class="setting-category">
  <h2 translate>settings.debug.sleepingPose.title</h2>
</div>
<app-sleeping-pose-viewer></app-sleeping-pose-viewer>
<div class="setting-category">
  <h2 translate>settings.debug.sleepingDetection.title</h2>
  <table
    class="sleeping-detection-table"
    *ngVar="sleepModeForSleepDetectorAutomationService.lastStateReport | async as report"
  >
    <ng-container *ngIf="!report"><h3>Loading Report...</h3></ng-container>
    <ng-container *ngIf="report">
      <tr>
        <td>Start Time</td>
        <td>{{ report.startTime }}</td>
        <td>Last Log</td>
        <td>{{ report.lastLog }}</td>
      </tr>
      <tr>
        <td>Distance</td>
        <td></td>
        <td>Rotation</td>
        <td></td>
      </tr>
      <tr>
        <td>Last 10s</td>
        <td>{{ report.distanceInLast10Seconds }}m</td>
        <td>Last 10s</td>
        <td>{{ report.rotationInLast10Seconds }}°</td>
      </tr>
      <tr>
        <td>Last 1m</td>
        <td>{{ report.distanceInLast1Minute }}m</td>
        <td>Last 1m</td>
        <td>{{ report.rotationInLast1Minute }}°</td>
      </tr>
      <tr>
        <td>Last 5m</td>
        <td>{{ report.distanceInLast5Minutes }}m</td>
        <td>Last 5m</td>
        <td>{{ report.rotationInLast5Minutes }}°</td>
      </tr>
      <tr>
        <td>Last 10m</td>
        <td>{{ report.distanceInLast10Minutes }}m</td>
        <td>Last 10m</td>
        <td>{{ report.rotationInLast10Minutes }}°</td>
      </tr>
      <tr>
        <td>Last 15m</td>
        <td>{{ report.distanceInLast15Minutes }}m</td>
        <td>Last 15m</td>
        <td>{{ report.rotationInLast15Minutes }}°</td>
      </tr>
    </ng-container>
  </table>
</div>
