:host {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}

.pane {
  height: 100%;
  background: var(--color-surface-1);

  &-title {
    padding-right: 0.75em;
  }
}

.device-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  //noinspection CssInvalidPropertyValue
  overflow-y: overlay;
  flex: 1;

  .device-list-category-header {
    margin: 0.5em 0;
  }

  app-device-list-item:not(:last-child) {
    margin-bottom: 0.5em;
  }

  &-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
    color: var(--color-text-2);
    overflow: hidden;
    flex: 1;

    i {
      font-size: 2.5em;
      margin-bottom: 0.25em;
    }
  }

  &-category-header {
    min-height: 2.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1em;

    span {
      vertical-align: middle;
    }

    &-label {
      flex: 1;
      color: var(--color-text-2);
    }

    button {
      flex-shrink: 0;
    }
  }
}

.category-icon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  margin-right: 1em;
  filter: invert(91%) sepia(2%) saturate(3440%) hue-rotate(193deg) brightness(83%) contrast(100%);
}

.btn-turn-off-all {
  .category-icon {
    margin-right: 0.4em;
    filter: invert(24%) sepia(84%) saturate(1782%) hue-rotate(340deg) brightness(106%) contrast(93%);
  }

  > i.material-icons {
    margin-left: -0.3em;
  }

  &:hover {
    .category-icon {
      filter: invert(99%) sepia(0%) saturate(2934%) hue-rotate(279deg) brightness(116%)
        contrast(101%);
    }
  }
}

.footer-bar {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 0.25em;
  background: var(--color-surface-2);
  overflow: hidden;
  flex-shrink: 0;

  button.btn-lighthouse-scan {
    background: var(--color-surface-1);
    border: 1px solid var(--color-surface-3);
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--color-text-2);
    padding: 0.5em;
    border-radius: 0.25em;
    font-size: 0.9em;
    transition: all 0.1s ease;

    &:not(:disabled) {
      cursor: pointer;

      &:hover {
        background: var(--color-surface-2);
      }

      &:active {
        background: var(--color-surface-1);

        & > * {
          opacity: 0.8;
        }
      }
    }

    &:disabled {
      & > * {
        opacity: 0.8;
      }
    }

    .category-icon,
    .small-spinner {
      margin-right: 0.5em;
    }

    & > * {
      transition: all 0.1s ease;
    }
  }
}
