<div class="pane">
  <div class="pane-title" transloco="vrchatAvatarAutomations.title"></div>
  <div class="pane-content">
    <div class="setting-view-container">
      <div class="setting-category">
        <p transloco="vrchatAvatarAutomations.description"></p>
        @if (!loggedIn) {
          <div class="alert warning" @vshrink>
            <div class="alert-bg"></div>
            <div class="alert-icon">
              <i class="material-icons"> warning </i>
            </div>
            <div class="alert-content">
              <span>{{ 'shared.common.vrcLoginRequired' | transloco }}</span>
              <button
                class="btn btn-secondary"
                (click)="login()"
                transloco="shared.modals.login"
              ></button>
            </div>
          </div>
        }
        <div class="settings">
          <div class="setting-row">
            <div class="setting-row-label">
              <span transloco="vrchatAvatarAutomations.onSleepEnable.title"></span>
              <span transloco="vrchatAvatarAutomations.onSleepEnable.description"></span>
            </div>
            <div class="setting-row-action">
              <app-vrc-avatar-select-button
                [avatar]="this.config.onSleepEnable"
                (avatarChange)="updateOnSleepEnable($event)"
              ></app-vrc-avatar-select-button>
            </div>
          </div>
          <div class="setting-row">
            <div class="setting-row-label">
              <span transloco="vrchatAvatarAutomations.onSleepDisable.title"></span>
              <span transloco="vrchatAvatarAutomations.onSleepDisable.description"></span>
            </div>
            <div class="setting-row-action">
              <app-vrc-avatar-select-button
                [avatar]="this.config.onSleepDisable"
                (avatarChange)="updateOnSleepDisable($event)"
              ></app-vrc-avatar-select-button>
            </div>
          </div>
          <div class="setting-row">
            <div class="setting-row-label">
              <span transloco="vrchatAvatarAutomations.onSleepPreparation.title"></span>
              <span transloco="vrchatAvatarAutomations.onSleepPreparation.description"></span>
            </div>
            <div class="setting-row-action">
              <app-vrc-avatar-select-button
                [avatar]="this.config.onSleepPreparation"
                (avatarChange)="updateOnSleepPreparation($event)"
              ></app-vrc-avatar-select-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
