<div class="pane modal modal-xl" @fadeUp>
  <div class="pane-title" translate>
    comp.event-log-filter-dialog.title
  </div>
  <div class="pane-content">
    <div class="action-row">
      <p class="description" translate>comp.event-log-filter-dialog.selectDescription</p>
      <button class="btn btn-secondary" translate (click)="selectAll()">
        comp.event-log-filter-dialog.selectAll
      </button>
      <button class="btn btn-secondary" translate (click)="selectNone()">
        comp.event-log-filter-dialog.selectNone
      </button>
    </div>
    <div class="filter-container">
      <div class="filter" *ngFor="let filter of filters" (click)="toggleFilter(filter.id)">
        <div class="filter-icon">
          <div class="material-symbols-outlined" *ngIf="selectedFilters.includes(filter.id)">radio_button_checked</div>
          <div class="material-symbols-outlined" *ngIf="!selectedFilters.includes(filter.id)">radio_button_unchecked
          </div>
        </div>
        <div class="filter-labels">
          <span>{{ 'comp.event-log-filter-dialog.filters.' + filter.id + '.title' | translate }}</span>
          <span>{{ 'comp.event-log-filter-dialog.filters.' + filter.id + '.description' | translate }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="pane-actions spread">
    <button class="btn btn-primary" (click)="save()" translate [disabled]="!selectedFilters.length">
      shared.modals.save
    </button>
  </div>
</div>
