<div class="pane modal modal-xl" @fadeUp>
  <div class="pane-title" translate> comp.event-log-filter-dialog.title </div>
  <div class="pane-content">
    <div class="action-row">
      <p class="description" translate>comp.event-log-filter-dialog.selectDescription</p>
      <button class="btn btn-secondary" translate (click)="selectAll()">
        comp.event-log-filter-dialog.selectAll
      </button>
      <button class="btn btn-secondary" translate (click)="selectNone()">
        comp.event-log-filter-dialog.selectNone
      </button>
    </div>
    <div class="filter-container">
      @for (filter of filters; track filter) {
        <div class="filter" (click)="toggleFilter(filter.id)">
          <div class="filter-icon">
            @if (selectedFilters.includes(filter.id)) {
              <div class="material-symbols-outlined"
                >radio_button_checked</div
                >
              }
              @if (!selectedFilters.includes(filter.id)) {
                <div class="material-symbols-outlined"
                  >radio_button_unchecked
                </div>
              }
            </div>
            <div class="filter-labels">
              <span>{{
                'comp.event-log-filter-dialog.filters.' + filter.id + '.title' | translate
              }}</span>
              <span>{{
                'comp.event-log-filter-dialog.filters.' + filter.id + '.description' | translate
              }}</span>
            </div>
          </div>
        }
      </div>
    </div>
    <div class="pane-actions spread">
      <button class="btn btn-primary" (click)="save()" translate [disabled]="!selectedFilters.length">
        shared.modals.save
      </button>
    </div>
  </div>
