<div class="pane">
  <div class="pane-title">
    <span translate>brightness-automations.title</span>
    <div class="advanced-toggle">
      <div class="advanced-toggle-clickable" (click)="toggleAdvancedMode()">
        <label class="switch-toggle">
          <input type="checkbox" [checked]="advancedMode" disabled />
          <span class="switch-toggle-slider"></span>
        </label>
        <span @hshrink *ngIf="!advancedMode" translate>brightness-automations.mode.simple</span>
        <span @hshrink *ngIf="advancedMode" translate>brightness-automations.mode.advanced</span>
      </div>
      <i class="material-icons-round help-icon" (click)="showModeInfoModal()">help</i>
    </div>
  </div>
  <!-- Keeping tab bar in for an upcoming feature -->
  <!--  <div class="tab-bar">-->
  <!--    <div-->
  <!--      class="tab"-->
  <!--      [class.active]="activeTab === 'BRIGHTNESS_AUTOMATIONS'"-->
  <!--      (click)="activeTab = 'BRIGHTNESS_AUTOMATIONS'"-->
  <!--    >-->
  <!--      <div class="tab-label" translate>brightness-automations.tabs.softwareBrightness</div>-->
  <!--    </div>-->
  <!--  </div>-->
  <app-brightness-automations-tab
    [advancedMode]="advancedMode"
    *ngIf="activeTab === 'BRIGHTNESS_AUTOMATIONS'"
  ></app-brightness-automations-tab>
</div>
