<div class="setting-category">
  <p translate>brightness-automations.brightnessAutomations.description</p>
  <h2 translate>brightness-automations.brightnessAutomations.events</h2>
  <div class="settings">
    <div class="setting-row" *ngFor="let event of events">
      <div class="setting-row-icon">
        <i class="material-symbols-outlined" [class.icon-filled]="event.iconFilled">{{ event.icon }}</i>
      </div>
      <div class="setting-row-label" translate>
        <span>{{ 'brightness-automations.brightnessAutomations.' + event.name + '.title' | translate }}</span>
        <span></span>
      </div>
      <div class="setting-row-action">
        <div class="small-spinner" @fade *ngIf="event.inProgress"></div>
        <app-brightness-automation-config-label
          [advancedMode]="config.advancedMode"
          [config]="config[event.name]"
          (click)="editEvent.emit(event.name)"
        ></app-brightness-automation-config-label>
        <label class="switch-toggle">
          <input type="checkbox" [checked]="config[event.name].enabled" (change)="toggleEvent(event.name)"/>
          <span class="switch-toggle-slider"></span>
        </label>
      </div>
    </div>
  </div>
</div>
