<div class="setting-category">
  <p translate>brightness-automations.description</p>
  <h2 translate>brightness-automations.events</h2>
  <div class="settings">
    @for (event of events; track event) {
      <div class="setting-row">
        <div class="setting-row-icon">
          <i class="material-symbols-outlined" [class.icon-filled]="event.iconFilled">{{
            event.icon
          }}</i>
        </div>
        <div class="setting-row-label" translate>
          <span>{{ 'brightness-automations.' + event.name + '.title' | translate }}</span>
          <span></span>
        </div>
        <div class="setting-row-action">
          @if (event.inProgress) {
            <div class="small-spinner" @fade></div>
          }
          @if (hmdConnectAutomations[event.name]) {
            <div
              class="hmd-connect-indicator"
              @fade
              [ngClass]="{ potential: hmdConnectAutomations[event.name] === 'potential' }"
              [tooltip]="
                hmdConnectAutomations[event.name] === 'potential'
                  ? 'brightness-automations.hmdConnectPotentialEventTooltip'
                  : 'brightness-automations.hmdConnectEventTooltip'
              "
              [tooltipMode]="'left'"
            >
              <i class="material-symbols-outlined">head_mounted_device</i>
            </div>
          }
          <app-brightness-automation-config-label
            [advancedMode]="config.advancedMode"
            [cctControlEnabled]="cctControlEnabled"
            [config]="config[event.name]"
            (click)="editEvent.emit(event)"
          ></app-brightness-automation-config-label>
          <label class="switch-toggle">
            <input
              type="checkbox"
              [checked]="config[event.name].enabled"
              (change)="toggleEvent(event.name)"
            />
            <span class="switch-toggle-slider"></span>
          </label>
        </div>
      </div>
    }
  </div>
</div>
