<div class="pane modal modal-lg" [@fadeUp]>
  <div class="pane-title">
    {{ 'comp.update-modal.title' | translate }}
  </div>
  <div class="pane-content">
    <p
      translate="comp.update-modal.message"
      [translateParams]="{ newVersion: update?.version, currentVersion: update?.currentVersion }"
    ></p>
    @if (FLAVOUR === 'STANDALONE') {
      <div class="steam-ad">
        <div class="steam-ad-logo">
          <img src="/assets/img/steam_icon.png" />
        </div>
        <div class="steam-ad-text" [innerHtml]="'comp.update-modal.steamAd' | translate"></div>
      </div>
    }
  </div>
  <div class="pane-actions spread">
    <button class="btn btn-secondary" (click)="updateLater()" [disabled]="installing">
      {{ 'comp.update-modal.updateLater' | translate }}
    </button>
    <button
      class="btn btn-primary"
      style="white-space: nowrap"
      (click)="install()"
      [disabled]="installing"
    >
      @if (installing) {
        <div class="small-spinner" @hshrink></div>
      }
      @if (!installing) {
        <span @hshrink translate [translateParams]="{ version: update?.version }">
          comp.update-modal.updateNow
        </span>
      }
    </button>
  </div>
</div>
