.pane {
  max-height: calc(100vh - 4em);
}

.pane-content {
  white-space: pre-wrap;
  overflow: overlay;
}

.btn-test {
  white-space: nowrap;
}

.test-results {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: right;

  &-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
  }

  &-success {
    font-weight: 700;
    color: var(--color-success);
  }

  &-error {
    font-weight: 700;
    color: var(--color-caution);
  }
  &-body {
    white-space: pre;
  }
}
