<div class="pane modal modal-lg" @fadeUp>
  <div class="pane-title" transloco="comp.mqtt-config-modal.title"></div>
  <div class="pane-content">
    <p transloco="comp.mqtt-config-modal.description"></p>
    <p [innerHtml]="'comp.mqtt-config-modal.brokerSetupNote' | transloco"></p>
    <p [innerHtml]="'comp.mqtt-config-modal.websocketNote' | transloco"></p>
    @if (config.enabled) {
      <div class="settings" @vshrink>
        <app-setting-row
          label="comp.mqtt-config-modal.testConnection.title"
          description="comp.mqtt-config-modal.testConnection.description"
        >
          <button
            class="btn btn-secondary btn-test"
            (click)="testConnection()"
            [disabled]="!validConfig || testResult === 'testing'"
          >
            @if (testResult !== 'testing') {
              <span transloco="comp.mqtt-config-modal.testConnection.test" @hshrink></span>
            }
            @if (testResult === 'testing') {
              <div class="small-spinner" @hshrink></div>
            }
          </button>
        </app-setting-row>
        @if (testResult === 'error' || testResult === 'success') {
          <app-setting-row label="comp.mqtt-config-modal.testConnectionResult.title" @vshrink>
            <div class="test-results">
              <div class="test-results-header">
                @if (testResult === 'success') {
                  <span
                    transloco="comp.mqtt-config-modal.testConnectionResult.success"
                    class="test-results-success"
                    @hshrink
                  ></span>
                }
                @if (testResult === 'error') {
                  <span
                    transloco="comp.mqtt-config-modal.testConnectionResult.error"
                    class="test-results-error"
                    @hshrink
                  ></span>
                }
              </div>
              @if (testError.trim()) {
                <div class="test-results-body">
                  <span>{{
                    'comp.mqtt-config-modal.testConnectionResult.errorMessage'
                      | transloco: { error: testError }
                  }}</span>
                </div>
              }
            </div>
          </app-setting-row>
        }
      </div>
    }
    <div class="settings">
      <app-setting-row
        label="comp.mqtt-config-modal.mqttEnabled.title"
        description="comp.mqtt-config-modal.mqttEnabled.description"
      >
        <label class="switch-toggle">
          <input
            type="checkbox"
            [checked]="config.enabled"
            (change)="config.enabled = !config.enabled"
          />
          <span class="switch-toggle-slider"></span>
        </label>
      </app-setting-row>
      @if (config.enabled) {
        <app-setting-row
          label="comp.mqtt-config-modal.brokerHost.title"
          description="comp.mqtt-config-modal.brokerHost.description"
          @vshrink
        >
          <input type="text" placeholder="homeassistant.local" [(ngModel)]="config.host" />
        </app-setting-row>
      }
      @if (config.enabled) {
        <app-setting-row
          label="comp.mqtt-config-modal.brokerPort.title"
          description="comp.mqtt-config-modal.brokerPort.description"
          @vshrink
        >
          <input
            type="number"
            [max]="65535"
            [min]="1"
            [placeholder]="config.secureSocket ? 8884 : 1884"
            [(ngModel)]="config.port"
          />
        </app-setting-row>
      }
      @if (config.enabled) {
        <app-setting-row
          label="comp.mqtt-config-modal.username.title"
          description="comp.mqtt-config-modal.username.description"
          @vshrink
        >
          <input type="text" placeholder="None" [(ngModel)]="config.username" />
        </app-setting-row>
      }
      @if (config.enabled) {
        <app-setting-row
          label="comp.mqtt-config-modal.password.title"
          description="comp.mqtt-config-modal.password.description"
          @vshrink
        >
          <input type="password" placeholder="None" [(ngModel)]="config.password" />
        </app-setting-row>
      }
      @if (config.enabled) {
        <app-setting-row
          label="comp.mqtt-config-modal.ssl.title"
          description="comp.mqtt-config-modal.ssl.description"
          @vshrink
        >
          <label class="switch-toggle">
            <input
              type="checkbox"
              [checked]="config.secureSocket"
              (change)="config.secureSocket = !config.secureSocket"
            />
            <span class="switch-toggle-slider"></span>
          </label>
        </app-setting-row>
      }
    </div>
  </div>
  <div class="pane-actions spread">
    <button class="btn btn-secondary" (click)="cancel()" transloco="shared.modals.cancel"></button>
    <button
      class="btn btn-primary"
      [disabled]="!validConfig"
      (click)="save()"
      transloco="shared.modals.save"
    ></button>
  </div>
</div>
