<div class="pane modal modal-lg" @fadeUp>
  <div class="pane-title" transloco="comp.mqtt-config-modal.title"></div>
  <div class="pane-content">
    <p transloco="comp.mqtt-config-modal.description"></p>
    <p [innerHtml]="'comp.mqtt-config-modal.brokerSetupNote' | transloco"></p>
    <p [innerHtml]="'comp.mqtt-config-modal.websocketNote' | transloco"></p>
    @if (config.enabled) {
      <div class="settings" @vshrink>
        <div class="setting-row">
          <div class="setting-row-label">
            <span transloco="comp.mqtt-config-modal.testConnection.title"></span>
            <span transloco="comp.mqtt-config-modal.testConnection.description"></span>
          </div>
          <div class="setting-row-action">
            <button
              class="btn btn-secondary btn-test"
              (click)="testConnection()"
              [disabled]="!validConfig || testResult === 'testing'"
            >
              @if (testResult !== 'testing') {
                <span transloco="comp.mqtt-config-modal.testConnection.test" @hshrink></span>
              }
              @if (testResult === 'testing') {
                <div class="small-spinner" @hshrink></div>
              }
            </button>
          </div>
        </div>
        @if (testResult === 'error' || testResult === 'success') {
          <div class="setting-row" @vshrink>
            <div class="setting-row-label">
              <span transloco="comp.mqtt-config-modal.testConnectionResult.title"></span>
              <span></span>
            </div>
            <div class="setting-row-action">
              <div class="test-results">
                <div class="test-results-header">
                  @if (testResult === 'success') {
                    <span
                      transloco="comp.mqtt-config-modal.testConnectionResult.success"
                      class="test-results-success"
                      @hshrink
                    ></span>
                  }
                  @if (testResult === 'error') {
                    <span
                      transloco="comp.mqtt-config-modal.testConnectionResult.error"
                      class="test-results-error"
                      @hshrink
                    ></span>
                  }
                </div>
                @if (testError.trim()) {
                  <div class="test-results-body">
                    <span>{{
                      'comp.mqtt-config-modal.testConnectionResult.errorMessage'
                        | transloco: { error: testError }
                    }}</span>
                  </div>
                }
              </div>
            </div>
          </div>
        }
      </div>
    }
    <div class="settings">
      <div class="setting-row">
        <div class="setting-row-label">
          <span transloco="comp.mqtt-config-modal.mqttEnabled.title"></span>
          <span transloco="comp.mqtt-config-modal.mqttEnabled.description"></span>
        </div>
        <div class="setting-row-action">
          <label class="switch-toggle">
            <input
              type="checkbox"
              [checked]="config.enabled"
              (change)="config.enabled = !config.enabled"
            />
            <span class="switch-toggle-slider"></span>
          </label>
        </div>
      </div>
      @if (config.enabled) {
        <div class="setting-row" @vshrink>
          <div class="setting-row-label">
            <span transloco="comp.mqtt-config-modal.brokerHost.title"></span>
            <span transloco="comp.mqtt-config-modal.brokerHost.description"></span>
          </div>
          <div class="setting-row-action">
            <input type="text" placeholder="homeassistant.local" [(ngModel)]="config.host" />
          </div>
        </div>
      }
      @if (config.enabled) {
        <div class="setting-row" @vshrink>
          <div class="setting-row-label">
            <span transloco="comp.mqtt-config-modal.brokerPort.title"></span>
            <span transloco="comp.mqtt-config-modal.brokerPort.description"></span>
          </div>
          <div class="setting-row-action">
            <input
              type="number"
              [max]="65535"
              [min]="1"
              [placeholder]="config.secureSocket ? 8884 : 1884"
              [(ngModel)]="config.port"
            />
          </div>
        </div>
      }
      @if (config.enabled) {
        <div class="setting-row" @vshrink>
          <div class="setting-row-label">
            <span transloco="comp.mqtt-config-modal.username.title"></span>
            <span transloco="comp.mqtt-config-modal.username.description"></span>
          </div>
          <div class="setting-row-action">
            <input type="text" placeholder="None" [(ngModel)]="config.username" />
          </div>
        </div>
      }
      @if (config.enabled) {
        <div class="setting-row" @vshrink>
          <div class="setting-row-label">
            <span transloco="comp.mqtt-config-modal.password.title"></span>
            <span transloco="comp.mqtt-config-modal.password.description"></span>
          </div>
          <div class="setting-row-action">
            <input type="password" placeholder="None" [(ngModel)]="config.password" />
          </div>
        </div>
      }
      @if (config.enabled) {
        <div class="setting-row" @vshrink>
          <div class="setting-row-label">
            <span transloco="comp.mqtt-config-modal.ssl.title"></span>
            <span transloco="comp.mqtt-config-modal.ssl.description"></span>
          </div>
          <div class="setting-row-action">
            <label class="switch-toggle">
              <input
                type="checkbox"
                [checked]="config.secureSocket"
                (change)="config.secureSocket = !config.secureSocket"
              />
              <span class="switch-toggle-slider"></span>
            </label>
          </div>
        </div>
      }
    </div>
  </div>
  <div class="pane-actions spread">
    <button class="btn btn-secondary" (click)="cancel()" transloco="shared.modals.cancel"></button>
    <button
      class="btn btn-primary"
      [disabled]="!validConfig"
      (click)="save()"
      transloco="shared.modals.save"
    ></button>
  </div>
</div>
