@import '@fontsource/fira-code/index.css';

:host {
  height: calc(100% - 4em);
  width: calc(100% - 4em);
  max-width: 1280px;
  max-height: 720px;
  margin: 2em;
}
.modal {
  height: 100%;
  width: 100%;
}

.tab {
  flex: 1;
}

.script-tab {
  padding: 1em 1.5em;
  overflow: hidden;
}

.simple-tab {
  padding: 1em 1.5em;
  overflow: hidden;
}
