@use 'shadows';

:host {
  position: absolute;
  right: anchor(left);
  align-self: anchor-center;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  transition: all 0.15s ease;
}

.pane {
  @include shadows.shadow(5, true);
  background: var(--color-surface-0);
  border: 1px solid var(--color-surface-3);
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-text-1);
  padding: 0;

  .action-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0.75em;

    app-device-power-button {
      &:not(:last-child) {
        margin-right: 0.5em;
      }
    }
  }

  .label {
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
  }
}

.spacer {
  width: 0.5em;
}
