.alert {
  &:not(:last-child) {
    margin-bottom: 1em;
  }

  &-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      flex: 1;
    }

    button {
      flex-shrink: 0;
    }
  }
}

.with-margin {
  margin-right: 1em;
}

.preset-select-box {
  min-width: 12em;
}

.small-select-box {
  min-width: 10em;
}
