<div class="setting-view-container">
  <p translate>invite-and-invite-requests.inviteRequestsTab.description</p>
  @if (!loggedIn) {
    <div class="alert warning" @vshrink>
      <div class="alert-bg"></div>
      <div class="alert-icon">
        <i class="material-icons"> warning </i>
      </div>
      <div class="alert-content">
        <span>{{ 'shared.common.vrcLoginRequired' | translate }}</span>
        <button class="btn btn-secondary" (click)="login()" translate>shared.modals.login</button>
      </div>
    </div>
  }
  @if (isOnBusyStatus) {
    <div class="alert warning" @vshrink>
      <div class="alert-bg"></div>
      <div class="alert-icon">
        <i class="material-icons"> warning </i>
      </div>
      <div class="alert-content">
        <span>{{
          'invite-and-invite-requests.inviteRequestsTab.userOnBusyStatus' | translate
        }}</span></div
        >
      </div>
    }
    @if (isOnJoinMeStatus) {
      <div class="alert warning" @vshrink>
        <div class="alert-bg"></div>
        <div class="alert-icon">
          <i class="material-icons"> warning </i>
        </div>
        <div class="alert-content">
          <span>{{
            'invite-and-invite-requests.inviteRequestsTab.userOnJoinMeStatus' | translate
          }}</span></div
          >
        </div>
      }
      <div class="settings">
        <div class="setting-row">
          <div class="setting-row-label">
            <span translate>invite-and-invite-requests.inviteRequestsTab.options.enable.title</span>
            <span translate
              >invite-and-invite-requests.inviteRequestsTab.options.enable.description</span
              >
            </div>
            <div class="setting-row-action">
              <label class="switch-toggle">
                <input
                  type="checkbox"
                  [checked]="config.enabled"
                  (change)="updateConfig({ enabled: !config.enabled })"
                  />
                <span class="switch-toggle-slider"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="settings">
          <div class="setting-row">
            <div class="setting-row-label" translate>
              <span translate>invite-and-invite-requests.inviteRequestsTab.options.listMode.title</span>
              <span translate
                >invite-and-invite-requests.inviteRequestsTab.options.listMode.description</span
                >
              </div>
              <div class="setting-row-action">
                <app-select-box
                  [items]="listModeOptions"
                  [selected]="listModeOption"
                  (selectedChange)="setListMode($event?.id)"
                ></app-select-box>
              </div>
            </div>
            <div class="setting-row">
              <div class="setting-row-label" translate>
                <span translate
                  >invite-and-invite-requests.inviteRequestsTab.options.acceptMessage.title</span
                  >
                  <span translate
                    >invite-and-invite-requests.inviteRequestsTab.options.acceptMessage.description</span
                    >
                  </div>
                  <div class="setting-row-action">
                    <label class="switch-toggle">
                      <input
                        type="checkbox"
                        [checked]="config.acceptMessageEnabled"
                        (change)="updateConfig({ acceptMessageEnabled: !config.acceptMessageEnabled })"
                        />
                      <span class="switch-toggle-slider"></span>
                    </label>
                  </div>
                </div>
                @if (config.acceptMessageEnabled) {
                  <div class="setting-row-group" @vshrink>
                    <div class="setting-row">
                      <div class="setting-row-label" translate>
                        <span translate
                          >invite-and-invite-requests.inviteRequestsTab.options.acceptMessage.customMessage.title</span
                          >
                          <span></span>
                        </div>
                        <div class="setting-row-action">
                          <input
                            maxlength="64"
                            type="text"
                            class="input"
                            [value]="config.acceptInviteRequestMessage"
            (change)="
              updateAcceptInviteRequestCustomMessage.next(acceptOnRequestCustomMessageInput.value)
            "
                            (blur)="acceptOnRequestCustomMessageInput.value = config.acceptInviteRequestMessage"
            [placeholder]="
              'invite-and-invite-requests.inviteRequestsTab.options.acceptMessage.customMessage.placeholder'
                | translate
            "
                            #acceptOnRequestCustomMessageInput
                            />
                        </div>
                      </div>
                    </div>
                  }
                  <div class="setting-row">
                    <div class="setting-row-label" translate>
                      <span translate
                        >invite-and-invite-requests.inviteRequestsTab.options.declineOnRequest.title</span
                        >
                        <span translate
                          >invite-and-invite-requests.inviteRequestsTab.options.declineOnRequest.description</span
                          >
                        </div>
                        <div class="setting-row-action">
                          <app-select-box
                            [class]="'small-select-box'"
                            [type]="'SMALL'"
                            [items]="declineOnRequestOptions"
                            [selected]="declineOnRequestOption"
                            (selectedChange)="setDeclineOnRequestOption($event?.id)"
                          ></app-select-box>
                        </div>
                      </div>
                      @if (['ALWAYS', 'WHEN_SLEEPING'].includes(declineOnRequestOption?.id ?? '')) {
                        <div
                          class="setting-row-group"
                          @vshrink
                          >
                          <div class="setting-row">
                            <div class="setting-row-label" translate>
                              <span translate
                                >invite-and-invite-requests.inviteRequestsTab.options.declineOnRequest.customMessage.title</span
                                >
                                <span translate
                                  >invite-and-invite-requests.inviteRequestsTab.options.declineOnRequest.customMessage.description</span
                                  >
                                </div>
                                <div class="setting-row-action">
                                  <input
                                    maxlength="64"
                                    type="text"
                                    class="input"
                                    [value]="config.declineInviteRequestMessage"
            (change)="
              updateDeclineInviteRequestCustomMessage.next(declineOnRequestCustomMessageInput.value)
            "
                                    (blur)="declineOnRequestCustomMessageInput.value = config.declineInviteRequestMessage"
            [placeholder]="
              'invite-and-invite-requests.inviteRequestsTab.options.declineOnRequest.customMessage.placeholder'
                | translate
            "
                                    #declineOnRequestCustomMessageInput
                                    />
                                </div>
                              </div>
                            </div>
                          }
                        </div>
                        <h2 translate>invite-and-invite-requests.inviteRequestsTab.conditions.title</h2>
                        <p translate>invite-and-invite-requests.inviteRequestsTab.conditions.description</p>
                        <div class="settings">
                          <div class="setting-row">
                            <div class="setting-row-label" translate>
                              <span translate
                                >invite-and-invite-requests.inviteRequestsTab.options.onlyIfSleepModeEnabled.title</span
                                >
                                <span translate></span>
                              </div>
                              <div class="setting-row-action">
                                <label class="switch-toggle">
                                  <input
                                    type="checkbox"
                                    [checked]="config.onlyIfSleepModeEnabled"
                                    (change)="updateConfig({ onlyIfSleepModeEnabled: !config.onlyIfSleepModeEnabled })"
                                    />
                                  <span class="switch-toggle-slider"></span>
                                </label>
                              </div>
                            </div>

                            <div class="setting-row">
                              <div class="setting-row-label" translate>
                                <span
                                  style="display: initial"
          [innerHtml]="
            'invite-and-invite-requests.inviteRequestsTab.options.onlyBelowPlayerCount.title'
              | translate
                : {
                    count: config.onlyBelowPlayerCount,
                  }
          "
                              ></span>
                              <span translate
                                >invite-and-invite-requests.inviteRequestsTab.options.onlyBelowPlayerCount.description</span
                                >
                              </div>
                              <div class="setting-row-action">
                                <app-slider-setting
                                  class="with-margin"
                                  [unit]="'<i class=&quot;material-icons&quot;>person</i>'"
                                  [min]="2"
                                  [max]="100"
                                  [value]="config.onlyBelowPlayerCount"
                                  (valueChange)="updateConfig({ onlyBelowPlayerCount: $event })"
                                  [disabled]="!config.onlyBelowPlayerCountEnabled"
                                ></app-slider-setting>
                                <label class="switch-toggle">
                                  <input
                                    type="checkbox"
                                    [checked]="config.onlyBelowPlayerCountEnabled"
            (change)="
              updateConfig({
                onlyBelowPlayerCountEnabled: !config.onlyBelowPlayerCountEnabled,
              })
            "
                                    />
                                  <span class="switch-toggle-slider"></span>
                                </label>
                              </div>
                            </div>
                          </div>
                          <h2 translate>invite-and-invite-requests.inviteRequestsTab.otherAutomations.title</h2>
                          <p translate>invite-and-invite-requests.inviteRequestsTab.otherAutomations.description</p>
                          <div class="settings">
                            <div class="setting-row">
                              <div class="setting-row-label" translate>
                                <span translate
                                  >invite-and-invite-requests.inviteRequestsTab.otherAutomations.changeListPreset.onSleepEnable.title</span
                                  >
                                  <span translate
                                    >invite-and-invite-requests.inviteRequestsTab.otherAutomations.changeListPreset.onSleepEnable.description</span
                                    >
                                  </div>
                                  <div class="setting-row-action">
                                    <app-select-box
                                      class="preset-select-box"
                                      [type]="'SMALL'"
                                      [items]="presetOptions"
                                      [selected]="presetOption['onSleepEnable']"
                                      (selectedChange)="setPresetOption('onSleepEnable', $event?.id ?? 'NONE')"
                                    ></app-select-box>
                                  </div>
                                </div>
                                <div class="setting-row">
                                  <div class="setting-row-label" translate>
                                    <span translate
                                      >invite-and-invite-requests.inviteRequestsTab.otherAutomations.changeListPreset.onSleepDisable.title</span
                                      >
                                      <span translate
                                        >invite-and-invite-requests.inviteRequestsTab.otherAutomations.changeListPreset.onSleepDisable.description</span
                                        >
                                      </div>
                                      <div class="setting-row-action">
                                        <app-select-box
                                          class="preset-select-box"
                                          [type]="'SMALL'"
                                          [items]="presetOptions"
                                          [selected]="presetOption['onSleepDisable']"
                                          (selectedChange)="setPresetOption('onSleepDisable', $event?.id ?? 'NONE')"
                                        ></app-select-box>
                                      </div>
                                    </div>
                                    <div class="setting-row">
                                      <div class="setting-row-label" translate>
                                        <span translate
                                          >invite-and-invite-requests.inviteRequestsTab.otherAutomations.changeListPreset.onSleepPreparation.title</span
                                          >
                                          <span translate
                                            >invite-and-invite-requests.inviteRequestsTab.otherAutomations.changeListPreset.onSleepPreparation.description</span
                                            >
                                          </div>
                                          <div class="setting-row-action">
                                            <app-select-box
                                              class="preset-select-box"
                                              [type]="'SMALL'"
                                              [items]="presetOptions"
                                              [selected]="presetOption['onSleepPreparation']"
                                              (selectedChange)="setPresetOption('onSleepPreparation', $event?.id ?? 'NONE')"
                                            ></app-select-box>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
