.alert {
  &:not(:last-child) {
    margin-bottom: 1em;
  }

  &-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      flex: 1;
    }

    button {
      flex-shrink: 0;
    }
  }
}

input[type="text"],
.status-dropdown {
  width: 12em;
  font-size: 1em;
}
