<div class="pane">
  <div class="pane-title" translate>oscAutomations.title</div>
  <div class="tab-bar">
    <div
      class="tab"
      [class.active]="activeTab === 'GENERAL'"
      (click)="activeTab = 'GENERAL'"
    >
      <div class="tab-label" translate>oscAutomations.tab.general</div>
    </div>
    <div
      class="tab"
      [class.active]="activeTab === 'SLEEPING_ANIMATIONS'"
      (click)="activeTab = 'SLEEPING_ANIMATIONS'"
    >
      <div class="tab-label" translate>oscAutomations.tab.sleepingAnimations</div>
    </div>
  </div>
  <div class="pane-content" *ngIf="activeTab === 'SLEEPING_ANIMATIONS'">
    <app-sleeping-animations-tab></app-sleeping-animations-tab>
  </div>
  <div class="pane-content" *ngIf="activeTab === 'GENERAL'">
    <app-osc-general-tab></app-osc-general-tab>
  </div>
</div>
