<div class="title-area" data-tauri-drag-region>
  <span class="title" data-tauri-drag-region>Oyasumi<b data-tauri-drag-region>VR</b></span>
  <button
    class="version-area"
    [disabled]="!versionReady"
    (mouseenter)="showVersionExtras = true"
    (mouseleave)="showVersionExtras = false"
    (click)="copyVersion()"
    type="button"
  >
    <span class="version">&nbsp;v{{ version }} </span>
    <span class="version-extra" [class.visible]="showVersionExtras">
      -{{ FLAVOUR }} ({{ BUILD_ID }})
    </span>
    @if (versionCopied()) {
      <i class="material-symbols-outlined version-copied">check</i>
    }
  </button>
</div>
<div class="action-area">
  <button
    class="titlebar-button btn-message-center"
    [tooltip]="'message-center.tooltip'"
    [tooltipMode]="'bottom'"
    (click)="messageCenter.toggle()"
  >
    <i
      class="material-symbols-outlined icon-filled"
      [class.wiggle]="(messageCenter.messages | async)?.length"
      >mode_comment</i
    >
    @if ((messageCenter.messages | async)?.length) {
      <div class="message-center-badge-bg" @fade>
        <div class="message-center-badge"></div>
      </div>
    }
  </button>
  <div class="action-spacer">
    <span class="separator">|</span>
  </div>
  <button class="titlebar-button btn-minimize" (click)="minimize()">
    <i class="material-symbols-outlined">remove</i>
  </button>
  <button class="titlebar-button btn-maximize" (click)="maximize()">
    <i class="material-symbols-outlined">check_box_outline_blank</i>
  </button>
  <button class="titlebar-button btn-close" (click)="close()">
    <i class="material-icons">close</i>
  </button>
</div>
