<div class="title-area" data-tauri-drag-region>
  <span class="title" data-tauri-drag-region>Oyasumi<b data-tauri-drag-region>VR</b></span>
  <button
    class="version-area"
    [disabled]="!versionReady"
    (mouseenter)="showVersionExtras = true"
    (mouseleave)="showVersionExtras = false"
    (click)="copyVersion()"
    type="button"
  >
    <span class="version">&nbsp;v{{ version }} </span>
    <span class="version-extra" [class.visible]="showVersionExtras">
      -{{ FLAVOUR }} ({{ BUILD_ID }})
    </span>
    @if (versionCopied()) {
      <app-icon name="check" class="version-copied" />
    }
  </button>
</div>
<div class="action-area">
  <button
    class="titlebar-button btn-message-center"
    [class.has-messages]="(messageCenter.messages | async)?.length"
    [tooltip]="'message-center.tooltip'"
    [tooltipMode]="'bottom'"
    (click)="messageCenter.toggle()"
  >
    <app-icon name="comment" />
    @if ((messageCenter.messages | async)?.length) {
      <div class="message-center-badge-bg" @fade>
        <div class="message-center-badge"></div>
      </div>
    }
  </button>
  <div class="action-spacer">
    <span class="separator">|</span>
  </div>
  <button class="titlebar-button btn-minimize" (click)="minimize()">
    <app-icon name="window-minimize" class="icon-mono" />
  </button>
  <button class="titlebar-button btn-maximize" (click)="maximize()">
    <app-icon name="window-maximize" class="icon-mono" />
  </button>
  <button class="titlebar-button btn-close" (click)="close()">
    <app-icon name="window-close" class="icon-mono" />
  </button>
</div>
