<div class="title-area" data-tauri-drag-region>
  <span class="title" data-tauri-drag-region>Oyasumi<b>VR</b></span>
  <span class="version" data-tauri-drag-region (mouseenter)="showVersionExtras = true"
        (mouseleave)="showVersionExtras = false">&nbsp;v{{ version }}</span>
  <span class="version-extra" data-tauri-drag-region [style.opacity]="showVersionExtras ? '100%' : '0%'">
    -{{ FLAVOUR }} ({{ BUILD_ID }})
  </span>
</div>
<div class="action-area">
  <button class="titlebar-button btn-minimize" (click)="minimize()">
    <i class="material-symbols-outlined">minimize</i>
  </button>
  <button class="titlebar-button btn-maximize" (click)="maximize()">
    <i class="material-symbols-outlined">maximize</i>
  </button>
  <button class="titlebar-button btn-close" (click)="close()">
    <i class="material-symbols-outlined">close</i>
  </button>
</div>
