@use 'node_modules/material-colors/dist/colors.scss' as materialColors;

:host {
  background-color: var(--color-surface-0);
  //background: red;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  z-index: 10000;
}

.title-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 8px;
  height: 100%;
  flex: 1;
  color: var(--color-text-3);

  .title {
    font-weight: 300;
    b {
      font-weight: 500;
    }
  }

  .version,
  .version-extra {
    color: var(--color-surface-4);
    transition: all 0.5s ease;
    &:hover {
      color: var(--color-surface-5);
    }
  }

  .version-extra {
    color: var(--color-surface-5);
  }
}

.action-area {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
  flex-shrink: 0;
}

.titlebar-button {
  position: relative;
  background: transparent;
  color: var(--color-text-3);
  border: none;
  height: 100%;
  outline: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.15s ease;
  width: 35px;

  &:hover {
    background: var(--color-surface-3);
  }

  &:active {
    background: var(--color-surface-2);
    & > * {
      opacity: 0.6;
    }
  }

  &.btn-close {
    &:hover,
    &:active {
      background: var(--color-caution);
      color: white;
    }
  }

  i.material-symbols-outlined,
  i.material-icons {
    font-size: 1.2em !important;
  }
}

.action-spacer {
  width: 1em;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--color-text-4);
}
.message-center-badge-bg {
  position: absolute;
  top: 0.25em;
  right: 0.4em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: var(--color-surface-0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.message-center-badge {
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #{materialColors.$md-orange-800};
  animation: pulse 2s infinite;

  @keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(239, 108, 0, 0.7);
    }
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 6px rgba(239, 108, 0, 0);
    }
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(239, 108, 0, 0);
    }
  }
}
