:host {
  color: var(--color-text-2);
  background: var(--color-surface-2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header-bar {
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;

  &-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: transparent;
    transition: all 0.15s;
    cursor: pointer;
    padding: 0.5em;
    margin: -0.5em 0.5em -0.5em -0.5em;
    border-radius: var(--surface-border-radius);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 0;

    // .device-name {
    // }

    .device-serial {
      color: var(--color-text-4);
    }

    .device-nickname {
      width: 100%;
      overflow: hidden;
      color: var(--color-text-4);
      font-weight: 700;
      white-space: nowrap;
      min-height: 0;
      text-overflow: ellipsis;
    }

    &:hover {
      background: var(--color-surface-1);
    }

    &:active {
      background: var(--color-surface-0);
    }
  }

  &-spacer {
    flex: 1;
  }

  &-action {
    flex-shrink: 0;
  }
}

.status-info {
  background: var(--color-surface-3);
  padding: 0.25em 0.75em;
  color: var(--color-text-2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  height: 2em;
}

.battery-info {
  background: var(--color-surface-3);

  &-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.25em 0.75em;
    color: var(--color-text-2);
    justify-content: flex-end;
  }

  &-bar {
    height: 0.25em;
    background: var(--color-surface-1);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &-fill {
      width: 0%;
      transition: width 0.15s ease;
      height: 100%;
      background: var(--color-primary);
    }
  }
}

.small-spinner {
  &.power-on {
    --spinner-color: var(--color-alert-success);
  }
  &.power-off {
    --spinner-color: var(--color-alert-error);
  }
}

.category-icon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  margin-right: 1em;
  filter: invert(91%) sepia(2%) saturate(3440%) hue-rotate(193deg) brightness(83%) contrast(100%);
}

.wrapper {
  transition: all 0.15s;
}

.device-ignored {
  opacity: 0.6;
}
