@if (mode) {
  <div class="wrapper">
    <div class="header-bar">
      <div class="header-bar-icon">
        <img [src]="'/assets/img/icon_' + icon + '.png'" class="category-icon" />
      </div>
      <div class="header-bar-info">
        <div class="device-name" translate>{{ deviceTypeName }}</div>
        <div class="device-subtitle">
          {{ deviceName | translate }}
        </div>
      </div>
      <div class="header-bar-spacer"></div>
      <div class="header-bar-action">
        @if (canShowPowerButton()) {
          <app-device-power-button
            [id]="'btn-power-' + cssId"
            [powerState]="getDevicePowerState()"
            [anchorName]="powerButtonAnchorId"
            [allowUnknownClick]="mode === 'lighthouse'"
            (powerAction)="handleDevicePowerAction($event)"
            (rightClick)="rightClickDevicePowerButton()"
          ></app-device-power-button>
        }
        @if (showLHStatePopover) {
          <div @fade (clickOutside)="onClickOutsideLHStatePopover($event)">
            <app-lighthouse-force-state-popover
              (action)="onForceLHState($event)"
              [style.position-anchor]="powerButtonAnchorId"
              [type]="_lighthouseDevice?.deviceType"
              >
            </app-lighthouse-force-state-popover>
          </div>
        }
      </div>
    </div>
    @if (status) {
      <div class="status-info" @vshrink>
        @for (s of status ? [status] : []; track s) {
          <span [@vshrink]>{{ s | translate }}</span>
          }</div
          >
        }
        @if (showBattery) {
          <div class="battery-info" @vshrink>
            <div class="battery-info-bar">
              @if (showBattery) {
                <div
                  class="battery-info-bar-fill"
                  @fade
                  [style.width]="batteryPercentage + '%'"
                ></div>
              }
            </div>
            <div class="battery-info-label">
              @if (showBattery) {
                <span @fade>
                  {{ batteryPercentageString }}
                </span>
              }
              <i class="material-icons">
                {{ isCharging ? 'battery_charging_full' : 'battery_std' }}
              </i>
            </div>
          </div>
        }
      </div>
    }
