<ng-container *ngIf="mode">
  <div class="wrapper" [class.device-ignored]="isDeviceIgnored">
    <div class="header-bar">
      <div class="header-bar-icon">
        <img [src]="'/assets/img/icon_' + icon + '.png'" class="category-icon" />
      </div>
      <div class="header-bar-info" (click)="editDevice()">
        <div class="device-name" translate>{{ deviceName }}</div>
        <div class="device-subtitle" [class.nickname]="deviceHasNickname">
          {{ deviceSubtitle ?? '' | translate }}
        </div>
      </div>
      <div class="header-bar-spacer"></div>
      <div class="header-bar-action" *ngIf="!isDeviceIgnored">
        <app-device-power-button
          *ngIf="canShowPowerButton()"
          [id]="'btn-power-' + cssId"
          [powerState]="getDevicePowerState()"
          [anchorName]="powerButtonAnchorId"
          [allowUnknownClick]="mode === 'lighthouse'"
          (powerAction)="handleDevicePowerAction($event)"
          (rightClick)="rightClickDevicePowerButton()"
        ></app-device-power-button>
        <div @fade (clickOutside)="onClickOutsideLHStatePopover($event)" *ngIf="showLHStatePopover">
          <app-lighthouse-force-state-popover
            (action)="onForceLHState($event)"
            [style.position-anchor]="powerButtonAnchorId"
            [type]="_lighthouseDevice?.deviceType"
          >
          </app-lighthouse-force-state-popover>
        </div>
      </div>
    </div>
    <div class="status-info" @vshrink *ngIf="status && !isDeviceIgnored">
      <span *ngFor="let s of status ? [status] : []" [@vshrink]>{{ s | translate }}</span></div
    >
    <div class="battery-info" @vshrink *ngIf="showBattery && !isDeviceIgnored">
      <div class="battery-info-bar">
        <div
          class="battery-info-bar-fill"
          @fade
          *ngIf="showBattery"
          [style.width]="batteryPercentage + '%'"
        ></div>
      </div>
      <div class="battery-info-label">
        <span *ngIf="showBattery" @fade>
          {{ batteryPercentageString }}
        </span>
        <i class="material-icons">
          {{ isCharging ? 'battery_charging_full' : 'battery_std' }}
        </i>
      </div>
    </div>
  </div>
</ng-container>
