h2 {
  font-size: 1.5em;
  text-align: center;
}

p {
  text-align: center;
  width: 100%;
  color: var(--color-gray-0);
  font-size: 1em;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: var(--color-surface-0);
  border-radius: var(--surface-border-radius);
  margin-top: 2em;
  padding: 1em;
}

.language-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1em;
  cursor: pointer;
  transition: all 0.15s ease;
  text-decoration: none;
  color: var(--color-text-1);

  &:hover {
    transform: translateY(-1px);
  }

  &:active {
    transform: scale(0.95);
  }

  .fi {
    font-size: 5em;
    border-radius: 0.125em;
    //border: 0.125em solid var(--color-text-0);
    overflow: hidden;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
      transition: all 0.15s ease;
    }
  }

  .flag-add {
    font-size: 5em;
    width: 80px;
    height: 60px;
    border: 0.05em solid var(--color-text-3);
    color: var(--color-text-3);
    border-radius: 0.125em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    i.material-icons {
      font-size: 0.75em;
    }
  }

  .label {
    margin-top: 1em;
  }
}
