<div class="header-row" @noop>
  <span
    [translate]="'comp.osc-script-simple-editor.commandCounter'"
    [translateParams]="{ count: _script.commands.length }"
  ></span>
  <span>&nbsp;|&nbsp;</span>
  <div class="small-spinner" *ngIf="!validated" @hshrink style="margin-right: 0.5em"></div>
  <span
    [translate]="'comp.osc-script-simple-editor.errorCounter'"
    [translateParams]="{ count: errors.length }"
  ></span>
  <span style="flex: 1"></span>
  <div class="header-row-buttons">
    <app-dropdown-button [items]="addCommandItems" (itemSelect)="onAdd($event)">
      <i class="material-icons">add</i>
      <span translate>comp.osc-script-simple-editor.addCommand</span>
    </app-dropdown-button>
    <button class="btn btn-secondary" (click)="testCode()" [disabled]="testing || !validated">
      <div class="small-spinner" *ngIf="testing" @hshrink></div>
      <i class="material-icons" *ngIf="!testing" @hshrink>play_arrow</i>
      <span *ngIf="!testing" @hshrink translate>comp.osc-script-simple-editor.test</span>
    </button>
  </div>
</div>
<div class="simple-commands" @noop>
  <div class="simple-command" *ngFor="let command of _script.commands; let i = index" @vshrink>
    <ng-container *ngIf="command.type === 'COMMAND'">
      <div
        class="simple-command-error-icon"
        @hshrink
        *ngIf="getErrorsForAction(i).length"
        (mouseenter)="hoverOnAction(i, $event)"
      >
        <i class="material-icons-round">error</i>
      </div>
      <div class="simple-command-index">{{ i + 1 }}.</div>
      <div class="simple-command-action" translate>comp.osc-script-simple-editor.action.osc</div>
      <div class="simple-command-parameters-container">
        <div
          *ngFor="let parameter of command.parameters; let j = index"
          class="simple-command-parameter-row"
        >
          <app-select-box
            [type]="'SMALL'"
            [selected]="getCommandParameterType(command, j)"
            [items]="parameterTypeSelectItems"
            (selectedChange)="setCommandParameterType(command, j, $event!)"
            [showPlaceholderInDropdown]="false"
            class="simple-command-type-input"
          ></app-select-box>
          <app-select-box
            class="simple-command-boolean-input"
            *ngIf="getCommandParameterType(command, j)?.id === 'BOOLEAN'"
            [type]="'SMALL'"
            [selected]="{ id: parameter.value, label: parameter.value }"
            [items]="[
              { id: 'true', label: 'true' },
              { id: 'false', label: 'false' }
            ]"
            (selectedChange)="setBoolValue(command, j, $event!)"
            [showPlaceholderInDropdown]="false"
          ></app-select-box>
          <div
            class="input-wrapper simple-command-integer-input"
            *ngIf="getCommandParameterType(command, j)?.id === 'INT'"
          >
            <input
              type="number"
              step="1"
              min="0"
              max="255"
              [value]="parameter.value"
              (change)="setIntValue(command, j, $event)"
            />
          </div>
          <div
            class="input-wrapper simple-command-float-input"
            *ngIf="getCommandParameterType(command, j)?.id === 'FLOAT'"
          >
            <input
              type="number"
              step="0.001"
              [value]="parameter.value"
              (change)="setFloatValue(command, j, $event)"
            />
          </div>
          <div
            class="input-wrapper simple-command-string-input"
            *ngIf="getCommandParameterType(command, j)?.id === 'STRING'"
          >
            <input
              type="text"
              [max]="MAX_STRING_VALUE_LENGTH"
              [value]="parameter.value"
              (change)="setStringValue(command, j, $event)"
            />
          </div>
          <button
            class="btn simple-command-remove-button"
            *ngIf="command.parameters.length > 1"
            (click)="removeParameter(i, j)"
          >
            <i class="material-icons">clear</i>
          </button>
        </div>
        <div>
          <button
            class="btn btn-secondary"
            *ngIf="command.parameters.length < MAX_PARAMETERS_PER_COMMAND"
            (click)="addParameter(i)"
          >
            <i class="material-icons">add</i>
            <span translate>comp.osc-script-simple-editor.addParameter</span>
          </button>
        </div>
      </div>
      <div class="input-wrapper simple-command-address-input">
        <input
          type="text"
          placeholder="OSC Address"
          [value]="command.address"
          (change)="setAddress(command, $event)"
        />
      </div>
      <button class="btn simple-command-remove-button" (click)="removeCommand(command)">
        <i class="material-icons">clear</i>
      </button>
    </ng-container>
    <ng-container *ngIf="command.type === 'SLEEP'">
      <div
        class="simple-command-error-icon"
        @hshrink
        *ngIf="getErrorsForAction(i).length"
        (mouseenter)="hoverOnAction(i, $event)"
      >
        <i class="material-icons-round">error</i>
      </div>
      <div class="simple-command-index">{{ i + 1 }}.</div>
      <div class="simple-command-action" translate>comp.osc-script-simple-editor.action.sleep</div>
      <div style="flex: 1"></div>
      <div class="input-wrapper with-unit simple-command-duration-input">
        <input
          type="number"
          step="any"
          [value]="command.duration"
          (change)="setSleepDuration(command, $event)"
        />
        <span>ms</span>
      </div>
      <button class="btn simple-command-remove-button" (click)="removeCommand(command)">
        <i class="material-icons">clear</i>
      </button>
    </ng-container>
  </div>
  <div class="no-commands" *ngIf="!_script.commands.length" @vshrink>
    <i class="material-icons-round">add_circle_outline</i>
    <span translate>comp.osc-script-simple-editor.action.none</span>
  </div>
  <div
    class="error-tooltip"
    [style.top]="tooltipPosition.y + 'px'"
    [style.left]="tooltipPosition.x + 'px'"
    *ngIf="tooltipErrors.length"
    @fade
    (mouseleave)="hoverOnAction(-1, undefined)"
  >
    <div class="error-tooltip-bg"></div>
    <div class="error-tooltip-content">
      <div class="error-tooltip-error" *ngFor="let error of tooltipErrors">
        {{ error.message | tsTranslate }}
      </div>
    </div>
  </div>
</div>
