@use 'shadows';

:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
  position: relative;
}

.header-row {
  display: flex;
  flex-direction: row;
  align-items: center;

  span {
  }

  &-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;

    > * {
      &:not(:last-child) {
        margin-right: 0.5em;
      }
    }
  }
}

.simple-commands {
  margin-top: 0.5em;
  background: var(--color-surface-1);
  border-radius: 0.5em;
  height: 100%;
  width: 100%;
  overflow: overlay;
  position: relative;

  .no-commands {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-text-3);
    padding: 2em 1em;

    i.material-icons-round {
      font-size: 3em;
    }

    span {
      font-size: 1.25em;
      margin-top: 0.5em;
    }
  }
}

.simple-command {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5em;
  padding: 0.5em 1em;
  background: var(--color-surface-1);

  & > * {
    display: flex;
    min-height: 2.5em;
  }

  &:not(:first-child) {
    border-top: 1px solid var(--color-surface-3);
  }

  &-error-icon {
    color: var(--color-caution);
    margin-right: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.15s ease;
    width: 1.25em;

    &:hover {
      transform: scale(1.1);
      color: var(--color-caution-hover);
    }

    i.material-icons-round {
      font-size: 1.25em;
    }
  }

  &-index {
    font-weight: 600;
    margin-right: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &-action {
    margin-right: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &-type-input,
  &-boolean-input,
  &-integer-input,
  &-float-input,
  &-string-input {
    margin-right: 0.5em;
    width: 8em;

    input {
      padding: 0.25em 1em;
      width: 100%;
    }
  }

  &-string-input {
    width: 24em;
  }

  &-address-input {
    flex: 1;

    input {
      padding: 0.25em 1em;
      width: 100%;
    }
  }

  &-remove-button {
    padding: 0;

    i.material-icons {
      margin: 0;
    }
  }

  &-duration-input {
    input {
      width: 5em;
    }
  }

  &-parameters-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  &-parameter-row {
    display: flex;
    align-items: center;
  }

  .btn-add-parameter {
    min-height: 2.5em;
  }
}

.error-tooltip {
  position: absolute;
  min-width: 30em;
  max-width: calc(100% - 1.5em * 2);
  top: 0;
  left: 0;
  background: var(--color-caution);
  overflow: hidden;
  color: var(--color-on-caution);
  z-index: 10;
  border-radius: 0.5em;
  border: 1px solid var(--color-caution);
  @include shadows.shadow(2, true);

  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-caution);
    opacity: 0.5;
  }

  &-content {
    background: var(--color-surface-2);
    padding: 0.5em;
    max-height: 8em;
    overflow: overlay;

    &::-webkit-scrollbar-thumb,
    *::-webkit-scrollbar-thumb {
      background: var(--color-on-caution);
    }
  }

  &-error {
    position: relative;
    z-index: 20;
    color: white;

    strong {
      font-family: 'Fira Code', monospace !important;
    }

    &:not(:first-child) {
      border-top: 1px solid var(--color-on-caution);
      padding-top: 0.5em;
      margin-top: 0.5em;
    }
  }
}
