<div class="pane">
  <div class="pane-title">
    <span translate>hmd-automations.title</span>
  </div>
  <div class="tab-bar">
    <div
      class="tab"
      [class.active]="activeTab === 'BIGSCREEN_BEYOND'"
      (click)="activeTab = 'BIGSCREEN_BEYOND'"
      >
      <div class="tab-label" translate>hmd-automations.tabs.bigscreenBeyond</div>
    </div>
  </div>
  <div class="pane-content">
    <div class="setting-view-container">
      @if (activeTab === 'BIGSCREEN_BEYOND') {
        <app-hmd-automations-bigscreen-beyond-tab>
        </app-hmd-automations-bigscreen-beyond-tab>
      }
    </div>
  </div>
</div>
