<div class="pane">
  <div class="pane-title" translate>sleep-detection.title</div>
  <div class="pane-content">
    <div class="setting-category">
      <p translate>sleep-detection.sleepDetection.description</p>
      <div class="settings">
        <div class="setting-row">
          <div class="setting-row-label" translate>
            <span translate>sleep-detection.sleepDetection.automation.title</span>
            <span translate>sleep-detection.sleepDetection.automation.description</span>
          </div>
          <div class="setting-row-action">
            <button
              class="btn btn-automation-settings"
              (click)="openModal_EnableSleepModeForSleepDetector()"
            >
              <i class="material-icons">settings</i>
            </button>
            <label class="switch-toggle">
              <input
                type="checkbox"
                [checked]="automationConfigs.SLEEP_MODE_ENABLE_FOR_SLEEP_DETECTOR.enabled"
                (change)="toggleAutomation('SLEEP_MODE_ENABLE_FOR_SLEEP_DETECTOR')"
              />
              <span class="switch-toggle-slider"></span>
            </label>
          </div>
        </div>
        <div class="setting-row-group" @vshrink *ngIf="showSleepDetectionCalibrationWarning">
          <div class="setting-row">
            <div class="setting-row-icon">
              <i class="material-icons warning-icon">warning</i>
            </div>
            <div class="setting-row-label" translate>
              <span
                style="display: initial"
                [innerHtml]="
                  'sleep-detection.sleepDetection.automation.calibrationPending.title' | translate
                "
              ></span>
              <span></span>
            </div>
            <div class="setting-row-action">
              <button class="btn btn-secondary" (click)="openModal_CalibrateSleepDetector()">
                <span translate
                  >sleep-detection.sleepDetection.automation.calibrationPending.calibrate</span
                >
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="setting-category">
      <h2 translate>sleep-detection.enableAutomations.title</h2>
      <p translate>sleep-detection.enableAutomations.description</p>
      <div class="settings">
        <div class="setting-row">
          <div class="setting-row-label" translate>
            <span translate>sleep-detection.enableAutomations.atTime</span>
            <span>
              <span *ngIf="automationConfigs.SLEEP_MODE_ENABLE_AT_TIME.time" [@fade]>
                {{ automationConfigs.SLEEP_MODE_ENABLE_AT_TIME.time }}
              </span>
            </span>
          </div>
          <div class="setting-row-action">
            <button class="btn btn-automation-settings" (click)="openModal_EnableSleepModeAtTime()">
              <i class="material-icons">settings</i>
            </button>
            <label class="switch-toggle">
              <input
                type="checkbox"
                [checked]="automationConfigs.SLEEP_MODE_ENABLE_AT_TIME.enabled"
                (change)="toggleAutomation('SLEEP_MODE_ENABLE_AT_TIME')"
              />
              <span class="switch-toggle-slider"></span>
            </label>
          </div>
        </div>

        <div class="setting-row">
          <div class="setting-row-label" translate>
            <span
              [innerHtml]="
                'sleep-detection.enableAutomations.atBatteryPercentage'
                  | translate
                    : { value: automationConfigs.SLEEP_MODE_ENABLE_AT_BATTERY_PERCENTAGE.threshold }
              "
            ></span>
            <span>{{
              deviceClassesToString(
                automationConfigs.SLEEP_MODE_ENABLE_AT_BATTERY_PERCENTAGE.triggerClasses,
                'sleep-detection.modals.enableAtBatteryPercentage.'
              )
            }}</span>
          </div>
          <div class="setting-row-action">
            <button
              class="btn btn-automation-settings"
              (click)="openModal_EnableSleepModeAtBatteryPercentage()"
            >
              <i class="material-icons">settings</i>
            </button>
            <label class="switch-toggle">
              <input
                type="checkbox"
                [checked]="automationConfigs.SLEEP_MODE_ENABLE_AT_BATTERY_PERCENTAGE.enabled"
                (change)="toggleAutomation('SLEEP_MODE_ENABLE_AT_BATTERY_PERCENTAGE')"
              />
              <span class="switch-toggle-slider"></span>
            </label>
          </div>
        </div>

        <div class="setting-row">
          <div class="setting-row-label" translate>
            <span translate>sleep-detection.enableAutomations.onControllersPoweredOff.title</span>
            <span></span>
          </div>
          <div class="setting-row-action">
            <label class="switch-toggle">
              <input
                type="checkbox"
                [checked]="automationConfigs.SLEEP_MODE_ENABLE_ON_CONTROLLERS_POWERED_OFF.enabled"
                (change)="toggleAutomation('SLEEP_MODE_ENABLE_ON_CONTROLLERS_POWERED_OFF')"
              />
              <span class="switch-toggle-slider"></span>
            </label>
          </div>
        </div>
        <div
          class="setting-row-group"
          *ngIf="
            automationConfigs.SLEEP_MODE_ENABLE_ON_CONTROLLERS_POWERED_OFF.enabled &&
            automationConfigs.TURN_OFF_DEVICES_ON_BATTERY_LEVEL.turnOffControllers
          "
          @vshrink
        >
          <div class="setting-row">
            <div class="setting-row-label conflict" translate>
              <span>
                <span><i class="material-icons">warning</i></span>
                <span translate
                  >sleep-detection.enableAutomations.onControllersPoweredOff.batteryLevelAutomationConflict.title</span
                >
              </span>
              <span translate
                >sleep-detection.enableAutomations.onControllersPoweredOff.batteryLevelAutomationConflict.description</span
              >
            </div>
            <div class="setting-row-action">
              <button
                class="btn btn-secondary"
                style="white-space: pre-line"
                (click)="goToPowerAutomations('CONTROLLERS_AND_TRACKERS')"
                [innerHtml]="
                  'sleep-detection.enableAutomations.onControllersPoweredOff.batteryLevelAutomationConflict.action'
                    | translate
                "
              ></button>
            </div>
          </div>
        </div>

        <div class="setting-row">
          <div class="setting-row-label" translate>
            <span class="row-title">
              <span translate>sleep-detection.enableAutomations.onHeartRateCalmPeriod.title</span>
              <span
                class="experimental-flag"
                [tooltip]="'sleep-detection.experimentalAutomation'"
                [tooltipMode]="'right'"
              >
                <i class="material-icons">warning</i>
              </span>
            </span>
            <span
              [innerHtml]="
                'sleep-detection.enableAutomations.onHeartRateCalmPeriod.description' | translate
              "
            ></span>
          </div>
          <div class="setting-row-action">
            <button
              class="btn btn-automation-settings"
              (click)="openModal_EnableSleepModeOnHeartRateCalmPeriod()"
            >
              <i class="material-icons">settings</i>
            </button>
            <label class="switch-toggle">
              <input
                type="checkbox"
                [checked]="automationConfigs.SLEEP_MODE_ENABLE_ON_HEART_RATE_CALM_PERIOD.enabled"
                (change)="toggleAutomation('SLEEP_MODE_ENABLE_ON_HEART_RATE_CALM_PERIOD')"
              />
              <span class="switch-toggle-slider"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="setting-category">
      <h2 translate>sleep-detection.disableAutomations.title</h2>
      <p translate>sleep-detection.disableAutomations.description</p>
      <div class="settings">
        <div class="setting-row">
          <div class="setting-row-label" translate>
            <span translate>sleep-detection.disableAutomations.atTime</span>
            <span>
              <span *ngIf="automationConfigs.SLEEP_MODE_DISABLE_AT_TIME.time" [@fade]>
                {{ automationConfigs.SLEEP_MODE_DISABLE_AT_TIME.time }}
              </span>
            </span>
          </div>
          <div class="setting-row-action">
            <button
              class="btn btn-automation-settings"
              (click)="openModal_DisableSleepModeAtTime()"
            >
              <i class="material-icons">settings</i>
            </button>
            <label class="switch-toggle">
              <input
                type="checkbox"
                [checked]="automationConfigs.SLEEP_MODE_DISABLE_AT_TIME.enabled"
                (change)="toggleAutomation('SLEEP_MODE_DISABLE_AT_TIME')"
              />
              <span class="switch-toggle-slider"></span>
            </label>
          </div>
        </div>

        <div class="setting-row">
          <div class="setting-row-label" translate>
            <span translate>sleep-detection.disableAutomations.afterTime.title</span>
            <span>
              <span *ngIf="automationConfigs.SLEEP_MODE_DISABLE_AFTER_TIME.duration" @fade>
                {{ getStringForDuration(automationConfigs.SLEEP_MODE_DISABLE_AFTER_TIME.duration) }}
              </span>
            </span>
          </div>
          <div class="setting-row-action">
            <button
              class="btn btn-automation-settings"
              (click)="openModal_DisableSleepModeAfterTime()"
            >
              <i class="material-icons">settings</i>
            </button>
            <label class="switch-toggle">
              <input
                type="checkbox"
                [checked]="automationConfigs.SLEEP_MODE_DISABLE_AFTER_TIME.enabled"
                (change)="toggleAutomation('SLEEP_MODE_DISABLE_AFTER_TIME')"
              />
              <span class="switch-toggle-slider"></span>
            </label>
          </div>
        </div>

        <div class="setting-row">
          <div class="setting-row-label" translate>
            <span translate>sleep-detection.disableAutomations.onDevicePowerOn</span>
            <span>{{
              deviceClassesToString(
                automationConfigs.SLEEP_MODE_DISABLE_ON_DEVICE_POWER_ON.triggerClasses,
                'sleep-detection.modals.disableOnDevicePowerOn.'
              )
            }}</span>
          </div>
          <div class="setting-row-action">
            <button
              class="btn btn-automation-settings"
              (click)="openModal_DisableSleepModeOnDevicePowerOn()"
            >
              <i class="material-icons">settings</i>
            </button>
            <label class="switch-toggle">
              <input
                type="checkbox"
                [checked]="automationConfigs.SLEEP_MODE_DISABLE_ON_DEVICE_POWER_ON.enabled"
                (change)="toggleAutomation('SLEEP_MODE_DISABLE_ON_DEVICE_POWER_ON')"
              />
              <span class="switch-toggle-slider"></span>
            </label>
          </div>
        </div>

        <div class="setting-row">
          <div class="setting-row-label" translate>
            <span translate>sleep-detection.disableAutomations.onSteamVRStop</span>
            <span> </span>
          </div>
          <div class="setting-row-action">
            <label class="switch-toggle">
              <input
                type="checkbox"
                [checked]="
                  automationConfigs.SLEEP_MODE_CHANGE_ON_STEAMVR_STATUS.disableOnSteamVRStop
                "
                (change)="
                  toggleAutomation('SLEEP_MODE_CHANGE_ON_STEAMVR_STATUS', 'disableOnSteamVRStop')
                "
              />
              <span class="switch-toggle-slider"></span>
            </label>
          </div>
        </div>

        <div class="setting-row">
          <div class="setting-row-label" translate>
            <span translate>sleep-detection.disableAutomations.onUprightPose</span>
            <span> </span>
          </div>
          <div class="setting-row-action">
            <button
              class="btn btn-automation-settings"
              (click)="openModal_DisableSleepModeOnUprightPose()"
            >
              <i class="material-icons">settings</i>
            </button>
            <label class="switch-toggle">
              <input
                type="checkbox"
                [checked]="automationConfigs.SLEEP_MODE_DISABLE_ON_UPRIGHT_POSE.enabled"
                (change)="toggleAutomation('SLEEP_MODE_DISABLE_ON_UPRIGHT_POSE', 'enabled')"
              />
              <span class="switch-toggle-slider"></span>
            </label>
          </div>
        </div>

        <div class="setting-row">
          <div class="setting-row-label" translate>
            <span translate>sleep-detection.disableAutomations.onPlayerJoinOrLeave</span>
            <span> </span>
          </div>
          <div class="setting-row-action">
            <button
              class="btn btn-automation-settings"
              (click)="openModal_DisableSleepModeOnPlayerJoinOrLeave()"
            >
              <i class="material-icons">settings</i>
            </button>
            <label class="switch-toggle">
              <input
                type="checkbox"
                [checked]="automationConfigs.SLEEP_MODE_DISABLE_ON_PLAYER_JOIN_OR_LEAVE.enabled"
                (change)="toggleAutomation('SLEEP_MODE_DISABLE_ON_PLAYER_JOIN_OR_LEAVE', 'enabled')"
              />
              <span class="switch-toggle-slider"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
