.pane {
  height: 100%;

  &-content {
    padding: 2em;
    overflow-y: overlay;
  }
}

.row-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  i.material-icons {
    line-height: 0;
    vertical-align: middle;
    margin-left: 0.25em;
    font-size: 1em;
  }
}

.experimental-flag {
  color: var(--color-alert-warning);
}
