<div class="pane">
  <div class="pane-title" translate>sleep-detection.title</div>
  <div class="tab-bar">
    <div class="tab" [class.active]="activeTab === 'DETECTION'" (click)="activeTab = 'DETECTION'">
      <div class="tab-label" translate>sleep-detection.tab.detection</div>
    </div>
    <div class="tab" [class.active]="activeTab === 'ENABLE'" (click)="activeTab = 'ENABLE'">
      <div class="tab-label" translate>sleep-detection.tab.enabling</div>
    </div>
    <div class="tab" [class.active]="activeTab === 'DISABLE'" (click)="activeTab = 'DISABLE'">
      <div class="tab-label" translate>sleep-detection.tab.disabling</div>
    </div>
  </div>
  <div class="pane-content">
    <div class="setting-view-container">
      @if (activeTab === 'DETECTION') {
        <app-sleep-detection-detection-tab
        ></app-sleep-detection-detection-tab>
      }
      @if (activeTab === 'ENABLE') {
        <app-sleep-detection-sleep-enable-tab
        ></app-sleep-detection-sleep-enable-tab>
      }
      @if (activeTab === 'DISABLE') {
        <app-sleep-detection-sleep-disable-tab
        ></app-sleep-detection-sleep-disable-tab>
      }
    </div>
  </div>
</div>
