:host {
  display: block;
  height: 100%;
  overflow: hidden;
}

.pane {
  height: 100%;
}

.pane-content {
  padding: 2em;
  overflow-y: overlay;
  height: 100%;
}

.warning-icon {
  color: var(--color-warning);
}
