<div class="modal-inner-wrapper">
  <div class="pane modal modal-lg" [@fadeUp]>
    @if (scriptName) {
      <div class="pane-title">
        {{ 'comp.osc-script-modal.title' | translate }}: {{ scriptName | translate }}
      </div>
    }
    <div class="tab-bar">
      <div class="tab" [class.active]="activeTab === 'SIMPLE'" (click)="activeTab = 'SIMPLE'">
        <div class="tab-label" translate>
          <i class="material-icons">auto_awesome</i>
          <span translate>comp.osc-script-modal.simple</span>
        </div>
      </div>
      <div class="tab" [class.active]="activeTab === 'SCRIPT'" (click)="activeTab = 'SCRIPT'">
        <div class="tab-label">
          <i class="material-icons">code</i>
          <span translate>comp.osc-script-modal.script</span>
        </div>
      </div>
    </div>
    @if (activeTab === 'SIMPLE' && script) {
      <div class="pane-content simple-tab">
        <app-osc-script-simple-editor
          [(script)]="script"
          (errorCount)="setErrorCount($event)"
          (validatedChange)="setValidated($event)"
        ></app-osc-script-simple-editor>
      </div>
    }
    @if (activeTab === 'SCRIPT' && script) {
      <div class="pane-content script-tab">
        <app-osc-script-code-editor
          [minHeight]="21"
          [(script)]="script"
          (errorCount)="setErrorCount($event)"
          (validatedChange)="setValidated($event)"
        ></app-osc-script-code-editor>
      </div>
    }
    <div class="pane-actions">
      <button class="btn btn-secondary" (click)="close()" translate>shared.modals.cancel</button>
      <button
        class="btn btn-primary"
        (click)="save()"
        [disabled]="!validated || errorCount > 0"
        translate
      >
        shared.modals.save
      </button>
    </div>
  </div>
</div>
