@import '@fontsource/fira-code/index.css';

.modal-inner-wrapper {
  margin-top: 16px;
  height: 100%;
  width: 100%;
  max-width: min(1280px, calc(100% - 4em));
  max-height: min(720px, calc(100% - 4em - 32px));
}

.modal {
  height: 100%;
  width: 100%;
}

.tab {
  flex: 1;
}

.script-tab {
  padding: 1em 1.5em;
  overflow: hidden;
}

.simple-tab {
  padding: 1em 1.5em;
  overflow: hidden;
}
