<div class="pane main">
  <div class="pane-title" translate>auto-invite-request-accept.title</div>
  <div class="pane-content">
    <p translate>auto-invite-request-accept.description</p>
    <div class="alert warning" *ngIf="!loggedIn" @vshrink>
      <div class="alert-bg"></div>
      <div class="alert-icon">
        <i class="material-icons"> warning </i>
      </div>
      <div class="alert-content">
        <span>{{ 'shared.misc.vrcLoginRequired' | translate }}</span>
        <button class="btn btn-secondary" (click)="login()" translate>shared.modals.login</button>
      </div>
    </div>
    <div class="alert warning" *ngIf="isOnBusyStatus" @vshrink>
      <div class="alert-bg"></div>
      <div class="alert-icon">
        <i class="material-icons"> warning </i>
      </div>
      <div class="alert-content">
        <span>{{ 'auto-invite-request-accept.userOnBusyStatus' | translate }}</span></div
      >
    </div>
    <div class="alert warning" *ngIf="isOnJoinMeStatus" @vshrink>
      <div class="alert-bg"></div>
      <div class="alert-icon">
        <i class="material-icons"> warning </i>
      </div>
      <div class="alert-content">
        <span>{{ 'auto-invite-request-accept.userOnJoinMeStatus' | translate }}</span></div
      >
    </div>
    <div class="settings">
      <div class="setting-row">
        <div class="setting-row-label">
          <span translate>auto-invite-request-accept.options.enable.title</span>
          <span translate>auto-invite-request-accept.options.enable.description</span>
        </div>
        <div class="setting-row-action">
          <label class="switch-toggle">
            <input
              type="checkbox"
              [checked]="config.enabled"
              (change)="updateConfig({ enabled: !config.enabled })"
            />
            <span class="switch-toggle-slider"></span>
          </label>
        </div>
      </div>

      <div class="setting-row">
        <div class="setting-row-label" translate>
          <span translate>auto-invite-request-accept.options.listMode.title</span>
          <span translate>auto-invite-request-accept.options.listMode.description</span>
        </div>
        <div class="setting-row-action">
          <app-select-box
            [items]="listModeOptions"
            [selected]="listModeOption"
            (selectedChange)="setListMode($event?.id)"
          ></app-select-box>
        </div>
      </div>
    </div>
    <h2 translate>auto-invite-request-accept.conditions.title</h2>
    <p translate>auto-invite-request-accept.conditions.description</p>
    <div class="settings">
      <div class="setting-row">
        <div class="setting-row-label" translate>
          <span translate>auto-invite-request-accept.options.onlyIfSleepModeEnabled.title</span>
          <span translate></span>
        </div>
        <div class="setting-row-action">
          <label class="switch-toggle">
            <input
              type="checkbox"
              [checked]="config.onlyIfSleepModeEnabled"
              (change)="updateConfig({ onlyIfSleepModeEnabled: !config.onlyIfSleepModeEnabled })"
            />
            <span class="switch-toggle-slider"></span>
          </label>
        </div>
      </div>

      <div class="setting-row">
        <div class="setting-row-label" translate>
          <span
            style="display: initial"
            [innerHtml]="
              'auto-invite-request-accept.options.onlyBelowPlayerCount.title'
                | translate
                  : {
                      count: config.onlyBelowPlayerCount
                    }
            "
          ></span>
          <span translate>auto-invite-request-accept.options.onlyBelowPlayerCount.description</span>
        </div>
        <div class="setting-row-action">
          <app-slider-setting
            class="with-margin"
            [unit]="'<i class=&quot;material-icons&quot;>person</i>'"
            [min]="2"
            [max]="100"
            [value]="config.onlyBelowPlayerCount"
            (valueChange)="updateConfig({ onlyBelowPlayerCount: $event })"
            [disabled]="!config.onlyBelowPlayerCountEnabled"
          ></app-slider-setting>
          <label class="switch-toggle">
            <input
              type="checkbox"
              [checked]="config.onlyBelowPlayerCountEnabled"
              (change)="
                updateConfig({
                  onlyBelowPlayerCountEnabled: !config.onlyBelowPlayerCountEnabled
                })
              "
            />
            <span class="switch-toggle-slider"></span>
          </label>
        </div>
      </div>
    </div>

    <h2 translate>auto-invite-request-accept.otherAutomations.title</h2>
    <p translate>auto-invite-request-accept.otherAutomations.description</p>
    <div class="settings">
      <div class="setting-row">
        <div class="setting-row-label" translate>
          <span translate
            >auto-invite-request-accept.options.changeListPreset.onSleepEnable.title</span
          >
          <span translate
            >auto-invite-request-accept.options.changeListPreset.onSleepEnable.description</span
          >
        </div>
        <div class="setting-row-action">
          <app-select-box
            class="preset-select-box"
            [type]="'SMALL'"
            [items]="presetOptions"
            [selected]="presetOption['onSleepEnable']"
            (selectedChange)="setPresetOption('onSleepEnable', $event?.id ?? 'NONE')"
          ></app-select-box>
        </div>
      </div>
      <div class="setting-row">
        <div class="setting-row-label" translate>
          <span translate
            >auto-invite-request-accept.options.changeListPreset.onSleepDisable.title</span
          >
          <span translate
            >auto-invite-request-accept.options.changeListPreset.onSleepDisable.description</span
          >
        </div>
        <div class="setting-row-action">
          <app-select-box
            class="preset-select-box"
            [type]="'SMALL'"
            [items]="presetOptions"
            [selected]="presetOption['onSleepDisable']"
            (selectedChange)="setPresetOption('onSleepDisable', $event?.id ?? 'NONE')"
          ></app-select-box>
        </div>
      </div>
      <div class="setting-row">
        <div class="setting-row-label" translate>
          <span translate
            >auto-invite-request-accept.options.changeListPreset.onSleepPreparation.title</span
          >
          <span translate
            >auto-invite-request-accept.options.changeListPreset.onSleepPreparation.description</span
          >
        </div>
        <div class="setting-row-action">
          <app-select-box
            class="preset-select-box"
            [type]="'SMALL'"
            [items]="presetOptions"
            [selected]="presetOption['onSleepPreparation']"
            (selectedChange)="setPresetOption('onSleepPreparation', $event?.id ?? 'NONE')"
          ></app-select-box>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pane-player-list-wrapper" *ngIf="config.listMode !== 'DISABLED'" @hshrink>
  <div class="pane pane-player-list">
    <div class="pane-title" *ngIf="config.listMode === 'WHITELIST'" translate
      >auto-invite-request-accept.whitelist
    </div>
    <div class="pane-title" *ngIf="config.listMode === 'BLACKLIST'" translate
      >auto-invite-request-accept.blacklist
    </div>
    <div
      class="pane-content"
      *ngIf="{
        isFetchingFriends: vrchat.isFetchingFriends | async
      } as data"
    >
      <div class="players-loading" *ngIf="data.isFetchingFriends">
        <div class="large-spinner"></div>
        <span translate>auto-invite-request-accept.loadingFriends</span>
      </div>
      <ng-container *ngIf="data.isFetchingFriends === false">
        <div class="player-list-action-bar">
          <button
            class="player-list-action"
            (click)="addPlayer()"
            [disabled]="!loggedIn"
            [tooltip]="'auto-invite-request-accept.addFriends'"
            [tooltipMode]="'right'"
          >
            <i class="material-icons">add</i>
          </button>
          <button
            class="player-list-action"
            (click)="clearPlayers()"
            [disabled]="!loggedIn || !playerList.length"
            [tooltip]="'auto-invite-request-accept.clearPlayers'"
            [tooltipMode]="'right'"
          >
            <i class="material-icons">clear</i>
          </button>
          <button
            class="player-list-action"
            (click)="savePreset()"
            [disabled]="!loggedIn || !playerList.length"
            [tooltip]="'auto-invite-request-accept.savePreset'"
            [tooltipMode]="'right'"
          >
            <i class="material-icons">save</i>
          </button>
          <button
            class="player-list-action"
            (click)="loadPreset()"
            [disabled]="!loggedIn"
            [tooltip]="'auto-invite-request-accept.loadPreset'"
            [tooltipMode]="'right'"
          >
            <i class="material-icons">file_open</i>
          </button>
        </div>
        <div class="players-list" @noop>
          <div class="player" *ngFor="let player of playerList" @vshrink>
            <div class="player-left">
              <div class="player-icon">
                <img
                  draggable="false"
                  onerror="this.style.display='none'"
                  loading="lazy"
                  [imgSmoothLoader]="vrchat.imageUrlForPlayer(player) | imageCache : 3600 * 6"
                />
              </div>
              <div class="player-name">{{ player.displayName }}</div>
            </div>
            <div class="player-right">
              <button class="btn" (click)="removePlayer(player)">
                <i class="material-icons">clear</i>
              </button>
            </div>
          </div>
          <div class="no-players" *ngIf="!playerList?.length">
            <span translate>auto-invite-request-accept.noPlayersAdded</span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
