:host {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.pane.main {
  flex: 1;

  .pane-content {
    overflow-y: overlay;
    app-select-box {
      width: 18em;
    }
  }
}

.alert {
  &:not(:last-child) {
    margin-bottom: 1em;
  }

  &-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      flex: 1;
    }

    button {
      flex-shrink: 0;
    }
  }
}

.with-margin {
  margin-right: 1em;
}

.preset-select-box {
  max-width: 14em;
}
