:host {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.pane.main {
  flex: 1;

  .pane-content {
    overflow-y: overlay;
    app-select-box {
      width: 18em;
    }
  }
}

.alert {
  &:not(:last-child) {
    margin-bottom: 1em;
  }

  &-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      flex: 1;
    }

    button {
      flex-shrink: 0;
    }
  }
}

.pane-player-list-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: visible;
  padding-left: 1em;
}

.pane-player-list {
  width: 22em;
  min-width: 22em;
  overflow: visible;

  .pane-content {
    flex: 1;
    min-height: 0;
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;

    .players-list {
      flex: 1;
      overflow-x: hidden;
      overflow-y: overlay;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      height: 100%;
      background: var(--color-surface-1);

      .no-players {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-text-3);
        text-align: center;
        width: 100%;
        height: 100%;
        padding: 1.5em;
      }

      .player {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: var(--color-surface-1);

        &:not(:last-child) {
          border-bottom: 1px solid var(--color-surface-3);
        }

        &-left {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          flex: 1;
          padding: 0.5em 0.25em 0.5em 1em;
          overflow: hidden;
          white-space: nowrap;
        }

        &-right {
          flex-shrink: 0;
        }

        &-name {
          flex: 1;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        .btn {
        }

        &-icon {
          flex-shrink: 0;
          margin-right: 0.5em;
          border: 2px solid var(--color-text-4);
          height: 2.5em;
          width: 2.5em;
          border-radius: 3em;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          img {
            height: 100%;
          }
        }
      }
    }

    .player-list-action-bar {
      $size: 3em;
      padding: 0;
      flex-shrink: 0;
      width: $size;
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-start;

      .player-list-action {
        width: $size;
        height: $size;
        margin: 0;
        font-size: 1em;
        padding: 0;
        outline: none;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        color: var(--color-text-2);
        transition: all 0.15s;
        &:not(:disabled) {
          cursor: pointer;
          &:hover {
            color: var(--color-text-1);
          }
        }
        &:disabled {
          color: var(--color-text-4);
        }
      }
    }
  }
}

.players-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-text-3);
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 1.5em;

  .large-spinner {
    margin-bottom: 1em;
  }
}
