<div class="pane main">
  <div class="pane-title" translate>auto-invite-request-accept.title</div>
  <div class="pane-content">
    <p translate>auto-invite-request-accept.description</p>
    <div class="alert warning" *ngIf="!loggedIn" @vshrink>
      <div class="alert-bg"></div>
      <div class="alert-icon">
        <i class="material-icons"> warning </i>
      </div>
      <div class="alert-content">
        <span>{{ 'shared.misc.vrcLoginRequired' | translate }}</span>
        <button class="btn btn-secondary" (click)="login()" translate>shared.modals.login</button>
      </div>
    </div>
    <div class="alert warning" *ngIf="isOnBusyStatus" @vshrink>
      <div class="alert-bg"></div>
      <div class="alert-icon">
        <i class="material-icons"> warning </i>
      </div>
      <div class="alert-content">
        <span>{{ 'auto-invite-request-accept.userOnBusyStatus' | translate }}</span></div
      >
    </div>
    <div class="alert warning" *ngIf="isOnJoinMeStatus" @vshrink>
      <div class="alert-bg"></div>
      <div class="alert-icon">
        <i class="material-icons"> warning </i>
      </div>
      <div class="alert-content">
        <span>{{ 'auto-invite-request-accept.userOnJoinMeStatus' | translate }}</span></div
      >
    </div>
    <div class="settings">
      <div class="setting-row">
        <div class="setting-row-label">
          <span translate>auto-invite-request-accept.options.enable.title</span>
          <span translate>auto-invite-request-accept.options.enable.description</span>
        </div>
        <div class="setting-row-action">
          <label class="switch-toggle">
            <input
              type="checkbox"
              [checked]="config.enabled"
              (change)="updateConfig({ enabled: !config.enabled })"
            />
            <span class="switch-toggle-slider"></span>
          </label>
        </div>
      </div>

      <div class="setting-row">
        <div class="setting-row-label" translate>
          <span translate>auto-invite-request-accept.options.listMode.title</span>
          <span translate>auto-invite-request-accept.options.listMode.description</span>
        </div>
        <div class="setting-row-action">
          <app-select-box
            [items]="listModeOptions"
            [selected]="listModeOption"
            (selectedChange)="setListMode($event?.id)"
          ></app-select-box>
        </div>
      </div>
    </div>
    <h2 translate>auto-invite-request-accept.conditions.title</h2>
    <p translate>auto-invite-request-accept.conditions.description</p>
    <div class="settings">
      <div class="setting-row">
        <div class="setting-row-label" translate>
          <span translate>auto-invite-request-accept.options.onlyIfSleepModeEnabled.title</span>
          <span translate></span>
        </div>
        <div class="setting-row-action">
          <label class="switch-toggle">
            <input
              type="checkbox"
              [checked]="config.onlyIfSleepModeEnabled"
              (change)="updateConfig({ onlyIfSleepModeEnabled: !config.onlyIfSleepModeEnabled })"
            />
            <span class="switch-toggle-slider"></span>
          </label>
        </div>
      </div>

      <div class="setting-row">
        <div class="setting-row-label" translate>
          <span
            style="display: initial"
            [innerHtml]="
              'auto-invite-request-accept.options.onlyBelowPlayerCount.title'
                | translate
                  : {
                      count: config.onlyBelowPlayerCount
                    }
            "
          ></span>
          <span translate>auto-invite-request-accept.options.onlyBelowPlayerCount.description</span>
        </div>
        <div class="setting-row-action">
          <app-slider-setting
            class="with-margin"
            [unit]="'<i class=&quot;material-icons&quot;>person</i>'"
            [min]="2"
            [max]="100"
            [value]="config.onlyBelowPlayerCount"
            (valueChange)="updateConfig({ onlyBelowPlayerCount: $event })"
            [disabled]="!config.onlyBelowPlayerCountEnabled"
          ></app-slider-setting>
          <label class="switch-toggle">
            <input
              type="checkbox"
              [checked]="config.onlyBelowPlayerCountEnabled"
              (change)="
                updateConfig({
                  onlyBelowPlayerCountEnabled: !config.onlyBelowPlayerCountEnabled
                })
              "
            />
            <span class="switch-toggle-slider"></span>
          </label>
        </div>
      </div>
    </div>

    <h2 translate>auto-invite-request-accept.otherAutomations.title</h2>
    <p translate>auto-invite-request-accept.otherAutomations.description</p>
    <div class="settings">
      <div class="setting-row">
        <div class="setting-row-label" translate>
          <span translate
            >auto-invite-request-accept.options.changeListPreset.onSleepEnable.title</span
          >
          <span translate
            >auto-invite-request-accept.options.changeListPreset.onSleepEnable.description</span
          >
        </div>
        <div class="setting-row-action">
          <app-select-box
            class="preset-select-box"
            [type]="'SMALL'"
            [items]="presetOptions"
            [selected]="presetOption['onSleepEnable']"
            (selectedChange)="setPresetOption('onSleepEnable', $event?.id ?? 'NONE')"
          ></app-select-box>
        </div>
      </div>
      <div class="setting-row">
        <div class="setting-row-label" translate>
          <span translate
            >auto-invite-request-accept.options.changeListPreset.onSleepDisable.title</span
          >
          <span translate
            >auto-invite-request-accept.options.changeListPreset.onSleepDisable.description</span
          >
        </div>
        <div class="setting-row-action">
          <app-select-box
            class="preset-select-box"
            [type]="'SMALL'"
            [items]="presetOptions"
            [selected]="presetOption['onSleepDisable']"
            (selectedChange)="setPresetOption('onSleepDisable', $event?.id ?? 'NONE')"
          ></app-select-box>
        </div>
      </div>
      <div class="setting-row">
        <div class="setting-row-label" translate>
          <span translate
            >auto-invite-request-accept.options.changeListPreset.onSleepPreparation.title</span
          >
          <span translate
            >auto-invite-request-accept.options.changeListPreset.onSleepPreparation.description</span
          >
        </div>
        <div class="setting-row-action">
          <app-select-box
            class="preset-select-box"
            [type]="'SMALL'"
            [items]="presetOptions"
            [selected]="presetOption['onSleepPreparation']"
            (selectedChange)="setPresetOption('onSleepPreparation', $event?.id ?? 'NONE')"
          ></app-select-box>
        </div>
      </div>
    </div>
  </div>
</div>
<app-player-list
  *ngIf="config.listMode !== 'DISABLED'"
  @hshrink
  [title]="
    {
      WHITELIST: 'auto-invite-request-accept.whitelist',
      BLACKLIST: 'auto-invite-request-accept.blacklist'
    }[config.listMode]
  "
  [playerIds]="playerIds"
  (playerIdsChange)="updatePlayerIds($event)"

></app-player-list>
