<div class="pane modal-lg" @fadeUp>
  <div class="pane-title" translate>sleep-detection.modals.enableOnHeartRateCalmPeriod.title</div>
  <div class="pane-content">
    <p
      [innerHtml]="'sleep-detection.modals.enableOnHeartRateCalmPeriod.description' | translate"
    ></p>
    <div class="automation-settings">
      <div class="automation-settings-row">
        <div class="settings">
          <div class="setting-row">
            <div class="setting-row-label" translate>
              <span translate>sleep-detection.modals.enableOnHeartRateCalmPeriod.bpm.title</span>
              <span translate
                >sleep-detection.modals.enableOnHeartRateCalmPeriod.bpm.description</span
                >
              </div>
              <div class="setting-row-action">
                <app-slider-setting
                  [unit]="'sleep-detection.modals.enableOnHeartRateCalmPeriod.bpm.unit' | translate"
                  [min]="20"
                  [max]="100"
                  [value]="threshold"
                  (valueChange)="threshold = $event"
                  [step]="1"
                ></app-slider-setting>
              </div>
            </div>
            <div class="setting-row">
              <div class="setting-row-label" translate>
                <span translate
                  >sleep-detection.modals.enableOnHeartRateCalmPeriod.duration.title</span
                  >
                  <span translate
                    >sleep-detection.modals.enableOnHeartRateCalmPeriod.duration.description</span
                    >
                  </div>
                  <div class="setting-row-action">
                    <app-slider-setting
                [unit]="
                  'sleep-detection.modals.enableOnHeartRateCalmPeriod.duration.unit' | translate
                "
                      [min]="1"
                      [max]="60"
                      [value]="duration / 1000 / 60"
                      (valueChange)="onDurationChange($event)"
                      [step]="1"
                    ></app-slider-setting>
                  </div>
                </div>
                <div class="setting-row">
                  <div class="setting-row-label" translate>
                    <span translate
                      >sleep-detection.modals.enableOnHeartRateCalmPeriod.viewHistory.title</span
                      >
                      <span translate
                        >sleep-detection.modals.enableOnHeartRateCalmPeriod.viewHistory.description</span
                        >
                      </div>
                      <div class="setting-row-action">
                        @if (mode === 'SETTINGS') {
                          <button
                            class="btn btn-primary"
                            translate
                            (click)="mode = 'HISTORY'"
                            >
                            sleep-detection.modals.enableOnHeartRateCalmPeriod.viewHistory.actionShow
                          </button>
                        }
                        @if (mode === 'HISTORY') {
                          <button
                            class="btn btn-primary"
                            translate
                            (click)="mode = 'SETTINGS'"
                            >
                            sleep-detection.modals.enableOnHeartRateCalmPeriod.viewHistory.actionHide
                          </button>
                        }
                      </div>
                    </div>
                    @if (mode === 'HISTORY') {
                      <div class="setting-row" @vshrink>
                        <app-heart-rate-chart></app-heart-rate-chart>
                      </div>
                    }
                  </div>
                </div>
              </div>
            </div>
            <div class="pane-actions spread">
              <button class="btn btn-secondary" (click)="close()" translate>shared.modals.cancel</button>
              <button class="btn btn-primary" (click)="save()" translate>shared.modals.save</button>
            </div>
          </div>
