:host > .pane {
  height: 100%;

  > .pane-content {
    overflow-y: overlay;
  }
}

.alert {
  &:not(:last-child) {
    margin-bottom: 1em;
  }

  &-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      flex: 1;
    }

    button {
      flex-shrink: 0;
    }
  }
}

app-select-box {
  min-width: 15em;
}
