<div class="pane fill">
  <div class="pane-title" transloco="vrchatGroupAutomations.title"></div>
  <div class="pane-content scroll">
    <div class="setting-view-container">
      <div class="setting-category">
        <p transloco="vrchatGroupAutomations.description"></p>
        @if (!loggedIn) {
          <div class="alert warning" @vshrink>
            <div class="alert-bg"></div>
            <div class="alert-icon">
              <i class="material-icons"> warning </i>
            </div>
            <div class="alert-content">
              <span>{{ 'shared.common.vrcLoginRequired' | transloco }}</span>
              <button
                class="btn btn-secondary"
                (click)="login()"
                transloco="shared.modals.login"
              ></button>
            </div>
          </div>
        }
        <div class="settings">
          <app-setting-row
            label="vrchatGroupAutomations.onSleepEnable.title"
            description="vrchatGroupAutomations.onSleepEnable.description"
          >
            <app-select-box
              [disabled]="!loggedIn"
              [items]="groupOptions"
              [selected]="selectedOnSleepEnable"
              [type]="'SMALL'"
              (selectedChange)="updateGroupOnSleepEnable($event!.id)"
            ></app-select-box>
          </app-setting-row>
          <app-setting-row
            label="vrchatGroupAutomations.onSleepDisable.title"
            description="vrchatGroupAutomations.onSleepDisable.description"
          >
            <app-select-box
              [disabled]="!loggedIn"
              [items]="groupOptions"
              [selected]="selectedOnSleepDisable"
              [type]="'SMALL'"
              (selectedChange)="updateGroupOnSleepDisable($event!.id)"
            ></app-select-box>
          </app-setting-row>
          <app-setting-row
            label="vrchatGroupAutomations.onSleepPreparation.title"
            description="vrchatGroupAutomations.onSleepPreparation.description"
          >
            <app-select-box
              [disabled]="!loggedIn"
              [items]="groupOptions"
              [selected]="selectedOnSleepPreparation"
              [type]="'SMALL'"
              (selectedChange)="updateGroupOnSleepPreparation($event!.id)"
            ></app-select-box>
          </app-setting-row>
        </div>
      </div>
    </div>
  </div>
</div>
