<div
  class="select-box-wrapper"
  (clickOutside)="clickOutsideDropdown()"
  [class.expand-up]="expandUp"
  >
  <div
    class="select-box"
    [class.small]="type === 'SMALL'"
    (click)="clickBox()"
    [class.disabled]="disabled"
    [class.active]="!collapsed"
    >
    @if (selected) {
      <div
        class="select-item selected"
        [class.has-subtitle]="selected.subLabel"
        [class.small]="type === 'SMALL'"
        >
        @if (selected.htmlPrefix) {
          <div
            class="select-item-html-prefix"
            [innerHtml]="selected.htmlPrefix"
            >
          </div>
        }
        <div class="select-item-content">
          <div class="select-item-title">{{ selected.label | tsTranslate }}</div>
          @if (selected.subLabel && type !== 'SMALL') {
            <div class="select-item-subtitle">
              {{ selected.subLabel | tsTranslate }}
            </div>
          }
        </div>
      </div>
    }
    @if (!selected) {
      <div class="select-item placeholder" [class.small]="type === 'SMALL'">
        <div class="select-item-title">
          {{ placeholder || 'comp.select-box.defaultPlaceholder' | translate }}
        </div>
      </div>
    }
    <div class="select-box-arrow">
      <i class="material-icons">expand_more</i>
    </div>
  </div>
  <div class="dropdown-container" [class.expand-up]="expandUp">
    <ng-template #dropdownContent>
      @if (showPlaceholderInDropdown) {
        <div class="select-item placeholder">
          <div class="select-item-title">
            {{ placeholder || 'comp.select-box.defaultPlaceholder' | translate }}
          </div>
        </div>
      }
      @for (item of items; track item) {
        <div
          class="select-item"
          (click)="select(item, $event)"
          [class.has-subtitle]="item.subLabel"
          [class.small]="type === 'SMALL'"
          >
          @if (item.htmlPrefix) {
            <div class="select-item-html-prefix" [innerHtml]="item.htmlPrefix">
            </div>
          }
          <div class="select-item-content">
            <div class="select-item-title" [innerHtml]="item.label | tsTranslate">
              {{ item.label | tsTranslate }}
            </div>
            @if (item.subLabel && type !== 'SMALL') {
              <div
                class="select-item-subtitle"
                [innerHtml]="item.subLabel | tsTranslate"
                >
                {{ item.subLabel | tsTranslate }}
              </div>
            }
          </div>
          @if (item.infoAction) {
            <a class="select-item-info noselect" (click)="item.infoAction()">
              <i class="material-icons-round noselect">info</i>
            </a>
          }
        </div>
      }
    </ng-template>
    @if (!collapsed && !expandUp) {
      <div class="select-box-dropdown" @fadeDown>
        <ng-container *ngTemplateOutlet="dropdownContent"></ng-container>
      </div>
    }
    @if (!collapsed && expandUp) {
      <div class="select-box-dropdown" @fadeUp>
        <ng-container *ngTemplateOutlet="dropdownContent"></ng-container>
      </div>
    }
  </div>
</div>
