<div class="selector">
  <!-- First 5 options in a row -->
  @for (option of frameLimitConfigOptions.slice(0, 5); track option) {
    <button
      class="selector-option"
      [class.active]="activeValue === option"
      [class.selected]="configuredValue === option"
      (click)="selectOption(option)"
    >
      <span translate class="selector-option-label-top">{{ getLabelForOption(option) }}</span>
      @if (getFpsForOption(option).trim()) {
        <span class="selector-option-label-bottom" @vshrink>{{ getFpsForOption(option) }}</span>
      }
    </button>
  }

  <!-- 6th and 7th options stacked vertically -->
  @if (frameLimitConfigOptions.length > 5) {
    <div class="vertical-stack">
      @for (option of frameLimitConfigOptions.slice(5, 7); track option) {
        <button
          class="selector-option stacked"
          [class.active]="activeValue === option"
          [class.selected]="configuredValue === option"
          (click)="selectOption(option)"
          [tooltip]="getTooltipForOption(option)"
          [tooltipMode]="'left'"
        >
          <span translate class="selector-option-label-top">{{ getLabelForOption(option) }}</span>
          @if (getFpsForOption(option).trim()) {
            <span @vshrink class="selector-option-label-bottom">{{ getFpsForOption(option) }}</span>
          }
        </button>
      }
    </div>
  }
</div>
