@use 'sass:math';

@import 'shadows';

:host {
  height: 100%;
  display: flex;
  overflow: hidden;
}

.pane {
  width: 100%;
}

.pane-content {
  padding: 2em;
  overflow-y: overlay;
  width: 100%;
}

.alert {
  &:not(:last-child) {
    margin-bottom: 1em;
  }

  &-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      flex: 1;
    }

    button {
      flex-shrink: 0;
    }
  }
}

.automation-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;

  h3 {
    flex: 1;
    margin: 0;
  }

  .switch-toggle {
    flex-shrink: 0;
    margin-right: 0.5em;
  }
}

.limit-setting {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  app-player-count-sleep-visualization {
    margin-bottom: 1em;
  }

  &-controls {
    display: flex;
    flex-direction: row;
    align-items: center;

    &-slider {
      flex: 1;
    }

    &-numeric-input {
      margin-left: 1em;
      flex-shrink: 0;
    }
  }

  &-description {
    text-align: center;
  }
}

.status-dropdown {
  min-width: 12em;
}

.settings {
  display: flow-root;
  margin-bottom: 1em;
  background: var(--color-surface-1);
  border-radius: 0.5em;

  & > * {
    transition: all 0.15s ease;
  }

  & > .alert {
    margin: 1em;
  }

  &.disabled {
    pointer-events: none;

    & > *:not(.alert) {
      opacity: 0.5;
    }
  }
}

.setting-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;

  .setting-row-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1;

    > span:first-child {
      color: var(--color-text-1);
      margin-bottom: 0.25em;
    }

    > span:not(:first-child) {
      color: var(--color-text-3);
    }
  }

  .setting-row-action {
    flex-shrink: 0;
    margin-left: 1em;
    padding: 0 1em;
    display: flex;
    flex-direction: row;
    align-items: center;

    & > * {
      &:not(:last-child) {
        margin-right: 0.5em;
      }
    }
  }
}
