<div class="pane" [@noop]>
  <div class="pane-title" translate>status-automations.title</div>
  <div class="tab-bar">
<!--    <div-->
<!--      class="tab"-->
<!--      [class.active]="activeTab === 'GENERAL'"-->
<!--      (click)="activeTab = 'GENERAL'"-->
<!--    >-->
<!--      <div class="tab-label" translate>status-automations.tabs.general</div>-->
<!--    </div>-->
    <div
      class="tab"
      [class.active]="activeTab === 'PLAYER_LIMIT'"
      (click)="activeTab = 'PLAYER_LIMIT'"
    >
      <div class="tab-label" translate>status-automations.tabs.playerLimit</div>
    </div>
  </div>
  <div class="pane-content">
    <app-status-automations-general-tab *ngIf="activeTab === 'GENERAL'"></app-status-automations-general-tab>
    <app-status-automations-player-limit-tab *ngIf="activeTab === 'PLAYER_LIMIT'"></app-status-automations-player-limit-tab>
  </div>
</div>
