@use 'sass:math';

@import 'shadows';

:host {
  height: 100%;
  display: flex;
  overflow: hidden;
}

.pane {
  width: 100%;
}

.pane-content {
  padding: 2em;
  overflow-y: overlay;
  width: 100%;
}

.alert {
  &:not(:last-child) {
    margin-bottom: 1em;
  }

  &-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      flex: 1;
    }

    button {
      flex-shrink: 0;
    }
  }
}

.automation-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;

  h3 {
    flex: 1;
    margin: 0;
  }

  .switch-toggle {
    flex-shrink: 0;
    margin-right: 0.5em;
  }
}

.limit-setting {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &-graphic {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1em;

    .bed {
      border: 0.2em solid rgba(255, 255, 255, 0.8);
      height: 5em;
      width: calc(3.5em * var(--people));
      border-radius: 0.5em;
      overflow: hidden;
      background: #7e432a;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: stretch;
      position: relative;
      transition: all 0.15s ease;

      &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(180deg, rgb(255, 255, 255), rgba(0, 0, 0));
        opacity: 0.3;
        @include shadow(1, true);
      }

      &-sheets {
        background: #ebebeb;
        height: 90%;

        & > * {
          position: absolute;
          width: 100%;
          bottom: 0;
          left: 0;
        }

        .under-cover {
          height: 70%;
          background: white;
        }

        .cover {
          height: 55%;
          background: #b86581;
        }

        .stripe {
          height: 5%;
          bottom: 5%;

          &:nth-last-of-type(1) {
            bottom: 15%;
          }

          background: #d97c98;
        }
      }

      .people {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        .person-limit-exceeded {
          width: 3.5em;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          font-size: 1.25em;
          color: white !important;
          padding-top: 1em;
          font-weight: 600;
        }

        .person {
          width: 3.5em;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          filter: contrast(0) sepia(200%) hue-rotate(190deg) brightness(0.95) brightness(0.2)
            saturate(12) drop-shadow(0 0 0.5em rgba(0, 0, 0, 70%));

          &.yourself {
            filter: brightness(0.8) sepia(100%) hue-rotate(290deg) blur(0.04em)
              drop-shadow(0 0 0.5em rgba(0, 0, 0, 70%));
          }

          img {
            width: 2.5em;
          }
        }
      }
    }
  }

  &-controls {
    display: flex;
    flex-direction: row;
    align-items: center;

    &-slider {
      flex: 1;
    }

    &-numeric-input {
      margin-left: 1em;
      flex-shrink: 0;
    }
  }

  &-description {
    text-align: center;
  }
}

.status-dropdown {
  min-width: 12em;
}

.settings {
  display: flow-root;
  margin-bottom: 1em;
  background: var(--color-surface-1);
  border-radius: 0.5em;

  & > * {
    transition: all 0.15s ease;
  }

  & > .alert {
    margin: 1em;
  }

  &.disabled {
    pointer-events: none;

    & > *:not(.alert) {
      opacity: 0.5;
    }
  }
}

.setting-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;

  .setting-row-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1;

    > span:first-child {
      color: var(--color-text-1);
      margin-bottom: 0.25em;
    }

    > span:last-child {
      color: var(--color-text-3);
    }
  }

  .setting-row-action {
    flex-shrink: 0;
    margin-left: 1em;
    padding: 0 1em;
    display: flex;
    flex-direction: row;
    align-items: center;

    & > * {
      &:not(:last-child) {
        margin-right: 0.5em;
      }
    }
  }
}
