.pane {
  height: 100%;

  &-content {
    padding: 2em;
    overflow-y: overlay;
  }
}

.alert {
  &:not(:last-child) {
    margin-bottom: 1em;
  }

  &-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      flex: 1;
    }

    button {
      flex-shrink: 0;
    }
  }
}

.setting-row {
  &-label.conflict {
    i.material-icons {
      line-height: 0;
      vertical-align: center;
      color: var(--color-alert-warning);
      margin-right: 0.25em;
    }

    span:first-child {
      font-weight: bold;
      vertical-align: center;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
  }
}
