<div class="pane fill">
  <div class="pane-title" transloco="oscAutomations.title"></div>
  <div class="pane-content scroll">
    <div class="setting-view-container">
      <div class="setting-category">
        <p transloco="oscAutomations.general.description"></p>
        <div class="settings">
          <app-setting-row
            label="oscAutomations.general.onSleepEnable.title"
            description="oscAutomations.general.onSleepEnable.description"
          >
            <app-osc-script-button
              [label]="'oscAutomations.general.onSleepEnable.script'"
              [script]="config.onSleepModeEnable"
              (scriptChange)="setOscScript('onSleepModeEnable', $event)"
            ></app-osc-script-button>
          </app-setting-row>
          <app-setting-row
            label="oscAutomations.general.onSleepDisable.title"
            description="oscAutomations.general.onSleepDisable.description"
          >
            <app-osc-script-button
              [label]="'oscAutomations.general.onSleepDisable.script'"
              [script]="config.onSleepModeDisable"
              (scriptChange)="setOscScript('onSleepModeDisable', $event)"
            ></app-osc-script-button>
          </app-setting-row>
          <app-setting-row
            label="oscAutomations.general.onSleepPreparation.title"
            description="oscAutomations.general.onSleepPreparation.description"
          >
            <app-osc-script-button
              [label]="'oscAutomations.general.onSleepPreparation.script'"
              [script]="config.onSleepPreparation"
              (scriptChange)="setOscScript('onSleepPreparation', $event)"
            ></app-osc-script-button>
          </app-setting-row>
        </div>
      </div>
    </div>
  </div>
</div>
