<div class="row-wrapper" @fadeUp>
  <div class="pane modal-lg">
    <div
      class="pane-title"
      transloco="sleep-detection.modals.disableForPlayerJoinLeave.title"
    ></div>
    <div class="pane-content">
      <p transloco="sleep-detection.modals.disableForPlayerJoinLeave.description"></p>
      <div class="settings">
        <app-setting-row label="sleep-detection.modals.disableForPlayerJoinLeave.onJoin.title">
          <app-select-box
            class="preset-select-box"
            [type]="'SMALL'"
            [items]="triggerOptions"
            [selected]="joinTriggerOption"
            (selectedChange)="
              setJoinTriggerOption(asJoinNotificationsMode($safeNavigationMigration($event?.id)))
            "
          ></app-select-box>
        </app-setting-row>
        <app-setting-row
          label="sleep-detection.modals.disableForPlayerJoinLeave.onlyWhenPreviouslyAlone.title"
          description="sleep-detection.modals.disableForPlayerJoinLeave.onlyWhenPreviouslyAlone.description"
        >
          <label class="switch-toggle">
            <input
              type="checkbox"
              [checked]="config.onlyWhenPreviouslyAlone"
              (change)="config.onlyWhenPreviouslyAlone = !config.onlyWhenPreviouslyAlone"
            />
            <span class="switch-toggle-slider"></span>
          </label>
        </app-setting-row>
      </div>
      <div class="settings">
        <app-setting-row label="sleep-detection.modals.disableForPlayerJoinLeave.onLeave.title">
          <app-select-box
            class="preset-select-box"
            [type]="'SMALL'"
            [items]="triggerOptions"
            [selected]="leaveTriggerOption"
            (selectedChange)="
              setLeaveTriggerOption(asJoinNotificationsMode($safeNavigationMigration($event?.id)))
            "
          ></app-select-box>
        </app-setting-row>
        <app-setting-row
          label="sleep-detection.modals.disableForPlayerJoinLeave.onlyWhenLeftAlone.title"
          description="sleep-detection.modals.disableForPlayerJoinLeave.onlyWhenLeftAlone.description"
        >
          <label class="switch-toggle">
            <input
              type="checkbox"
              [checked]="config.onlyWhenLeftAlone"
              (change)="config.onlyWhenLeftAlone = !config.onlyWhenLeftAlone"
            />
            <span class="switch-toggle-slider"></span>
          </label>
        </app-setting-row>
      </div>
      <div class="pane-actions spread">
        <button
          class="btn btn-secondary"
          (click)="close()"
          transloco="shared.modals.cancel"
        ></button>
        <button class="btn btn-primary" (click)="save()" transloco="shared.modals.save"></button>
      </div>
    </div>
  </div>
  <app-player-list
    [playerIds]="config.playerIds"
    (playerIdsChange)="config.playerIds = $event"
  ></app-player-list>
</div>
