@import 'shadows';
@import 'effects';

:host {
  display: block;
  padding: 4.25em 1.5em;
}

.b-modal-container {
  pointer-events: all;
  width: 35em;
  backdrop-filter: blur(4px);
  border-radius: var(--surface-border-radius);
  @include shadow(5, true);
  overflow: hidden;
  border: 0.15em solid var(--color-surface-3);
  background-color: color-mix(in srgb, var(--color-surface-1) 80%, transparent);
  background-image: radial-gradient(
      ellipse at 40% 0%,
      color-mix(in srgb, var(--a) 6%, transparent) 0,
      transparent 75%
    ),
    radial-gradient(
      ellipse at 60% 0%,
      color-mix(in srgb, var(--b) 6%, transparent) 0,
      transparent 75%
    );
  @include pane-radial-gradient(#fff);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.sliders-container {
  padding: 2em 1.5em;
  flex: 1;
}

.brightness-slider {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  transition: opacity 0.15s ease;

  &:not(:first-child) {
    margin-top: 1.5em;
  }

  &-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1em 2em 0 2em;
    font-weight: 200;
    white-space: nowrap;

    span {
      font-size: 1.5em;
    }
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.automations-link {
  padding: 1em 1.5em;
  border-right: 0.15em solid var(--color-surface-3);
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all .15s ease;
  height: 100%;
  text-decoration: none;

  &:hover {
    background: rgba(white, 0.1);
  }

  &:active {
    opacity: 0.7;
  }

  i.material-icons {
    line-height: 1em;
    color: var(--color-text-3);
  }
}

@keyframes slider-glow {
  0% {
    filter: drop-shadow(0 0 6px rgba(white, 0.5));
  }

  40% {
    filter: drop-shadow(0 0 6px rgba(white, 1));
  }

  80% {
    filter: drop-shadow(0 0 6px rgba(white, 0.5));
  }

  100% {
    filter: drop-shadow(0 0 6px rgba(white, 0.5));
  }
}

app-brightness-control-slider {
  transition: all 0.15s;
  //filter: drop-shadow(0 0 0 transparent);

  &.transition-active {
    animation: slider-glow 2s ease-out infinite normal;
  }
}
