<div class="b-modal-container" @fadeUp (clickOutside)="close()">
  <div class="sliders-container">
    <div class="brightness-slider">
      <app-brightness-control-slider
        [value]="(cctControl.cctStream | async) ?? 6600"
        [min]="1000"
        [step]="50"
        [snapValues]="[6600]"
        [snapDistance]="400"
        [max]="10000"
        [mode]="'CCT'"
        (valueChange)="setCCT.next($event)"
        [class.transition-active]="!!(cctControl.activeTransition | async)"
        [transitionActive]="!!(cctControl.activeTransition | async)"
      ></app-brightness-control-slider>
      <div class="brightness-slider-title">
        <span translate>comp.cct-control-modal.colorTemperature</span>
      </div>
    </div>
  </div>

  <div class="link-bar">
    <a
      class="link"
      *ngIf="
      !isActive('/dashboard/settings/brightnessCct')

    "
      [routerLink]="['dashboard', 'settings', 'brightnessCct']"
      (click)="close()"
    >
      <i class="material-symbols-outlined icon-filled">settings</i>
    </a>
    <a
      class="link"
      *ngIf="
      !isActive('/dashboard/brightnessAutomations')
    "
      [routerLink]="['dashboard', 'brightnessAutomations']"
      (click)="close()"
    >
      <i class="material-symbols-outlined icon-filled">automation</i>
    </a>
  </div>
</div>
