[package]
name = "oyasumivr"
version = "1.9.0"
description = ""
authors = ["Raphiiko"]
license = "MIT"
repository = "https://github.com/Raphiiko/Oyasumi"
default-run = "oyasumivr"
edition = "2021"
rust-version = "1.70.0"

[build-dependencies]
tauri-build = { version = "1.4.0", features = [] }
tonic-build = { version = "0.9", features = [] }

[dependencies]
oyasumivr-shared = { path = "../src-shared-rust", version = '*' }
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
lazy_static = "1.4.0"
cronjob = "0.4.17"
rosc = "0.10.1"
futures = "0.3"
reqwest = "0.11.17"
sysinfo = "0.26.9"
chrono = "0.4.24"
log = "^0.4"
url = "2.3.1"
urlencoding = "2.1.2"
mime = "0.3.17"
md5 = "0.7.0"
mime_guess = "2.0.4"
substring = "1.4.5"
bytes = "1.4.0"
nalgebra = "0.32.2"
soloud = "1.0.2"
time = "0.3.15"
tauri-plugin-fs-extra = { git = "https://github.com/tauri-apps/plugins-workspace", branch = "dev" }
tauri-plugin-log = { git = "https://github.com/tauri-apps/plugins-workspace", branch = "dev" }
tauri-plugin-store = { git = "https://github.com/tauri-apps/plugins-workspace", branch = "dev" }
tauri-plugin-single-instance = { git = "https://github.com/tauri-apps/plugins-workspace", branch = "dev" }
tauri-plugin-deep-link = "0.1.2"
windows-sys = { version = "0.36.1", features = [
  "Win32_UI_Shell",
  "Win32_Foundation",
] }
winapi = { version = "0.3.9", features = [
  "handleapi",
  "processthreadsapi",
  "winnt",
  "securitybaseapi",
  "impl-default",
  "powersetting",
] }
windows = { version = "0.51.1", features = [
  "implement",
  "Win32_Foundation",
  "Win32_Devices_FunctionDiscovery",
  "Win32_Media_Audio_Endpoints",
  "Win32_System_Com_StructuredStorage",
  "Win32_UI_Shell_PropertiesSystem",
  "Win32_System_Variant",
], default-features = false }
widestring = "1.0.2"
tokio = { version = "1.28.0", features = ["full"] }
hyper = { version = "0.14.26", features = ["full"] }
uuid = "1.3.3"
tokio-util = "0.7.8"
bluest = { version = "0.5.3", features = ["serde"] }
futures-util = "0.3.28"
byteorder = "1.4.3"
winreg = "0.50.0"
tonic = "0.9"
tonic-web = "0.9.2"
prost = "0.11"
tokio-stream = { version = "0.1.14", features = ["full"] }
readonly = "0.2"
tempfile = "3.6.0"
strum = "0.25"
strum_macros = "0.25"
steamworks = { version = "0.10.0" }
system_shutdown = "4.0.1"
async-recursion = "1.0.5"

[dependencies.tauri]
version = "1.4.1"
features = [
  "clipboard-write-text",
  "cli",
  "fs-write-file",
  "dialog-save",
  "path-all",
  "process-relaunch",
  "system-tray",
  "dialog-message",
  "dialog-open",
  "fs-exists",
  "fs-read-dir",
  "fs-read-file",
  "http-request",
  "notification-all",
  "process-exit",
  "shell-execute",
  "shell-open",
  "updater",
]

[dependencies.ovr_overlay]
git = "https://github.com/Raphiiko/ovr_overlay_oyasumi"
rev = "15f874e3b7e447c84990a1af6935892a79812cd4"
features = ["ovr_system", "ovr_settings"]

[features]
# by default Tauri runs in production mode
# when `tauri dev` runs it is executed with `cargo run --no-default-features` if `devPath` is an URL
default = ["custom-protocol"]
# this feature is used used for production builds where `devPath` points to the filesystem
# DO NOT remove this
custom-protocol = ["tauri/custom-protocol"]

[profile.release]
panic = "abort"   # Strip expensive panic clean-up logic
codegen-units = 1 # Compile crates one after another so the compiler can optimize better
lto = true        # Enables link to optimizations
opt-level = "s"   # Optimize for binary size
strip = true      # Remove debug symbols
