:host {
  display: block;
  position: relative;
  height: 100%;
}

app-brightness-automations-list {
  transition: all 0.15s ease;
  &.details-open {
    transform: translateX(-5em);
  }
}

app-brightness-automation-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.setting-view-container {
  position: relative;
  height: 100%;
  overflow-y: overlay;
}
