:host {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.pane.main {
  flex: 1;

  .pane-content {
    overflow-y: auto;
  }
}

.alert {
  &:not(:last-child) {
    margin-bottom: 1em;
  }
}

.preset-select-box {
  min-width: 14em;
}
