@import '../settings-tab/settings-tab.component.scss';

.settings-language {
  max-width: 100%;
  padding-bottom: 2em;
  display: inline-grid;
  grid-gap: 0.5em 1em;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, 1fr);

  .radio-button-label {
    white-space: nowrap;

    .fi {
      margin-right: 0.25em;
    }
  }
}

.settings-lighthouse-console {
  .alert {
    margin-bottom: 1em;
  }
}

.lighthouse-power-off-mode-dropdown {
  min-width: 10em;
}