@import '../settings-tab/settings-tab.component.scss';

.settings-language {
  width: 100%;
  display: grid;
  padding-bottom: 2em;
  grid-auto-flow: column;
  grid-gap: 1em;
  grid-auto-columns: min-content;

  .radio-button-label {
    white-space: nowrap;
    .fi {
      margin-right: 0.25em;
    }
  }
}

.settings-lighthouse-console {
  .alert {
    margin-bottom: 1em;
  }
}
