<div class="graphic" [class.small]="style === 'SMALL'">
  <div class="bed" [style.--people]="count > bedLimit ? bedLimit + 1 : bedLimit">
    <div class="bed-sheets">
      <div class="under-cover"></div>
      <div class="cover"></div>
      <div class="stripe"></div>
      <div class="stripe"></div>
    </div>
    <div class="people">
      @for (_ of [].constructor(bedLimit); track _; let i = $index) {
        <div
          class="person"
          @hshrink
          [class.yourself]="i === 0"
          >
          <img draggable="false" src="/assets/img/sleeping-person.png" alt="sleeping person" />
        </div>
      }
      @if (count > bedLimit) {
        <div class="person-limit-exceeded"> +{{ count - bedLimit }} </div>
      }
    </div>
  </div>
</div>
