@use 'shadows';

.graphic {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &.small {
    transform: scale(0.65);
    transform-origin: center right;
    .bed {
      .people {
        .person-limit-exceeded {
          font-size: 2em;
          padding-top: 0;
          font-weight: 800;
          text-shadow: 0 0 0.125em rgba(0, 0, 0, 100%), 0 0 0.5em rgba(0, 0, 0, 100%);
        }
      }
    }
  }

  .bed {
    border: 0.2em solid rgba(255, 255, 255, 0.8);
    height: 5em;
    width: calc(3.5em * var(--people));
    border-radius: 0.5em;
    overflow: hidden;
    background: #7e432a;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    position: relative;
    transition: all 0.15s ease;

    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(180deg, rgb(255, 255, 255), rgba(0, 0, 0));
      opacity: 0.3;
      @include shadows.shadow(1, true);
    }

    &-sheets {
      background: #ebebeb;
      height: 90%;

      & > * {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
      }

      .under-cover {
        height: 70%;
        background: white;
      }

      .cover {
        height: 55%;
        background: #b86581;
      }

      .stripe {
        height: 5%;
        bottom: 5%;

        &:nth-last-of-type(1) {
          bottom: 15%;
        }

        background: #d97c98;
      }
    }

    .people {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;

      .person-limit-exceeded {
        width: 3.5em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 1.25em;
        color: white !important;
        padding-top: 1em;
        font-weight: 600;
      }

      .person {
        width: 3.5em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        filter: contrast(0) sepia(200%) hue-rotate(190deg) brightness(0.95) brightness(0.2)
          saturate(12) drop-shadow(0 0 0.5em rgba(0, 0, 0, 70%));

        &.yourself {
          filter: brightness(0.8) sepia(100%) hue-rotate(290deg) blur(0.04em)
            drop-shadow(0 0 0.5em rgba(0, 0, 0, 70%));
        }

        img {
          width: 2.5em;
        }
      }
    }
  }
}
