<div class="pane fill">
  <div class="pane-title" transloco="resolution-automations.title"></div>
  <div class="pane-content scroll">
    <div class="setting-view-container">
      <div class="setting-category">
        <p transloco="resolution-automations.description"></p>
        <div class="settings">
          <app-setting-row
            label="resolution-automations.onSleepEnable.title"
            description="resolution-automations.onSleepEnable.description"
          >
            <label class="switch-toggle">
              <input
                type="checkbox"
                [checked]="onSleepModeEnableConfig.enabled"
                (change)="
                  setAutomationEnabled(
                    'RENDER_RESOLUTION_ON_SLEEP_MODE_ENABLE',
                    !onSleepModeEnableConfig.enabled
                  )
                "
              />
              <span class="switch-toggle-slider"></span>
            </label>
          </app-setting-row>
          <div class="setting-row-group">
            <app-setting-row
              label="resolution-automations.renderResolution.title"
              [class.disabled]="!onSleepModeEnableConfig.enabled"
            >
              @if (onSleepModeEnableConfig.resolution !== null) {
                <span transloco="resolution-automations.renderResolution.custom"></span>
              }
              @if (onSleepModeEnableConfig.resolution === null) {
                <span transloco="resolution-automations.renderResolution.auto"></span>
              }
              <label class="switch-toggle">
                <input
                  type="checkbox"
                  [checked]="onSleepModeEnableConfig.resolution !== null"
                  (change)="
                    setRenderResolution(
                      'RENDER_RESOLUTION_ON_SLEEP_MODE_ENABLE',
                      onSleepEnableMode.checked ? onSleepEnableSlider.value : null
                    )
                  "
                  #onSleepEnableMode
                />
                <span class="switch-toggle-slider"></span>
              </label>
              <app-slider-setting
                [disabled]="onSleepModeEnableConfig.resolution === null"
                unit="%"
                [value]="onSleepModeEnableConfig.resolution ?? 150"
                (valueChange)="
                  setRenderResolution('RENDER_RESOLUTION_ON_SLEEP_MODE_ENABLE', $event)
                "
                [min]="20"
                [max]="500"
                [step]="1"
                [snapValues]="[150]"
                [snapDistance]="25"
                #onSleepEnableSlider
              ></app-slider-setting>
            </app-setting-row>
          </div>
          <app-setting-row
            label="resolution-automations.onSleepDisable.title"
            description="resolution-automations.onSleepDisable.description"
          >
            <label class="switch-toggle">
              <input
                type="checkbox"
                [checked]="onSleepModeDisableConfig.enabled"
                (change)="
                  setAutomationEnabled(
                    'RENDER_RESOLUTION_ON_SLEEP_MODE_DISABLE',
                    !onSleepModeDisableConfig.enabled
                  )
                "
              />
              <span class="switch-toggle-slider"></span>
            </label>
          </app-setting-row>
          <div class="setting-row-group">
            <app-setting-row
              label="resolution-automations.renderResolution.title"
              [class.disabled]="!onSleepModeDisableConfig.enabled"
            >
              @if (onSleepModeDisableConfig.resolution !== null) {
                <span transloco="resolution-automations.renderResolution.custom"></span>
              }
              @if (onSleepModeDisableConfig.resolution === null) {
                <span transloco="resolution-automations.renderResolution.auto"></span>
              }
              <label class="switch-toggle">
                <input
                  type="checkbox"
                  [checked]="onSleepModeDisableConfig.resolution !== null"
                  (change)="
                    setRenderResolution(
                      'RENDER_RESOLUTION_ON_SLEEP_MODE_DISABLE',
                      onSleepDisableMode.checked ? onSleepDisableSlider.value : null
                    )
                  "
                  #onSleepDisableMode
                />
                <span class="switch-toggle-slider"></span>
              </label>
              <app-slider-setting
                [disabled]="onSleepModeDisableConfig.resolution === null"
                unit="%"
                [value]="onSleepModeDisableConfig.resolution ?? 150"
                (valueChange)="
                  setRenderResolution('RENDER_RESOLUTION_ON_SLEEP_MODE_DISABLE', $event)
                "
                [min]="20"
                [max]="500"
                [step]="1"
                [snapValues]="[150]"
                [snapDistance]="25"
                #onSleepDisableSlider
              ></app-slider-setting>
            </app-setting-row>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
