<div class="pane">
  <div class="pane-title" translate>settings.updates.title</div>
  <div class="pane-content">
    <div class="setting-view-container">
      <div class="setting-category">
        <div class="updates-disabled" *ngIf="FLAVOUR !== 'STANDALONE'">
          <img src="/assets/img/icon_150x150.png" *ngIf="FLAVOUR === 'DEV'" />
          <img
            src="/assets/img/steam_icon.png"
            *ngIf="FLAVOUR === 'STEAM' || FLAVOUR === 'STEAM_CN'"
          />
          <span *ngIf="FLAVOUR === 'DEV'" translate>settings.updates.updatesDisabled.DEV</span>
          <span *ngIf="FLAVOUR === 'STEAM' || FLAVOUR === 'STEAM_CN'" translate
            >settings.updates.updatesDisabled.STEAM</span
          >
        </div>
      </div>
      <div class="setting-category">
        <h2 translate>settings.updates.changelog</h2>
        <div class="pane-changelog" [innerHtml]="changelog"></div>
      </div>
    </div>
  </div>
</div>
