@import 'shadows';
@import 'effects';

.brightness-slider {
  &-bar-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .brightness-type-icon {
      margin-right: 1em;
    }

    .brightness-level-icon {
      opacity: 0.6;

      &:first-of-type {
      }

      &-last-of-type {
      }
    }
  }

  &-bar {
    flex: 1;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    margin: 0 1em;
    justify-content: flex-start;
    height: 2.5em;
    border-radius: 9999999px;
    @include shadow(5, true);
    border: 0.15em solid var(--color-surface-4);
    backdrop-filter: blur(4px);
    background-color: color-mix(in srgb, var(--color-surface-1) 0%, transparent);
    color: var(--color-text-1);
    @include pane-radial-gradient(#fff, #fff, 3%);
    transition: all 0.15s ease;
    --inner-background-color: #ffffff19;

    &:not(.disabled) {
      cursor: pointer;
    }

    &:hover {
      --inner-background-color: #ffffff33;
    }

    &:active {
      --inner-background-color: #ffffff25;
    }

    &.cct {
      overflow: hidden;

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 25%;
        top: 75%;
        left: 0;
        background: var(--gradient-cct);
      }

      .brightness-slider-bar-label {
        transform: translateY(-0.25em);
      }
    }

    &-inner {
      position: absolute;
      width: 0;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 9999999px;
      background-color: var(--inner-background-color);
      border: 0.15em solid color-mix(in srgb, var(--color-surface-5) 50%, var(--color-surface-4));
      @include shadow(5, true);
      transition: background-color 0.15s ease;

      &:not(.dragging):not(.transition-active) {
        transition: background-color 0.15s ease, width 0.3s ease;
      }
    }

    &-label {
      padding: 0 0.75em;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      font-weight: 700;
      white-space: nowrap;
    }


    &-range-guide {
      position: absolute;
      top: 0;
      left: 2.5em;
      height: 100%;
      width: calc(100% - 3.75em);
    }

    .colortemp-icon {
      width: 0.5em;
      height: 0.5em;
      border-radius: 999999px;
      background: orange;
      margin-right: 0.25em;
    }
  }
}
