<div class="setting-category">
  <p translate>oscAutomations.general.description</p>
  <div class="settings">
    <div class="setting-row">
      <div class="setting-row-label" translate>
        <span translate>oscAutomations.general.onSleepEnable.title</span>
        <span translate>oscAutomations.general.onSleepEnable.description</span>
      </div>
      <div class="setting-row-action">
        <app-osc-script-button
          [label]="'oscAutomations.general.onSleepEnable.script'"
          [script]="config.onSleepModeEnable"
          (scriptChange)="setOscScript('onSleepModeEnable', $event)"
        ></app-osc-script-button>
      </div>
    </div>
    <div class="setting-row">
      <div class="setting-row-label" translate>
        <span translate>oscAutomations.general.onSleepDisable.title</span>
        <span translate>oscAutomations.general.onSleepDisable.description</span>
      </div>
      <div class="setting-row-action">
        <app-osc-script-button
          [label]="'oscAutomations.general.onSleepDisable.script'"
          [script]="config.onSleepModeDisable"
          (scriptChange)="setOscScript('onSleepModeDisable', $event)"
        ></app-osc-script-button>
      </div>
    </div>
  </div>
</div>
