<div class="setting-category">
  <p translate>sleep-detection.disableAutomations.description</p>
  <div class="settings">
    <div class="setting-row">
      <div class="setting-row-label" translate>
        <span translate>sleep-detection.disableAutomations.atTime</span>
        <span>
          @if (automationConfigs.SLEEP_MODE_DISABLE_AT_TIME.time) {
            <span [@fade]>
              {{ automationConfigs.SLEEP_MODE_DISABLE_AT_TIME.time }}
            </span>
          }
        </span>
      </div>
      <div class="setting-row-action">
        <button class="btn btn-automation-settings" (click)="openModal_DisableSleepModeAtTime()">
          <i class="material-icons">settings</i>
        </button>
        <label class="switch-toggle">
          <input
            type="checkbox"
            [checked]="automationConfigs.SLEEP_MODE_DISABLE_AT_TIME.enabled"
            (change)="toggleAutomation('SLEEP_MODE_DISABLE_AT_TIME')"
          />
          <span class="switch-toggle-slider"></span>
        </label>
      </div>
    </div>

    <div class="setting-row">
      <div class="setting-row-label" translate>
        <span translate>sleep-detection.disableAutomations.afterTime.title</span>
        <span>
          @if (automationConfigs.SLEEP_MODE_DISABLE_AFTER_TIME.duration) {
            <span @fade>
              {{ getStringForDuration(automationConfigs.SLEEP_MODE_DISABLE_AFTER_TIME.duration) }}
            </span>
          }
        </span>
      </div>
      <div class="setting-row-action">
        <button class="btn btn-automation-settings" (click)="openModal_DisableSleepModeAfterTime()">
          <i class="material-icons">settings</i>
        </button>
        <label class="switch-toggle">
          <input
            type="checkbox"
            [checked]="automationConfigs.SLEEP_MODE_DISABLE_AFTER_TIME.enabled"
            (change)="toggleAutomation('SLEEP_MODE_DISABLE_AFTER_TIME')"
          />
          <span class="switch-toggle-slider"></span>
        </label>
      </div>
    </div>

    <div class="setting-row">
      <div class="setting-row-label" translate>
        <span translate>sleep-detection.disableAutomations.onDevicePowerOn</span>
        <span>{{
          deviceClassesToString(
            automationConfigs.SLEEP_MODE_DISABLE_ON_DEVICE_POWER_ON.triggerClasses,
            'sleep-detection.modals.disableOnDevicePowerOn.'
          )
        }}</span>
      </div>
      <div class="setting-row-action">
        <button
          class="btn btn-automation-settings"
          (click)="openModal_DisableSleepModeOnDevicePowerOn()"
        >
          <i class="material-icons">settings</i>
        </button>
        <label class="switch-toggle">
          <input
            type="checkbox"
            [checked]="automationConfigs.SLEEP_MODE_DISABLE_ON_DEVICE_POWER_ON.enabled"
            (change)="toggleAutomation('SLEEP_MODE_DISABLE_ON_DEVICE_POWER_ON')"
          />
          <span class="switch-toggle-slider"></span>
        </label>
      </div>
    </div>

    <div class="setting-row">
      <div class="setting-row-label" translate>
        <span translate>sleep-detection.disableAutomations.onSteamVRStop</span>
        <span> </span>
      </div>
      <div class="setting-row-action">
        <label class="switch-toggle">
          <input
            type="checkbox"
            [checked]="automationConfigs.SLEEP_MODE_CHANGE_ON_STEAMVR_STATUS.disableOnSteamVRStop"
            (change)="
              toggleAutomation('SLEEP_MODE_CHANGE_ON_STEAMVR_STATUS', 'disableOnSteamVRStop')
            "
          />
          <span class="switch-toggle-slider"></span>
        </label>
      </div>
    </div>

    <div class="setting-row">
      <div class="setting-row-label" translate>
        <span translate>sleep-detection.disableAutomations.onUprightPose</span>
        <span> </span>
      </div>
      <div class="setting-row-action">
        <button
          class="btn btn-automation-settings"
          (click)="openModal_DisableSleepModeOnUprightPose()"
        >
          <i class="material-icons">settings</i>
        </button>
        <label class="switch-toggle">
          <input
            type="checkbox"
            [checked]="automationConfigs.SLEEP_MODE_DISABLE_ON_UPRIGHT_POSE.enabled"
            (change)="toggleAutomation('SLEEP_MODE_DISABLE_ON_UPRIGHT_POSE', 'enabled')"
          />
          <span class="switch-toggle-slider"></span>
        </label>
      </div>
    </div>

    <div class="setting-row">
      <div class="setting-row-label" translate>
        <span translate>sleep-detection.disableAutomations.onPlayerJoinOrLeave</span>
        <span> </span>
      </div>
      <div class="setting-row-action">
        <button
          class="btn btn-automation-settings"
          (click)="openModal_DisableSleepModeOnPlayerJoinOrLeave()"
        >
          <i class="material-icons">settings</i>
        </button>
        <label class="switch-toggle">
          <input
            type="checkbox"
            [checked]="automationConfigs.SLEEP_MODE_DISABLE_ON_PLAYER_JOIN_OR_LEAVE.enabled"
            (change)="toggleAutomation('SLEEP_MODE_DISABLE_ON_PLAYER_JOIN_OR_LEAVE', 'enabled')"
          />
          <span class="switch-toggle-slider"></span>
        </label>
      </div>
    </div>
  </div>
</div>
