<div class="pane" (clickOutside)="close()" @fadeRight>
  <div class="pane-title" translate>audio-volume-automations.picker.title</div>
  <div class="pane-content no-padding">
    <div class="tab-bar">
      <div class="tab" [class.active]="deviceType === 'Render'" (click)="deviceType = 'Render'">
        <div class="tab-label">
          <i class="material-icons-round">volume_up</i>
        </div>
      </div>
      <div class="tab" [class.active]="deviceType === 'Capture'" (click)="deviceType = 'Capture'">
        <div class="tab-label">
          <i class="material-icons-round">mic</i>
        </div>
      </div>
    </div>
    @if (!(options | async)?.length) {
      <div class="no-audio-devices">
        <div class="no-audio-devices-icon">
          <i class="material-icons-round">volume_off</i>
        </div>
        @if (deviceType === 'Capture') {
          <div class="no-audio-devices-label" translate>
            audio-volume-automations.picker.noCaptureDevices
          </div>
        }
        @if (deviceType === 'Render') {
          <div class="no-audio-devices-label" translate>
            audio-volume-automations.picker.noPlaybackDevices
          </div>
        }
      </div>
    }
    @if ((options | async)?.length) {
      <div class="audio-devices">
        @for (device of options | async; track device) {
          <div
            class="audio-device"
            [class.disabled]="(disablePersistentIds || []).includes(device.persistentId!)"
          >
            <div class="audio-device-icon">
              @if (device.deviceType === 'Render') {
                <i class="material-icons-round">volume_up</i>
              }
              @if (device.deviceType === 'Capture') {
                <i class="material-icons-round">mic</i>
              }
            </div>
            <div class="audio-device-name">
              @if (device.persistentId?.startsWith('DEFAULT_')) {
                <div class="audio-device-name-label"
                  ><b translate>audio-volume-automations.picker.defaultDevice</b>
                </div>
              }
              <div class="audio-device-name-label">{{ device.parsedName!.display }}</div>
              @if (device.parsedName!.driver) {
                <div class="audio-device-name-label">{{ device.parsedName!.driver }} </div>
              }
            </div>
            <div class="audio-device-actions">
              <button
                class="btn btn-secondary btn-add"
                (click)="selectDevice(device)"
                [disabled]="(disablePersistentIds || []).includes(device.persistentId!)"
              >
                <i class="material-icons-round">add</i>
              </button>
            </div>
          </div>
        }
      </div>
    }
  </div>
</div>
