<div class="pane" (clickOutside)="close()" @fadeRight>
  <div class="pane-title" transloco="audio-volume-automations.picker.title"></div>
  <div class="pane-content no-padding">
    <div class="tab-bar">
      <div class="tab" [class.active]="deviceType === 'Render'" (click)="deviceType = 'Render'">
        <div class="tab-label">
          <app-icon name="volume" />
        </div>
      </div>
      <div class="tab" [class.active]="deviceType === 'Capture'" (click)="deviceType = 'Capture'">
        <div class="tab-label">
          <app-icon name="mic" />
        </div>
      </div>
    </div>
    @if (!(options | async)?.length) {
      <div class="no-audio-devices">
        <div class="no-audio-devices-icon">
          <app-icon name="volume-off" />
        </div>
        @if (deviceType === 'Capture') {
          <div
            class="no-audio-devices-label"
            transloco="audio-volume-automations.picker.noCaptureDevices"
          ></div>
        }
        @if (deviceType === 'Render') {
          <div
            class="no-audio-devices-label"
            transloco="audio-volume-automations.picker.noPlaybackDevices"
          ></div>
        }
      </div>
    }
    @if ((options | async)?.length) {
      <div class="audio-devices">
        @for (device of options | async; track device) {
          <div
            class="audio-device"
            [class.disabled]="(disablePersistentIds || []).includes(device.persistentId!)"
          >
            <div class="audio-device-icon">
              @if (device.deviceType === 'Render') {
                <app-icon name="volume" />
              }
              @if (device.deviceType === 'Capture') {
                <app-icon name="mic" />
              }
            </div>
            <div class="audio-device-name">
              @if (device.persistentId?.startsWith('DEFAULT_')) {
                <div class="audio-device-name-label"
                  ><b transloco="audio-volume-automations.picker.defaultDevice"></b>
                </div>
              }
              <div class="audio-device-name-label">{{ device.parsedName!.display }}</div>
              @if (device.parsedName!.driver) {
                <div class="audio-device-name-label">{{ device.parsedName!.driver }} </div>
              }
            </div>
            <div class="audio-device-actions">
              <button
                class="btn btn-secondary btn-add"
                (click)="selectDevice(device)"
                [disabled]="(disablePersistentIds || []).includes(device.persistentId!)"
              >
                <app-icon name="add" />
              </button>
            </div>
          </div>
        }
      </div>
    }
  </div>
</div>
