<div class="pane" (clickOutside)="close()" @fadeRight>
  <div class="pane-title" translate>audio-volume-automations.picker.title</div>
  <div class="pane-content no-padding">
    <div class="tab-bar">
      <div class="tab" [class.active]="deviceType === 'Render'" (click)="deviceType = 'Render'">
        <div class="tab-label">
          <i class="material-icons-round">volume_up</i>
        </div>
      </div>
      <div class="tab" [class.active]="deviceType === 'Capture'" (click)="deviceType = 'Capture'">
        <div class="tab-label">
          <i class="material-icons-round">mic</i>
        </div>
      </div>
    </div>
    <div class="no-audio-devices" *ngIf="!(options | async)?.length">
      <div class="no-audio-devices-icon">
        <i class="material-icons-round">volume_off</i>
      </div>
      <div class="no-audio-devices-label" translate *ngIf="deviceType === 'Capture'">
        audio-volume-automations.picker.noCaptureDevices
      </div>
      <div class="no-audio-devices-label" translate *ngIf="deviceType === 'Render'">
        audio-volume-automations.picker.noPlaybackDevices
      </div>
    </div>
    <div class="audio-devices" *ngIf="(options | async)?.length">
      <div
        class="audio-device"
        *ngFor="let device of options | async"
        [class.disabled]="(disablePersistentIds || []).includes(device.persistentId!)"
      >
        <div class="audio-device-icon">
          <i class="material-icons-round" *ngIf="device.deviceType === 'Render'">volume_up</i>
          <i class="material-icons-round" *ngIf="device.deviceType === 'Capture'">mic</i>
        </div>
        <div class="audio-device-name">
          <div class="audio-device-name-label" *ngIf="device.persistentId?.startsWith('DEFAULT_')"
            ><b translate>audio-volume-automations.picker.defaultDevice</b>
          </div>
          <div class="audio-device-name-label">{{ device.parsedName!.display }}</div>
          <div class="audio-device-name-label" *ngIf="device.parsedName!.driver"
            >{{ device.parsedName!.driver }}
          </div>
        </div>
        <div class="audio-device-actions">
          <button
            class="btn btn-secondary btn-add"
            (click)="selectDevice(device)"
            [disabled]="(disablePersistentIds || []).includes(device.persistentId!)"
          >
            <i class="material-icons-round">add</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
