<div class="pane">
  <div class="pane-title" transloco="settings.integrations.title"></div>
  <div class="pane-content">
    <div class="setting-view-container">
      <p transloco="settings.integrations.description"></p>
      <div class="setting-category">
        <div class="settings">
          <div class="setting-row">
            <div class="setting-row-icon">
              <a href="https://vrchat.com/" target="_blank">
                <img class="vrchat-logo clickable-logo" src="/assets/img/vrc_icon.png" />
              </a>
            </div>
            <div class="setting-row-label">
              <span [innerHtml]="'settings.integrations.vrchat.title' | transloco"></span>
              <span [innerHtml]="'settings.integrations.vrchat.description' | transloco"></span>
              <a
                target="_blank"
                href="https://vrchat.com"
                transloco="settings.integrations.providerLink"
              ></a>
            </div>
            <div class="setting-row-action">
              @if (vrchat.user | async) {
                <div class="connected" @hshrink>
                  <div class="connected-info">
                    <i class="material-icons-round">check_circle</i>
                    <div class="connected-info-account">
                      {{ (vrchat.user | async)?.displayName }}
                    </div>
                  </div>
                  <button
                    class="btn btn-secondary connected-disconnect"
                    (click)="vrchat.logout()"
                    transloco="settings.integrations.disconnect"
                  ></button>
                </div>
              }
              @if ((vrchat.user | async) === null) {
                <button
                  class="btn btn-primary"
                  (click)="vrchat.showLoginModal()"
                  transloco="settings.integrations.connect"
                  @hshrink
                ></button>
              }
            </div>
          </div>

          <div class="setting-row">
            <div class="setting-row-icon">
              <a
                [href]="'https://pulsoid.net/pricing?promo_campaign_id=' + PULSOID_REFERRAL_ID"
                target="_blank"
              >
                <img class="pulsoid-logo clickable-logo" src="/assets/img/pulsoid-logo.png" />
              </a>
            </div>
            <div class="setting-row-label">
              <span [innerHtml]="'settings.integrations.pulsoid.title' | transloco"></span>
              <span [innerHtml]="'settings.integrations.pulsoid.description' | transloco"></span>
              <a
                target="_blank"
                [href]="'https://pulsoid.net/pricing?promo_campaign_id=' + PULSOID_REFERRAL_ID"
                transloco="settings.integrations.providerLink"
              ></a>
            </div>
            <div class="setting-row-action">
              @if (pulsoid.loggedInUser | async) {
                <div class="connected" @hshrink>
                  <div
                    class="connected-info"
                    [tooltip]="'settings.integrations.reveal'"
                    [tooltipMode]="'top'"
                  >
                    <i class="material-icons-round">check_circle</i>
                    <div
                      class="connected-info-account obfuscated"
                      [obfuscatedValue]="(pulsoid.loggedInUser | async) ?? ''"
                      [obfuscatedMaxLength]="16"
                      [deobfuscatedMaxLength]="32"
                      [deobfuscate]="deobfuscated.includes('PULSOID')"
                      (click)="deobfuscate('PULSOID')"
                    ></div>
                  </div>
                  <button
                    class="btn btn-secondary connected-disconnect"
                    (click)="pulsoid.logout()"
                    transloco="settings.integrations.disconnect"
                  ></button>
                </div>
              }
              @if ((pulsoid.loggedInUser | async) === null) {
                <div @hshrink class="connect-row">
                  <button
                    class="btn btn-copy btn-secondary"
                    tooltip="settings.integrations.copy"
                    tooltipMode="left"
                    (click)="copyToClipboard('PULSOID')"
                  >
                    @if (!copiedToClipboard.includes('PULSOID')) {
                      <i class="material-icons" @hshrink>copy_all</i>
                    }
                    @if (copiedToClipboard.includes('PULSOID')) {
                      <i class="material-icons success" @hshrink>check</i>
                    }
                  </button>
                  <button
                    class="btn btn-primary"
                    (click)="pulsoid.login()"
                    transloco="settings.integrations.connect"
                  ></button>
                </div>
              }
            </div>
          </div>

          <div class="setting-row">
            <div class="setting-row-icon">
              <a href="https://www.home-assistant.io/" target="_blank">
                <img class="hass-logo clickable-logo" src="/assets/img/hass_logo.png" />
              </a>
            </div>
            <div class="setting-row-label">
              <span [innerHtml]="'settings.integrations.homeAssistant.title' | transloco"></span>
              <span
                [innerHtml]="'settings.integrations.homeAssistant.description' | transloco"
              ></span>
              <a
                target="_blank"
                href="https://www.home-assistant.io/"
                transloco="settings.integrations.providerLink"
              ></a>
            </div>
            @if (
              {
                mqttClient: (mqttService.client | async),
              };
              as data
            ) {
              <div class="setting-row-action">
                @if (data.mqttClient) {
                  <div class="connected" @hshrink>
                    <div class="connected-info">
                      <i class="material-icons-round">check_circle</i>
                      <div class="connected-info-account">
                        {{ data.mqttClient.options.host }}
                      </div>
                    </div>
                    <button
                      class="btn btn-secondary connected-disconnect"
                      (click)="showMqttConfigModal()"
                      transloco="settings.integrations.configure"
                      @hshrink
                    ></button>
                  </div>
                }
                @if (!data.mqttClient) {
                  <button
                    class="btn btn-primary"
                    (click)="showMqttConfigModal()"
                    transloco="settings.integrations.configure"
                    @hshrink
                  ></button>
                }
              </div>
            }
          </div>
        </div>
      </div>

      <div class="setting-category">
        <h2 transloco="settings.integrations.discord.title"></h2>
        <div class="settings">
          <div class="setting-row">
            <div class="setting-row-label">
              <span transloco="settings.integrations.discord.activityMode.title"></span>
              <span transloco="settings.integrations.discord.activityMode.description"></span>
            </div>
            <div class="setting-row-action">
              <app-select-box
                [type]="'SMALL'"
                class="discord-activity-mode-dropdown"
                [items]="discordActivityModeOptions"
                [selected]="discordActivityModeOption"
                (selectedChange)="onChangeDiscordActivityMode($event)"
              ></app-select-box>
            </div>
          </div>
          <div class="setting-row-group">
            <div class="setting-row">
              <div class="setting-row-label">
                <span
                  transloco="settings.integrations.discord.activityModeVRCCondition.title"
                ></span>
                <span></span>
              </div>
              <div class="setting-row-action">
                <label class="switch-toggle">
                  <input
                    type="checkbox"
                    [checked]="appSettings.discordActivityOnlyWhileVRChatIsRunning"
                    (change)="
                      setDiscordActivityOnlyWhenVRChatIsRunning(
                        !appSettings.discordActivityOnlyWhileVRChatIsRunning
                      )
                    "
                  />
                  <span class="switch-toggle-slider"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="setting-category">
        <h2 transloco="settings.integrations.vrcx.title"></h2>
        <div class="settings">
          <div class="setting-row">
            <div class="setting-row-label">
              <span transloco="settings.integrations.vrcx.sleepModeChanges.title"></span>
              <span transloco="settings.integrations.vrcx.sleepModeChanges.description"></span>
            </div>
            <div class="setting-row-action">
              <label class="switch-toggle">
                <input
                  type="checkbox"
                  [checked]="appSettings.vrcxLogsEnabled.includes('SleepMode')"
                  (change)="toggleVrcxLogSleepMode()"
                />
                <span class="switch-toggle-slider"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
