@use 'shadows';

.pane {
  margin-top: 16px;
  max-height: calc(100vh - 4em - 32px);
  width: 50em;
}

.pane-content {
  white-space: pre-wrap;
  overflow-y: auto;
}

.video-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: 100%;

  &-inner {
    position: relative;
    border-radius: calc(var(--surface-border-radius) * 2);
    overflow: hidden;
    --width: 45em;
    width: var(--width);
    height: calc(594 / 798 * var(--width));
    @include shadows.shadow(5, true);

    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
