@if (config) {
  <div class="label">
    @if (config?.changeColorTemperature && cctControlEnabled) {
      <div class="colortemp-container" @hshrink>
        <div
          class="colortemp-icon"
          [style.background-color]="getCSSColorForCCT(config.colorTemperature)"
        ></div>
        <span class="monospace">{{ config.colorTemperature }}K</span>
      </div>
    }
    @if (config?.changeBrightness) {
      <div class="brightness-container" @hshrink>
        @if (!advancedMode) {
          <div class="brightness-value" @vshrink>
            <span class="monospace">{{ config.brightness }}%</span>
            <i class="material-icons">brightness_6</i>
          </div>
        }
        @if (advancedMode) {
          <div class="brightness-value" @vshrink>
            <span class="monospace">{{ config.softwareBrightness }}%</span>
            <i class="material-symbols-outlined icon-filled">image</i>
          </div>
        }
        @if (advancedMode) {
          <div class="brightness-value" @vshrink>
            <span class="monospace">{{ config.hardwareBrightness }}%</span>
            <i class="material-symbols-outlined">monitor</i>
          </div>
        }
      </div>
    }
    <div class="icon">
      <i class="material-symbols-outlined icon-filled"> settings </i>
    </div>
  </div>
}
