@if (config) {
  <div class="label">
    @if (config.changeColorTemperature && cctControlEnabled) {
      <div class="colortemp-container" @hshrink>
        <div
          class="colortemp-icon"
          [style.background-color]="getCSSColorForCCT(config.colorTemperature)"
        ></div>
        <span class="monospace">{{ config.colorTemperature }}K</span>
      </div>
    }
    @if (config.changeBrightness) {
      <div class="brightness-container" @hshrink>
        @if (!advancedMode) {
          <div class="brightness-value" @vshrink>
            <span class="monospace">{{ config.brightness }}%</span>
            <app-icon name="brightness" />
          </div>
        }
        @if (advancedMode) {
          <div class="brightness-value" @vshrink>
            <span class="monospace">{{ config.softwareBrightness }}%</span>
            <app-icon name="image" />
          </div>
        }
        @if (advancedMode) {
          <div class="brightness-value" @vshrink>
            <span class="monospace">{{ config.hardwareBrightness }}%</span>
            <app-icon name="monitor" />
          </div>
        }
      </div>
    }
    <div class="icon">
      <app-icon name="settings" />
    </div>
  </div>
}
