<div class="pane modal modal-xl" @fadeUp>
  <div class="pane-title" translate [translateParams]="{ deviceName: getDisplayName() }">
    device-manager.config.title
  </div>
  <div class="pane-content">
    <div class="settings">
      <!-- Nickname Section -->
      <div class="setting-row">
        <div class="setting-row-label">
          <span translate>device-manager.config.nickname.title</span>
          <span translate>device-manager.config.nickname.description</span>
        </div>
        <div class="setting-row-action">
          <div class="nickname-input">
            <div class="input-wrapper">
              <input
                type="text"
                [placeholder]="device.defaultName"
                [(ngModel)]="nickname"
                [maxlength]="32"
                />
            </div>
            @if (nickname) {
              <button
                class="btn-clear"
                (click)="clearNickname()"
                [tooltip]="'Clear nickname'"
                [tooltipMode]="'left'"
                >
                <i class="material-icons">clear</i>
              </button>
            }
          </div>
        </div>
      </div>

      <!-- Tags Section -->
      <div class="setting-row">
        <div class="setting-row-label">
          <span translate>device-manager.config.tags.title</span>
          <span translate>device-manager.config.tags.description</span>
        </div>
        <div class="setting-row-action">
          <div class="tag-selector">
            @if (availableTags.length > 0) {
              <div class="available-tags">
                @for (tag of availableTags; track trackTagBy($index, tag)) {
                  <div
                    class="tag-item"
                    [class.selected]="isTagAssigned(tag)"
                    (click)="toggleTag(tag)"
                    >
                    <div class="tag-color" [style.background-color]="tag.color"></div>
                    <span class="tag-name">{{ tag.name }}</span>
                    @if (isTagAssigned(tag)) {
                      <i class="material-icons tag-check">check</i>
                    }
                  </div>
                }
              </div>
            }
            @if (availableTags.length === 0) {
              <div class="no-tags" translate>
                device-manager.config.tags.noTags
              </div>
            }
          </div>
        </div>
      </div>

      <!-- Hidden Section -->
      <div class="setting-row">
        <div class="setting-row-label">
          <span translate>device-manager.config.disabled.title</span>
          <span translate>device-manager.config.disabled.description</span>
        </div>
        <div class="setting-row-action">
          <label class="switch-toggle">
            <input type="checkbox" [checked]="device.disabled" (change)="toggleDisabled()" />
            <span class="switch-toggle-slider"></span>
          </label>
        </div>
      </div>

      <!-- Lighthouse V1 Identifier Section -->
      @if (v1LighthouseMode !== 'NONE') {
        <div class="setting-row">
          <div class="setting-row-label" translate>
            <span translate>device-manager.config.v1Identifier.title</span>
            <span translate>device-manager.config.v1Identifier.description</span>
          </div>
          <div class="setting-row-action">
            <button
              class="btn"
              (click)="openLighthouseV1IdWizard()"
              [ngClass]="v1LighthouseMode === 'NEEDS_ID' ? 'btn-primary' : 'btn-secondary'"
              >
              {{
              (v1LighthouseMode === 'NEEDS_ID'
              ? 'device-manager.config.v1Identifier.set'
              : 'device-manager.config.v1Identifier.change'
              ) | translate
              }}
            </button>
          </div>
        </div>
      }
    </div>
  </div>
  <div class="pane-actions spread">
    <button class="btn btn-secondary" (click)="close()" translate> shared.modals.close </button>
  </div>
</div>
