.alert {
  position: relative;
  padding: 0.5em;
  border-radius: 0.5em;
  overflow: hidden;
  border: 1px solid var(--color-alert-info);
  display: flex;
  flex-direction: row;
  align-items: center;

  &-bg {
    background: var(--color-alert-info);
    color: var(--color-on-alert-info);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 1;
  }

  &-icon {
    position: relative;
    z-index: 2;
    margin-right: 0.5em;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
  }

  &-content {
    position: relative;
    z-index: 2;
    flex: 1;

    strong {
      background: var(--color-surface-2);
      border-radius: 0.25em;
      padding: 0.125em 0.25em;
      font-weight: 500;
    }
  }

  &.success {
    border-color: var(--color-alert-success);
    .alert-bg {
      background: var(--color-alert-success);
      color: var(--color-on-alert-success);
    }
  }

  &.error {
    border-color: var(--color-alert-error);
    .alert-bg {
      background: var(--color-alert-error);
      color: var(--color-on-alert-error);
    }
  }
}
