button.btn-power-off {
  background: var(--color-surface-1);
  color: var(--color-text-2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25em;
  border: 1px solid transparent;
  position: relative;
  transition: all 0.1s ease;
  padding: 0.25em 0.25em;
  overflow: hidden;

  &:disabled {
    color: var(--color-text-4);
  }

  &:not(:disabled) {
    &:hover {
      background: var(--color-alert-error);
      color: var(--color-on-alert-error);
    }

    &:active:after {
      opacity: 0.25;
    }
  }

  &:after {
    content: '';
    transition: opacity 0.1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
  }
}

a.btn,
button.btn {
  --scoped-bg-color: var(--color-surface);
  --scoped-color: var(--color-on-surface);

  font-size: 1em;
  font-weight: 500;
  outline: none;
  border: none;
  transition: all 0.15s ease;
  padding: 0.4em 1em;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--scoped-bg-color);
  color: var(--scoped-color);
  border-radius: 0.5em;
  &,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: var(--scoped-color);
    text-decoration: none;
  }

  i.material-icons:not(:last-child),
  i.material-icons-round:not(:last-child) {
    margin: -0.25em 0.25em -0.25em -0.25em;
  }

  &:disabled {
    opacity: 0.5;
  }

  &:not(:disabled) {
    cursor: pointer;

    &:active {
      transform: translateY(1px);
    }
  }

  &.btn-icon {
    padding: 0.4em 0.4em;

    .material-icons,
    .material-icons-round {
      font-size: 1em;
    }
  }

  &.btn-primary {
    --scoped-bg-color: var(--color-primary);
    --scoped-color: var(--color-on-primary);

    &:not(:disabled):hover {
      --scoped-bg-color: var(--color-primary-hover);
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  &.btn-secondary {
    --scoped-bg-color: var(--color-secondary);
    --scoped-color: var(--color-on-secondary);

    &:not(:disabled):hover {
      --scoped-bg-color: var(--color-secondary-hover);
    }

    body.dark & {
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  &.btn-caution {
    --scoped-bg-color: var(--color-caution);
    --scoped-color: var(--color-on-caution);

    &:not(:disabled):hover {
      --scoped-bg-color: var(--color-caution-hover);
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  &.btn-unavailable {
    --scoped-bg-color: var(--color-button-unavailable);
    --scoped-color: var(--color-on-button-unavailable);
  }
}
