///
/// AUTOMATIONS
///
.automation-settings {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  &-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    &:not(:last-child) {
      padding-bottom: 1em;
    }
    &-label {
      flex: 1;
    }
    &-controls {
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      input {
        text-align: right;
      }
    }
  }
}
///
/// Settings Layout
///

.settings {
  display: flow-root;
  margin-bottom: 1em;
  background: var(--color-surface-1);
  border-radius: 0.5em;

  & > * {
    transition: all 0.15s ease;
  }

  & > .alert {
    margin: 1em;
  }

  &.disabled {
    pointer-events: none;

    & > *:not(.alert) {
      opacity: 0.5;
    }
  }

  .setting-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;

    .setting-row-label {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      flex: 1;

      > span:first-child {
        color: var(--color-text-1);
        margin-bottom: 0.25em;
      }

      > span:last-child {
        color: var(--color-text-3);
      }
    }

    .setting-row-action {
      flex-shrink: 0;
      margin-left: 1em;
      padding: 0 1em;
      display: flex;
      flex-direction: row;
      align-items: center;

      & > * {
        &:not(:last-child) {
          margin-right: 0.5em;
        }
      }
    }
  }
}
