.small-spinner {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
}
.small-spinner:after {
  content: ' ';
  display: block;
  margin: 0.1em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 2px solid var(--color-text-2);
  border-color: var(--color-text-2) transparent var(--color-text-2) transparent;
  animation: small-spinner 0.75s linear infinite;
}
@keyframes small-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


