:host {
  overflow-y: overlay;
  flex: 1;
}

.description-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  p {
    flex: 1;
  }
  img {
    background: var(--color-surface-1);
    padding: 1em;
    border-radius: 1em;
    flex-shrink: 0;
    width: 12em;
    height: 12em;
    margin-left: 2em;
  }
}

.file-path-bar + .alert {
  margin-bottom: 1em;
}

app-select-box {
  min-width: 8em;
}
p::ng-deep strong {
  background: var(--color-surface-1);
  border-radius: 0.25em;
  padding: 0.125em 0.25em;
  font-weight: 500;
}
.alert {
  text-align: left;
  .alert-content {
    align-items: center;
    div {
      flex: 1;
    }
    button {
      margin-left: 2em;
    }
  }
  &.error {
    margin-bottom: 1em;
  }
}
