.pane {
  height: 100%;

  &-content {
    padding: 2em;
    overflow-y: overlay;
  }
}

app-slider-setting {
  transition: all .15s ease;

  &.disabled {
    opacity: .5;
    pointer-events: none;
  }
}
