<div *ngIf="powerLimit" [@vshrink]>
  <div class="default-toggle">
    <label class="check-toggle">
      <input type="checkbox" [checked]="powerLimit.default" (change)="toggleDefault()" />
      <span class="check-toggle-checkmark"></span>
      <span class="check-toggle-label" translate>
        <span translate>gpu-automations.inputDefault</span>
        <br />
        ({{ defaultPowerLimit | floor }}W /
        {{ (defaultPowerLimit / maxPowerLimit) * 100 | floor }}%)
      </span>
    </label>
  </div>
  <div class="input-container" [class.input-disabled]="powerLimit.default">
    <div class="label-container">
      <div class="label label-value-absolute">{{ powerLimit.limit | floor }}W</div>
      <div class="label label-value-percentage">
        {{ (powerLimit.limit / maxPowerLimit) * 100 | floor }}%
      </div>
    </div>
    <div class="slider-container">
      <input
        type="range"
        [min]="minPowerLimit"
        [max]="maxPowerLimit"
        [value]="powerLimit.limit"
        class="slider"
        (input)="onSliderChange(slider.value, false)"
        (change)="onSliderChange(slider.value, true)"
        #slider
      />
    </div>
    <div class="label-container">
      <span>{{ minPowerLimit | floor }}W</span>
      <span>{{ maxPowerLimit | floor }}W</span>
    </div>
  </div>
</div>
