<div class="pane modal-lg" [@fadeUp]>
  <div class="pane-title" translate>sleep-detection.modals.enableForSleepDetector.title</div>
  <div class="pane-content">
    <p translate>sleep-detection.modals.enableForSleepDetector.description</p>
    <div class="settings">

      <div class="setting-row">
        <div class="setting-row-label" translate>
          <span translate>sleep-detection.modals.enableForSleepDetector.calibration.title</span>
          <span translate>sleep-detection.modals.enableForSleepDetector.calibration.description</span>
        </div>
        <div class="setting-row-action">
          <button class="btn btn-primary" (click)="calibrate()" translate>
            sleep-detection.modals.enableForSleepDetector.calibration.action
          </button>
        </div>
      </div>

      <div class="setting-row">
        <div class="setting-row-label" translate>
          <span translate>sleep-detection.modals.enableForSleepDetector.sensitivity.title</span>
          <span translate>sleep-detection.modals.enableForSleepDetector.sensitivity.description</span>
        </div>
        <div class="setting-row-action">
          <app-select-box
            type="SMALL"
            [items]="sensitivityOptions"
            [selected]="sensitivityOption"
            (selectedChange)="setSensitivityOption($event?.id)"
          ></app-select-box>
        </div>
      </div>

      <div class="setting-row">
        <div class="setting-row-label" translate>
          <span translate>sleep-detection.modals.enableForSleepDetector.sleepCheck.title</span>
          <span [innerHtml]="'sleep-detection.modals.enableForSleepDetector.sleepCheck.description' | translate"></span>
        </div>
        <div class="setting-row-action">
          <label class="switch-toggle" [class.disabled]="!notificationsEnabled">
            <input
              [checked]="automationConfigs?.SLEEP_MODE_ENABLE_FOR_SLEEP_DETECTOR?.sleepCheck && notificationsEnabled"
              (change)="toggleSleepCheck()"
              [disabled]="!notificationsEnabled"
              type="checkbox"
            />
            <span class="switch-toggle-slider"></span>
          </label>
        </div>
      </div>

    </div>
  </div>
  <div class="pane-actions spread">
    <button class="btn btn-primary" (click)="close()" translate>shared.modals.close</button>
  </div>
</div>
