@import 'shadows';

.binding-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--color-surface-0);
  border: 1px solid;
  border-color: var(--color-surface-2);
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 12px;
  transition: all 0.15s;
  padding: 0;
  min-width: 13em;

  &:hover {
    border-color: var(--color-surface-3);
  }

  &:active {
    transform: translateY(1px);
  }

  .icon-wrapper {
    padding: 1em 1em;
    flex-shrink: 0;

    img {
      width: 1.5em;
      height: 1.5em;
      vertical-align: middle;
      filter: invert(91%) sepia(2%) saturate(3440%) hue-rotate(193deg) brightness(83%)
        contrast(100%);
    }
  }

  .text-wrapper {
    font-size: 0.8em;
    text-align: left;
    color: var(--color-text-2);
    padding: 0.5em 1em 0.5em 0.25em;
    white-space: pre-line;

    .line0,
    .line2 {
      color: var(--color-text-3);
    }
  }
}

.missing-controller-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
  color: var(--color-text-2);

  .missing-controller {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1em;

    &:not(.connected) {
      animation: breathing 1s ease-out infinite normal;
    }

    > *:first-child {
      margin-right: 0.25em;
    }

    span {
      font-size: 1.5em;
      font-weight: 700;
    }

    img {
      width: 1.5em;
      height: 1.5em;
      vertical-align: middle;
      filter: invert(91%) sepia(2%) saturate(3440%) hue-rotate(193deg) brightness(83%)
        contrast(100%);
    }

    &-left {
    }

    &-right {
    }
  }
}

@keyframes breathing {
  0% {
    opacity: 0.25;
  }

  25% {
    opacity: 0.75;
  }

  60% {
    opacity: 0.4;
  }

  100% {
    opacity: 0.25;
  }
}

.dropdown-container {
  position: relative;

  .dropdown {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-surface-0);
    border: 1px solid;
    border-color: var(--color-surface-2);
    border-radius: 0.5em;
    transition: all 0.15s;
    @include shadow(5, true);
    overflow: hidden;

    &-description {
      color: var(--color-text-3);
      text-align: center;
      font-size: 0.8em;
      padding: 0.5em;
      border-bottom: 1px solid var(--color-surface-1);
    }

    .config-button {
      outline: none;
      border: none;
      font-size: 0.8em;
      white-space: pre-line;
      width: 100%;
      background: transparent;
      padding: 0.5em;
      color: var(--color-text-2);
      cursor: pointer;
      transition: all 0.15s;

      &:hover {
        background: var(--color-surface-1);
      }

      &:active {
        opacity: 0.6;
      }
    }
  }
}
