:host {
  color: var(--color-text-2);
  background: var(--color-surface-3);
  border-radius: var(--surface-border-radius);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header-bar {
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  &-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    .device-name {
    }
    .device-serial {
      color: var(--color-text-4);
    }
  }
  &-action {
    flex-shrink: 0;
  }
}

.battery-info {
  background: var(--color-surface-4);
  &-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.25em 0.75em;
    color: var(--color-text-2);
    justify-content: flex-end;
  }
  &-bar {
    height: 0.25em;
    background: var(--color-surface-1);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    &-fill {
      width: 0%;
      transition: width 0.15s ease;
      height: 100%;
      background: var(--color-primary);
    }
  }
}
