.setting-category {
  &:not(:first-child) {
    margin-top: 1em;
  }

  p {
    white-space: pre-wrap;
  }

  p::ng-deep strong {
    background: var(--color-surface-1);
    border-radius: 0.25em;
    padding: 0.125em 0.25em;
    font-weight: 500;
  }
}

.setting-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--color-surface-1);
  padding: 1em;
  border-radius: 0.5em;

  .setting-row-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1;

    > span:first-child {
      color: var(--color-text-1);
      margin-bottom: 0.25em;
    }

    > span:last-child {
      color: var(--color-text-3);
    }
  }

  .setting-row-action {
    flex-shrink: 0;
    margin-left: 1em;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
