.setting-category {
  &:not(:first-child) {
    margin-top: 1em;
  }

  p {
    white-space: pre-wrap;
  }

  p::ng-deep strong {
    background: var(--color-surface-1);
    border-radius: 0.25em;
    padding: 0.125em 0.25em;
    font-weight: 500;
  }

  h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    button {
      margin-left: 1em;
      font-size: 0.6em;
    }
  }
}
