<div class="setting-category">
  <h2 transloco="settings.integrations.vrcx.logs"></h2>
  <div class="settings">
    @for (log of vrcxLogOptions; track log.type) {
      <app-setting-row [label]="log.key + '.title'" [description]="log.key + '.description'">
        <label class="switch-toggle">
          <input
            type="checkbox"
            [checked]="appSettings.vrcxLogsEnabled.includes(log.type)"
            (change)="toggleVrcxLog(log.type)"
          />
          <span class="switch-toggle-slider"></span>
        </label>
      </app-setting-row>
    }
  </div>
</div>
