<div class="pane fill">
  <div class="pane-title" transloco="vrchatMicMuteAutomations.title"></div>
  <div class="pane-content scroll">
    <div class="setting-view-container">
      <div class="setting-category">
        <p transloco="vrchatMicMuteAutomations.description"></p>
        <h3 transloco="vrchatMicMuteAutomations.config.title"></h3>
        <div class="settings">
          <app-setting-row
            label="vrchatMicMuteAutomations.status.title"
            description="vrchatMicMuteAutomations.status.description"
          >
            @if ((automation.muted | async) === false) {
              <span @hshrink class="status">
                <span transloco="vrchatMicMuteAutomations.status.unmuted"></span>
                <i class="material-icons status-icon-unmuted">mic</i>
              </span>
            }
            @if ((automation.muted | async) === true) {
              <span @hshrink class="status">
                <span transloco="vrchatMicMuteAutomations.status.muted"></span>
                <i class="material-icons status-icon-muted">mic_off</i>
              </span>
            }
            @if ((automation.muted | async) === null) {
              <span @hshrink class="status">
                <span transloco="vrchatMicMuteAutomations.status.unknown"></span>
                <i class="material-icons status-icon-unknown">question_mark</i>
              </span>
            }
          </app-setting-row>
          <app-setting-row
            label="vrchatMicMuteAutomations.control.title"
            description="vrchatMicMuteAutomations.control.description"
          >
            <button
              class="btn btn-secondary"
              [tooltip]="'vrchatMicMuteAutomations.control.mute'"
              (click)="automation.setMute(true)"
            >
              <i class="material-icons status-icon-muted">mic_off</i>
            </button>
            <button
              class="btn btn-secondary"
              [tooltip]="'vrchatMicMuteAutomations.control.unmute'"
              (click)="automation.setMute(false)"
            >
              <i class="material-icons status-icon-unmuted">mic</i>
            </button>
          </app-setting-row>
        </div>
        <h3 transloco="vrchatMicMuteAutomations.automations.title"></h3>
        <div class="settings">
          <app-setting-row
            label="vrchatMicMuteAutomations.onSleepModeEnable.title"
            description="vrchatMicMuteAutomations.onSleepModeEnable.description"
          >
            <app-select-box
              type="SMALL"
              class="action-dropdown"
              [items]="muteActionOptions"
              [selected]="onSleepEnableMuteOption"
              (selectedChange)="onChangeMuteOption('ON_SLEEP_ENABLE', $event)"
            ></app-select-box>
          </app-setting-row>
          <app-setting-row
            label="vrchatMicMuteAutomations.onSleepModeDisable.title"
            description="vrchatMicMuteAutomations.onSleepModeDisable.description"
          >
            <app-select-box
              type="SMALL"
              class="action-dropdown"
              [items]="muteActionOptions"
              [selected]="onSleepDisableMuteOption"
              (selectedChange)="onChangeMuteOption('ON_SLEEP_DISABLE', $event)"
            ></app-select-box>
          </app-setting-row>
          <app-setting-row
            label="vrchatMicMuteAutomations.onSleepPreparation.title"
            description="vrchatMicMuteAutomations.onSleepPreparation.description"
          >
            <app-select-box
              type="SMALL"
              class="action-dropdown"
              [items]="muteActionOptions"
              [selected]="onSleepPreparationMuteOption"
              (selectedChange)="onChangeMuteOption('ON_SLEEP_PREPARATION', $event)"
            ></app-select-box>
          </app-setting-row>
        </div>
      </div>
    </div>
  </div>
</div>
