:host > .pane {
  height: 100%;

  > .pane-content {
    overflow-y: overlay;
  }
}


.action-dropdown {
  min-width: 10em;
}

.mode-dropdown {
  min-width: 10em;
}

.status-icon {
  &-muted, &-unmuted, &-unknown {
    font-size: 2em;
  }
  &-muted {
    color: var(--color-alert-error);
  }
  &-unmuted {
  }
  &-unknown {
    color: var(--color-text-3);
  }
}

.status {
  display: flex;
  flex-direction: row;
  align-items: center;
  span {
    margin-right: 0.5em;
    font-weight: 600;
  }
}
