:host {
  display: block;
  height: 100%;
}

.pane {
  height: 100%;

  .pane-title {
    padding-right: 0.75em;

    button {
      font-size: 0.75em;
    }
  }
}

.alert {
  text-align: left;

  .alert-content {
    align-items: center;

    div {
      flex: 1;
    }

    button {
      margin-left: 2em;
    }
  }

  &.error {
    margin-bottom: 1em;
  }
}

.pane-content-disabled {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  white-space: pre-wrap;

  > * {
    max-width: 40em;
  }

  .alert {
    margin-top: 2em;
  }

  .btn-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 1em;
  }

  .icon {
    font-size: 5em;
    color: var(--color-text-3);
  }

  .action {
    margin-top: 2em;
    padding: 1em 1.5em;
  }
}
