<div class="pane modal-md" [@fadeUp]>
  <div class="pane-title" transloco="sleep-detection.modals.disableAtTime.title"></div>
  <div class="pane-content">
    <p transloco="sleep-detection.modals.disableAtTime.description"></p>
    <div class="settings">
      <app-setting-row label="sleep-detection.modals.disableAtTime.time">
        <div class="input-wrapper">
          <input type="time" (change)="time = timeInput.value" [value]="time" #timeInput />
        </div>
      </app-setting-row>
    </div>
  </div>
  <div class="pane-actions spread">
    <button class="btn btn-secondary" (click)="close()" transloco="shared.modals.cancel"></button>
    <button class="btn btn-primary" (click)="save()" transloco="shared.modals.save"></button>
  </div>
</div>
