<button class='btn btn-secondary' (click)='clickBox()' [disabled]='disabled'>
  <ng-content></ng-content>
</button>
<div class="dropdown-container">
  <div class="dropdown" *ngIf="!collapsed" [@fadeDown]>
    <div
      class="dropdown-item"
      *ngFor="let item of items"
      (click)="select(item, $event)"
      [class.has-subtitle]="item.subLabel"
    >
      <div class="dropdown-item-content">
        <div class="dropdown-item-title">
          {{ item.label | tsTranslate }}
        </div>
        <div class="dropdown-item-subtitle">
          {{ item.subLabel | tsTranslate }}
        </div>
      </div>
      <a
        class="dropdown-item-info noselect"
        *ngIf="item.infoLink"
        [href]="item.infoLink"
        target="_blank"
      >
        <i class="material-icons-round noselect">info</i>
      </a>
    </div>
  </div>
</div>
