<div class="pane modal" @fadeUp>
  <div class="pane-title" translate>sleep-detection.modals.enableForSleepDetector.title</div>
  <div class="pane-content">
    <div class="pane-content-inner">
      <p translate>sleep-detection.modals.enableForSleepDetector.description</p>
      <div class="settings-grid">
        <div class="settings">
          <div class="setting-row">
            <div class="setting-row-label" translate>
              <span translate>sleep-detection.modals.enableForSleepDetector.calibration.title</span>
              <span translate
              >sleep-detection.modals.enableForSleepDetector.calibration.description</span
              >
            </div>
            <div class="setting-row-action">
              <button class="btn btn-primary" (click)="calibrate()" translate>
                sleep-detection.modals.enableForSleepDetector.calibration.action
              </button>
            </div>
          </div>

          <div class="setting-row">
            <div class="setting-row-label" translate>
              <span translate>sleep-detection.modals.enableForSleepDetector.sensitivity.title</span>
              <span translate
              >sleep-detection.modals.enableForSleepDetector.sensitivity.description</span
              >
            </div>
            <div class="setting-row-action">
              <app-select-box
                type="SMALL"
                [items]="sensitivityOptions"
                [selected]="sensitivityOption"
                (selectedChange)="setSensitivityOption($event?.id)"
              ></app-select-box>
            </div>
          </div>

          <div class="setting-row">
            <div class="setting-row-label" translate>
              <span translate>sleep-detection.modals.enableForSleepDetector.sleepCheck.title</span>
              <span
                [innerHtml]="
              'sleep-detection.modals.enableForSleepDetector.sleepCheck.description' | translate
            "
              ></span>
            </div>
            <div class="setting-row-action">
              <label class="switch-toggle">
                <input
                  [checked]="automationConfigs?.SLEEP_MODE_ENABLE_FOR_SLEEP_DETECTOR?.sleepCheck"
                  (change)="toggleSleepCheck()"
                  type="checkbox"
                />
                <span class="switch-toggle-slider"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="settings">
          <div class="setting-row">
            <div class="setting-row-label" translate>
              <span translate>sleep-detection.modals.enableForSleepDetector.detectionWindow.title</span>
              <span translate
              >sleep-detection.modals.enableForSleepDetector.detectionWindow.description</span
              >
            </div>
            <div class="setting-row-action">
              <app-slider-setting
                [unit]="
              'sleep-detection.modals.enableForSleepDetector.detectionWindow.unit' | translate
            "
                [min]="15"
                [max]="60"
                [value]="
              automationConfigs?.SLEEP_MODE_ENABLE_FOR_SLEEP_DETECTOR?.detectionWindowMinutes ??
              null
            "
                (valueChange)="onDetectionWindowChange($event)"
                [snapValues]="[15]"
                [snapDistance]="5"
                [step]="1"
              ></app-slider-setting>
            </div>
          </div>

          <div class="setting-row">
            <div class="setting-row-label" translate>
              <span translate>sleep-detection.modals.enableForSleepDetector.timeWindow.title</span>
              <span translate>sleep-detection.modals.enableForSleepDetector.timeWindow.description</span>
            </div>
            <div class="setting-row-action">
              <div class="input-wrapper"
                   *ngIf=" automationConfigs?.SLEEP_MODE_ENABLE_FOR_SLEEP_DETECTOR?.activationWindow"
                   @fade>
                <input
                  type="time"
                  [value]="activationWindowStart"
                  (change)="onChangeActivationWindowStart(activationWindowStartInput.value)"
                  #activationWindowStartInput
                />
              </div>
              <span *ngIf=" automationConfigs?.SLEEP_MODE_ENABLE_FOR_SLEEP_DETECTOR?.activationWindow" @fade> to </span>
              <div class="input-wrapper"
                   *ngIf=" automationConfigs?.SLEEP_MODE_ENABLE_FOR_SLEEP_DETECTOR?.activationWindow"
                   @fade>
                <input
                  type="time"
                  [value]="activationWindowEnd"
                  (change)="onChangeActivationWindowEnd(activationWindowEndInput.value)"
                  #activationWindowEndInput
                />
              </div>
              <label class="switch-toggle">
                <input
                  type="checkbox"
                  [checked]="automationConfigs?.SLEEP_MODE_ENABLE_FOR_SLEEP_DETECTOR?.activationWindow"
                  (change)="toggleActivationWindow()"
                />
                <span class="switch-toggle-slider"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pane-actions spread">
    <button class="btn btn-primary" (click)="close()" translate>shared.modals.close</button>
  </div>
</div>
