app-select-box {
  min-width: 8em;
}

.settings-grid {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  & > div {
    flex: 1;

    &:not(:first-child) {
      margin-left: 2em;
    }
  }
}

.modal {
  width: calc(100% - 6em);
  height: calc(100% - 6em);
  margin: 3em;
}

.pane-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pane-content-inner {
  max-width: 1280px;
}
