$decoration-top: 1em;
$background-color: var(--color-surface-2);

:host {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: #{-$decoration-top};
}

.top-decoration {
  background: $background-color;
  height: $decoration-top;
  width: 100%;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-surface-0);
    border-radius: 0 0 $decoration-top $decoration-top;
  }
}

.main-bar {
  width: 100%;
  background: $background-color;
  color: var(--color-text-0);
  display: flex;
  flex-direction: row;
  align-items: center;
  .left,
  .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.4em;
  }
  .left {
    flex-shrink: 0;
  }
  .right {
    flex: 1;
  }
}

.pill {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0.25em;
  background: var(--color-surface-0);
  color: var(--color-text-1);
  padding: 0.25em 0.5em;
  font-size: 0.95em;
  height: 2em;
  white-space: nowrap;

  span {
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: center;
  }

  &-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 0.25em;
    i {
      font-size: 1.25em;
      transition: all 0.15s ease;
      opacity: 0.5;
    }
    img {
      height: 1.5em;
      margin: 0;
    }
  }
}

.sleep-mode,
.vrc-status {
  span:not(:last-child) {
    opacity: 0.5;
  }
}

.vrc-status {
  i {
    opacity: 1;
  }
}

.sleep-mode {
  border: 0.125em solid transparent;
  padding: 0 0.25em;
  transition: all 0.15s ease;
  &.active {
    border-color: var(--color-primary);
  }
}
