<div class="pane">
  <div class="pane-title" translate>brightness-automations.title</div>
  <div class="pane-content">
    <div class="setting-category">
      <p
        translate>brightness-automations.description</p
      >
      <div class="alert warning" @vshrink *ngIf="!brightnessControlAvailable">
        <div class="alert-bg"></div>
        <div class="alert-icon">
          <i class="material-icons"> warning </i>
        </div>
        <div class="alert-content">
          <span>{{
            'brightness-automations.indexWarning'
              | translate
            }}</span>
        </div>
      </div>
      <div class="settings">
        <div class="setting-row" [class.disabled]="!brightnessControlAvailable">
          <div class="setting-row-label" translate>
            <span translate>brightness-automations.onSleepEnable.title</span>
            <span translate>brightness-automations.onSleepEnable.description</span>
          </div>
          <div class="setting-row-action">
            <div class="small-spinner" @fade *ngIf="brightnessAutomation.isSleepEnableTransitionActive"></div>
            <label class="switch-toggle">
              <input
                type="checkbox"
                [checked]="onSleepModeEnableConfig.enabled"
                (change)="
                  setAutomationEnabled(
                    'DISPLAY_BRIGHTNESS_ON_SLEEP_MODE_ENABLE',
                    !onSleepModeEnableConfig.enabled
                  )
                "
              />
              <span class="switch-toggle-slider"></span>
            </label>
          </div>
          <div class="active-effect" @fade *ngIf="brightnessAutomation.isSleepEnableTransitionActive"></div>
        </div>

        <div class="setting-row-group">
          <div class="setting-row" [class.disabled]="!brightnessControlAvailable || !onSleepModeEnableConfig.enabled">
            <div class="setting-row-label" translate>
              <span translate>brightness-automations.brightness.title</span>
              <span translate>brightness-automations.brightness.description</span>
            </div>
            <div class="setting-row-action">
              <app-slider-setting
                unit="%"
                [min]="brightnessBounds.min"
                [max]="brightnessBounds.max"
                [value]="onSleepModeEnableConfig.brightness"
                (valueChange)="updateBrightness('DISPLAY_BRIGHTNESS_ON_SLEEP_MODE_ENABLE', $event)"
                [step]="1"
                [snapValues]="brightnessSnapValues"
                [snapDistance]="brightnessSnapDistance"
              ></app-slider-setting>
            </div>
          </div>

          <div class="setting-row" [class.disabled]="!brightnessControlAvailable || !onSleepModeEnableConfig.enabled">
            <div class="setting-row-label" translate>
              <span translate>brightness-automations.transition.title</span>
              <span translate>brightness-automations.transition.description</span>
            </div>
            <div class="setting-row-action">
              <label class="switch-toggle">
                <input type="checkbox"
                       [checked]="onSleepModeEnableConfig.transition"
                       (change)="
                  toggleTransitioning(
                    'DISPLAY_BRIGHTNESS_ON_SLEEP_MODE_ENABLE',
                    !onSleepModeEnableConfig.transition
                  )
                "
                />
                <span class="switch-toggle-slider"></span>
              </label>
            </div>
          </div>
          <div class="setting-row"
               [class.disabled]="!brightnessControlAvailable || !onSleepModeEnableConfig.enabled || !onSleepModeEnableConfig.transition">
            <div class="setting-row-label" translate>
              <span translate>brightness-automations.transition.title</span>
              <span translate>brightness-automations.transition.description</span>
            </div>
            <div class="setting-row-action">
              <app-slider-setting
                [min]="1"
                [value]="transitionValueOnEnable"
                (valueChange)="onChangeTransition('DISPLAY_BRIGHTNESS_ON_SLEEP_MODE_ENABLE', $event, transitionUnitOptionOnEnable)"
                [snapValues]="[15, 30, 45]"
                [snapDistance]="5"
                [max]="59"
                [step]="1"
              ></app-slider-setting>
              <app-select-box
                class="status-dropdown"
                [type]="'SMALL'"
                [items]="transitionUnitOptions"
                [selected]="transitionUnitOptionOnEnable"
                (selectedChange)="onChangeTransition('DISPLAY_BRIGHTNESS_ON_SLEEP_MODE_ENABLE', transitionValueOnEnable, $event)"
                #transitionUnitOnEnable
              ></app-select-box>
            </div>
          </div>
        </div>
        <div class="setting-row" [class.disabled]="!brightnessControlAvailable">
          <div class="setting-row-label" translate>
            <span translate>brightness-automations.onSleepDisable.title</span>
            <span translate>brightness-automations.onSleepDisable.description</span>
          </div>
          <div class="setting-row-action">
            <div class="small-spinner" @fade *ngIf="brightnessAutomation.isSleepDisableTransitionActive"></div>
            <label class="switch-toggle">
              <input
                type="checkbox"
                [checked]="onSleepModeDisableConfig.enabled"
                (change)="
                  setAutomationEnabled(
                    'DISPLAY_BRIGHTNESS_ON_SLEEP_MODE_DISABLE',
                    !onSleepModeDisableConfig.enabled
                  )
                "
              />
              <span class="switch-toggle-slider"></span>
            </label>
          </div>
          <div class="active-effect" @fade *ngIf="brightnessAutomation.isSleepDisableTransitionActive"></div>
        </div>

        <div class="setting-row-group">
          <div class="setting-row" [class.disabled]="!brightnessControlAvailable || !onSleepModeDisableConfig.enabled">
            <div class="setting-row-label" translate>
              <span translate>brightness-automations.brightness.title</span>
              <span translate>brightness-automations.brightness.description</span>
            </div>
            <div class="setting-row-action">
              <app-slider-setting
                unit="%"
                [min]="brightnessBounds.min"
                [max]="brightnessBounds.max"
                [value]="onSleepModeDisableConfig.brightness"
                (valueChange)="updateBrightness('DISPLAY_BRIGHTNESS_ON_SLEEP_MODE_DISABLE', $event)"
                [step]="1"
                [snapValues]="brightnessSnapValues"
                [snapDistance]="brightnessSnapDistance"
              ></app-slider-setting>
            </div>
          </div>

          <div class="setting-row" [class.disabled]="!brightnessControlAvailable || !onSleepModeDisableConfig.enabled">
            <div class="setting-row-label" translate>
              <span translate>brightness-automations.transition.title</span>
              <span translate>brightness-automations.transition.description</span>
            </div>
            <div class="setting-row-action">
              <label class="switch-toggle">
                <input type="checkbox"
                       [checked]="onSleepModeDisableConfig.transition"
                       (change)="
                  toggleTransitioning(
                    'DISPLAY_BRIGHTNESS_ON_SLEEP_MODE_DISABLE',
                    !onSleepModeDisableConfig.transition
                  )
                " />
                <span class="switch-toggle-slider"></span>
              </label>
            </div>
          </div>
          <div class="setting-row"
               [class.disabled]="!brightnessControlAvailable || !onSleepModeDisableConfig.enabled || !onSleepModeDisableConfig.transition">
            <div class="setting-row-label" translate>
              <span translate>brightness-automations.transition.title</span>
              <span translate>brightness-automations.transition.description</span>
            </div>
            <div class="setting-row-action">
              <app-slider-setting
                [min]="1"
                [snapValues]="[15, 30, 45]"
                [value]="transitionValueOnDisable"
                (valueChange)="onChangeTransition('DISPLAY_BRIGHTNESS_ON_SLEEP_MODE_DISABLE', $event, transitionUnitOptionOnDisable)"
                [snapDistance]="5"
                [max]="59"
                [step]="1"
              ></app-slider-setting>
              <app-select-box
                class="status-dropdown"
                [type]="'SMALL'"
                [items]="transitionUnitOptions"
                [selected]="transitionUnitOptionOnDisable"
                (selectedChange)="onChangeTransition('DISPLAY_BRIGHTNESS_ON_SLEEP_MODE_DISABLE', transitionValueOnDisable, $event)"
              ></app-select-box>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
