@import 'shadows.scss';

:host {
  display: block;
  height: 0;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.route-container {
  display: block;
  height: 0;
  min-height: 100%;
  width: 100%;

  &,
  &:before {
    transition: all 0.15s ease-in-out;
  }
}
