<div class="setting-category">
  <div class="settings">
    <app-setting-row
      label="settings.troubleshooting.tweaks.overlayGpuAcceleration.title"
      description="settings.troubleshooting.tweaks.overlayGpuAcceleration.description"
    >
      <label class="switch-toggle">
        <input
          type="checkbox"
          [checked]="overlayGpuAcceleration"
          (change)="setOverlayGpuAcceleration(!overlayGpuAcceleration)"
        />
        <span class="switch-toggle-slider"></span>
      </label>
    </app-setting-row>
    <app-setting-row
      label="settings.troubleshooting.tweaks.openVrInitDelayFix.title"
      description="settings.troubleshooting.tweaks.openVrInitDelayFix.description"
    >
      <label class="switch-toggle">
        <input
          type="checkbox"
          [checked]="openVrInitDelayFix"
          (change)="setOpenVrInitDelayFix(!openVrInitDelayFix)"
        />
        <span class="switch-toggle-slider"></span>
      </label>
    </app-setting-row>
    <app-setting-row
      label="settings.general.lighthouseConsole.powerOffDelay.title"
      description="settings.general.lighthouseConsole.powerOffDelay.description"
    >
      <label class="switch-toggle">
        <input
          type="checkbox"
          [checked]="lighthousePowerOffDelay"
          (change)="setLighthousePowerOffDelay(!lighthousePowerOffDelay)"
        />
        <span class="switch-toggle-slider"></span>
      </label>
    </app-setting-row>
  </div>
</div>
