<div class="button-container">
  <button class="btn-play" (click)="previewSound()" [disabled]="playingSound$ | async">
    <i class="material-symbols-outlined icon-filled">play_arrow</i>
  </button>

  <button
    [class.unset]="!soundConfig?.sound?.name"
    [class.set]="soundConfig?.sound?.name"
    (click)="openSoundModal()"
  >
    <i class="material-symbols-outlined icon-filled">music_note</i>
    <span>{{ soundConfig?.sound?.name || (label | translate) }}</span>
    <span
      *ngIf="soundConfig?.volume !== undefined && soundConfig?.volume !== null"
      class="volume-badge"
      >{{ soundConfig?.volume }}%</span
    >
  </button>
</div>
