<div class="pane modal" @fadeUp>
  <div class="pane-title">Developer Debug Tools</div>
  <div class="tab-bar">
    <div
      class="tab"
      [class.active]="activeTab === 'SLEEP_DETECTION_DEBUGGER'"
      (click)="activeTab = 'SLEEP_DETECTION_DEBUGGER'"
    >
      <div class="tab-label">Sleep Detection Debugger</div>
    </div>
    <div
      class="tab"
      [class.active]="activeTab === 'MISC_TESTING'"
      (click)="activeTab = 'MISC_TESTING'"
    >
      <div class="tab-label">Miscellaneous Testing</div>
    </div>
  </div>
  <div class="pane-content">
    <app-debug-sleep-detection-debugger
      *ngIf="activeTab === 'SLEEP_DETECTION_DEBUGGER'"
    ></app-debug-sleep-detection-debugger>
    <app-misc-testing *ngIf="activeTab === 'MISC_TESTING'" [modal]="this"></app-misc-testing>
  </div>
</div>
