<div class="setting-category">
  <div class="update-checker">
    <button
      class="btn"
      [class.btn-secondary]="!updateAvailable.manifest"
      [class.btn-primary]="updateAvailable.manifest"
      (click)="updateOrCheck()"
      [disabled]="updateOrCheckInProgress"
    >
      <div class="small-spinner" *ngIf="updateOrCheckInProgress" @hshrink></div>
      <span
        *ngIf="!updateOrCheckInProgress"
        [translate]="
          updateAvailable.manifest ? 'settings.updates.install' : 'settings.updates.checkForUpdates'
        "
        [translateParams]="{ version: updateAvailable.manifest?.version || '' }"
        @hshrink
      ></span>
    </button>
    <p *ngIf="!updateAvailable.checked" translate="settings.updates.notChecked"></p>
    <p
      *ngIf="updateAvailable.checked && updateAvailable.manifest"
      translate="settings.updates.updateAvailable"
      [translateParams]="{
        currentVersion: version,
        latestVersion: updateAvailable.manifest.version
      }"
    ></p>
    <p
      *ngIf="updateAvailable.checked && !updateAvailable.manifest"
      translate="settings.updates.noUpdate"
      [translateParams]="{ version: version }"
    ></p>
  </div>
</div>
<div class="setting-category">
  <h2 translate>settings.updates.changelog</h2>
  <div class="pane-changelog" [innerHtml]="changelog"></div>
</div>
