<div class="pane">
  <div class="pane-title">
    <span translate>comp.event-log.title</span>
    <button
      class="btn btn-secondary btn-header"
      (mouseover)="filterHover = true"
      (mouseleave)="filterHover = false"
      [class.active]="(filters | async)?.length ?? 0 > 0"
      (click)="openFilterDialog()"
    >
      <span>&nbsp;</span>
      <i class="material-icons-round">filter_list</i>
      <span>&nbsp;</span>
      @if (filterHover) {
        <span translate @hshrink class="label">comp.event-log.openFilters</span>
      }
    </button>
    <button
      class="btn btn-secondary btn-header"
      (mouseover)="clearHover = true"
      (mouseleave)="clearHover = false"
      (click)="clearLog()"
      [disabled]="entries === 0"
    >
      <span>&nbsp;</span>
      <i class="material-icons-round">clear</i>
      <span>&nbsp;</span>
      @if (clearHover) {
        <span translate @hshrink class="label">comp.event-log.clearLog</span>
      }
    </button>
  </div>
  <div class="pane-content">
    @if (entries === 0) {
      <div class="no-event-logs" @fade @noop>
        <i class="material-icons-round">info</i>
        <span translate>comp.event-log.no-logs</span>
      </div>
    }
    <div class="event-logs" @noop>
      @for (entry of logsInView | async; track trackLogEntryBy($index, entry)) {
        <app-event-log-entry
          [entry]="entry"
          @vshrink
          [@.disabled]="animationPause"
        ></app-event-log-entry>
      }
      @if (hasMore()) {
        <div class="show-more" @vshrink [@.disabled]="animationPause">
          <span (click)="showMore()" translate>comp.event-log.show-more</span>
        </div>
      }
    </div>
  </div>
</div>
