<div class="pane">
  <div class="pane-title" translate>settings.statusInfo.title</div>
  <div class="pane-content">
    <div class="setting-view-container">
      <p translate>settings.statusInfo.description</p>
      <div class="settings">
        <div class="setting-row">
          <div class="setting-row-label" translate>
            <span translate>settings.statusInfo.copy.title</span>
            <span translate>settings.statusInfo.copy.description</span>
          </div>
          <div class="setting-row-action">
            <button class="btn btn-primary btn-copy" translate (click)="copyToClipboard()">
              @if (!copiedToClipboard.includes('ALL_DATA')) {
                <span @hshrink>
                  <i class="material-icons">copy_all</i>
                  <span translate>settings.statusInfo.copy.action</span>
                </span>
              }
              @if (copiedToClipboard.includes('ALL_DATA')) {
                <i
                  class="material-icons success"
                  @hshrink
                  >check</i
                  >
                }
              </button>
            </div>
          </div>
          @for (category of categories; track category) {
            <div class="setting-row">
              <div class="setting-row-label" translate>
                <span>{{ category.name | tsTranslate }}</span>
                <span></span>
              </div>
              <div class="setting-row-action"></div>
            </div>
            <div class="setting-row-group">
              @for (entry of category.entries; track entry) {
                <div
                  class="setting-row"
                  [class.compact]="compact"
                  >
                  <div class="setting-row-label" translate>
                    <span>{{ entry.key | tsTranslate }}</span>
                    <span></span>
                  </div>
                  <div class="setting-row-action">
                    <span (click)="copyValue(entry)"
                      ><b>{{ (entry.value | async) ?? '' | tsTranslate }}</b></span
                      >
                    </div>
                  </div>
                }
              </div>
            }
          </div>
        </div>
      </div>
    </div>
