:host {
  height: 100%;
  display: flex;
  overflow: hidden;
}

.pane {
  width: 100%;
}

.pane-content {
  padding: 2em;
  overflow-y: overlay;
  width: 100%;
}

.btn-copy {
  span {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
