:host {
  height: 100%;
  display: flex;
  overflow: hidden;
}

.pane {
  width: 100%;
}

.pane-content {
  padding: 2em;
  overflow-y: overlay;
  width: 100%;
}

.btn-copy {
  span {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap !important;
  }
}

.setting-row-action {
  flex-shrink: 1 !important;
  min-width: 0;
  max-width: 50%;
  text-align: right;

  span,
  b {
    word-break: normal;
    overflow-wrap: break-word;
    hyphens: auto;
    white-space: pre-wrap;
    line-break: anywhere;
  }

  span {
    cursor: pointer;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }
}
