@import 'shadows';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  //noinspection CssInvalidPropertyValue
  overflow: auto;
  position: relative;

  &::-webkit-scrollbar {
    width: 4px;
    height: 8px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-surface-4);
    border-radius: 2px;
  }

  &::-webkit-scrollbar-track-piece {
    display: none;
  }
}

.about-container {
  width: 100%;
  max-width: 50em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
}


.row {
  padding: 1em 0;
}

.logo-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-bottom: 1px solid var(--color-surface-4);
  padding-bottom: 1em;
  margin-bottom: 2em;

  .logo-side {
    width: 8em;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    color: var(--color-text-4);
    transform: translateY(-1.75em);
  }

  .logo {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .main {
        font-size: 5em;
        font-weight: 200;
        text-align: center;
        color: var(--color-text-1);
      }

      .tag-line {
        color: var(--color-text-4);
        transform: translateY(-1.75em);
      }
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;

  & > div {
    flex: 1;
  }
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  &-avatar {
    @include shadow(4, true);
    overflow: hidden;
    border-radius: 999999999px;
    width: 10em;
    height: 10em;
    border: 0.25em solid var(--color-surface-6);
    margin-right: 2em;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .name {
      font-size: 2em;
      padding-bottom: 0.25em;
    }

    .role {
      color: var(--color-text-3);
    }

    .discord span {
      user-select: text;
    }

    .twitter,
    .discord,
    .github {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      i {
        width: 1.75em;
        text-align: center;
        font-size: 1.25em;
        padding-right: 0.5em;
      }

      &:not(:last-child) {
        padding-bottom: 0.5em;
      }
    }
  }
}

.project-info {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &-title {
    font-size: 1.5em;
    padding-bottom: 0.25em;
  }

  .translation-author-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 0.5em;

    &-entry {
      .fi {
        margin-left: 0.5em;
      }
    }
  }

  .project-links {
  }
}
