<div class="about-container">
  <div class="logo-row">
    <div class="logo-side"></div>
    <div class="logo">
      <div class="logo-container">
        <div class="main">Oyasumi</div>
        <div class="tag-line" translate>shared.logo.tagline</div>
      </div>
    </div>
    <div class="logo-side">
      <span class="version">v{{ version }}</span>
    </div>
  </div>

  <div class="row">
    <div class="author">
      <div class="author-avatar">
        <img src="assets/img/raphiiko.jpg" />
      </div>
      <div class="author-info">
        <div class="role" translate>about.author.role</div>
        <div class="name">Raphii</div>
        <div class="twitter">
          <i class="fa-brands fa-twitter"></i>
          <a href="https://twitter.com/Raphiiko" target="_blank">@Raphiiko</a>
        </div>
        <div class="discord">
          <i class="fa-brands fa-discord"></i>
          <span>
            Raphiiko
            <span style="opacity: 0.5">#0001</span>
          </span>
        </div>
        <div class="github">
          <i class="fa-brands fa-github"></i>
          <a href="https://github.com/Raphiiko" target="_blank">Raphiiko</a>
        </div>
      </div>
    </div>
    <div class="project-info">
      <div class="project-info-title" translate>about.translations</div>
      <div class="translation-author-list">
        <div class="translation-author-list-entry">
          <span>Raphiiko | English</span>
          <span class="fi fi-gb"></span>
        </div>
        <div class="translation-author-list-entry">
          <span>Raphiiko | Nederlands</span>
          <span class="fi fi-nl"></span>
        </div>
      </div>
      <div class="project-info-title" translate>about.projectLinks</div>
      <div class="project-links">
        <a href="https://github.com/Raphiiko/Oyasumi" target="_blank" translate>about.sourceLink</a>
      </div>
    </div>
  </div>
</div>
