:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 2em;
  flex-shrink: 0;
  .logo-text {
    font-size: 2em;
    font-weight: 300;
  }
  .logo-tagline {
    color: var(--color-text-4);
  }
}

.menu {
  background-color: var(--color-surface-1);
  border-radius: var(--surface-border-radius);
  padding: 1em 1em;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  &-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.75em 0.5em;
    border-radius: 99999px;
    transition: background 0.15s ease;
    color: var(--color-text-2);
    &:not(:last-child) {
      margin-bottom: 0.5em;
    }
    &:hover {
      background: var(--color-surface-2);
    }
    &.active {
      background: var(--color-surface-3);
    }
    &-icon-prefix,
    &-icon-suffix {
      width: 2em;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 0.25em;
      i {
        font-size: 1.5em;
      }
    }
    &-icon-suffix {
      color: var(--color-alert-error);
      i {
        font-size: 2em;
        margin: -0.25em 0;
      }
    }
    &-icon-prefix {
      color: var(--color-text-1);
    }
    &-label {
      flex: 1;
      font-weight: 500;
    }
  }
}
