<div class="logo-container">
  <span class="logo-text">Oyasumi</span>
  <span class="logo-tagline" translate>shared.logo.tagline</span>
</div>
<div class="menu">
  <div class="menu-item" [routerLinkActive]="'active'" [routerLink]="'battery'">
    <div class="menu-item-icon-prefix">
      <i class="material-icons">battery_charging_full</i>
    </div>
    <div class="menu-item-label" translate>dashboard-navbar.batteryManagement</div>
  </div>

  <div class="menu-item" [routerLinkActive]="'active'" [routerLink]="'settings'">
    <div class="menu-item-icon-prefix">
      <i class="material-icons">settings</i>
    </div>
    <div class="menu-item-label" translate>dashboard-navbar.settings</div>
    <div class="menu-item-icon-suffix" [@fade] *ngIf="settingErrors | async">
      <i class="material-icons">error_outline</i>
    </div>
  </div>

  <div class="menu-item" [routerLinkActive]="'active'" [routerLink]="'about'">
    <div class="menu-item-icon-prefix">
      <i class="material-icons">info</i>
    </div>
    <div class="menu-item-label" translate>dashboard-navbar.about</div>
  </div>
</div>
