<div class="b-modal-container" @fadeUp (clickOutside)="close()">
  <div class="sliders-container">
    <div class="brightness-slider" [class.disabled]="fanControl.fanSafetyActive | async">
      <app-brightness-control-slider
        [value]="(fanControl.fanSpeed | async) ?? 0"
        [min]="fanSpeedBounds[0]"
        [max]="fanSpeedBounds[1]"
        [mode]="'FAN_SPEED'"
        (valueChange)="setFanSpeed.next($event)"
      ></app-brightness-control-slider>
      <div class="brightness-slider-title">
        <span translate>comp.bsb-fan-speed-control-modal.fanSpeed</span>
      </div>
    </div>
  </div>

  @if (!isActive('/dashboard/hmdAutomations')) {
    <div class="link-bar" @hshrink>
      @if (!isActive('/dashboard/hmdAutomations')) {
        <a class="link" [routerLink]="['dashboard', 'hmdAutomations']" (click)="close()">
          <i class="material-symbols-outlined icon-filled">settings</i>
        </a>
      }
    </div>
  }
</div>
