i.material-icons {
  margin-right: 0.25em;
}

button {
  border-bottom: 0.25em solid transparent;
  &.unset {
    border-color: var(--color-caution);
  }
  &.set {
    border-color: var(--color-success);
  }
}
