<div class="bg" @fade (click)="close.emit()"></div>
<div class="btn-close-container">
  <button class="btn-close" @fadeRight (click)="close.emit()">
    <i class="material-icons-outlined">arrow_forward_ios</i>
  </button>
</div>
<div class="pane" @fadeRight>
  <div class="header-row">
    <div class="header-row-toggle">
      <label class="switch-toggle">
        <input type="checkbox" [checked]="config().enabled" (change)="toggleEnabled()" />
        <span class="switch-toggle-slider"></span>
      </label>
    </div>
    <div class="header-row-title">
      <span translate>brightness-automations.detailsTitle</span>
      <span>
        {{ 'brightness-automations.' + eventId() + '.title' | translate }}
      </span>
    </div>
  </div>
  <div class="setting-category" *ngIf="config().type === 'SUN'">
    <div class="setting-category">
      <h3 translate>brightness-automations.activation.category</h3>
      <div class="settings">
        <div class="setting-row">
          <div class="setting-row-label" translate>
            <span translate>{{
                'brightness-automations.activationTime.' + sunMode + '.title' | translate
              }}</span>
            <span translate>{{
                'brightness-automations.activationTime.' + sunMode + '.description' | translate
              }}</span>
          </div>
          <div class="setting-row-action">
            <button
              class="btn btn-copy btn-secondary"
              tooltip="brightness-automations.autoDetermineSunsetSunrise"
              tooltipMode="left"
              (click)="autoDetermineActivationTime()"
            >
              <i class="material-symbols-outlined">brightness_auto</i>
            </button>
            <input
              type="time"
              [value]="asSunConfig(config()).activationTime"
              (input)="updateActivationTime(timeInput.value)"
              #timeInput
              [class.anim-vshake]="vshakeElements.includes('ACTIVATION_TIME')"
            />
          </div>
        </div>
        <div class="setting-row">
          <div class="setting-row-label" translate>
            <span translate>brightness-automations.onlyWhenSleepModeDisabled.title</span>
            <span translate>brightness-automations.onlyWhenSleepModeDisabled.description</span>
          </div>
          <div class="setting-row-action">
            <label class="switch-toggle" [class.disabled]="!config().changeColorTemperature">
              <input
                type="checkbox"
                [checked]="asSunConfig(config()).onlyWhenSleepDisabled"
                (change)="toggleOnlyWhenSleepDisabled()"
              />
              <span class="switch-toggle-slider"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="setting-category">
    <h3 translate>brightness-automations.changeBrightness.category</h3>
    <div class="settings">
      <div class="setting-row">
        <div class="setting-row-label" translate>
          <span translate>brightness-automations.changeBrightness.title</span>
          <span translate>brightness-automations.changeBrightness.description</span>
        </div>
        <div class="setting-row-action">
          <label class="switch-toggle" [class.disabled]="!config().changeColorTemperature">
            <input
              type="checkbox"
              [checked]="config().changeBrightness"
              (change)="toggleChangeBrightness()"
              [disabled]="!config().changeColorTemperature"
            />
            <span class="switch-toggle-slider"></span>
          </label>
        </div>
      </div>
      <div class="setting-row-group" @vshrink *ngIf="config().changeBrightness">
        <div class="setting-row" @vshrink *ngIf="!advancedMode() && config().changeBrightness">
          <div class="setting-row-label" translate>
            <span translate>brightness-automations.brightness.title</span>
            <span></span>
          </div>
          <div class="setting-row-action">
            <button
              class="btn btn-copy btn-secondary"
              tooltip="brightness-automations.copyBrightness"
              tooltipMode="left"
              (click)="updateBrightness('SIMPLE', 'CURRENT')"
            >
              <i class="material-icons">copy_all</i>
            </button>
            <app-slider-setting
              unit="%"
              [min]="brightnessBounds.SIMPLE.min"
              [max]="brightnessBounds.SIMPLE.max"
              [value]="config().brightness"
              (valueChange)="updateBrightness('SIMPLE', $event)"
              [step]="1"
              [snapValues]="brightnessSnapValues.SIMPLE"
              [snapDistance]="brightnessSnapDistance.SIMPLE"
              [class.anim-vshake]="vshakeElements.includes('BRIGHTNESS_SIMPLE')"
            ></app-slider-setting>
          </div>
        </div>
        <div class="setting-row" @vshrink *ngIf="advancedMode() && config().changeBrightness">
          <div class="setting-row-label" translate>
            <span translate>brightness-automations.softwareBrightness.title</span>
            <span></span>
          </div>
          <div class="setting-row-action">
            <button
              class="btn btn-copy btn-secondary"
              tooltip="brightness-automations.copyBrightness"
              tooltipMode="left"
              (click)="updateBrightness('SOFTWARE', 'CURRENT')"
            >
              <i class="material-icons">copy_all</i>
            </button>
            <app-slider-setting
              unit="%"
              [min]="brightnessBounds.SOFTWARE.min"
              [max]="brightnessBounds.SOFTWARE.max"
              [value]="config().softwareBrightness"
              (valueChange)="updateBrightness('SOFTWARE', $event)"
              [step]="1"
              [snapValues]="brightnessSnapValues.SOFTWARE"
              [snapDistance]="brightnessSnapDistance.SOFTWARE"
              [class.anim-vshake]="vshakeElements.includes('BRIGHTNESS_SOFTWARE')"
            ></app-slider-setting>
          </div>
        </div>
        <div class="setting-row" @vshrink *ngIf="advancedMode() && config().changeBrightness">
          <div class="setting-row-label" translate>
            <span translate>brightness-automations.hardwareBrightness.title</span>
            <span></span>
          </div>
          <div class="setting-row-action">
            <button
              class="btn btn-copy btn-secondary"
              tooltip="brightness-automations.copyBrightness"
              tooltipMode="left"
              (click)="updateBrightness('HARDWARE', 'CURRENT')"
            >
              <i class="material-icons">copy_all</i>
            </button>
            <app-slider-setting
              unit="%"
              [min]="brightnessBounds.HARDWARE.min"
              [max]="brightnessBounds.HARDWARE.max"
              [value]="config().hardwareBrightness"
              (valueChange)="updateBrightness('HARDWARE', $event)"
              [step]="1"
              [snapValues]="brightnessSnapValues.HARDWARE"
              [snapDistance]="brightnessSnapDistance.HARDWARE"
              [class.anim-vshake]="vshakeElements.includes('BRIGHTNESS_HARDWARE')"
            ></app-slider-setting>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="setting-category" *ngIf="cctControlEnabled()">
    <div class="setting-category-title-row">
      <h3 translate>brightness-automations.changeTemperature.category</h3>
      <span
        class="warning-icon"
        *ngIf="!appSettingsService.oneTimeFlagSet('CCT_CONTROL_WARNING_DIALOG')"
        @fade
        (click)="appSettingsService.promptDialogForOneTimeFlag('CCT_CONTROL_WARNING_DIALOG')"
      >
        <i class="material-symbols-outlined">warning</i>
      </span>
    </div>
    <div class="settings">
      <div class="setting-row">
        <div class="setting-row-label" translate>
          <span translate>brightness-automations.changeTemperature.title</span>
          <span translate>brightness-automations.changeTemperature.description</span>
        </div>
        <div class="setting-row-action">
          <label class="switch-toggle" [class.disabled]="!config().changeBrightness">
            <input
              type="checkbox"
              [checked]="config().changeColorTemperature"
              (change)="toggleChangeColorTemperature()"
              [disabled]="!config().changeBrightness"
            />
            <span class="switch-toggle-slider"></span>
          </label>
        </div>
      </div>
      <div class="setting-row-group" @vshrink *ngIf="config().changeColorTemperature">
        <div class="setting-row">
          <div class="setting-row-label" translate>
            <span translate>brightness-automations.temperature.title</span>
            <span></span>
          </div>
          <div class="setting-row-action">
            <app-cct-input-setting
              [value]="config().colorTemperature"
              (valueChange)="updateColorTemperature($event)"
            ></app-cct-input-setting>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="setting-category">
    <h3 translate>brightness-automations.miscConfig</h3>
    <div class="settings">
      <div class="setting-row">
        <div class="setting-row-label" translate>
          <span translate>brightness-automations.transition.title</span>
          <span translate>brightness-automations.transition.description</span>
        </div>
        <div class="setting-row-action">
          <label class="switch-toggle">
            <input type="checkbox" [checked]="config().transition" (change)="toggleTransition()" />
            <span class="switch-toggle-slider"></span>
          </label>
        </div>
      </div>
      <div class="setting-row-group" @vshrink *ngIf="config().transition">
        <div class="setting-row">
          <div class="setting-row-label" translate>
            <span translate>brightness-automations.transitionTime.title</span>
            <span translate>brightness-automations.transitionTime.description</span>
          </div>
          <div class="setting-row-action">
            <app-duration-input-setting
              [value]="config().transitionTime"
              (valueChange)="updateTransitionTime($event)"
            ></app-duration-input-setting>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
