<div class="bg" @fade (click)="close.emit()"></div>
<div class="btn-close-container">
  <button class="btn-close" @fadeRight (click)="close.emit()">
    <i class="material-icons-outlined">arrow_forward_ios</i>
  </button>
</div>
<div class="pane" @fadeRight>
  <div class="header-row">
    <div class="header-row-toggle">
      <label class="switch-toggle">
        <input type="checkbox" [checked]="config().enabled" (change)="toggleEnabled()" />
        <span class="switch-toggle-slider"></span>
      </label>
    </div>
    <div class="header-row-title">
      <span transloco="brightness-automations.detailsTitle"></span>
      <span>
        {{ 'brightness-automations.' + eventId() + '.title' | transloco }}
      </span>
    </div>
  </div>
  @if (config().type === 'SUN') {
    <div class="setting-category">
      <div class="setting-category">
        <h3 transloco="brightness-automations.activation.category"></h3>
        <div class="settings">
          <div class="setting-row">
            <div class="setting-row-label">
              <span
                [transloco]="
                  'brightness-automations.activationTime.' + sunMode + '.title' | transloco
                "
              ></span>
              <span
                [transloco]="
                  'brightness-automations.activationTime.' + sunMode + '.description' | transloco
                "
              ></span>
            </div>
            <div class="setting-row-action">
              <div
                class="auto-toggle-container"
                tooltip="brightness-automations.autoUpdateTimeTooltip"
                tooltipMode="left"
              >
                <span class="auto-label">Auto</span>
                <label class="switch-toggle">
                  <input
                    type="checkbox"
                    [checked]="asSunConfig(config()).autoUpdateTime"
                    (change)="toggleAutoUpdateTime()"
                  />
                  <span class="switch-toggle-slider"></span>
                </label>
              </div>
              <input
                type="time"
                [value]="asSunConfig(config()).activationTime"
                (input)="updateActivationTime(timeInput.value)"
                #timeInput
                [class.anim-vshake]="vshakeElements.includes('ACTIVATION_TIME')"
                [disabled]="asSunConfig(config()).autoUpdateTime"
              />
            </div>
          </div>
          <app-setting-row
            label="brightness-automations.onlyWhenSleepModeDisabled.title"
            description="brightness-automations.onlyWhenSleepModeDisabled.description"
          >
            <label class="switch-toggle" [class.disabled]="!config().changeColorTemperature">
              <input
                type="checkbox"
                [checked]="asSunConfig(config()).onlyWhenSleepDisabled"
                (change)="toggleOnlyWhenSleepDisabled()"
              />
              <span class="switch-toggle-slider"></span>
            </label>
          </app-setting-row>
        </div>
      </div>
    </div>
  }
  <div class="setting-category">
    <h3 transloco="brightness-automations.changeBrightness.category"></h3>
    <div class="settings">
      <app-setting-row
        label="brightness-automations.changeBrightness.title"
        description="brightness-automations.changeBrightness.description"
      >
        <label class="switch-toggle" [class.disabled]="!config().changeColorTemperature">
          <input
            type="checkbox"
            [checked]="config().changeBrightness"
            (change)="toggleChangeBrightness()"
            [disabled]="!config().changeColorTemperature"
          />
          <span class="switch-toggle-slider"></span>
        </label>
      </app-setting-row>
      @if (config().changeBrightness) {
        <div class="setting-row-group" @vshrink>
          @if (!advancedMode() && config().changeBrightness) {
            <app-setting-row label="brightness-automations.brightness.title" @vshrink>
              <button
                class="btn btn-copy btn-secondary"
                tooltip="brightness-automations.copyBrightness"
                tooltipMode="left"
                (click)="updateBrightness('SIMPLE', 'CURRENT')"
              >
                <i class="material-icons">copy_all</i>
              </button>
              <app-slider-setting
                unit="%"
                [min]="brightnessBounds.SIMPLE.min"
                [max]="brightnessBounds.SIMPLE.max"
                [value]="config().brightness"
                (valueChange)="updateBrightness('SIMPLE', $event)"
                [step]="1"
                [snapValues]="brightnessSnapValues.SIMPLE"
                [snapDistance]="brightnessSnapDistance.SIMPLE"
                [class.anim-vshake]="vshakeElements.includes('BRIGHTNESS_SIMPLE')"
              ></app-slider-setting>
            </app-setting-row>
          }
          @if (advancedMode() && config().changeBrightness) {
            <app-setting-row label="brightness-automations.softwareBrightness.title" @vshrink>
              <button
                class="btn btn-copy btn-secondary"
                tooltip="brightness-automations.copyBrightness"
                tooltipMode="left"
                (click)="updateBrightness('SOFTWARE', 'CURRENT')"
              >
                <i class="material-icons">copy_all</i>
              </button>
              <app-slider-setting
                unit="%"
                [min]="brightnessBounds.SOFTWARE.min"
                [max]="brightnessBounds.SOFTWARE.max"
                [value]="config().softwareBrightness"
                (valueChange)="updateBrightness('SOFTWARE', $event)"
                [step]="1"
                [snapValues]="brightnessSnapValues.SOFTWARE"
                [snapDistance]="brightnessSnapDistance.SOFTWARE"
                [class.anim-vshake]="vshakeElements.includes('BRIGHTNESS_SOFTWARE')"
              ></app-slider-setting>
            </app-setting-row>
          }
          @if (advancedMode() && config().changeBrightness) {
            <app-setting-row label="brightness-automations.hardwareBrightness.title" @vshrink>
              <button
                class="btn btn-copy btn-secondary"
                tooltip="brightness-automations.copyBrightness"
                tooltipMode="left"
                (click)="updateBrightness('HARDWARE', 'CURRENT')"
              >
                <i class="material-icons">copy_all</i>
              </button>
              <app-slider-setting
                unit="%"
                [min]="brightnessBounds.HARDWARE.min"
                [max]="brightnessBounds.HARDWARE.max"
                [value]="config().hardwareBrightness"
                (valueChange)="updateBrightness('HARDWARE', $event)"
                [step]="1"
                [snapValues]="brightnessSnapValues.HARDWARE"
                [snapDistance]="brightnessSnapDistance.HARDWARE"
                [class.anim-vshake]="vshakeElements.includes('BRIGHTNESS_HARDWARE')"
              ></app-slider-setting>
            </app-setting-row>
          }
        </div>
      }
    </div>
  </div>
  @if (cctControlEnabled()) {
    <div class="setting-category">
      <div class="setting-category-title-row">
        <h3 transloco="brightness-automations.changeTemperature.category"></h3>
        @if (!appSettingsService.oneTimeFlagSet('CCT_CONTROL_WARNING_DIALOG')) {
          <span
            class="warning-icon"
            @fade
            (click)="appSettingsService.promptDialogForOneTimeFlag('CCT_CONTROL_WARNING_DIALOG')"
          >
            <i class="material-symbols-outlined">warning</i>
          </span>
        }
      </div>
      <div class="settings">
        <app-setting-row
          label="brightness-automations.changeTemperature.title"
          description="brightness-automations.changeTemperature.description"
        >
          <label class="switch-toggle" [class.disabled]="!config().changeBrightness">
            <input
              type="checkbox"
              [checked]="config().changeColorTemperature"
              (change)="toggleChangeColorTemperature()"
              [disabled]="!config().changeBrightness"
            />
            <span class="switch-toggle-slider"></span>
          </label>
        </app-setting-row>
        @if (config().changeColorTemperature) {
          <div class="setting-row-group" @vshrink>
            <app-setting-row label="brightness-automations.temperature.title">
              <app-cct-input-setting
                [value]="config().colorTemperature"
                (valueChange)="updateColorTemperature($event)"
              ></app-cct-input-setting>
            </app-setting-row>
          </div>
        }
      </div>
    </div>
  }
  <div class="setting-category">
    <h3 transloco="brightness-automations.miscConfig"></h3>
    <div class="settings">
      <app-setting-row
        label="brightness-automations.transition.title"
        description="brightness-automations.transition.description"
      >
        <label class="switch-toggle">
          <input type="checkbox" [checked]="config().transition" (change)="toggleTransition()" />
          <span class="switch-toggle-slider"></span>
        </label>
      </app-setting-row>
      @if (config().transition) {
        <div class="setting-row-group" @vshrink>
          <app-setting-row
            label="brightness-automations.transitionTime.title"
            description="brightness-automations.transitionTime.description"
          >
            <app-duration-input-setting
              [value]="config().transitionTime"
              (valueChange)="updateTransitionTime($event)"
            ></app-duration-input-setting>
          </app-setting-row>
        </div>
      }
    </div>
  </div>
</div>
