@import 'shadows';

:host {
  position: relative;
  display: block;
}

.bg {
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.btn-close {
  background: transparent;
  border: none;
  color: var(--color-text-0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(50% - 1.5em);
  width: 3em;
  height: 3em;
  left: 5.5em;
  cursor: pointer;
  border-radius: var(--surface-border-radius);
  transition: all .15s ease;
  &:hover {
    background: rgba(black, 0.4);
  }
  &:active {
    opacity: 0.8;
  }
}

.pane {
  background: var(--color-surface-3);
  width: calc(100% - 10em);
  left: 10em;
  height: 100%;
  top: 0;
  position: absolute;
  padding: 2em;
  border-left: 1px solid var(--color-surface-4);
  @include shadow(2, true);
  border-radius: 0;
  overflow-y: overlay;
}

.header-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background: var(--color-surface-2);
  border-radius: var(--surface-border-radius);

  &-title {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 1em;
    span:first-child {
      font-size: 1.3em;
    }
    span:last-child {
      font-size: 1em;
      color: var(--color-text-2);
    }
  }
  &-toggle {
    padding: 0 1em;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.setting-category-title-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .warning-icon {
    color: var(--color-warning);
    margin-right: 0.5em;
    i.material-symbols-outlined {
      font-size: 1.5em;
    }
  }
}
