<div class="item-container">
  <div class="item-content">
    <span class="material-symbols-outlined icon" [ngClass]="'icon-' + getIcon()">
      {{ getIcon() }}
    </span>
    <div class="text-content">
      <span>{{ message().title | translate }}</span>
      <span *ngIf="message().message">{{ message().message | translate }}</span>
    </div>
  </div>
  <div class="actions" *ngIf="actions().length > 0">
    <button *ngFor="let action of actions()" (click)="action.action()">
      {{ action.label | translate }}
    </button>
  </div>
</div>
