<div class="pane" *ngIf="type">
  <div class="label" @hshrink *ngFor="let label of hoverAction ? [hoverAction] : []">
    <span>{{ label | translate }}</span>
  </div>
  <div class="action-row">
    <button
      class="btn-power power-on"
      (mouseenter)="setHoverAction('comp.device-list.lhForceState.on')"
      (mouseleave)="hoverAction = ''"
      (click)="action.emit('on')"
    >
      <i class="material-icons">power_settings_new</i>
    </button>
    <button
      class="btn-power power-off"
      (mouseenter)="setHoverAction('comp.device-list.lhForceState.standby')"
      (mouseleave)="hoverAction = ''"
      (click)="action.emit('standby')"
      *ngIf="type === 'lighthouseV2'"
    >
      <i class="material-icons">mode_standby</i>
    </button>
    <button
      class="btn-power power-off"
      (mouseenter)="setHoverAction('comp.device-list.lhForceState.sleep')"
      (mouseleave)="hoverAction = ''"
      (click)="action.emit('sleep')"
    >
      <i class="material-icons">nights_stay</i>
    </button>
  </div>
</div>
<div class="spacer"></div>
