<div class="pane fill">
  <div class="pane-title" transloco="systemMicMuteAutomations.title"></div>
  <div class="pane-content scroll">
    <div class="setting-view-container">
      <p transloco="systemMicMuteAutomations.description"></p>
      <div class="setting-category">
        <div class="settings">
          <app-setting-row
            label="systemMicMuteAutomations.audioDevice.title"
            description="systemMicMuteAutomations.audioDevice.description"
          >
            <div class="audio-device-row">
              <ng-container *ngVar="systemMicMuteAutomationService.isMicMuted | async as muted">
                @if (muted !== null) {
                  <button
                    class="btn btn-mute-toggle"
                    @fade
                    (click)="systemMicMuteAutomationService.toggleMute()"
                  >
                    @if (muted === true) {
                      <i class="material-icons muted">mic_off</i>
                    }
                    @if (muted === false) {
                      <i class="material-icons unmuted">mic</i>
                    }
                  </button>
                }
              </ng-container>
              <app-select-box
                class="device-dropdown"
                [items]="audioDeviceOptions"
                [selected]="audioDeviceOption"
                (selectedChange)="onChangeAudioDevice($event)"
              ></app-select-box>
            </div>
          </app-setting-row>
        </div>
      </div>
      <div class="setting-category">
        <h3 transloco="systemMicMuteAutomations.stateAutomations.title"></h3>
        <div class="settings">
          <app-setting-row
            label="systemMicMuteAutomations.stateAutomations.onSleepModeEnable.title"
            description="systemMicMuteAutomations.stateAutomations.onSleepModeEnable.description"
          >
            <app-select-box
              type="SMALL"
              class="action-dropdown"
              [items]="muteActionOptions"
              [selected]="onSleepEnableMuteOption"
              (selectedChange)="onChangeMuteOption('ON_SLEEP_ENABLE', $event)"
            ></app-select-box>
          </app-setting-row>
          <app-setting-row
            label="systemMicMuteAutomations.stateAutomations.onSleepModeDisable.title"
            description="systemMicMuteAutomations.stateAutomations.onSleepModeDisable.description"
          >
            <app-select-box
              type="SMALL"
              class="action-dropdown"
              [items]="muteActionOptions"
              [selected]="onSleepDisableMuteOption"
              (selectedChange)="onChangeMuteOption('ON_SLEEP_DISABLE', $event)"
            ></app-select-box>
          </app-setting-row>
          <app-setting-row
            label="systemMicMuteAutomations.stateAutomations.onSleepPreparation.title"
            description="systemMicMuteAutomations.stateAutomations.onSleepPreparation.description"
          >
            <app-select-box
              type="SMALL"
              class="action-dropdown"
              [items]="muteActionOptions"
              [selected]="onSleepPreparationMuteOption"
              (selectedChange)="onChangeMuteOption('ON_SLEEP_PREPARATION', $event)"
            ></app-select-box>
          </app-setting-row>
        </div>
      </div>
      <div class="setting-category">
        <h3 transloco="systemMicMuteAutomations.vrchat.title"></h3>
        <div class="settings">
          <app-setting-row
            label="systemMicMuteAutomations.vrchat.worldJoinBehaviour.title"
            description="systemMicMuteAutomations.vrchat.worldJoinBehaviour.description"
          >
            <app-select-box
              type="SMALL"
              class="action-dropdown"
              [items]="worldJoinBehaviourOptions"
              [selected]="worldJoinBehaviourOption"
              (selectedChange)="onChangeWorldJoinBehaviourOption($event)"
            ></app-select-box>
          </app-setting-row>
        </div>
      </div>
      <div class="setting-category">
        <h3 transloco="systemMicMuteAutomations.overlayIndicator.title"></h3>
        <p transloco="systemMicMuteAutomations.overlayIndicator.description"></p>
        <div class="settings">
          <app-setting-row
            label="systemMicMuteAutomations.overlayIndicator.enabled.title"
            description="systemMicMuteAutomations.overlayIndicator.enabled.description"
          >
            <label class="switch-toggle">
              <input
                type="checkbox"
                [checked]="config.overlayMuteIndicator"
                (change)="onChangeOverlayMuteIndicator()"
              />
              <span class="switch-toggle-slider"></span>
            </label>
          </app-setting-row>
          @if (config.overlayMuteIndicator) {
            <div class="setting-row-group" @vshrink>
              <app-setting-row
                label="systemMicMuteAutomations.overlayIndicator.opacity.title"
                description="systemMicMuteAutomations.overlayIndicator.opacity.description"
                [class.disabled]="!config.overlayMuteIndicator"
              >
                <app-slider-setting
                  [unit]="'%'"
                  [min]="5"
                  [max]="100"
                  [value]="config.overlayMuteIndicatorOpacity"
                  (valueChange)="onChangeOverlayMuteIndicatorOpacity($event)"
                >
                </app-slider-setting>
              </app-setting-row>
              <app-setting-row
                label="systemMicMuteAutomations.overlayIndicator.fade.title"
                description="systemMicMuteAutomations.overlayIndicator.fade.description"
                [class.disabled]="!config.overlayMuteIndicator"
              >
                <label class="switch-toggle">
                  <input
                    type="checkbox"
                    [checked]="config.overlayMuteIndicatorFade"
                    (change)="onChangeOverlayMuteIndicatorFade()"
                  />
                  <span class="switch-toggle-slider"></span>
                </label>
              </app-setting-row>
              <app-setting-row
                label="systemMicMuteAutomations.overlayIndicator.voiceActivityMode.title"
                description="systemMicMuteAutomations.overlayIndicator.voiceActivityMode.description"
                [class.disabled]="!config.overlayMuteIndicator"
              >
                <app-select-box
                  type="SMALL"
                  class="action-dropdown"
                  [items]="voiceActivationModeOptions"
                  [selected]="voiceActivationModeOption"
                  (selectedChange)="onChangeVoiceActivationMode($event)"
                ></app-select-box>
              </app-setting-row>
              @if (config.voiceActivationMode === 'HARDWARE') {
                <app-setting-row
                  label="systemMicMuteAutomations.overlayIndicator.hardwareVoiceActivityThreshold.title"
                  description="systemMicMuteAutomations.overlayIndicator.hardwareVoiceActivityThreshold.description"
                  [class.disabled]="!config.overlayMuteIndicator"
                  @vshrink
                >
                  <app-slider-setting
                    [unit]="'%'"
                    [style.--overlay-width]="'32em'"
                    [style]="'AUDIO_LEVEL'"
                    [value]="config.hardwareVoiceActivationThreshold"
                    (valueChange)="onChangeHardwareVoiceActivationThreshold($event)"
                    #voiceActivationThresholdSlider
                  >
                  </app-slider-setting>
                </app-setting-row>
              }
            </div>
          }
        </div>
      </div>
      <div class="setting-category">
        <h3 transloco="systemMicMuteAutomations.controllerBinding.title"></h3>
        <p transloco="systemMicMuteAutomations.controllerBinding.description"></p>
        <div class="alert">
          <div class="alert-bg"></div>
          <div class="alert-icon">
            <i class="material-icons">warning</i>
          </div>
          <div class="alert-content flex-row">
            <div transloco="systemMicMuteAutomations.controllerBinding.conflictWarning"></div>
          </div>
        </div>
        <div class="settings">
          <app-setting-row
            label="systemMicMuteAutomations.controllerBinding.enabled.title"
            description="systemMicMuteAutomations.controllerBinding.enabled.description"
          >
            <label class="switch-toggle">
              <input
                type="checkbox"
                [checked]="config.controllerBinding"
                (change)="onChangeControllerBinding()"
              />
              <span class="switch-toggle-slider"></span>
            </label>
          </app-setting-row>
          @if (config.controllerBinding) {
            <div class="setting-row-group" @vshrink>
              <app-setting-row
                label="systemMicMuteAutomations.controllerBinding.binding.title"
                description="systemMicMuteAutomations.controllerBinding.binding.description"
                [class.disabled]="!config.controllerBinding"
              >
                <app-controller-binding
                  [actionKey]="OVRInputEventAction.MuteMicrophone"
                ></app-controller-binding>
              </app-setting-row>
              <app-setting-row
                label="systemMicMuteAutomations.controllerBinding.mode.title"
                description="systemMicMuteAutomations.controllerBinding.mode.description"
                [class.disabled]="!config.controllerBinding"
              >
                <app-select-box
                  type="SMALL"
                  class="action-dropdown"
                  [items]="controlButtonBehaviorOptions"
                  [selected]="controlButtonBehaviorOption"
                  (selectedChange)="onChangeControlButtonBehaviorOption($event)"
                ></app-select-box>
              </app-setting-row>
              <app-setting-row
                label="systemMicMuteAutomations.controllerBinding.currentMode.title"
                description="systemMicMuteAutomations.controllerBinding.currentMode.description"
                [class.disabled]="!config.controllerBinding"
              >
                <span class="current-controller-behavior"
                  ><b>{{
                    'systemMicMuteAutomations.controllerBinding.currentMode.' +
                      (systemMicMuteAutomationService.effectiveControllerBehaviour | async)
                      | transloco
                  }}</b></span
                >
              </app-setting-row>
              <app-setting-row
                label="systemMicMuteAutomations.controllerBinding.volume.title"
                description="systemMicMuteAutomations.controllerBinding.volume.description"
                [class.disabled]="!config.controllerBinding"
              >
                <app-slider-setting
                  [unit]="'%'"
                  [value]="config.muteSoundVolume"
                  [max]="200"
                  [snapValues]="[50, 100, 150]"
                  (valueChange)="onChangeMuteSoundVolume($event)"
                >
                </app-slider-setting>
              </app-setting-row>
            </div>
          }
        </div>
        @if (config.controllerBinding) {
          <h3 @fade transloco="systemMicMuteAutomations.controllerBinding.automations"></h3>
        }
        @if (config.controllerBinding) {
          <div class="settings" @fade>
            <app-setting-row
              label="systemMicMuteAutomations.controllerBinding.onSleepModeEnable.title"
              description="systemMicMuteAutomations.controllerBinding.onSleepModeEnable.description"
              [class.disabled]="!config.controllerBinding"
            >
              <app-select-box
                type="SMALL"
                class="button-mode-dropdown"
                [items]="controlButtonBehaviorAutomationOptions"
                [selected]="onSleepEnableControlButtonBehaviorOption"
                (selectedChange)="
                  onChangeControlButtonBehaviorAutomationOption('ON_SLEEP_ENABLE', $event)
                "
              ></app-select-box>
            </app-setting-row>
            <app-setting-row
              label="systemMicMuteAutomations.controllerBinding.onSleepModeDisable.title"
              description="systemMicMuteAutomations.controllerBinding.onSleepModeDisable.description"
              [class.disabled]="!config.controllerBinding"
            >
              <app-select-box
                type="SMALL"
                class="button-mode-dropdown"
                [expandUp]="true"
                [items]="controlButtonBehaviorAutomationOptions"
                [selected]="onSleepDisableControlButtonBehaviorOption"
                (selectedChange)="
                  onChangeControlButtonBehaviorAutomationOption('ON_SLEEP_DISABLE', $event)
                "
              ></app-select-box>
            </app-setting-row>
            <app-setting-row
              label="systemMicMuteAutomations.controllerBinding.onSleepPreparation.title"
              description="systemMicMuteAutomations.controllerBinding.onSleepPreparation.description"
              [class.disabled]="!config.controllerBinding"
            >
              <app-select-box
                type="SMALL"
                class="button-mode-dropdown"
                [expandUp]="true"
                [items]="controlButtonBehaviorAutomationOptions"
                [selected]="onSleepPreparationControlButtonBehaviorOption"
                (selectedChange)="
                  onChangeControlButtonBehaviorAutomationOption('ON_SLEEP_PREPARATION', $event)
                "
              ></app-select-box>
            </app-setting-row>
          </div>
        }
      </div>
    </div>
  </div>
</div>
