<div class="pane">
  <div class="pane-title" translate>systemMicMuteAutomations.title</div>
  <div class="pane-content">
    <p translate>systemMicMuteAutomations.description</p>
    <h3 translate>systemMicMuteAutomations.automations.title</h3>
    <div class="settings">
      <div class="setting-row">
        <div class="setting-row-label" translate>
          <span translate>systemMicMuteAutomations.onSleepModeEnable.title</span>
          <span translate>systemMicMuteAutomations.onSleepModeEnable.description</span>
        </div>
        <div class="setting-row-action">
          <app-select-box
            type="SMALL"
            class="action-dropdown"
            [items]="muteActionOptions"
            [selected]="onSleepEnableMuteOption"
            (selectedChange)="onChangeMuteOption('ON_SLEEP_ENABLE', $event)"
          ></app-select-box>
        </div>
      </div>
      <div class="setting-row">
        <div class="setting-row-label" translate>
          <span translate>systemMicMuteAutomations.onSleepModeDisable.title</span>
          <span translate>systemMicMuteAutomations.onSleepModeDisable.description</span>
        </div>
        <div class="setting-row-action">
          <app-select-box
            type="SMALL"
            class="action-dropdown"
            [items]="muteActionOptions"
            [selected]="onSleepDisableMuteOption"
            (selectedChange)="onChangeMuteOption('ON_SLEEP_DISABLE', $event)"
          ></app-select-box>
        </div>
      </div>
      <div class="setting-row">
        <div class="setting-row-label" translate>
          <span translate>systemMicMuteAutomations.onSleepPreparation.title</span>
          <span translate>systemMicMuteAutomations.onSleepPreparation.description</span>
        </div>
        <div class="setting-row-action">
          <app-select-box
            type="SMALL"
            class="action-dropdown"
            [items]="muteActionOptions"
            [selected]="onSleepPreparationMuteOption"
            (selectedChange)="onChangeMuteOption('ON_SLEEP_PREPARATION', $event)"
          ></app-select-box>
        </div>
      </div>
    </div>
    <div class="setting-category">
      <h3 translate>systemMicMuteAutomations.config.title</h3>
      <div class="settings">
        <div class="setting-row">
          <div class="setting-row-label" translate>
            <span translate>systemMicMuteAutomations.audioDevice.title</span>
            <span translate>systemMicMuteAutomations.audioDevice.description</span>
          </div>
          <div class="setting-row-action">
            <div class="audio-device-row">
              <button class="btn btn-mute-toggle">
                <i class="material-icons muted">mic_off</i>
                <!--                              <i class="material-icons unmuted">mic</i>-->
              </button>
              <app-select-box
                class="device-dropdown"
                [items]="audioDeviceOptions"
                [selected]="audioDeviceOption"
                (selectedChange)="onChangeAudioDevice($event)"
              ></app-select-box>
            </div>
          </div>
        </div>
        <div class="setting-row">
          <div class="setting-row-label" translate>
            <span translate>systemMicMuteAutomations.overlayIndicator.title</span>
            <span translate>systemMicMuteAutomations.overlayIndicator.description</span>
          </div>
          <div class="setting-row-action">
            <label class="switch-toggle">
              <input
                type="checkbox"
              />
              <span class="switch-toggle-slider"></span>
            </label>
          </div>
        </div>
        <div class="setting-row-group">
          <div class="setting-row">
            <div class="setting-row-label" translate>
              <span translate>systemMicMuteAutomations.overlayIndicatorOpacity.title</span>
              <span translate>systemMicMuteAutomations.overlayIndicatorOpacity.description</span>
            </div>
            <div class="setting-row-action">
              <app-slider-setting [unit]="'%'" [min]="10" [max]="100">
              </app-slider-setting>
            </div>
          </div>
          <div class="setting-row">
            <div class="setting-row-label" translate>
              <span translate>systemMicMuteAutomations.overlayIndicatorFade.title</span>
              <span translate>systemMicMuteAutomations.overlayIndicatorFade.description</span>
            </div>
            <div class="setting-row-action">
              <label class="switch-toggle">
                <input
                  type="checkbox"
                />
                <span class="switch-toggle-slider"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="setting-row">
          <div class="setting-row-label" translate>
            <span translate>systemMicMuteAutomations.controllerButton.title</span>
            <span translate>systemMicMuteAutomations.controllerButton.description</span>
          </div>
          <div class="setting-row-action">
            <app-select-box
              type="SMALL"
              class="action-dropdown"
              [items]="controlButtonOptions"
              [selected]="controlButtonOption"
              (selectedChange)="onChangeControlButtonOption($event)"
              [expandUp]="true"
            ></app-select-box>
          </div>
        </div>
        <div class="setting-row-group">
          <div class="setting-row">
            <div class="setting-row-label" translate>
              <span translate>systemMicMuteAutomations.controllerButtonMode.title</span>
              <span translate>systemMicMuteAutomations.controllerButtonMode.description</span>
            </div>
            <div class="setting-row-action">
              <app-select-box
                type="SMALL"
                class="action-dropdown"
                [expandUp]="true"
                [items]="controlButtonBehaviorOptions"
                [selected]="controlButtonBehaviorOption"
                (selectedChange)="onChangeControlButtonBehaviorOption($event)"
              ></app-select-box>
            </div>
          </div>
          <div class="setting-row">
            <div class="setting-row-label" translate>
              <span translate>systemMicMuteAutomations.controllerButtonVolume.title</span>
              <span translate>systemMicMuteAutomations.controllerButtonVolume.description</span>
            </div>
            <div class="setting-row-action">
              <app-slider-setting [unit]="'%'">
              </app-slider-setting>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
