<div class="pane" [@noop]>
  <!-- TITLE-->
  <div class="pane-title" translate
    ><span translate>gpu-automations.title</span>
    <button
      class="btn btn-secondary"
      *ngIf="!['DISABLED'].includes(panel)"
      (click)="gpuAutomations.disable()"
      translate
      @fade
    >
      gpu-automations.disable
    </button>
  </div>
  <!-- TAB BAR-->
  <div class="tab-bar" *ngIf="panel === 'ENABLED'" @vshrink>
    <div
      class="tab"
      [class.active]="activeTab === 'POWER_LIMITS'"
      (click)="activeTab = 'POWER_LIMITS'"
    >
      <div class="tab-label" translate>gpu-automations.tabs.powerLimiting</div>
    </div>
    <div
      class="tab"
      [class.active]="activeTab === 'MSI_AFTERBURNER'"
      (click)="activeTab = 'MSI_AFTERBURNER'"
    >
      <div class="tab-label" translate>gpu-automations.tabs.msiAfterburner</div>
    </div>
  </div>
  <!-- PANES-->
  <app-gpu-powerlimiting-pane
    *ngIf="panel === 'ENABLED' && activeTab === 'POWER_LIMITS'"
  ></app-gpu-powerlimiting-pane>
  <app-msi-afterburner-pane
    *ngIf="panel === 'ENABLED' && activeTab === 'MSI_AFTERBURNER'"
  ></app-msi-afterburner-pane>
  <!--  DISABLED-->
  <div class="pane-content pane-content-disabled" *ngIf="panel !== 'ENABLED'">
    <div class="icon">
      <i class="material-icons" *ngIf="['DISABLED'].includes(panel)">info</i>
      <i class="material-icons" *ngIf="['NO_SIDECAR'].includes(panel)"> warning </i>
    </div>
    <div class="description" [innerHTML]="disabledMessage | translate"></div>
    <div class="btn-row">
      <button
        class="btn btn-primary action"
        *ngIf="panel === 'NO_SIDECAR'"
        (click)="startSidecar()"
        translate
      >
        gpu-automations.requestAdministrator
      </button>
      <button
        class="btn btn-secondary action"
        *ngIf="!['DISABLED'].includes(panel)"
        (click)="gpuAutomations.disable()"
        translate
      >
        gpu-automations.disable
      </button>
    </div>
    <div class="alert" *ngIf="panel === 'DISABLED'">
      <div class="alert-bg"></div>
      <div class="alert-icon">
        <i class="material-icons">warning</i>
      </div>
      <div class="alert-content flex-row">
        <span [innerHTML]="'gpu-automations.enableWarning' | translate"></span>
        <button class="btn btn-primary" (click)="gpuAutomations.enable()" translate>
          gpu-automations.enable
        </button>
      </div>
    </div>
  </div>
</div>
