@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'material-icons/iconfont/material-icons.css';

.vrc-status-color {
	&-Active {
		background-color: var(--color-vrchat-status-green);
	}
	&-JoinMe {
		background-color: var(--color-vrchat-status-blue);
	}
	&-AskMe {
		background-color: var(--color-vrchat-status-orange);
	}
	&-Busy {
		background-color: var(--color-vrchat-status-red);
	}
	&-Offline {
		background-color: black;
	}
}
