// Define a consistent background color for off states at the top of the file
//
// SWITCH TOGGLE
//

// Common variables for form controls
$form-control-off-bg: rgba(255, 255, 255, 0.12);
$form-control-off-border: rgba(255, 255, 255, 0.25);
$form-control-hover-bg: rgba(255, 255, 255, 0.17);

.switch-toggle {
  position: relative;
  display: inline-block;
  width: 2.5em;
  height: 1.5em;
  border-radius: 1.5em;
  transition: all 0.15s ease;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.switch-toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $form-control-off-bg;
  -webkit-transition: 0.4s;
  transition: transform 0.4s ease, background-color 0.4s ease, opacity 0.15s ease;
  border-radius: 1.5em;
  overflow: hidden;
  box-shadow: 0 0 0 1px $form-control-off-border;

  &:before {
    position: absolute;
    content: '';
    height: 1em;
    width: 1em;
    left: 0.25em;
    bottom: 0.25em;
    background-color: white;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border-radius: 50%;
  }
}

input:active + .switch-toggle-slider {
  opacity: 0.75;
}

input:checked + .switch-toggle-slider {
  background-color: var(--color-primary);
  box-shadow: none;
}

input:focus + .switch-toggle-slider {
  box-shadow: 0 0 0 1px $form-control-off-border;
}

input:checked + .switch-toggle-slider:before {
  -webkit-transform: translateX(1em);
  -ms-transform: translateX(1em);
  transform: translateX(1em);
}

//
// CHECK TOGGLE
//

.check-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .check-toggle-checkmark:after {
      opacity: 1;
    }
  }

  &-checkmark {
    position: relative;
    height: 1.25em;
    width: 1.25em;
    min-height: 1.25em;
    min-width: 1.25em;
    background-color: $form-control-off-bg;
    border-radius: 0.25em;
    transition: all 0.15s ease;
    box-shadow: 0 0 0 1px $form-control-off-border;

    &:after {
      content: '';
      position: absolute;
      opacity: 0;
      left: 0.35em;
      top: 0.2em;
      width: 0.25em;
      height: 0.5em;
      border: solid var(--color-text-0);
      border-width: 0 0.2em 0.2em 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      transition: all 0.1s ease;
    }
  }

  &:hover input:not(:disabled) ~ &-checkmark {
    background-color: $form-control-hover-bg;
  }

  input:active ~ .check-toggle-checkmark {
    opacity: 0.75;
  }

  &:hover input:checked:not(:disabled) ~ &-checkmark {
    background-color: var(--color-primary-hover);
    opacity: 1;
  }

  input:checked ~ .check-toggle-checkmark {
    background-color: var(--color-primary);
    box-shadow: none;
  }

  input:checked:active ~ .check-toggle-checkmark {
    opacity: 0.75 !important;
    background-color: var(--color-primary-active);
    box-shadow: none;
  }

  input:focus ~ .check-toggle-checkmark {
    box-shadow: 0 0 0 1px $form-control-off-border;
  }

  input:checked:disabled ~ .check-toggle-checkmark {
    opacity: 0.5;
  }

  &-label {
    &:first-child {
      margin-right: 0.5em;
    }

    &:last-child {
      margin-left: 0.5em;
    }
  }
}

//
// RADIO BUTTON
//

.radio-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .radio-button-dot:after {
      opacity: 1;
    }
  }

  &-dot {
    position: relative;
    height: 1.3em;
    width: 1.3em;
    background-color: $form-control-off-bg;
    border-radius: 9999999px;
    transition: all 0.1s ease;
    box-shadow: 0 0 0 1px $form-control-off-border;

    &:after {
      overflow: hidden;
      border-radius: 9999999px;
      content: '';
      position: absolute;
      opacity: 0;
      left: 50%;
      top: 50%;
      background: var(--color-text-0);
      width: 0.5em;
      height: 0.5em;
      transition: all 0.1s ease;
      transform: translate(-50%, -50%);
    }
  }

  &:hover input:not(:disabled) ~ &-dot {
    background-color: $form-control-hover-bg;
  }

  input:active ~ .radio-button-dot {
    opacity: 0.75;
  }

  &:hover input:checked:not(:disabled) ~ &-dot {
    opacity: 0.9;
  }

  input:checked ~ .radio-button-dot {
    background-color: var(--color-primary);
    box-shadow: none;
  }

  input:focus ~ .radio-button-dot {
    box-shadow: 0 0 0 1px $form-control-off-border;
  }

  input:checked:focus ~ .radio-button-dot {
    box-shadow: 0 0 0 1px var(--color-primary);
  }

  input:checked:disabled ~ .radio-button-dot {
    opacity: 0.5;
  }

  &-label {
    &:first-child {
      margin-right: 0.5em;
    }

    &:last-child {
      margin-left: 0.5em;
    }
  }
}

//
// GENERIC INPUTS
//

input {
  &:focus {
    outline: none;
  }
}

input[type='time'] {
  text-align: center;
}

input[type='number'],
input[type='text'],
input[type='password'],
input[type='time'] {
  position: relative;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  background: $form-control-off-bg;
  color: var(--color-text-1);
  transition: all 0.15s ease;
  box-shadow: none;

  &.small {
    height: 2.5em;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:focus {
    outline: none;
    background: $form-control-hover-bg;
  }

  &:hover:not(:disabled) {
    background: $form-control-hover-bg;
  }

  &:active:not(:disabled) {
    opacity: 0.9;
  }
}

input[type='number'] {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input[type='time']::-webkit-calendar-picker-indicator {
  background: none;
  display: none;
}

.input-wrapper {
  position: relative;

  &:after {
    border-radius: 0.5em;
    transition: all 0.15s ease;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
    border: 2px solid transparent;
  }

  &.disabled {
    opacity: 0.5;
  }

  &.invalid:after {
    border-color: var(--color-alert-error);
  }

  &.with-unit {
    input {
      padding-right: 1.75em;
    }

    span {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 2em;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
    }
  }
}

//
// File Input
//
.file-path-bar {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-width: 30em;
  margin: 1em 0;

  &-path {
    flex: 1;
    background: $form-control-off-bg;
    padding: 1em 1.5em;
    border-radius: 0.5em 0 0 0.5em;
    box-shadow: none;

    input {
      width: 100%;
      border: none;
      background: none;
      color: var(--color-text-1);

      &:focus {
        outline: none;
      }
    }

    &:hover {
      background: $form-control-hover-bg;
    }
  }

  &-btn-browse {
    flex-shrink: 0;
    padding: 0 1em;
    border: none;
    border-radius: 0 0.5em 0.5em 0;
    background: var(--color-primary);
    color: var(--color-on-primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease;
    cursor: pointer;

    &:hover {
      background: var(--color-primary-hover);
    }

    &:active {
      background: var(--color-primary-active);
    }
  }
}
