///
/// AUTOMATIONS
///
.automation-settings {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &-row {
    display: flex;
    flex-direction: row;
    align-items: center;

    &:not(:last-child) {
      padding-bottom: 1em;
    }

    &-label {
      flex: 1;


    }
  }

  &-controls {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    input {
      text-align: right;
    }
  }
}

///
/// Settings Layout
///
.setting-category {
  &:not(:first-child) {
    margin-top: 1em;
  }

  p {
    white-space: pre-wrap;
  }

  p::ng-deep strong {
    background: var(--color-surface-1);
    border-radius: 0.25em;
    padding: 0.125em 0.25em;
    font-weight: 500;
  }

  h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    button {
      margin-left: 1em;
      font-size: 0.6em;
    }
  }
}

.settings {
  display: flow-root;
  margin-bottom: 1em;
  background: var(--color-surface-1);
  border-radius: var(--surface-border-radius);

  & > * {
    transition: all 0.15s ease;
  }

  & > .alert {
    margin: 1em;
  }

  &.disabled {
    pointer-events: none;

    & > *:not(.alert) {
      opacity: 0.5;
    }
  }

  .setting-row-group {
    display: flex;
    flex-direction: column;
    background: var(--color-surface-0);
    margin-left: 2em;
    position: relative;
    border-radius: var(--surface-border-radius) 0 var(--surface-border-radius) 0;

    &:not(:last-child) {
      border-radius: var(--surface-border-radius) 0 var(--surface-border-radius) var(--surface-border-radius);
    }
  }

  .setting-row,
  .setting-alert-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;
    position: relative;
    transition: all 0.15s ease;

    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    &.setting-alert-row {
      padding: 0 1em 1em 1em;
      flex-direction: column;

      .alert {
        width: 100%;
        margin: 0;
      }
    }

    &.compact {
      padding: 0.25em 1em;

      .setting-row-label > span:first-child {
        margin-bottom: 0.0625em;
      }

      &:first-child {
        margin-top: 0.25em;
      }

      &:last-child {
        margin-bottom: 0.25em;
      }
    }

    .setting-row-icon {
      flex-shrink: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding-right: 1em;
    }

    .setting-row-label {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      flex: 1;
      white-space: pre-line;

      > span:first-child {
        color: var(--color-text-1);
        margin-bottom: 0.25em;
      }

      > span:last-child {
        color: var(--color-text-3);
      }

      &.conflict {
        i.material-icons {
          line-height: 0;
          vertical-align: center;
          color: var(--color-alert-warning);
          margin-right: 0.25em;
        }

        span:first-child {
          font-weight: bold;
          vertical-align: center;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
        }
      }
    }

    .setting-row-action {
      flex-shrink: 0;
      margin-left: 1em;
      padding: 0 1em;
      display: flex;
      flex-direction: row;
      align-items: center;

      & > * {
        &:not(:last-child) {
          margin-right: 0.5em;
        }
      }
    }
  }
}

@function pow($base, $exponent) {
  $result: 1;
  @for $_ from 1 through $exponent {
    $result: $result * $base;
  }
  @return $result;
}
