@import 'node_modules/sass-material-colors/sass/sass-material-colors';
@import 'shadows.scss';

@mixin baseTheme() {
  --color-primary: #3aa8b5;
  --color-primary-hover: #51b7c3;
  --color-primary-active: #297780;
  --color-secondary: var(--color-surface-0);
  --color-secondary-hover: var(--color-surface-1);
  --color-secondary-active: var(--color-surface-0);
  --color-surface-0: #15161b;
  --color-surface-1: #1c1c24;
  --color-surface-2: #232429;
  --color-surface-3: #2b2f3b;
  --color-surface-4: #383e4e;
  --color-surface-5: #939bb0;
  --color-surface-6: #ffffff;
  --color-text-0: #e7eaf1;
  --color-text-1: #bac1d4;
  --color-text-2: #88909b;
  --color-text-3: #727584;
  --color-text-4: #010e16;

  --color-alert-info: var(--color-info);
  --color-on-alert-info: var(--color-on-info);
  --color-alert-success: var(--color-success);
  --color-on-alert-success: var(--color-on-success);
  --color-alert-warning: var(--color-warning);
  --color-on-alert-warning: var(--color-on-warning);
  --color-alert-error: var(--color-caution);
  --color-on-alert-error: var(--color-on-caution);

  --surface-border-radius: 0.5em;
  --window-border-radius: 7px;

  --color-vrchat-status-blue: #409eff;
  --color-vrchat-status-green: #67c23a;
  --color-vrchat-status-orange: #fd9200;
  --color-vrchat-status-red: #f56c6c;

  --gradient-cct: linear-gradient(
    90deg,
    rgb(255, 67.92041905680745, 0),
    rgb(255, 72.7736158450484, 0),
    rgb(255, 77.40099913656914, 0),
    rgb(255, 81.82265163585672, 0),
    rgb(255, 86.05609063984932, 0),
    rgb(255, 90.11668719794449, 0),
    rgb(255, 94.01800301330056, 0),
    rgb(255, 97.77206372761702, 0),
    rgb(255, 101.38958248145963, 0),
    rgb(255, 104.88014422689218, 0),
    rgb(255, 108.25235878098636, 0),
    rgb(255, 111.51398877384526, 0),
    rgb(255, 114.67205727626055, 0),
    rgb(255, 117.73293886074805, 0),
    rgb(255, 120.70243706482012, 0),
    rgb(255, 123.5858506225967, 0),
    rgb(255, 126.38803036402822, 0),
    rgb(255, 129.11342831655577, 0),
    rgb(255, 131.7661402573828, 0),
    rgb(255, 134.34994273747947, 6.7990395334438745),
    rgb(255, 136.86832541739756, 13.904070298965905),
    rgb(255, 139.32451940970947, 20.66237314571822),
    rgb(255, 141.72152220563856, 27.106220167926722),
    rgb(255, 144.06211966828067, 33.26357746810652),
    rgb(255, 146.3489054971593, 39.15883869912807),
    rgb(255, 148.58429850516524, 44.81340876407563),
    rgb(255, 150.77055799644688, 50.24617296702013),
    rgb(255, 152.9097974903575, 55.47387757481977),
    rgb(255, 155.00399700043948, 60.511441135298355),
    rgb(255, 157.0550140472489, 65.37221114117972),
    rgb(255, 159.06459355853457, 70.0681771642378),
    rgb(255, 161.034376788999, 74.61014902888593),
    rgb(255, 162.96590937389072, 79.0079066887082),
    rgb(255, 164.8606486154422, 83.27032703319856),
    rgb(255, 166.71997008820716, 87.40549175897922),
    rgb(255, 168.54517363829632, 91.42077960040814),
    rgb(255, 170.33748884204977, 95.32294556439996),
    rgb(255, 172.09807998156174, 99.11818930677782),
    rgb(255, 173.82805058748232, 102.81221438829584),
    rgb(255, 175.52844759348653, 106.41027983229202),
    rgb(255, 177.2002651415765, 109.91724515381793),
    rgb(255, 178.84444807285138, 113.33760982780717),
    rgb(255, 180.4618951344354, 116.67554800057025),
    rgb(255, 182.05346192981744, 119.93493911638137),
    rgb(255, 183.61996363685068, 123.1193950227788),
    rgb(255, 185.16217751502774, 126.23228402950963),
    rgb(255, 186.6808452213382, 129.2767523229586),
    rgb(255, 188.17667495198037, 132.25574307738486),
    rgb(255, 189.65034342541026, 135.17201355398015),
    rgb(255, 191.10249772062582, 138.0281504367406),
    rgb(255, 192.53375698318678, 140.82658361892766),
    rgb(255, 193.94471401022759, 143.5695986242511),
    rgb(255, 195.33593672461836, 146.2593478218722),
    rgb(255, 196.70796954745043, 148.89786057310806),
    rgb(255, 198.06133467714596, 151.48705242967185),
    rgb(255, 199.3965332827135, 154.02873348788853),
    rgb(255, 200.71404661797294, 156.52461599015044),
    rgb(255, 202.01433706294853, 158.9763212535678),
    rgb(255, 203.2978490980696, 161.3853859960318),
    rgb(255, 204.56501021631556, 163.75326812150655),
    rgb(255, 205.8162317779877, 166.08135201908988),
    rgb(255, 207.05190981238604, 168.3709534240731),
    rgb(255, 208.2724257702996, 170.62332388373795),
    rgb(255, 209.47814723088737, 172.83965486584214),
    rgb(255, 210.6694285662287, 175.02108154356029),
    rgb(255, 211.84661156654727, 177.16868628698194),
    rgb(255, 213.01002602887087, 179.28350188805064),
    rgb(255, 214.1599903116612, 181.366514542998),
    rgb(255, 215.2968118577494, 183.4186666138313),
    rgb(255, 216.42078768772416, 185.4408591882305),
    rgb(255, 217.53220486575538, 187.4339544552601),
    rgb(255, 218.63134093967994, 189.39877791257373),
    rgb(255, 219.71846435703702, 191.33612041925198),
    rgb(255, 220.79383485861433, 193.24674010705257),
    rgb(255, 221.8577038509476, 195.1313641616299),
    rgb(255, 222.91031475910995, 196.9906904841996),
    rgb(255, 223.95190336102962, 198.82538924314792),
    rgb(255, 224.98269810448426, 200.63610432422098),
    rgb(255, 226.00292040783899, 202.4234546871441),
    rgb(255, 227.01278494551713, 204.18803563582622),
    rgb(255, 228.0124999191247, 205.93042000867),
    rgb(255, 229.0022673150866, 207.65115929494368),
    rgb(255, 229.98228314958914, 209.3507846826592),
    rgb(255, 230.95273770157496, 211.0298080429368),
    rgb(255, 231.91381573448086, 212.68872285542238),
    rgb(255, 232.86569670736571, 214.32800507894103),
    rgb(255, 233.80855497603233, 215.9481139712334),
    rgb(255, 234.7425599847059, 217.54949286130363),
    rgb(255, 235.6678764487973, 219.13256987763077),
    rgb(255, 236.58466452924335, 220.6977586352358),
    rgb(255, 237.49307999888646, 222.2454588843617),
    rgb(255, 238.39327440132485, 223.77605712331444),
    rgb(255, 239.28539520263996, 225.28992717781068),
    rgb(255, 240.169585936379, 226.7874307490098),
    rgb(255, 241.04598634215188, 228.26891793223683),
    rgb(255, 241.91473249817403, 229.73472770825765),
    rgb(255, 242.7759569480724, 231.18518840883223),
    rgb(255, 243.62978882224854, 232.62061815814423),
    rgb(255, 244.47635395407667, 234.04132529159256),
    rgb(255, 245.31577499119948, 235.44760875332258),
    rgb(255, 246.14817150216658, 236.83975847377974),
    rgb(255, 246.97366007864815, 238.21805572847984),
    rgb(255, 247.79235443344152, 239.58277347910314),
    rgb(255, 248.60436549447854, 240.93417669795076),
    rgb(255, 249.40980149502553, 242.2725226767243),
    rgb(255, 250.20876806026183, 243.5980613205321),
    rgb(255, 251.00136829040758, 244.9110354279602),
    rgb(255, 251.78770284056736, 246.21168095799385),
    rgb(255, 252.56786999744077, 247.50022728452393),
    rgb(255, 253.34196575304975, 248.7768974391238),
    rgb(255, 254.11008387561782, 250.0419083427406),
    rgb(255, 254.87231597773484, 251.29547102690174),
    rgb(255, 255, 255),
    rgb(255, 250.1437445482834, 255),
    rgb(254.4170367313746, 248.7477867413848, 255),
    rgb(252.08960978167653, 247.45518432802086, 255),
    rgb(249.9317249858929, 246.25211663800485, 255),
    rgb(247.92153187193446, 245.1273364957567, 255),
    rgb(246.04108141327518, 244.07157131020128, 255),
    rgb(244.2754564488871, 243.07708840412528, 255),
    rgb(242.61213054038774, 242.1373734229942, 255),
    rgb(241.04048704490395, 241.24688832046442, 255),
    rgb(239.55145278127313, 240.4008864419915, 255),
    rgb(238.1372151082787, 239.5952692952774, 255),
    rgb(236.7910006835772, 238.82647423516937, 255),
    rgb(235.50690048919742, 238.09138540065607, 255),
    rgb(234.2797300146432, 237.38726236692312, 255),
    rgb(233.10491647431857, 236.71168245323784, 255),
    rgb(231.97840703987447, 236.06249367139645, 255),
    rgb(230.89659357239677, 235.43777604771623, 255),
    rgb(229.85625042949502, 234.83580959504087, 255),
    rgb(228.8544827221895, 234.25504761087055, 255),
    rgb(227.8886829900944, 233.6940942749527, 255),
    rgb(226.95649470864117, 233.15168574307089, 255),
    rgb(226.05578137937812, 232.6266741033424, 255),
    rgb(225.18460021226164, 232.11801369122733, 255),
    rgb(224.34117960772954, 231.62474935981584, 255),
    rgb(223.52389980096058, 231.1460063801225, 255),
    rgb(222.7312761518496, 230.68098170745898, 255),
    rgb(221.96194465979426, 230.22893639843556, 255),
    rgb(221.21464935830178, 229.789189001714, 255),
    rgb(220.4882313051135, 229.36110977652123, 255),
    rgb(219.7816189323486, 228.94411561780908, 255),
    rgb(219.0938195606506, 228.5376655871007, 255),
    rgb(218.42391191342134, 228.14125696447505, 255),
    rgb(217.77103949347435, 227.75442175057992, 255),
    rgb(217.13440470599548, 227.3767235586141, 255),
    rgb(216.51326362949104, 227.00775484535473, 255),
    rgb(215.9069213511521, 226.64713443788744, 255),
    rgb(215.31472779534144, 226.29450531901662, 255),
    rgb(214.73607398417195, 225.9495326396225, 255),
    rgb(214.17038867775682, 225.61190193067642, 255),
    rgb(213.6171353489656, 225.28131749137168, 255),
    rgb(213.07580945364944, 224.95750093300055, 255),
    rgb(212.54593596249862, 224.64018986089886, 255),
    rgb(212.0270671251207, 224.3291366790744, 255),
    rgb(211.51878044070216, 224.02410750409663, 255),
    rgb(211.02067681285175, 223.72488117650312, 255),
    rgb(210.5323788689995, 223.43124835942515, 255),
    rgb(210.05352942711534, 223.1430107153776, 255),
    rgb(209.58379009457707, 222.8599801532368, 255),
    rgb(209.1228399858035, 222.58197813835966, 255),
    rgb(208.67037454681997, 222.308835059611, 255),
    rgb(208.2261044762722, 222.04038964776842, 255),
    rgb(207.7897547335819, 221.7764884403917, 255),
    rgb(207.36106362596496, 221.51698528878208, 255),
    rgb(206.93978196693467, 221.2617409031291, 255),
    rgb(206.525672299703, 221.01062243235725, 255),
    rgb(206.11850817958748, 220.76350307555126, 255),
    rgb(205.718073510146, 220.5202617221595, 255),
    rgb(205.3241619283017, 220.28078261846173, 255),
    rgb(204.93657623419944, 220.04495505803837, 255),
    rgb(204.55512786196064, 219.81267309420213, 255),
    rgb(204.17963638787867, 219.58383527255364, 255),
    rgb(203.80992907293341, 219.35834438199697, 255),
    rgb(203.4458404368024, 219.136107222711, 255),
    rgb(203.08721186081118, 218.9170343897123, 255),
    rgb(202.73389121750478, 218.70104007077242, 255),
    rgb(202.3857325247357, 218.4880418575638, 255),
    rgb(202.04259562235347, 218.27796056901167, 255),
    rgb(201.70434586975458, 218.07072008591913, 255)
  );
}

@mixin lightTheme() {
  --theme-name: 'light';

  @for $i from 1 through 5 {
    --shadow-#{$i}: #{build-shadow($i, true, false)};
    --shadow-inset-#{$i}: #{build-shadow($i, true, true)};
  }

  --color-info: #{material-color('blue', '500')};
  --color-info-hover: #{material-color('blue', '400')};
  --color-on-info: white;

  --color-caution: #{material-color('red', '600')};
  --color-caution-hover: #{material-color('red', '500')};
  --color-on-caution: white;

  --color-warning: #{material-color('amber', '600')};
  --color-warning-hover: #{material-color('amber', '500')};
  --color-on-warning: #{material-color('grey', '900')};

  --color-success: #{material-color('light-green', '500')};
  --color-success-hover: #{material-color('light-green', '400')};
  --color-on-success: white;
}

@mixin darkTheme() {
  --theme-name: 'dark';

  --color-primary: #3aa8b5;
  --color-primary-hover: #51b7c3;
  --color-primary-active: #297780;
  --color-surface-0: #15161b;
  --color-surface-1: #1c1c24;
  --color-surface-2: #232630;
  --color-surface-3: #2b2f3b;
  --color-surface-4: #383e4e;
  --color-surface-5: #939bb0;
  --color-surface-6: #ffffff;
  --color-text-1: #e7eaf1;
  --color-text-2: #bac1d4;
  --color-text-3: #88909b;
  --color-text-4: #727584;
  --color-text-5: #010e16;

  @for $i from 1 through 5 {
    --shadow-#{$i}: #{build-shadow($i, true, false)};
    --shadow-inset-#{$i}: #{build-shadow($i, true, true)};
  }

  --color-info: #{material-color('blue', '900')};
  --color-info-hover: #{material-color('blue', '800')};
  --color-on-info: white;

  --color-caution: #{material-color('red', '900')};
  --color-caution-hover: #{material-color('red', '800')};
  --color-on-caution: white;

  --color-warning: #{material-color('amber', '900')};
  --color-warning-hover: #{material-color('amber', '800')};
  --color-on-warning: white;

  --color-success: #{material-color('light-green', '900')};
  --color-success-hover: #{material-color('light-green', '800')};
  --color-on-success: white;
}

// Selectors
body {
  @include baseTheme();
}

body.dark {
  @include darkTheme();
}

body:not(.dark) {
  @include lightTheme();
}
