@use '@fontsource/fira-code/index.css';

* {
  font-family: 'Poppins', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans TC', 'Noto Sans SC', sans-serif;
  letter-spacing: 0.025em;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 400;
}

.nowrap {
  word-break: keep-all;
  white-space: nowrap;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

p,
ol,
ul {
  color: var(--color-text-2);
}
