:host {
  height: 100%;
  display: flex;
  overflow: hidden;
}

app-setting-row.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.unlisted-hmd-text {
  flex: 1;
}

.unlisted-hmd-identity {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 0.75em;
  row-gap: 0.2em;
  margin: 0 0 0 1em;
  padding-left: 1em;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  white-space: nowrap;

  dt {
    opacity: 0.7;
  }

  dd {
    margin: 0;
    font-family: 'Fira Code', monospace;

    &.empty {
      font-family: inherit;
      font-style: italic;
      opacity: 0.7;
    }
  }
}
