:host {
  display: block;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;

    &-icon {
      position: relative;
      z-index: 1;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2em;
      height: 2em;
      margin-left: 1em;
      border-radius: 999px;
      background: var(--color-surface-3);

      app-icon {
        font-size: 1.1em;
      }
    }

    &-info {
      flex: 1;
      min-width: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 0.5em 1em;

      ::ng-deep .status-dot {
        margin-right: 0.25em;
      }

      .title {
        font-weight: 500;
      }

      .subtitle {
        color: var(--color-text-3);
      }
    }

    &-time {
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      padding: 0.5em 1em;
      color: var(--color-text-3);
    }
  }

  &.compact {
    .header-icon {
      width: 1.6em;
      height: 1.6em;
      background: transparent;
    }

    .header-info,
    .header-time {
      padding-top: 0.35em;
      padding-bottom: 0.35em;
    }

    .header-info .title {
      font-weight: 400;
      color: var(--color-text-2);
    }
  }
}
