@if (parser || (!entry && titleKey)) {
  <div class="container" [class.compact]="compact">
    <div class="header">
      <ng-content select="[eventLogPrefix]" />
      @if (icon) {
        <div class="header-icon"><app-icon [name]="icon" /></div>
      }
      <div class="header-info">
        <span class="title" [innerHtml]="headerInfoTitle"></span>
        @if (!compact && headerInfoSubTitle) {
          <span class="subtitle" [innerHtml]="headerInfoSubTitle"></span>
        }
        <ng-content />
      </div>
      @if (showTime) {
        <div class="header-time">
          <span>{{ entryTime | localizedDate: 'EVENT_LOG_TIME' }}</span>
          @if (!compact) {
            <span>{{ entryTime | localizedDate: 'EVENT_LOG_DATE' }}</span>
          }
        </div>
      }
    </div>
  </div>
}
