<div class="pane">
  <div class="pane-title" translate>power-automations.title</div>
  <div class="tab-bar">
    <div class="tab" [class.active]="activeTab === 'DEVICES'" (click)="activeTab = 'DEVICES'">
      <div class="tab-label">Devices</div>
    </div>
    <div
      class="tab"
      [class.active]="activeTab === 'WINDOWS_POWER_POLICY'"
      (click)="activeTab = 'WINDOWS_POWER_POLICY'"
    >
      <div class="tab-label" translate>power-automations.tabs.windowsPowerPolicy</div>
    </div>
  </div>
  <div class="pane-content">
    <div class="setting-view-container">
      <app-devices-tab *ngIf="activeTab === 'DEVICES'"></app-devices-tab>
      <app-windows-power-policy-tab
        *ngIf="activeTab === 'WINDOWS_POWER_POLICY'"
      ></app-windows-power-policy-tab>
    </div>
  </div>
</div>
