<div class="logo-container">
  <div class="logo-image" (click)="onLogoClick()">
    <img draggable="false" src="/assets/img/icon_150x150.png" alt="OyasumiVR Icon" />
  </div>
  <div class="logo-text">
    <span class="logo-title">Oyasumi<b>VR</b></span>
    <span class="logo-tagline" transloco="shared.logo.tagline"></span>
  </div>
</div>
<div class="menu" [class.translucent]="!!(background.background | async)">
  <div class="bg"></div>
  <!-- General Root Menu -->
  <div
    class="rootmenu"
    [@rootMenu]="subMenu === 'GENERAL' ? 'active' : 'inactive'"
    [class.translucent]="!!(background.background | async)"
  >
    <div class="menu-item" [routerLinkActive]="'active'" [routerLink]="'overview'">
      <div class="menu-item-icon-prefix">
        <app-icon name="dashboard" />
      </div>
      <div class="menu-item-label" transloco="comp.dashboard-navbar.overview"></div>
    </div>

    <div class="menu-item" [routerLinkActive]="'active'" [routerLink]="'sleepDetection'">
      <div class="menu-item-icon-prefix"> <app-icon name="sleep" /> </div>
      <div class="menu-item-label" transloco="comp.dashboard-navbar.sleepDetection"></div>
    </div>

    <div
      class="menu-item"
      (click)="openSubMenu('HARDWARE')"
      [class.active]="
        pathIsActive([
          'brightnessAutomations',
          'powerAutomations',
          'gpuAutomations',
          'resolutionAutomations',
          'audioVolumeAutomations',
          'systemMicMuteAutomations',
          'hmdAutomations',
        ])
      "
    >
      <div class="menu-item-icon-prefix">
        <app-icon name="headset" />
      </div>
      <div class="menu-item-label" transloco="comp.dashboard-navbar.hardwareAutomations"></div>
      <div class="menu-item-submenu-icon"><app-icon name="chevron-right" class="icon-mono" /></div>
    </div>

    <div
      class="menu-item"
      (click)="openSubMenu('VRCHAT')"
      [class.active]="
        pathIsActive([
          'oscAutomations',
          'statusAutomations',
          'autoInviteRequestAccept',
          'vrchatMicMuteAutomations',
          'vrchatAvatarAutomations',
          'vrchatGroupAutomations',
          'joinNotifications',
          'sleepAnimations',
        ])
      "
    >
      <div class="menu-item-icon-prefix">
        <app-icon name="vrchat" />
      </div>
      <div class="menu-item-label" transloco="comp.dashboard-navbar.vrcAutomations"></div>
      <div class="menu-item-submenu-icon"><app-icon name="chevron-right" class="icon-mono" /></div>
    </div>

    <div
      class="menu-item"
      (click)="openSubMenu('MISCELLANEOUS')"
      [class.active]="
        pathIsActive([
          'chaperoneAutomations',
          'nightmareDetection',
          'frameLimitAutomations',
          'runAutomations',
        ])
      "
    >
      <div class="menu-item-icon-prefix">
        <app-icon name="automations" />
      </div>
      <div class="menu-item-label" transloco="comp.dashboard-navbar.miscAutomations"></div>
      <div class="menu-item-submenu-icon"><app-icon name="chevron-right" class="icon-mono" /></div>
    </div>

    <div class="menu-item" [routerLinkActive]="'active'" [routerLink]="'shutdownAutomations'">
      <div class="menu-item-icon-prefix">
        <app-icon name="shutdown" />
      </div>
      <div class="menu-item-label" transloco="comp.dashboard-navbar.shutdownAutomations"></div>
    </div>

    <div class="menu-item" [routerLinkActive]="'active'" [routerLink]="'deviceManager'">
      <div class="menu-item-icon-prefix">
        <app-icon name="controller" />
      </div>
      <div class="menu-item-label" transloco="comp.dashboard-navbar.deviceManager"></div>
    </div>

    <div
      class="menu-item"
      (click)="openSubMenu('SETTINGS')"
      [class.active]="
        pathIsActive([
          'settings/general',
          'settings/brightnessCct',
          'settings/notifications',
          'settings/hotkeys',
          'settings/osc',
          'settings/updates',
          'settings/integrations',
          'settings/advanced',
          'settings/statusInfo',
        ])
      "
    >
      <div class="menu-item-icon-prefix">
        <app-icon name="settings" />
      </div>
      <div class="menu-item-label" transloco="comp.dashboard-navbar.settings.subMenu"></div>
      @if (updateAvailable | async) {
        <div class="menu-item-icon-suffix update" @fade>
          <app-icon name="warning" />
        </div>
      }
      <div class="menu-item-submenu-icon">
        <app-icon name="chevron-right" class="icon-mono" />
      </div>
    </div>

    <div class="menu-item" [routerLinkActive]="'active'" [routerLink]="'about'">
      <div class="menu-item-icon-prefix">
        <app-icon name="info" />
      </div>
      <div class="menu-item-label" transloco="comp.dashboard-navbar.about"></div>
    </div>
  </div>
  <!-- VRChat Automations Submenu -->
  @if (subMenu === 'VRCHAT') {
    <div class="submenu" @subMenu>
      <div class="menu-header">
        <button class="btn" (click)="openSubMenu('GENERAL')">
          <app-icon name="chevron-left" class="icon-mono" />
          <div class="menu-header-label" transloco="comp.dashboard-navbar.vrcAutomations"></div>
        </button>
      </div>
      <div class="menu-item" [routerLinkActive]="'active'" [routerLink]="'statusAutomations'">
        <div class="menu-item-icon-prefix">
          <app-icon name="status" />
        </div>
        <div class="menu-item-label" transloco="comp.dashboard-navbar.statusAutomations"></div>
      </div>
      <div class="menu-item" [routerLinkActive]="'active'" [routerLink]="'autoInviteRequestAccept'">
        <div class="menu-item-icon-prefix">
          <app-icon name="invite" />
        </div>
        <div
          class="menu-item-label"
          transloco="comp.dashboard-navbar.autoInviteRequestAccept"
        ></div>
      </div>
      <div
        class="menu-item"
        [routerLinkActive]="'active'"
        [routerLink]="'vrchatMicMuteAutomations'"
      >
        <div class="menu-item-icon-prefix">
          <app-icon name="mic-off" />
        </div>
        <div
          class="menu-item-label"
          transloco="comp.dashboard-navbar.vrchatMicMuteAutomations"
        ></div>
      </div>
      <div class="menu-item" [routerLinkActive]="'active'" [routerLink]="'vrchatAvatarAutomations'">
        <div class="menu-item-icon-prefix">
          <app-icon name="avatar" />
        </div>
        <div
          class="menu-item-label"
          transloco="comp.dashboard-navbar.vrchatAvatarAutomations"
        ></div>
      </div>
      <div class="menu-item" [routerLinkActive]="'active'" [routerLink]="'vrchatGroupAutomations'">
        <div class="menu-item-icon-prefix">
          <app-icon name="group" />
        </div>
        <div class="menu-item-label" transloco="comp.dashboard-navbar.vrchatGroupAutomations"></div>
      </div>
      <div class="menu-item" [routerLinkActive]="'active'" [routerLink]="'joinNotifications'">
        <div class="menu-item-icon-prefix">
          <app-icon name="person-alert" />
        </div>
        <div class="menu-item-label" transloco="comp.dashboard-navbar.joinNotifications"></div>
      </div>
      <div class="menu-item" [routerLinkActive]="'active'" [routerLink]="'oscAutomations'">
        <div class="menu-item-icon-prefix">
          <app-icon name="osc" />
        </div>
        <div class="menu-item-label" transloco="comp.dashboard-navbar.oscAutomations"></div>
      </div>
      <div class="menu-item" [routerLinkActive]="'active'" [routerLink]="'sleepAnimations'">
        <div class="menu-item-icon-prefix">
          <app-icon name="sleep-animation" />
        </div>
        <div class="menu-item-label" transloco="comp.dashboard-navbar.sleepAnimations"></div>
      </div>
    </div>
  }
  <!-- Hardware Automations Submenu -->
  @if (subMenu === 'HARDWARE') {
    <div class="submenu" @subMenu>
      <div class="menu-header">
        <button class="btn" (click)="openSubMenu('GENERAL')">
          <app-icon name="chevron-left" class="icon-mono" />
          <div
            class="menu-header-label"
            transloco="comp.dashboard-navbar.hardwareAutomations"
          ></div>
        </button>
      </div>
      <div class="menu-item" [routerLinkActive]="'active'" [routerLink]="'powerAutomations'">
        <div class="menu-item-icon-prefix">
          <app-icon name="battery" />
        </div>
        <div class="menu-item-label" transloco="comp.dashboard-navbar.powerAutomations"></div>
      </div>
      <div class="menu-item" [routerLinkActive]="'active'" [routerLink]="'gpuAutomations'">
        <div class="menu-item-icon-prefix">
          <app-icon name="gpu" />
        </div>
        <div class="menu-item-label" transloco="comp.dashboard-navbar.gpuAutomations"></div>
      </div>
      <div class="menu-item" [routerLinkActive]="'active'" [routerLink]="'brightnessAutomations'">
        <div class="menu-item-icon-prefix">
          <app-icon name="brightness" />
        </div>
        <div class="menu-item-label" transloco="comp.dashboard-navbar.brightnessAutomations"></div>
        @if (brightnessAutomation.anyBrightnessTransitionActive | async) {
          <div class="active-effect" @fade></div>
        }
      </div>
      <div class="menu-item" [routerLinkActive]="'active'" [routerLink]="'hmdAutomations'">
        <div class="menu-item-icon-prefix">
          <app-icon name="headset" />
        </div>
        <div class="menu-item-label" transloco="comp.dashboard-navbar.hmdAutomations"></div>
      </div>
      <div class="menu-item" [routerLinkActive]="'active'" [routerLink]="'audioVolumeAutomations'">
        <div class="menu-item-icon-prefix">
          <app-icon name="volume" />
        </div>
        <div class="menu-item-label" transloco="comp.dashboard-navbar.audioVolumeAutomations"></div>
      </div>
      <div
        class="menu-item"
        [routerLinkActive]="'active'"
        [routerLink]="'systemMicMuteAutomations'"
      >
        <div class="menu-item-icon-prefix">
          <app-icon name="mic-off" />
        </div>
        <div
          class="menu-item-label"
          transloco="comp.dashboard-navbar.systemMicMuteAutomations"
        ></div>
      </div>
      <div class="menu-item" [routerLinkActive]="'active'" [routerLink]="'resolutionAutomations'">
        <div class="menu-item-icon-prefix">
          <app-icon name="resolution" />
        </div>
        <div class="menu-item-label" transloco="comp.dashboard-navbar.resolutionAutomations"></div>
      </div>
    </div>
  }

  <!-- Miscellaneous Automations Submenu -->
  @if (subMenu === 'MISCELLANEOUS') {
    <div class="submenu" @subMenu>
      <div class="menu-header">
        <button class="btn" (click)="openSubMenu('GENERAL')">
          <app-icon name="chevron-left" class="icon-mono" />
          <div class="menu-header-label" transloco="comp.dashboard-navbar.miscAutomations"></div>
        </button>
      </div>
      <div class="menu-item" [routerLinkActive]="'active'" [routerLink]="'chaperoneAutomations'">
        <div class="menu-item-icon-prefix">
          <app-icon name="chaperone" />
        </div>
        <div class="menu-item-label" transloco="comp.dashboard-navbar.chaperoneAutomations"></div>
      </div>
      <div class="menu-item" [routerLinkActive]="'active'" [routerLink]="'nightmareDetection'">
        <div class="menu-item-icon-prefix">
          <app-icon name="heart-pulse" />
        </div>
        <div class="menu-item-label" transloco="comp.dashboard-navbar.nightmareDetection"></div>
      </div>
      <div class="menu-item" [routerLinkActive]="'active'" [routerLink]="'frameLimitAutomations'">
        <div class="menu-item-icon-prefix"> <app-icon name="gauge" /> </div>
        <div class="menu-item-label" transloco="comp.dashboard-navbar.frameLimiter"></div>
      </div>
      <div class="menu-item" [routerLinkActive]="'active'" [routerLink]="'runAutomations'">
        <div class="menu-item-icon-prefix">
          <app-icon name="run" />
        </div>
        <div class="menu-item-label" transloco="comp.dashboard-navbar.runAutomations"></div>
      </div>
    </div>
  }

  <!--Settings Submenu-->
  @if (subMenu === 'SETTINGS') {
    <div class="submenu" @subMenu>
      <div class="menu-header">
        <button class="btn" (click)="openSubMenu('GENERAL')">
          <app-icon name="chevron-left" class="icon-mono" />
          <div class="menu-header-label" transloco="comp.dashboard-navbar.settings.subMenu"></div>
        </button>
      </div>
      <div class="menu-item" [routerLinkActive]="'active'" [routerLink]="['settings', 'general']">
        <div class="menu-item-icon-prefix">
          <app-icon name="settings" />
        </div>
        <div class="menu-item-label" transloco="comp.dashboard-navbar.settings.general"></div>
      </div>
      <div
        class="menu-item"
        [routerLinkActive]="'active'"
        [routerLink]="['settings', 'notifications']"
      >
        <div class="menu-item-icon-prefix">
          <app-icon name="bell" />
        </div>
        <div class="menu-item-label" transloco="comp.dashboard-navbar.settings.notifications"></div>
      </div>
      <div
        class="menu-item"
        [routerLinkActive]="'active'"
        [routerLink]="['settings', 'brightnessCct']"
      >
        <div class="menu-item-icon-prefix">
          <app-icon name="brightness-cct" />
        </div>
        <div class="menu-item-label" transloco="comp.dashboard-navbar.settings.brightnessCct"></div>
      </div>
      <div class="menu-item" [routerLinkActive]="'active'" [routerLink]="['settings', 'hotkeys']">
        <div class="menu-item-icon-prefix">
          <app-icon name="hotkey" />
        </div>
        <div class="menu-item-label" transloco="comp.dashboard-navbar.settings.hotkeys"></div>
      </div>
      <div class="menu-item" [routerLinkActive]="'active'" [routerLink]="['settings', 'osc']">
        <div class="menu-item-icon-prefix">
          <app-icon name="osc" />
        </div>
        <div class="menu-item-label" transloco="comp.dashboard-navbar.settings.osc"></div>
      </div>
      <div class="menu-item" [routerLinkActive]="'active'" [routerLink]="['settings', 'updates']">
        <div class="menu-item-icon-prefix">
          <app-icon name="update" />
        </div>
        <div class="menu-item-label" transloco="comp.dashboard-navbar.settings.updates"></div>
        @if (updateAvailable | async) {
          <div class="menu-item-icon-suffix update" @fade>
            <app-icon name="warning" />
          </div>
        }
      </div>
      <div
        class="menu-item"
        [routerLinkActive]="'active'"
        [routerLink]="['settings', 'integrations']"
      >
        <div class="menu-item-icon-prefix">
          <app-icon name="plug" />
        </div>
        <div class="menu-item-label" transloco="comp.dashboard-navbar.settings.integrations"></div>
      </div>
      <div class="menu-item" [routerLinkActive]="'active'" [routerLink]="['settings', 'advanced']">
        <div class="menu-item-icon-prefix">
          <app-icon name="sliders" />
        </div>
        <div class="menu-item-label" transloco="comp.dashboard-navbar.settings.advanced"></div>
      </div>
      <div
        class="menu-item"
        [routerLinkActive]="'active'"
        [routerLink]="['settings', 'statusInfo']"
      >
        <div class="menu-item-icon-prefix">
          <app-icon name="checklist" />
        </div>
        <div class="menu-item-label" transloco="comp.dashboard-navbar.settings.statusInfo"></div>
      </div>
    </div>
  }
</div>
