<div class="pane">
  <div class="pane-title" transloco="settings.notifications.title"></div>
  <div class="pane-content">
    <div class="setting-view-container">
      <div class="setting-category">
        <div class="settings">
          <div class="setting-row">
            <div class="setting-row-label">
              <span transloco="settings.notifications.provider.title"></span>
              <span transloco="settings.notifications.provider.description"></span>
            </div>
            <div class="setting-row-action">
              <app-select-box
                class="provider-dropdown"
                [type]="'SMALL'"
                [items]="providerOptions"
                [selected]="providerOption"
                (selectedChange)="onChangeProviderOption($event)"
              ></app-select-box>
            </div>
          </div>
          <div class="setting-row">
            <div class="setting-row-label">
              <span transloco="settings.notifications.volume.title"></span>
              <span transloco="settings.notifications.volume.description"></span>
            </div>
            <div class="setting-row-action">
              <button class="btn btn-secondary" (click)="testSound()">
                @if (!playingTestSound) {
                  <span transloco="settings.notifications.volume.test" @hshrink></span>
                }
                @if (playingTestSound) {
                  <i class="material-icons" @hshrink>volume_up</i>
                }
              </button>
              <app-slider-setting
                [value]="generalNotificationVolume"
                [max]="200"
                [snapValues]="[50, 100, 150]"
                (valueChange)="setGeneralNotificationVolume($event)"
                [unit]="'%'"
              ></app-slider-setting>
            </div>
          </div>
          <div class="setting-row">
            <div class="setting-row-label">
              <span transloco="settings.notifications.notifications.title"></span>
              <span transloco="settings.notifications.notifications.description"></span>
            </div>
            <div class="setting-row-action"></div>
          </div>
          <div class="setting-row-group">
            @for (notificationType of notificationTypes; track notificationType) {
              <div class="setting-row compact">
                <div class="setting-row-label">
                  <span>{{
                    'settings.notifications.notifications.category.' + notificationType + '.title'
                      | transloco
                  }}</span>
                  <span>{{
                    'settings.notifications.notifications.category.' +
                      notificationType +
                      '.description' | transloco
                  }}</span>
                </div>
                <div class="setting-row-action">
                  <label class="check-toggle">
                    <input
                      type="checkbox"
                      [checked]="isNotificationTypeChecked(notificationType)"
                      (change)="toggleNotificationType(notificationType)"
                    />
                    <span class="check-toggle-checkmark"></span>
                  </label>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
