<div class="pane">
  <div class="pane-title" translate>settings.notifications.title</div>
  <div class="pane-content">
    <div class="setting-view-container">
      <div class="setting-category">
        <div class="settings">
          <div class="setting-row">
            <div class="setting-row-label">
              <span translate>settings.notifications.provider.title</span>
              <span translate>settings.notifications.provider.description</span>
            </div>
            <div class="setting-row-action">
              <app-select-box
                class="provider-dropdown"
                [type]="'SMALL'"
                [items]="providerOptions"
                [selected]="providerOption"
                (selectedChange)="onChangeProviderOption($event)"
              ></app-select-box>
            </div>
          </div>
          <div class="setting-row">
            <div class="setting-row-label">
              <span translate>settings.notifications.volume.title</span>
              <span translate>settings.notifications.volume.description</span>
            </div>
            <div class="setting-row-action">
              <button class="btn btn-secondary" (click)="testSound()">
                <span translate @hshrink *ngIf="!playingTestSound"
                  >settings.notifications.volume.test</span
                >
                <i class="material-icons" @hshrink *ngIf="playingTestSound">volume_up</i>
              </button>
              <app-slider-setting
                [value]="generalNotificationVolume"
                [max]="200"
                [snapValues]="[50, 100, 150]"
                (valueChange)="setGeneralNotificationVolume($event)"
                [unit]="'%'"
              ></app-slider-setting>
            </div>
          </div>
          <div class="setting-row">
            <div class="setting-row-label">
              <span translate>settings.notifications.notifications.title</span>
              <span translate>settings.notifications.notifications.description</span>
            </div>
            <div class="setting-row-action"></div>
          </div>
          <div class="setting-row-group">
            <div class="setting-row compact" *ngFor="let notificationType of notificationTypes">
              <div class="setting-row-label" translate>
                <span>{{
                  'settings.notifications.notifications.category.' + notificationType + '.title'
                    | translate
                }}</span>
                <span>{{
                  'settings.notifications.notifications.category.' +
                    notificationType +
                    '.description' | translate
                }}</span>
              </div>
              <div class="setting-row-action">
                <label class="check-toggle">
                  <input
                    type="checkbox"
                    [checked]="isNotificationTypeChecked(notificationType)"
                    (change)="toggleNotificationType(notificationType)"
                  />
                  <span class="check-toggle-checkmark"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
