<div class="pane fill">
  <div class="pane-title" transloco="settings.notifications.title"></div>
  <div class="pane-content scroll">
    <div class="setting-view-container">
      <div class="setting-category">
        <div class="settings">
          <app-setting-row
            label="settings.notifications.provider.title"
            description="settings.notifications.provider.description"
          >
            <app-select-box
              class="provider-dropdown"
              [type]="'SMALL'"
              [items]="providerOptions"
              [selected]="providerOption"
              (selectedChange)="onChangeProviderOption($event)"
            ></app-select-box>
          </app-setting-row>
          <app-setting-row
            label="settings.notifications.volume.title"
            description="settings.notifications.volume.description"
          >
            <button class="btn btn-secondary" (click)="testSound()">
              @if (!playingTestSound) {
                <span transloco="settings.notifications.volume.test" @hshrink></span>
              }
              @if (playingTestSound) {
                <i class="material-icons" @hshrink>volume_up</i>
              }
            </button>
            <app-slider-setting
              [value]="generalNotificationVolume"
              [max]="200"
              [snapValues]="[50, 100, 150]"
              (valueChange)="setGeneralNotificationVolume($event)"
              [unit]="'%'"
            ></app-slider-setting>
          </app-setting-row>
          <app-setting-row
            label="settings.notifications.notifications.title"
            description="settings.notifications.notifications.description"
          ></app-setting-row>
          <div class="setting-row-group">
            @for (notificationType of notificationTypes; track notificationType) {
              <div class="setting-row compact">
                <div class="setting-row-label">
                  <span>{{
                    'settings.notifications.notifications.category.' + notificationType + '.title'
                      | transloco
                  }}</span>
                  <span>{{
                    'settings.notifications.notifications.category.' +
                      notificationType +
                      '.description' | transloco
                  }}</span>
                </div>
                <div class="setting-row-action">
                  <label class="check-toggle">
                    <input
                      type="checkbox"
                      [checked]="isNotificationTypeChecked(notificationType)"
                      (change)="toggleNotificationType(notificationType)"
                    />
                    <span class="check-toggle-checkmark"></span>
                  </label>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
