<div class="about-container">
  <div class="logo-row">
    <div class="logo">
      <div class="logo-container">
        <div class="main">Oyasumi<b>VR</b></div>
        <div class="tag-line" transloco="shared.logo.tagline"></div>
      </div>
    </div>
  </div>

  <div class="body">
    <div class="identity">
      <div class="identity-spacer-top"></div>
      <div class="identity-avatar">
        <img
          draggable="false"
          appImgFallback="assets/img/raphiiko.png"
          [imgSmoothLoader]="'https://avatars.githubusercontent.com/u/111654848'"
        />
      </div>
      <div class="identity-name">
        <div class="role" transloco="about.author.role"></div>
        <div class="name">Raphii</div>
      </div>
      <div class="identity-socials">
        <a href="https://raphii.co" target="_blank">
          <i class="fa-solid fa-globe"></i>
          <span>raphii.co</span>
        </a>
        <a href="https://twitter.com/Raphiiko" target="_blank">
          <i class="fa-brands fa-twitter"></i>
          <span>&#64;Raphiiko</span>
        </a>
        <span>
          <i class="fa-brands fa-discord"></i>
          <span class="selectable">&#64;raphiiko</span>
        </span>
        <a href="https://github.com/Raphiiko" target="_blank">
          <i class="fa-brands fa-github"></i>
          <span>Raphiiko</span>
        </a>
      </div>
      <div class="project-links">
        <a
          href="https://github.com/Raphiiko/OyasumiVR"
          target="_blank"
          transloco="about.sourceLink"
        ></a>
        <a href="https://discord.gg/7MqdPJhYxC" target="_blank" transloco="about.discordInvite"></a>
      </div>
      <div class="identity-spacer-bottom"></div>
      <div class="build-info">
        <div>Oyasumi<b>VR</b></div>
        <div>v{{ version }}-{{ FLAVOUR }} ({{ BUILD_ID }})</div>
      </div>
    </div>

    <div class="rail" #rail (scroll)="updateRailFade()">
      <div class="rail-content" #railContent>
        @if (supporterCache.get()?.length) {
          <div class="supporters" @vshrink>
            <div class="section-title" transloco="about.supporters"></div>
            @for (tier of supporterCache.get() ?? []; track tier; let rank = $index) {
              <div class="supporter-tier" [ngClass]="'tier-rank-' + (rank < 2 ? rank : 2)">
                <div class="supporter-tier-label">{{ tier.name }}</div>
                <div class="supporter-tier-members">
                  @for (supporter of tier.supporters; track $index) {
                    <span>{{ supporter }}</span>
                  }
                </div>
              </div>
            }
          </div>
        }

        <div class="credits">
          <div class="section-title" transloco="about.contributions"></div>
          @for (group of contributionGroups; track group.type) {
            <div class="credit-row">
              <span class="credit-subject">{{
                'about.contributionType.' + group.type | transloco
              }}</span>
              <span class="credit-leader"></span>
              @for (contributor of group.contributors; track contributor) {
                @if (contributor.url) {
                  <a class="credit-name" [href]="contributor.url" target="_blank">{{
                    contributor.name
                  }}</a>
                } @else {
                  <span class="credit-name">{{ contributor.name }}</span>
                }
              }
            </div>
          }

          <div class="section-title" transloco="about.translations"></div>
          @for (language of translationLanguages; track language) {
            <div class="credit-row">
              <span class="credit-subject">
                <span [ngClass]="['fi', 'fi-' + (language.flagCode ?? language.langCode)]"></span>
                <span>{{ language.langNameNative }}</span>
              </span>
              <span class="credit-leader"></span>
              @for (contributor of language.contributors; track contributor) {
                @if (contributor.url) {
                  <a class="credit-name" [href]="contributor.url" target="_blank">{{
                    contributor.name
                  }}</a>
                } @else {
                  <span class="credit-name">{{ contributor.name }}</span>
                }
              }
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
