<div class="about-container">
  <div class="logo-row">
    <div class="logo-side"></div>
    <div class="logo">
      <div class="logo-container">
        <div class="main">Oyasumi<b>VR</b></div>
        <div class="tag-line" translate>shared.logo.tagline</div>
      </div>
    </div>
    <div class="logo-side"></div>
  </div>

  <div class="row" style="margin-top: 1em" @vshrink *ngIf="supporterCache.get()?.length">
    <div class="supporters-row">
      <div class="supporters-label" translate>about.supporters</div>
      <div class="supporters-list" #supportersList>
        <div class="supporters-tier" *ngFor="let tier of (supporterCache.get() ?? [])">
          <div class="supporters-tier-label">
            {{tier.name}}
          </div>
          <div class="supporters-tier-members">
            <div class="supporters-tier-member" *ngFor="let supporter of tier.supporters">
              {{supporter}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 1em; margin-bottom: 1em">
    <div class="left">
      <div class="author">
        <div class="author-avatar">
          <img
            draggable="false"
            appImgFallback="assets/img/raphiiko.png"
            [imgSmoothLoader]="'https://avatars.githubusercontent.com/u/111654848'"
          />
        </div>
        <div class="author-info">
          <div class="role" translate>about.author.role</div>
          <div class="name">Raphii</div>
          <div class="twitter">
            <i class="fa-brands fa-twitter"></i>
            <a href="https://twitter.com/Raphiiko" target="_blank">@Raphiiko</a>
          </div>
          <div class="discord">
            <i class="fa-brands fa-discord"></i>
            <span>@raphiiko</span>
          </div>
          <div class="github">
            <i class="fa-brands fa-github"></i>
            <a href="https://github.com/Raphiiko" target="_blank">Raphiiko</a>
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="project-info-title" translate>about.contributions</div>
      <div class="contributor-list">
        <div class="contributor-list-entry">
          <span
          ><a href="https://github.com/neuroblack" target="_blank">neuroblack</a> |
            <span translate>about.contributionType.feature</span></span
          >
        </div>
        <div class="contributor-list-entry">
          <span
          ><a href="https://github.com/TheMrGong" target="_blank">góngo</a> |
            <span translate>about.contributionType.feature</span></span
          >
        </div>
        <div class="contributor-list-entry">
          <span>spaecd | <span translate>about.contributionType.soundFx</span></span>
        </div>
      </div>
      <div class="project-info-title" translate>about.projectLinks</div>
      <div class="project-links">
        <a href="https://github.com/Raphiiko/OyasumiVR" target="_blank" translate
        >about.sourceLink</a
        >
        <br />
        <a href="https://discord.gg/7MqdPJhYxC" target="_blank" translate>about.discordInvite</a>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="left"></div>
    <div class="right">
      <div class="project-info-title" translate>about.translations</div>
    </div>
  </div>
  <div class="row">
    <div class="left">
      <div class="translation-author-list-entry">
        <span class="fi fi-jp"></span>
        日本語 | <a href="https://twitter.com/NoYu_idea" target="_blank">なき</a>
      </div>
      <div class="translation-author-list-entry">
        <span class="fi fi-kr"></span>
        한국어 | <a href="https://github.com/soumt-r" target="_blank">Soumt</a>
      </div>
      <div class="translation-author-list-entry">
        <span
          class="fi"
          [class.fi-tw]="FLAVOUR !== 'STEAM_CN'"
          [class.fi-hk]="FLAVOUR === 'STEAM_CN'"
        ></span>
        繁體中文 | <a href="https://github.com/XoF-eLtTiL" target="_blank">狐Kon</a>
      </div>
      <div class="translation-author-list-entry">
        <span class="fi fi-cn"></span>
        简体中文 | <a href="https://github.com/XoF-eLtTiL" target="_blank">狐Kon</a>
      </div>
      <div class="translation-author-list-entry">
        <span class="fi fi-cn"></span>
        简体中文 | <a href="https://github.com/flower-elf" target="_blank">雾雨花精灵</a>
      </div>
      <div class="translation-author-list-entry">
        <span class="fi fi-cn"></span>
        简体中文 | <a href="https://twitter.com/sayonara_natsu" target="_blank">いんく</a>
      </div>
    </div>
    <div class="right">
      <div class="translation-author-list-entry">
        <a href="https://github.com/neuroblack" target="_blank">neuroblack</a> | Français
        <span class="fi fi-fr"></span>
      </div>
      <div class="translation-author-list-entry">
        <a href="https://twitter.com/aacalde666" target="_blank">aacal666</a> | Español
        <span class="fi fi-es"></span>
      </div>
      <div class="translation-author-list-entry">
        <a href="https://twitter.com/a9ito" target="_blank">a9ito</a> | Bahasa Indonesia
        <span class="fi fi-id"></span>
      </div>
      <div class="translation-author-list-entry">
        <a href="https://linktr.ee/raphii" target="_blank">Raphiiko</a> | English
        <span class="fi fi-gb"></span>
      </div>
      <div class="translation-author-list-entry">
        <a href="https://linktr.ee/raphii" target="_blank">Raphiiko</a> | Nederlands
        <span class="fi fi-nl"></span>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 1em">
    <div class="left">
      <div class="build-info">
        <div>Oyasumi<b>VR</b> v{{ version }}-{{ FLAVOUR }} ({{ BUILD_ID }})</div>
      </div>
    </div>
    <div class="right"></div>
  </div>
</div>
