* {
  box-sizing: border-box;
  user-select: none;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.025em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 200;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 12px;
  --color-surface-0: #0d0d0d;
  --color-surface-1: #151515;
  --color-surface-2: #1d1d1d;
  --color-surface-3: #252525;
  --color-surface-4: #2d2d2d;
  --color-surface-5: #8a8a8a;
  --color-surface-6: #ffffff;
  --color-text-0: #f8f8f2;
  --color-text-1: #e6e6e6;
  --color-text-2: #b4b4b4;
  --color-text-3: #8f8f8f;
  --color-text-4: #010e16;
}

.vignette {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* box-shadow: 0 0 50px rgba(255, 255, 255, 1) inset; */
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.5) inset;
}

.splashscreen {
  box-shadow:
    0 40px 60px rgba(0, 0, 0, 0.2),
    0 0 15px rgba(0, 0, 0, 0.1),
    0 0 0 1px rgba(0, 0, 0, 0.05),
    0 0 0 1px rgba(0, 0, 0, 0.5);
  margin: 50px 100px 100px;
  position: relative;
  border-radius: 0.5em;
  top: 0;
  left: 0;
  width: 500px;
  height: 352px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  color: white;
  background: var(--color-surface-0);
}

.splash-blurhash {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

.splash-image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

img {
  opacity: 1;
  transition: opacity 1.5s;
}

img[data-src]:not(.no-fade) {
  opacity: 0;
}

.info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 2em;
  text-shadow: 0 0 9px #00000066;
  transition:
    opacity 1s,
    transform 1s;
  transform: scale(1.05) translate(-7em, 9em);
}

.logo-container.pending-child {
  opacity: 0;
  transform: scale(1.05) translate(-7em, 12em);
}

.logo-container .logo-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 0.75em;
}

.logo-image img {
  width: 4em;
  height: 4em;
  margin-bottom: 1.5em;
  border-radius: 1em;
  filter: drop-shadow(0 0 4px #00000066);
}

.logo-container .logo-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* text-shadow: 0 0 7px rgba(255, 255, 255, 0.75); */
}

.logo-text .main {
  font-size: 3em;
  font-weight: 200;
  text-align: center;
  color: white;
}

.logo-text .main b {
  font-weight: 500;
}

.logo-text .tag-line {
  color: white;
  font-size: 0.95em;
  opacity: 0.9;
  transform: translate(-4.5em, -1.2em);
}

.loader {
  display: block;
  --height-of-loader: 2px;
  --loader-color: #ffffff;
  width: 100%;
  height: var(--height-of-loader);
  background-color: rgba(128, 128, 128, 1);
  position: absolute;
  top: -2px;
  left: 0;
  margin-bottom: 1em;
  z-index: 100;
  box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.75);
}

.loader::before {
  content: '';
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  animation: moving 1s ease-in-out infinite;
  box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.75);
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

.bottom-bar {
  position: relative;
  background: var(--color-surface-0);
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 100;
  height: 64px;
  font-weight: 500;
}

.bottom-bar .left,
.bottom-bar .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bottom-bar .left {
  align-items: flex-start;
  padding: 0 1em;
}

.bottom-bar .right {
  align-items: flex-end;
  padding: 0 1em;
}

#info1 {
  font-size: 1.2em;
}
#info2 {
  opacity: 0.7;
  font-size: 0.9em;
}
#info3 {
  font-size: 1.2em;
}
#info4 {
  opacity: 0.7;
  font-size: 0.9em;
}

#version {
  opacity: 0.7;
}

.pending-child .artist-attribution {
  opacity: 0;
}

.artist-attribution {
  transition: opacity 1s;
  position: absolute;
  top: 4px;
  right: 43px;
  text-align: center;
  font-size: 0.8em;
  font-weight: 600;
  opacity: 0.5;
  z-index: 200;
  text-shadow: 0 0 4px #00000066;
}
