* {
  box-sizing: border-box;
  user-select: none;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.025em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 200;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 12px;
  --color-surface-0: #15161b;
  --color-surface-1: #1c1c24;
  --color-surface-2: #232429;
  --color-surface-3: #2b2f3b;
  --color-surface-4: #383e4e;
  --color-surface-5: #939bb0;
  --color-surface-6: #ffffff;
  --color-text-0: #e7eaf1;
  --color-text-1: #bac1d4;
  --color-text-2: #88909b;
  --color-text-3: #727584;
  --color-text-4: #010e16;
}

.vignette {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 50px rgba(255, 255, 255, 1) inset;
  /*box-shadow: 0 0 100px rgba(0, 0, 0, 0.5) inset;*/
}

.splashscreen {
  box-shadow: 0 40px 60px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 0, 0, 0.1),
  0 0 0 1px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.5);
  margin: 100px;
  position: relative;
  border-radius: 0.5em;
  top: 0;
  left: 0;
  width: 500px;
  height: 275px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  color: white;
  background: var(--color-surface-0);
}

.splash-blurhash {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-24px);
  opacity: 1;
}

.splash-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

img {
  opacity: 1;
  transition: opacity 1s;
}

img[data-src]:not(.no-fade) {
  opacity: 0;
}

.info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 17em 1em 3em;
  z-index: 10;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 1em;
  text-shadow: 0 0 4px #00000066;
  transition: all 0.6s;
  transform: translate(0.5em, -1em);
}

.logo-container.pending-child {
  opacity: 0;
  transform: translate(-10%, -1em);
}

.logo-container .logo-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 0.75em;
  filter: url(#ambilight);
}

.logo-image img {
  width: 5em;
  height: 5em;
  margin-bottom: 1.5em;
  border-radius: 1.4em;
  filter: drop-shadow(0 0 4px #00000066);
}

.logo-container .logo-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.75);
}

.logo-text .main {
  font-size: 3em;
  font-weight: 200;
  text-align: center;
  color: white;
}

.logo-text .main b {
  font-weight: 500;
}

.logo-text .tag-line {
  color: white;
  font-size: 0.95em;
  opacity: 0.9;
  transform: translate(-4.5em, -1.2em);
}

#version {
  white-space: pre-line;
  text-align: center;
  opacity: 0.75;
  padding-bottom: 1em;
  text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

#status {
  padding-bottom: 1em;
  text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.loader {
  display: block;
  --height-of-loader: 4px;
  --loader-color: #ffffff;
  width: 130px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  margin-bottom: 1em;
  z-index: 100;
  filter: url(#ambilight);
  box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.75);
}

.loader::before {
  content: '';
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
  box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.75);
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

.bottom-bar {
  background: var(--color-surface-1);
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 100;
  flex-shrink: 0;
  height: 32px;
  filter: url(#ambilight2);
  border-top: 2px solid white;
  font-weight: 500;
}

.bottom-bar .left {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-text-3);
  padding: 0 1em;
}

.bottom-bar .right {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-text-1);
  padding: 0 1em;
}
