<div class="pane">
  <div class="pane-title" translate>sleep-detection.title</div>
  <div class="pane-content">
    <p translate>sleep-detection.description</p>

    <div class="automation-panes">
      <div class="automation-pane">
        <div class="automation-pane-title" translate>sleep-detection.enableAutomations.title</div>

        <div class="automation">
          <div class="automation-header">
            <div class="automation-header-description">
              <span translate>sleep-detection.enableAutomations.atTime</span>
              <span>&nbsp;</span>
              <wbr />
              <strong *ngIf="automationConfigs.SLEEP_MODE_ENABLE_AT_TIME.time" [@fade]>
                {{ automationConfigs.SLEEP_MODE_ENABLE_AT_TIME.time }}
              </strong>
            </div>
            <div class="automation-header-toggle">
              <button
                class="btn btn-automation-settings"
                (click)="openModal_EnableSleepModeAtTime()"
                [disabled]="!automationConfigs.SLEEP_MODE_ENABLE_AT_TIME.enabled"
              >
                <i class="material-icons">settings</i>
              </button>
              <label class="switch-toggle">
                <input
                  type="checkbox"
                  [checked]="automationConfigs.SLEEP_MODE_ENABLE_AT_TIME.enabled"
                  (change)="toggleAutomation('SLEEP_MODE_ENABLE_AT_TIME')"
                />
                <span class="switch-toggle-slider"></span>
              </label>
            </div>
          </div>
        </div>

        <div class="automation">
          <div class="automation-header">
            <div
              class="automation-header-description"
              [innerHTML]="
                'sleep-detection.enableAutomations.atBatteryPercentage'
                  | translate
                    : { value: automationConfigs.SLEEP_MODE_ENABLE_AT_BATTERY_PERCENTAGE.threshold }
              "
            ></div>
            <div class="automation-header-toggle">
              <button
                class="btn btn-automation-settings"
                (click)="openModal_EnableSleepModeAtBatteryPercentage()"
                [disabled]="!automationConfigs.SLEEP_MODE_ENABLE_AT_BATTERY_PERCENTAGE.enabled"
              >
                <i class="material-icons">settings</i>
              </button>
              <label class="switch-toggle">
                <input
                  type="checkbox"
                  [checked]="automationConfigs.SLEEP_MODE_ENABLE_AT_BATTERY_PERCENTAGE.enabled"
                  (change)="toggleAutomation('SLEEP_MODE_ENABLE_AT_BATTERY_PERCENTAGE')"
                />
                <span class="switch-toggle-slider"></span>
              </label>
            </div>
          </div>
        </div>

        <div class="automation">
          <div class="automation-header">
            <div class="automation-header-description" translate>
              sleep-detection.enableAutomations.onControllersPoweredOff
            </div>
            <div class="automation-header-toggle">
              <label class="switch-toggle">
                <input
                  type="checkbox"
                  [checked]="automationConfigs.SLEEP_MODE_ENABLE_ON_CONTROLLERS_POWERED_OFF.enabled"
                  (change)="toggleAutomation('SLEEP_MODE_ENABLE_ON_CONTROLLERS_POWERED_OFF')"
                />
                <span class="switch-toggle-slider"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="automation-pane">
        <div class="automation-pane-title" translate>sleep-detection.disableAutomations.title</div>

        <div class="automation">
          <div class="automation-header">
            <div class="automation-header-description">
              <span translate>sleep-detection.disableAutomations.atTime</span>
              <span>&nbsp;</span>
              <wbr />
              <strong *ngIf="automationConfigs.SLEEP_MODE_DISABLE_AT_TIME.time" [@fade]>
                {{ automationConfigs.SLEEP_MODE_DISABLE_AT_TIME.time }}
              </strong>
            </div>
            <div class="automation-header-toggle">
              <button
                class="btn btn-automation-settings"
                (click)="openModal_DisableSleepModeAtTime()"
                [disabled]="!automationConfigs.SLEEP_MODE_DISABLE_AT_TIME.enabled"
              >
                <i class="material-icons">settings</i>
              </button>
              <label class="switch-toggle">
                <input
                  type="checkbox"
                  [checked]="automationConfigs.SLEEP_MODE_DISABLE_AT_TIME.enabled"
                  (change)="toggleAutomation('SLEEP_MODE_DISABLE_AT_TIME')"
                />
                <span class="switch-toggle-slider"></span>
              </label>
            </div>
          </div>
        </div>

        <div class="automation">
          <div class="automation-header">
            <div class="automation-header-description" translate>
              sleep-detection.disableAutomations.onDevicePowerOn
            </div>
            <div class="automation-header-toggle">
              <button
                class="btn btn-automation-settings"
                (click)="openModal_DisableSleepModeOnDevicePowerOn()"
                [disabled]="!automationConfigs.SLEEP_MODE_DISABLE_ON_DEVICE_POWER_ON.enabled"
              >
                <i class="material-icons">settings</i>
              </button>
              <label class="switch-toggle">
                <input
                  type="checkbox"
                  [checked]="automationConfigs.SLEEP_MODE_DISABLE_ON_DEVICE_POWER_ON.enabled"
                  (change)="toggleAutomation('SLEEP_MODE_DISABLE_ON_DEVICE_POWER_ON')"
                />
                <span class="switch-toggle-slider"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
