@import 'shadows.scss';

input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  //visibility: hidden;
  &:not(:disabled) {
    cursor: pointer;
  }

  &:focus {
    outline: none !important;
    border: 0;
    box-shadow: none;
  }

}

.color-input-wrapper {
  @include shadow(2, false);
  position: relative;
  background-color: var(--picked-color);
  height: 2em;
  width: 3em;
  outline: none;
  border: var(--color-surface-3) 0.2em solid;
  border-radius: 0.5em;
  transition: all 0.15s ease;
  position: relative;
  overflow: hidden;

  &.disabled {
    opacity: 0.5;
  }

  &:after {
    content: '';
    //z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0.25;
    background: linear-gradient(210deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
    pointer-events: none;
  }

  &:not(.disabled) {
    &:hover {
      transform: translateY(-1px);
    }

    &:active {
      transform: translateY(0);
      opacity: 0.8;
    }
  }
}
