@if (showOverlay) {
  <div class="overlay-container" (mouseleave)="showOverlay = false" @fade>
    <div class="bg"></div>
    <div class="slider-container">
      <app-slider
        [min]="min"
        [max]="max"
        [step]="step"
        [snapDistance]="snapDistance"
        [snapValues]="snapValues"
        [value]="value"
        (valueChange)="onSliderChange($event)"
        [style]="style"
        #slider
      ></app-slider>
    </div>
  </div>
}
<div
  class="input-container"
  [class.has-unit]="!!unit"
  (mouseenter)="onMouseEnter()"
  [class.overlay-active]="showOverlay"
  [class.disabled]="disabled"
  >
  <input
    type="number"
    class="small"
    [value]="value"
    (input)="input$.next(inputValue.value)"
    (blur)="onInputBlur()"
    #inputValue
    />
  @if (unit) {
    <div class="unit"><span [innerHTML]="unit"></span></div>
  }
</div>
