.pane-content {
  white-space: pre-wrap;
}

.runtime {
  & > span {
    display: flex;
    flex-direction: row;
    align-items: center;

    .small-spinner, .material-icons {
      margin-right: 0.25em;
    }

    .material-icons {
      &.success {
        color: var(--color-alert-success);
      }

      &.failure {
        color: var(--color-alert-error);
      }
    }
  }
}
