<div class="pane modal modal-lg" @fadeUp>
  <div class="pane-title" translate> comp.dotnet-upgrade-modal.title</div>
  <div class="pane-content">
    <p translate>comp.dotnet-upgrade-modal.description.text1</p>
    <ul>
      <li
        *ngFor="let runtime of requiredRuntimes"
        class="runtime"
        [style.font-weight]="runtime.status === 'INSTALLING' ? 700 : 500"
      >
        <span>
          <div class="small-spinner" *ngIf="runtime.status === 'INSTALLING'" @hshrink></div>
          <i class="material-icons success" *ngIf="runtime.status === 'SUCCESS'" @hshrink>check</i>
          <i class="material-icons failure" *ngIf="runtime.status === 'FAILED'" @hshrink>clear</i>
          <span>{{ runtime.name }}</span>
          <span *ngIf="runtime.version">&nbsp;{{ runtime.version }}</span>
          <span *ngIf="runtime.status === 'QUEUED'">
            &nbsp; ({{ 'comp.dotnet-upgrade-modal.description.runtimeQueued' | translate }})
          </span>
        </span>
      </li>
    </ul>
    <p translate>comp.dotnet-upgrade-modal.description.text2</p>
    <p translate>comp.dotnet-upgrade-modal.description.automaticInstall</p>
    <p
      ><span translate>comp.dotnet-upgrade-modal.description.moreInfo</span>&nbsp;<a
        href="https://dotnet.microsoft.com/en-us/download/dotnet/7.0"
        target="_blank"
        >https://dotnet.microsoft.com/en-us/download/dotnet/7.0</a
      ></p
    >
    <p [innerHtml]="'comp.dotnet-upgrade-modal.description.troubleshooting' | translate"></p>
  </div>
  <div class="pane-actions spread">
    <button class="btn btn-secondary" (click)="quit()" translate>
      comp.dotnet-upgrade-modal.quit
    </button>
    <button class="btn btn-primary" (click)="installAutomatically()">
      <div class="small-spinner" *ngIf="installing" @hshrink></div>
      <span *ngIf="!installing" @hshrink translate
        >comp.dotnet-upgrade-modal.installAutomatically</span
      >
    </button>
  </div>
</div>
