@import 'effects';

$decoration-top: 1em;
$background-color: var(--color-surface-2);

:host {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
}

.top-decoration {
  position: absolute;
  height: $decoration-top;
  width: $decoration-top;
  overflow: hidden;
  top: calc($decoration-top * -1 + 0.15em);
  transition: all 0.5s ease;

  &.translucent {
    opacity: 0;
  }

  & > div {
    height: $decoration-top;
    width: $decoration-top;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 200%;
      height: 200%;
      border-radius: 100%;
      box-shadow: 0 $decoration-top 0 $decoration-top $background-color;
    }
  }

  &.left {
    left: 0;

    & > div::before {
    }
  }

  &.right {
    right: 0;

    & > div::before {
      right: 0;
    }
  }
}

.main-bar {
  width: 100%;
  color: var(--color-text-0);
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.5s ease;
  position: relative;
  border-top: transparent 0.15em solid;

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $background-color;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  &.translucent {
    border-color: var(--color-surface-3);
    backdrop-filter: blur(6px);

    .bg {
      opacity: 0.5;
    }
  }

  .left,
  .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.4em;
  }

  .left {
    flex: 1;

    .pill {
      &:not(:first-child) {
        margin-left: 0.5em;
      }
    }
  }

  .right {
    flex-shrink: 0;

    .pill {
      &:not(:last-child) {
        margin-right: 0.5em;
      }
    }
  }
}

.pill {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0.25em;
  background: var(--color-surface-0);
  color: var(--color-text-1);
  padding: 0.25em 0.5em;
  font-size: 0.95em;
  height: 2em;
  white-space: nowrap;
  transition: all 0.15s ease;
  position: relative;

  & > * {
    transition: all 0.15s ease;
  }

  &.clickable {
    cursor: pointer;

    &:active {
      background: color-mix(in srgb, var(--color-surface-0) 60%, transparent);

      & > * {
        opacity: 0.6;
      }
    }
  }

  span {
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: center;
  }

  &-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &:not(.nomargin) {
      margin-right: 0.25em;
    }

    i {
      font-size: 1.25em;
      transition: all 0.15s ease;
      opacity: 0.5;

      &.mic-muted {
        color: var(--color-alert-error);
        opacity: 1;
      }
    }


    img {
      height: 1.5em;
      margin: 0;
    }

    .small-spinner {
      //margin-left: -0.25em;
      //margin-right: 0.25em;
      width: 1.5em;
      height: 1.5em;

      &:after {
        width: 0.75em;
        height: 0.75em;
        margin: 0.15em;
      }
    }
  }

  &:after {
    transition: all 0.15s;
  }

  &.breathing {
    &:after {
      border-radius: 0.25em;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      top: 0;
      left: 0;
      position: absolute;
      content: '';
      border: 1px solid color-mix(in srgb, var(--color-primary) 100%, transparent);
      animation: pill-breathe 3s ease-out infinite normal;
      box-shadow: inset 0 0 5px 0 color-mix(in srgb, var(--color-primary) 70%, transparent);
    }
  }
}

.sleep-mode,
.vrc-status,
.steamvr-status,
.brightness-simple,
.heartrate {
  span:not(:last-child) {
    opacity: 0.5;
  }
}

.brightness-simple,
.brightness-advanced {
  &.active {
    border-color: var(--color-primary);
  }
}

.brightness-advanced {
  span:first-of-type {
    margin-left: 0.25em;
  }

  span:not(:first-of-type):not(:last-of-type) {
    opacity: 0.5;
  }

  span:last-of-type {
    margin-right: 0.25em;
  }

  span.inactive {
    opacity: 0.5;
  }
}

.vrc-status {
  i {
    opacity: 1;
  }
}

.sleep-mode {
  border: 0.125em solid transparent;
  padding: 0 0.25em;
  transition: all 0.15s ease;

  &.active {
    border-color: var(--color-primary);
  }
}

@keyframes pill-breathe {
  0% {
    opacity: 0.4;
  }

  25% {
    opacity: 1;
  }

  60% {
    opacity: 0.4;
  }

  100% {
    opacity: 0.4;
  }
}

.heartrate {
  .heart-icon {
    width: 16px;
    height: 16px;
    will-change: transform;
    color: rgb(249, 24, 128);
    opacity: 1;
    animation: heartbeat infinite cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }
}

@keyframes heartbeat {
  $lowest: 0.8;
  $highest: 1.1;
  0%,
  100% {
    transform: scale3d($lowest, $lowest, $lowest);
  }
  05% {
    transform: scale3d(
        $lowest + ($highest - $lowest) * 0.33,
        $lowest + ($highest - $lowest) * 0.33,
        $lowest + ($highest - $lowest) * 0.33
    );
  }
  10% {
    transform: scale3d($highest, $highest, $highest);
  }
  50% {
    transform: scale3d(
        $lowest + ($highest - $lowest) * 0.66,
        $lowest + ($highest - $lowest) * 0.66,
        $lowest + ($highest - $lowest) * 0.66
    );
  }
  70% {
    transform: scale3d(
        $lowest + ($highest - $lowest) * 0.33,
        $lowest + ($highest - $lowest) * 0.33,
        $lowest + ($highest - $lowest) * 0.33
    );
  }
}

