<div class="top-decoration left" [class.translucent]="!!(background.background | async)">
  <div></div>
</div>
<div class="top-decoration right" [class.translucent]="!!(background.background | async)">
  <div></div>
</div>
<div class="main-bar" @noop [class.translucent]="!!(background.background | async)">
  <div class="bg"></div>
  <div class="left">
    <div
      class="pill sleep-mode clickable"
      [class.active]="sleepMode | async"
      *ngVar="{ hover: false }; let state"
      (mouseenter)="state.hover = true"
      (mouseleave)="state.hover = false"
      [tooltip]="'comp.main-status-bar.sleepMode.tooltip'"
      [tooltipMode]="'top'"
      [tooltipMargin]="8"
      (click)="toggleSleepMode()"
    >
      <div class="pill-icon">
        <i class="material-icons-round">nights_stay</i>
      </div>
      @if (state.hover) {
        <span @hshrink>{{ 'comp.main-status-bar.sleepMode.label' | translate }}:&nbsp;</span>
      }
      @if (sleepMode | async) {
        <span @hshrink translate>comp.main-status-bar.active</span>
      }
      @if ((sleepMode | async) === false) {
        <span @hshrink translate>comp.main-status-bar.inactive</span>
      }
    </div>
    @if (snowverlayAvailable) {
      <div class="pill clickable snowverlay" (click)="toggleSnowverlay()">
        <div class="pill-icon" [class.active]="snowverlayActive">
          <i class="material-icons-round">ac_unit</i>
        </div>
      </div>
    }
  </div>
  <div class="right">
    @if ((systemMicMuteAutomation.isMicMuted | async) === true) {
      <div
        class="pill system-mic-mute clickable"
        *ngVar="{ hover: false }; let state"
        (mouseenter)="state.hover = true"
        (mouseleave)="state.hover = false"
        [tooltip]="'comp.main-status-bar.systemMicMuted.tooltip.' + systemMicrophoneMuteAction()"
        [tooltipMode]="'top'"
        [tooltipMargin]="8"
        (click)="doSystemMicrophoneMuteAction()"
        @hshrink
      >
        <div class="pill-icon nomargin" @hshrink>
          <i class="material-icons-round mic-muted">mic_off</i>
        </div>
        @if (state.hover) {
          <span @hshrink translate style="margin-left: 0.25em"
            >comp.main-status-bar.systemMicMuted.label</span
          >
        }
      </div>
    }
    @if (mqttStatus !== 'DISABLED') {
      <div
        class="pill mqtt-status clickable"
        *ngVar="{ hover: false }; let state"
        (mouseenter)="state.hover = true"
        (mouseleave)="state.hover = false"
        [tooltip]="'comp.main-status-bar.mqttStatus.tooltip'"
        [tooltipMode]="'top'"
        [tooltipMargin]="8"
        (click)="navigateToIntegrationSettings()"
        @hshrink
      >
        <div class="pill-icon" @hshrink>
          <img
            src="/assets/img/hass_logo_mono.png"
            [class.img-green]="mqttStatus === 'CONNECTED'"
            [class.img-orange]="mqttStatus === 'DISCONNECTED'"
            [class.img-red]="mqttStatus === 'ERROR'"
          />
        </div>
        @if (state.hover) {
          <span @hshrink>{{ 'comp.main-status-bar.mqttStatus.label' | translate }}</span>
        }
      </div>
    }

    @if (pulsoid.heartRate | async) {
      <div
        class="pill heartrate"
        *ngVar="{ hover: false }; let state"
        (mouseenter)="state.hover = true"
        (mouseleave)="state.hover = false"
        @hshrink
      >
        <div class="pill-icon" @hshrink>
          <i
            class="material-icons-round heart-icon"
            [style.animation-duration]="60 / ((pulsoid.heartRate | async) ?? 1) + 's'"
            >favorite</i
          >
        </div>
        @if (state.hover) {
          <span @hshrink>{{ 'comp.main-status-bar.heartrate' | translate }}:&nbsp;</span>
        }
        <span class="monospace">{{ pulsoid.heartRate | async }}&nbsp;BPM</span>
      </div>
    }
    @if ((bigscreenBeyondFanAutomation.bsbConnected | async) === true) {
      <div
        class="pill bsb-fanctl clickable"
        *ngVar="{ hover: false }; let state"
        (mouseenter)="state.hover = true"
        (mouseleave)="state.hover = false"
        [tooltip]="'comp.main-status-bar.bsbFanSpeed.tooltip'"
        [tooltipMode]="'top'"
        [tooltipMargin]="8"
        (click)="openBSBFanSpeedControlModal()"
        @hshrink
      >
        <div class="pill-icon" @hshrink>
          <i class="material-symbols-outlined icon-filled">mode_fan</i>
        </div>
        @if (state.hover) {
          <span @hshrink>{{ 'comp.main-status-bar.bsbFanSpeed.label' | translate }}:&nbsp;</span>
        }
        <span class="monospace"
          >{{ bigscreenBeyondFanAutomation.fanSpeed | async | number: '1.0-0' }}%</span
        >
      </div>
    }
    @if (cctControlEnabled) {
      <div
        class="pill cct-control clickable"
        *ngVar="{ hover: false }; let state"
        (mouseenter)="state.hover = true"
        (mouseleave)="state.hover = false"
        [tooltip]="'comp.main-status-bar.cctControl.tooltip'"
        [tooltipMode]="'top'"
        [tooltipMargin]="8"
        (click)="openCCTControlModal()"
        @hshrink
        [class.breathing]="brightnessCctAutomations.anyCCTTransitionActive | async"
      >
        <div class="pill-icon" @hshrink>
          <div class="colortemp-icon" [style.background-color]="cctControl.cctCSSColor"></div>
        </div>
        @if (state.hover) {
          <span @hshrink>{{ 'comp.main-status-bar.cctControl.label' | translate }}:&nbsp;</span>
        }
        <span class="monospace">{{ cctControl.cctStream | async }}K</span>
      </div>
    }
    @if ((simpleBrightnessControl.advancedMode | async) === false) {
      <div
        class="pill brightness-simple clickable"
        *ngVar="{ hover: false }; let state"
        (mouseenter)="state.hover = true"
        (mouseleave)="state.hover = false"
        [tooltip]="'comp.main-status-bar.brightness.tooltip'"
        [tooltipMode]="'top'"
        [tooltipMargin]="8"
        (click)="openBrightnessControlModal()"
        @hshrink
        [class.breathing]="brightnessCctAutomations.anyBrightnessTransitionActive | async"
      >
        <div class="pill-icon" @hshrink>
          <i class="material-icons-round">brightness_medium</i>
        </div>
        @if (state.hover) {
          <span @hshrink>{{ 'comp.main-status-bar.brightness.simple' | translate }}:&nbsp;</span>
        }
        <span class="monospace"
          >{{ simpleBrightnessControl.brightnessStream | async | number: '1.0-0' }}%</span
        >
      </div>
    }
    @if ((simpleBrightnessControl.advancedMode | async) === true) {
      <div
        class="pill brightness-advanced clickable"
        *ngVar="{ hover: false }; let state"
        (mouseenter)="state.hover = true"
        (mouseleave)="state.hover = false"
        [tooltip]="'comp.main-status-bar.brightness.tooltip'"
        [tooltipMode]="'top'"
        [tooltipMargin]="8"
        (click)="openBrightnessControlModal()"
        @hshrink
        [class.breathing]="brightnessCctAutomations.anyBrightnessTransitionActive | async"
      >
        <div class="pill-icon" @hshrink>
          <i class="material-icons-round">monitor</i>
        </div>
        <span>
          <span
            class="monospace"
            [class.inactive]="(hardwareBrightnessControl.driverIsAvailable | async) === false"
            >{{ hardwareBrightnessControl.brightnessStream | async | number: '1.0-0' }}%</span
          >
          <span><b>&nbsp;|&nbsp;</b></span>
          <span class="monospace"
            >{{ softwareBrightnessControl.brightnessStream | async | number: '1.0-0' }}%</span
          >
        </span>
        <div class="pill-icon" @hshrink>
          <i class="material-icons-round">image</i>
        </div>
      </div>
    }
    <div
      class="pill steamvr-status"
      *ngVar="{ hover: false }; let state"
      (mouseenter)="state.hover = true"
      (mouseleave)="state.hover = false"
    >
      @if (['INACTIVE', 'INITIALIZED'].includes((openvr.status | async) ?? '')) {
        <div class="pill-icon" @hshrink>
          <img draggable="false" src="/assets/img/steamvr_icon.png" />
        </div>
      }
      @if (['INITIALIZING'].includes((openvr.status | async) ?? '')) {
        <div class="pill-icon" @hshrink>
          <div class="small-spinner"></div>
        </div>
      }
      @if (state.hover) {
        <span @hshrink>{{ 'SteamVR' }}:&nbsp;</span>
      }
      <span>{{ 'comp.main-status-bar.steamvr.' + (openvr.status | async) | translate }}</span>
    </div>
    <div
      class="pill vrc-status clickable"
      *ngVar="{ hover: false } as state"
      (mouseenter)="state.hover = true"
      (mouseleave)="state.hover = false"
      (click)="navigateToIntegrationSettings()"
      [tooltip]="'comp.main-status-bar.vrchat.tooltip'"
    >
      <ng-container *ngVar="user | async as user">
        @if (!user || user.status === 'offline') {
          <div class="pill-icon" @hshrink>
            <img draggable="false" src="/assets/img/vrc_icon.png" />
          </div>
        }
        @if (user && user.status !== 'offline') {
          <div class="pill-icon" @hshrink>
            <i class="material-icons-round" [style.color]="getStatusColor(user.status)"
              >brightness_1</i
            >
          </div>
        }
        @if (state.hover) {
          <span translate @hshrink>VRChat:&nbsp;</span>
        }
        @if (user) {
          <span>{{ user?.displayName }}</span>
        }
        @if (!user) {
          <span translate>comp.main-status-bar.loggedOut</span>
        }
      </ng-container>
    </div>
  </div>
</div>
