<div class="settings">
  <div class="setting-row">
    <div class="setting-row-label">
      <span translate *ngIf="!automations.length"
        >audio-volume-automations.devices.title.noDevices</span
      >
      <span translate *ngIf="automations.length"
        >audio-volume-automations.devices.title.hasDevices</span
      >
      <span translate>audio-volume-automations.devices.description</span>
    </div>
    <div class="setting-row-action">
      <button
        class="btn btn-secondary btn-add-device"
        [tooltip]="'audio-volume-automations.selectDevice'"
        [tooltipMode]="'left'"
        (click)="addAudioDevice()"
      >
        <i class="material-icons">add</i>
      </button>
    </div>
  </div>
</div>
<div
  class="collapse-row"
  @vshrink
  *ngIf="automations.length"
  [class.collapsed]="collapsed"
  (click)="collapsed = !collapsed"
>
  <div class="left">
    <span
      translate="audio-volume-automations.automations.label"
      [translateParams]="{ count: automations.length }"
    ></span>
  </div>
  <div class="right">
    <i class="material-icons">keyboard_arrow_down</i>
  </div>
</div>
<div class="settings automation-list" @vshrink *ngIf="!collapsed">
  <div *ngFor="let automation of automations; trackBy: trackAutomationBy" @vshrink>
    <div class="setting-row">
      <div class="setting-row-icon">
        <i class="material-icons" *ngIf="automation.audioDeviceRef.type === 'Render'">volume_up</i>
        <i class="material-icons" *ngIf="automation.audioDeviceRef.type === 'Capture'">mic</i>
      </div>
      <div class="setting-row-label">
        <div *ngIf="automation.audioDeviceRef.persistentId.startsWith('DEFAULT_')">
          <b translate>audio-volume-automations.picker.defaultDevice</b>
        </div>
        <span>{{ automation.audioDeviceRef.name.display }}</span>
        <span *ngIf="automation.audioDeviceRef.name.driver">{{
          automation.audioDeviceRef.name.driver
        }}</span>
      </div>
      <div class="setting-row-action">
        <app-select-box
          class="action-select"
          [items]="actionOptions"
          [type]="'SMALL'"
          [selected]="getActionOptionForType(automation.type)"
          (selectedChange)="setAutomationType(automation, $event?.id)"
        ></app-select-box>
        <button
          class="btn btn-secondary btn-remove-device"
          [tooltip]="'audio-volume-automations.removeDevice'"
          [tooltipMode]="'left'"
          (click)="removeAutomation(automation)"
        >
          <i class="material-icons">clear</i>
        </button>
      </div>
    </div>
    <div class="setting-row-group" *ngIf="automation.type === 'SET_VOLUME'" @vshrink>
      <div class="setting-row">
        <div class="setting-row-label">
          <span translate>audio-volume-automations.volume.title</span>
          <span translate>audio-volume-automations.volume.description</span>
        </div>
        <div class="setting-row-action">
          <app-slider-setting
            [unit]="'%'"
            [value]="automation.volume"
            (valueChange)="setVolume(automation, $event)"
          ></app-slider-setting>
        </div>
      </div>
    </div>
  </div>
</div>
