<div class="settings">
  <div class="setting-row">
    <div class="setting-row-label">
      @if (!automations.length) {
        <span translate
          >audio-volume-automations.devices.title.noDevices</span
          >
        }
        @if (automations.length) {
          <span translate
            >audio-volume-automations.devices.title.hasDevices</span
            >
          }
          <span translate>audio-volume-automations.devices.description</span>
        </div>
        <div class="setting-row-action">
          <button
            class="btn btn-secondary btn-add-device"
            [tooltip]="'audio-volume-automations.selectDevice'"
            [tooltipMode]="'left'"
            (click)="addAudioDevice()"
            >
            <i class="material-icons">add</i>
          </button>
        </div>
      </div>
    </div>
    @if (automations.length) {
      <div
        class="collapse-row"
        @vshrink
        [class.collapsed]="collapsed"
        (click)="collapsed = !collapsed"
        >
        <div class="left">
          <span
            translate="audio-volume-automations.automations.label"
            [translateParams]="{ count: automations.length }"
          ></span>
        </div>
        <div class="right">
          <i class="material-icons">keyboard_arrow_down</i>
        </div>
      </div>
    }
    @if (!collapsed) {
      <div class="settings automation-list" @vshrink>
        @for (automation of automations; track trackAutomationBy($index, automation)) {
          <div @vshrink>
            <div class="setting-row">
              <div class="setting-row-icon">
                @if (automation.audioDeviceRef.type === 'Render') {
                  <i class="material-icons">volume_up</i>
                }
                @if (automation.audioDeviceRef.type === 'Capture') {
                  <i class="material-icons">mic</i>
                }
              </div>
              <div class="setting-row-label">
                @if (automation.audioDeviceRef.persistentId.startsWith('DEFAULT_')) {
                  <div>
                    <b translate>audio-volume-automations.picker.defaultDevice</b>
                  </div>
                }
                <span>{{ automation.audioDeviceRef.name.display }}</span>
                @if (automation.audioDeviceRef.name.driver) {
                  <span>{{
                    automation.audioDeviceRef.name.driver
                  }}</span>
                }
              </div>
              <div class="setting-row-action">
                <app-select-box
                  class="action-select"
                  [items]="actionOptions"
                  [type]="'SMALL'"
                  [selected]="getActionOptionForType(automation.type)"
                  (selectedChange)="setAutomationType(automation, $event?.id)"
                ></app-select-box>
                <button
                  class="btn btn-secondary btn-remove-device"
                  [tooltip]="'audio-volume-automations.removeDevice'"
                  [tooltipMode]="'left'"
                  (click)="removeAutomation(automation)"
                  >
                  <i class="material-icons">clear</i>
                </button>
              </div>
            </div>
            @if (
              automationType === 'onSleepEnable' ||
              automationType === 'onSleepDisable' ||
              automation.type === 'SET_VOLUME'
              ) {
              <div
                class="setting-row-group"
                @vshrink
                >
                @if (automation.type === 'SET_VOLUME') {
                  <div class="setting-row" @vshrink>
                    <div class="setting-row-label">
                      <span translate>audio-volume-automations.volume.title</span>
                      <span translate>audio-volume-automations.volume.description</span>
                    </div>
                    <div class="setting-row-action">
                      <app-slider-setting
                        [unit]="'%'"
                        [value]="automation.volume"
                        (valueChange)="setVolume(automation, $event)"
                      ></app-slider-setting>
                    </div>
                  </div>
                }
                @if (automationType === 'onSleepEnable' || automationType === 'onSleepDisable') {
                  <div
                    class="setting-row"
                    >
                    <div class="setting-row-label" translate>
                      <span translate>audio-volume-automations.applyOnStart.title</span>
                      <span translate>{{
                        'audio-volume-automations.applyOnStart.description.' + automationType | translate
                      }}</span>
                    </div>
                    <div class="setting-row-action">
                      <label class="switch-toggle">
                        <input
                          type="checkbox"
                          [checked]="automation.applyOnStart"
                          (change)="toggleApplyOnStart(automation)"
                          />
                        <span class="switch-toggle-slider"></span>
                      </label>
                    </div>
                  </div>
                }
              </div>
            }
          </div>
        }
      </div>
    }
