<div class="pane">
  <div class="pane-title" translate>settings.general.title</div>
  <div class="pane-content">
    <div class="setting-view-container">
      <div class="setting-category">
        <h2 translate>settings.general.language.title</h2>
        <p translate>settings.general.language.description</p>
        <div class="settings-language">
          @for (language of languages; track language) {
            <label class="radio-button">
              <input
                type="radio"
                name="radio-language"
                [value]="language.code"
                [checked]="appSettings.userLanguage === language.code"
                (change)="setUserLanguage(language.code)"
              />
              <span class="radio-button-dot"></span>
              <span class="radio-button-label">
                <span class="fi fi-{{ language.flag || language.code }}"></span>
                <span>{{ language.label }}</span>
              </span>
            </label>
          }
        </div>
      </div>

      <div class="setting-category">
        <h2 translate>settings.general.sleepMode.title</h2>
        <div class="settings">
          <div class="setting-row">
            <div class="setting-row-label" translate>
              <span translate>settings.general.sleepMode.startupBehaviour.title</span>
              <span translate>settings.general.sleepMode.startupBehaviour.description</span>
            </div>
            <div class="setting-row-action">
              <app-select-box
                class="sleep-mode-startup-behaviour-dropdown"
                [items]="sleepModeStartupBehaviourOptions"
                [selected]="sleepModeStartupBehaviourOption"
                (selectedChange)="onChangeSleepModeStartupBehaviour($event)"
              ></app-select-box>
            </div>
          </div>
        </div>
      </div>

      <div class="setting-category">
        <h2 translate>settings.general.systemTray.title</h2>
        <div class="settings">
          <div class="setting-row">
            <div class="setting-row-label" translate>
              <span translate>settings.general.systemTray.close.label</span>
              <span translate>settings.general.systemTray.close.description</span>
            </div>
            <div class="setting-row-action">
              <label class="switch-toggle">
                <input
                  type="checkbox"
                  [checked]="appSettings.exitInSystemTray"
                  (change)="setExitInSystemTray(!appSettings.exitInSystemTray)"
                />
                <span class="switch-toggle-slider"></span>
              </label>
            </div>
          </div>
          <div class="setting-row">
            <div class="setting-row-label" translate>
              <span translate>settings.general.systemTray.start.label</span>
              <span translate>settings.general.systemTray.start.description</span>
            </div>
            <div class="setting-row-action">
              <label class="switch-toggle">
                <input
                  type="checkbox"
                  [checked]="appSettings.startInSystemTray"
                  (change)="setStartInSystemTray(!appSettings.startInSystemTray)"
                />
                <span class="switch-toggle-slider"></span>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="setting-category">
        <h2 translate>settings.general.overlay.title</h2>
        <div class="settings">
          <div class="setting-row">
            <div class="setting-row-label" translate>
              <span translate>settings.general.overlay.overlayMenu.title</span>
              <span translate>settings.general.overlay.overlayMenu.description</span>
            </div>
            <div class="setting-row-action">
              <label class="switch-toggle">
                <input
                  type="checkbox"
                  [checked]="appSettings.overlayMenuEnabled"
                  (change)="setOverlayMenuEnabled(!appSettings.overlayMenuEnabled)"
                />
                <span class="switch-toggle-slider"></span>
              </label>
            </div>
          </div>
          <div class="setting-row">
            <div class="setting-row-label" translate>
              <span translate>settings.general.overlay.binding.title</span>
              <span translate>settings.general.overlay.binding.description</span>
            </div>
            <div class="setting-row-action">
              <app-controller-binding
                [actionKey]="OVRInputEventAction.OpenOverlay"
              ></app-controller-binding>
            </div>
          </div>
          <div class="setting-row">
            <div class="setting-row-label" translate>
              <span translate>settings.general.overlay.onlyOpenMenuWhenVRChatRunning.title</span>
              <span translate
                >settings.general.overlay.onlyOpenMenuWhenVRChatRunning.description</span
              >
            </div>
            <div class="setting-row-action">
              <label class="switch-toggle">
                <input
                  type="checkbox"
                  [checked]="appSettings.overlayMenuOnlyOpenWhenVRChatIsRunning"
                  (change)="
                    setOverlayMenuOnlyOpenWhenVRChatIsRunning(
                      !appSettings.overlayMenuOnlyOpenWhenVRChatIsRunning
                    )
                  "
                />
                <span class="switch-toggle-slider"></span>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="setting-category">
        <h2 translate>settings.general.lighthousePowerControl.title</h2>
        <div class="settings">
          <div class="setting-row">
            <div class="setting-row-label" translate>
              <span translate>settings.general.lighthousePowerControl.enable.title</span>
              <span translate>settings.general.lighthousePowerControl.enable.description</span>
            </div>
            <div class="setting-row-action">
              <label class="switch-toggle">
                <input
                  type="checkbox"
                  [checked]="appSettings.lighthousePowerControl"
                  (change)="setLighthousePowerControl(!appSettings.lighthousePowerControl)"
                />
                <span class="switch-toggle-slider"></span>
              </label>
            </div>
          </div>
          <div class="setting-row">
            <div class="setting-row-label" translate>
              <span translate>settings.general.lighthousePowerControl.powerOffMode.title</span>
              <span translate
                >settings.general.lighthousePowerControl.powerOffMode.description</span
              >
            </div>
            <div class="setting-row-action">
              <app-select-box
                class="lighthouse-power-off-mode-dropdown"
                [items]="lighthousePowerOffModeOptions"
                [selected]="lighthousePowerOffModeOption"
                (selectedChange)="onChangeLighthousePowerOffMode($event)"
              ></app-select-box>
            </div>
          </div>
        </div>
      </div>

      <div class="setting-category">
        <h2 translate>settings.general.startStop.title</h2>
        <div class="settings">
          <div class="setting-row">
            <div class="setting-row-label" translate>
              <span translate>settings.general.startWithSteamVR.label</span>
              <span translate>settings.general.startWithSteamVR.description</span>
            </div>
            <div class="setting-row-action">
              <button class="btn btn-secondary" (click)="showStartWithSteamVRHowToModal()" translate
                >settings.general.startWithSteamVR.howTo
              </button>
            </div>
          </div>
          <div class="setting-row">
            <div class="setting-row-label" translate>
              <span translate>settings.general.stopWithSteamVR.label</span>
              <span translate>settings.general.stopWithSteamVR.description</span>
            </div>
            <div class="setting-row-action">
              <app-select-box
                type="SMALL"
                class="stop-with-steamvr-dropdown"
                [items]="stopWithSteamVROptions"
                [selected]="stopWithSteamVROption"
                (selectedChange)="onChangeStopWithSteamVROption($event)"
              ></app-select-box>
            </div>
          </div>
        </div>
      </div>

      <div class="setting-category">
        <h2 translate>settings.general.discord.title</h2>
        <div class="settings">
          <div class="setting-row">
            <div class="setting-row-label" translate>
              <span translate>settings.general.discord.activityMode.title</span>
              <span translate>settings.general.discord.activityMode.description</span>
            </div>
            <div class="setting-row-action">
              <app-select-box
                [type]="'SMALL'"
                class="discord-activity-mode-dropdown"
                [items]="discordActivityModeOptions"
                [selected]="discordActivityModeOption"
                (selectedChange)="onChangeDiscordActivityMode($event)"
              ></app-select-box>
            </div>
          </div>
          <div class="setting-row-group">
            <div class="setting-row">
              <div class="setting-row-label" translate>
                <span translate>settings.general.discord.activityModeVRCCondition.title</span>
                <span></span>
              </div>
              <div class="setting-row-action">
                <label class="switch-toggle">
                  <input
                    type="checkbox"
                    [checked]="appSettings.discordActivityOnlyWhileVRChatIsRunning"
                    (change)="
                      setDiscordActivityOnlyWhenVRChatIsRunning(
                        !appSettings.discordActivityOnlyWhileVRChatIsRunning
                      )
                    "
                  />
                  <span class="switch-toggle-slider"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="setting-category">
        <h2 translate>settings.general.lighthouseConsole.title</h2>
        <p [innerHTML]="'settings.general.lighthouseConsole.description' | translate"></p>
        <div class="settings-lighthouse-console">
          <div class="file-path-bar">
            <div class="file-path-bar-path">
              <input
                type="text"
                [value]="appSettings.lighthouseConsolePath"
                (keyup)="lighthouseConsolePathInputChange.next(lighthouseConsolePathInput.value)"
                #lighthouseConsolePathInput
              />
            </div>
            <button class="file-path-bar-btn-browse" (click)="browseForLighthouseConsole()">
              <i class="material-icons">folder</i>
            </button>
          </div>
          @if (lighthouseConsolePathAlert) {
            <div
              class="alert"
              [class.success]="lighthouseConsolePathAlert.type === 'SUCCESS'"
              [class.error]="lighthouseConsolePathAlert.type === 'ERROR'"
              [@vshrink]
            >
              <div class="alert-bg"></div>
              <div class="alert-icon">
                @if (!lighthouseConsolePathAlert.loadingIndicator) {
                  <i class="material-icons"> check_circle_outline </i>
                }
                @if (lighthouseConsolePathAlert.loadingIndicator) {
                  <div class="small-spinner"></div>
                }
              </div>
              <div
                class="alert-content"
                [innerHTML]="lighthouseConsolePathAlert.text | translate"
              ></div>
            </div>
          }
        </div>
      </div>

      <div class="setting-category">
        <h2 translate>settings.general.adminPrivileges.title</h2>
        <div class="settings">
          <div class="setting-row">
            <div class="setting-row-label" translate>
              <span translate>settings.general.adminPrivileges.label</span>
              <span translate>settings.general.adminPrivileges.description</span>
            </div>
            <div class="setting-row-action">
              <label class="switch-toggle">
                <input
                  type="checkbox"
                  [checked]="appSettings.askForAdminOnStart"
                  (change)="setAskForAdminOnStart(!appSettings.askForAdminOnStart)"
                />
                <span class="switch-toggle-slider"></span>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="setting-category">
        <h2 translate>settings.general.telemetry.title</h2>
        <div class="settings">
          <div class="setting-row">
            <div class="setting-row-label" translate>
              <span translate>settings.general.telemetry.label</span>
              <span [innerHtml]="'settings.general.telemetry.description' | translate"></span>
            </div>
            <div class="setting-row-action">
              <label class="switch-toggle">
                <input
                  type="checkbox"
                  [checked]="telemetrySettings.enabled"
                  (change)="setTelemetryEnabled(!telemetrySettings.enabled)"
                />
                <span class="switch-toggle-slider"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="setting-category">
        <h2 translate>settings.general.vrcx.title</h2>
        <div class="settings">
          <div class="setting-row">
            <div class="setting-row-label" translate>
              <span translate>settings.general.vrcx.label</span>
            </div>
            <div class="setting-row-action">
              <label class="switch-toggle">
                <input
                  type="checkbox"
                  [checked]="appSettings.vrcxLogSleepMode"
                  (change)="setvrcxLogSleepMode(!appSettings.vrcxLogSleepMode)"
                />
                <span class="switch-toggle-slider"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
