<div class="pane fill">
  <div class="pane-title" transloco="settings.general.title"></div>
  <div class="pane-content scroll">
    <div class="setting-view-container">
      <div class="setting-category">
        <h2 transloco="settings.general.language.title"></h2>
        <p transloco="settings.general.language.description"></p>
        <div class="settings-language">
          @for (language of languages; track language) {
            <label class="radio-button">
              <input
                type="radio"
                name="radio-language"
                [value]="language.code"
                [checked]="appSettings.userLanguage === language.code"
                (change)="setUserLanguage(language.code)"
              />
              <span class="radio-button-dot"></span>
              <span class="radio-button-label">
                <span class="fi fi-{{ language.flag || language.code }}"></span>
                <span>{{ language.label }}</span>
              </span>
            </label>
          }
        </div>
      </div>

      <div class="setting-category">
        <h2 transloco="settings.general.sleepMode.title"></h2>
        <div class="settings">
          <app-setting-row
            label="settings.general.sleepMode.startupBehaviour.title"
            description="settings.general.sleepMode.startupBehaviour.description"
          >
            <app-select-box
              class="sleep-mode-startup-behaviour-dropdown"
              [items]="sleepModeStartupBehaviourOptions"
              [selected]="sleepModeStartupBehaviourOption"
              (selectedChange)="onChangeSleepModeStartupBehaviour($event)"
            ></app-select-box>
          </app-setting-row>
        </div>
      </div>

      <div class="setting-category">
        <h2 transloco="settings.general.systemTray.title"></h2>
        <div class="settings">
          <app-setting-row
            label="settings.general.systemTray.close.label"
            description="settings.general.systemTray.close.description"
          >
            <label class="switch-toggle">
              <input
                type="checkbox"
                [checked]="appSettings.exitInSystemTray"
                (change)="setExitInSystemTray(!appSettings.exitInSystemTray)"
              />
              <span class="switch-toggle-slider"></span>
            </label>
          </app-setting-row>
          <app-setting-row
            label="settings.general.systemTray.start.label"
            description="settings.general.systemTray.start.description"
          >
            <label class="switch-toggle">
              <input
                type="checkbox"
                [checked]="appSettings.startInSystemTray"
                (change)="setStartInSystemTray(!appSettings.startInSystemTray)"
              />
              <span class="switch-toggle-slider"></span>
            </label>
          </app-setting-row>
        </div>
      </div>

      <div class="setting-category">
        <h2 transloco="settings.general.overlay.title"></h2>
        <div class="settings">
          <app-setting-row
            label="settings.general.overlay.overlayMenu.title"
            description="settings.general.overlay.overlayMenu.description"
          >
            <label class="switch-toggle">
              <input
                type="checkbox"
                [checked]="appSettings.overlayMenuEnabled"
                (change)="setOverlayMenuEnabled(!appSettings.overlayMenuEnabled)"
              />
              <span class="switch-toggle-slider"></span>
            </label>
          </app-setting-row>
          <app-setting-row
            label="settings.general.overlay.binding.title"
            description="settings.general.overlay.binding.description"
          >
            <app-controller-binding
              [actionKey]="OVRInputEventAction.OpenOverlay"
            ></app-controller-binding>
          </app-setting-row>
          <app-setting-row
            label="settings.general.overlay.onlyOpenMenuWhenVRChatRunning.title"
            description="settings.general.overlay.onlyOpenMenuWhenVRChatRunning.description"
          >
            <label class="switch-toggle">
              <input
                type="checkbox"
                [checked]="appSettings.overlayMenuOnlyOpenWhenVRChatIsRunning"
                (change)="
                  setOverlayMenuOnlyOpenWhenVRChatIsRunning(
                    !appSettings.overlayMenuOnlyOpenWhenVRChatIsRunning
                  )
                "
              />
              <span class="switch-toggle-slider"></span>
            </label>
          </app-setting-row>
        </div>
      </div>

      <div class="setting-category">
        <h2 transloco="settings.general.lighthousePowerControl.title"></h2>
        <div class="settings">
          <app-setting-row
            label="settings.general.lighthousePowerControl.enable.title"
            description="settings.general.lighthousePowerControl.enable.description"
          >
            <label class="switch-toggle">
              <input
                type="checkbox"
                [checked]="appSettings.lighthousePowerControl"
                (change)="setLighthousePowerControl(!appSettings.lighthousePowerControl)"
              />
              <span class="switch-toggle-slider"></span>
            </label>
          </app-setting-row>
          <app-setting-row
            label="settings.general.lighthousePowerControl.powerOffMode.title"
            description="settings.general.lighthousePowerControl.powerOffMode.description"
          >
            <app-select-box
              class="lighthouse-power-off-mode-dropdown"
              [items]="lighthousePowerOffModeOptions"
              [selected]="lighthousePowerOffModeOption"
              (selectedChange)="onChangeLighthousePowerOffMode($event)"
            ></app-select-box>
          </app-setting-row>
        </div>
      </div>

      <div class="setting-category">
        <h2 transloco="settings.general.startStop.title"></h2>
        <div class="settings">
          <app-setting-row
            label="settings.general.startWithSteamVR.label"
            description="settings.general.startWithSteamVR.description"
          >
            <button
              class="btn btn-secondary"
              (click)="showStartWithSteamVRHowToModal()"
              transloco="settings.general.startWithSteamVR.howTo"
            ></button>
          </app-setting-row>
          <app-setting-row
            label="settings.general.stopWithSteamVR.label"
            description="settings.general.stopWithSteamVR.description"
          >
            <app-select-box
              type="SMALL"
              class="stop-with-steamvr-dropdown"
              [items]="stopWithSteamVROptions"
              [selected]="stopWithSteamVROption"
              (selectedChange)="onChangeStopWithSteamVROption($event)"
            ></app-select-box>
          </app-setting-row>
        </div>
      </div>

      <div class="setting-category">
        <h2 transloco="settings.general.lighthouseConsole.title"></h2>
        <p [innerHTML]="'settings.general.lighthouseConsole.description' | transloco"></p>
        <div class="settings-lighthouse-console">
          <div class="file-path-bar">
            <div class="file-path-bar-path">
              <input
                type="text"
                [value]="appSettings.lighthouseConsolePath"
                (keyup)="lighthouseConsolePathInputChange.next(lighthouseConsolePathInput.value)"
                #lighthouseConsolePathInput
              />
            </div>
            <button class="file-path-bar-btn-browse" (click)="browseForLighthouseConsole()">
              <i class="material-icons">folder</i>
            </button>
          </div>
          @if (lighthouseConsolePathAlert) {
            <div
              class="alert"
              [class.success]="lighthouseConsolePathAlert.type === 'SUCCESS'"
              [class.error]="lighthouseConsolePathAlert.type === 'ERROR'"
              [@vshrink]
            >
              <div class="alert-bg"></div>
              <div class="alert-icon">
                @if (!lighthouseConsolePathAlert.loadingIndicator) {
                  <i class="material-icons"> check_circle_outline </i>
                }
                @if (lighthouseConsolePathAlert.loadingIndicator) {
                  <div class="small-spinner"></div>
                }
              </div>
              <div
                class="alert-content"
                [innerHTML]="lighthouseConsolePathAlert.text | transloco"
              ></div>
            </div>
          }
        </div>
        <div class="settings">
          <app-setting-row
            label="settings.general.lighthouseConsole.powerOffDelay.title"
            description="settings.general.lighthouseConsole.powerOffDelay.description"
          >
            <label class="switch-toggle">
              <input
                type="checkbox"
                [checked]="appSettings.lighthousePowerOffDelay"
                (change)="setLighthousePowerOffDelay(!appSettings.lighthousePowerOffDelay)"
              />
              <span class="switch-toggle-slider"></span>
            </label>
          </app-setting-row>
        </div>
      </div>

      <div class="setting-category">
        <h2 transloco="settings.general.adminPrivileges.title"></h2>
        <div class="settings">
          <app-setting-row
            label="settings.general.adminPrivileges.label"
            description="settings.general.adminPrivileges.description"
          >
            @if ((elevatedSidecar.operation | async) !== 'idle') {
              <div class="small-spinner"></div>
            }
            <label class="switch-toggle">
              <input
                type="checkbox"
                [checked]="
                  appSettings.elevatedFeaturesEnabled ||
                  (elevatedSidecar.operation | async) === 'enabling'
                "
                [disabled]="(elevatedSidecar.operation | async) !== 'idle'"
                (change)="setElevatedFeaturesEnabled(!appSettings.elevatedFeaturesEnabled)"
              />
              <span class="switch-toggle-slider"></span>
            </label>
          </app-setting-row>
        </div>
      </div>

      <div class="setting-category">
        <h2 transloco="settings.general.telemetry.title"></h2>
        <div class="settings">
          <div class="setting-row">
            <div class="setting-row-label">
              <span transloco="settings.general.telemetry.label"></span>
              <span [innerHtml]="'settings.general.telemetry.description' | transloco"></span>
            </div>
            <div class="setting-row-action">
              <label class="switch-toggle">
                <input
                  type="checkbox"
                  [checked]="telemetrySettings.enabled"
                  (change)="setTelemetryEnabled(!telemetrySettings.enabled)"
                />
                <span class="switch-toggle-slider"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
