:host {
  height: 100%;
  display: flex;
  overflow: hidden;
}

.pane {
  width: 100%;
}

.pane-content {
  padding: 2em;
  overflow-y: overlay;
  width: 100%;
}

.settings-language {
  max-width: 100%;
  display: inline-grid;
  grid-gap: 0.5em 1em;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, 1fr);

  .radio-button-label {
    white-space: nowrap;

    .fi {
      margin-right: 0.25em;
    }
  }
}

.settings-lighthouse-console {
  .alert {
    margin-bottom: 1em;
  }
}

.lighthouse-power-off-mode-dropdown {
  min-width: 10em;
}

.sleep-mode-startup-behaviour-dropdown {
  min-width: 15em;
}

.overlay-activation-controller-dropdown,
.overlay-activation-action-dropdown {
  min-width: 12em;
}

.stop-with-steamvr-dropdown {
  min-width: 10em;
}

.discord-activity-mode-dropdown {
  min-width: 10em;
}
