<p translate>shutdown-automations.description</p>
<div class="alert info" @vshrink>
  <div class="alert-bg"></div>
  <div class="alert-icon">
    <i class="material-icons"> info </i>
  </div>
  <div class="alert-content">
    <span>{{ 'power-automations.powerManagementWarning' | translate }}</span>
  </div>
</div>
<div class="setting-category">
  <h2>
    <span translate>shutdown-automations.sequence.title</span>
    <button
      class="btn btn-secondary"
      translate
      (click)="runSequence()"
      [disabled]="noOptionsSelected"
      >shutdown-automations.sequence.run
    </button>
  </h2>
  @if (noOptionsSelected) {
    <div class="alert warning" @vshrink>
      <div class="alert-bg"></div>
      <div class="alert-icon">
        <i class="material-icons"> warning </i>
      </div>
      <div class="alert-content">
        <span>{{ 'shutdown-automations.noOptionsSelected' | translate }}</span>
      </div>
    </div>
  }
  <div class="settings">
    <div class="setting-row">
      <div class="setting-row-label" translate>
        <span translate>shutdown-automations.sequence.turnOffDevices.title</span>
        <span></span>
      </div>
      <div class="setting-row-action">
        <app-device-selector
          [allowedDeviceTypes]="['CONTROLLER', 'TRACKER', 'LIGHTHOUSE']"
          [selection]="config.turnOffDevices"
          (selectionChange)="onChangeDeviceSelection($event)"
        ></app-device-selector>
      </div>
    </div>

    <div class="setting-row">
      <div class="setting-row-label" translate>
        <span translate>shutdown-automations.sequence.quitSteamVR.title</span>
        <span translate>shutdown-automations.sequence.quitSteamVR.description</span>
      </div>
      <div class="setting-row-action">
        <label class="switch-toggle">
          <input type="checkbox" [checked]="config.quitSteamVR" (change)="toggleQuitSteamVR()" />
          <span class="switch-toggle-slider"></span>
        </label>
      </div>
    </div>

    @if (config.quitSteamVR && quitWithSteamVRMode === 'IMMEDIATELY') {
      <div class="setting-row-group" @vshrink>
        <div class="setting-row">
          <div class="setting-row-label conflict" translate>
            <span>
              <span><i class="material-icons">warning</i></span>
              <span translate>shutdown-automations.sequence.quitSteamVR.conflict.title</span>
            </span>
            <span translate>shutdown-automations.sequence.quitSteamVR.conflict.description</span>
          </div>
          <div class="setting-row-action">
            <button class="btn btn-secondary" (click)="goToGeneralSettings()" translate>
              shutdown-automations.sequence.quitSteamVR.conflict.goToSettings
            </button>
          </div>
        </div>
      </div>
    }

    <div class="setting-row">
      <div class="setting-row-label" translate>
        <span translate>shutdown-automations.sequence.powerDownWindows.title</span>
        <span translate>shutdown-automations.sequence.powerDownWindows.description</span>
      </div>
      <div class="setting-row-action">
        @if (config.powerDownWindows) {
          <div class="power-down-select-box-wrapper" @fade>
            <app-select-box
              type="SMALL"
              class="power-down-options-select-box"
              [expandUp]="true"
              [items]="powerDownOptions"
              [selected]="powerDownOption"
              (selectedChange)="onChangePowerDownOption($event)"
            ></app-select-box>
          </div>
        }
        <label class="switch-toggle">
          <input
            type="checkbox"
            [checked]="config.powerDownWindows"
            (change)="togglePowerDownWindows()"
          />
          <span class="switch-toggle-slider"></span>
        </label>
      </div>
    </div>
  </div>
</div>
