<p transloco="shutdown-automations.description"></p>
<app-alert severity="info" @vshrink contentClass="with-action">
  <span>{{ 'power-automations.powerManagementWarning' | transloco }}</span>
</app-alert>
<div class="setting-category">
  <h2>
    <span transloco="shutdown-automations.sequence.title"></span>
    <button
      class="btn btn-secondary"
      transloco="shutdown-automations.sequence.run"
      (click)="runSequence()"
      [disabled]="noOptionsSelected"
    ></button>
  </h2>
  @if (noOptionsSelected) {
    <app-alert severity="warning" @vshrink contentClass="with-action">
      <span>{{ 'shutdown-automations.noOptionsSelected' | transloco }}</span>
    </app-alert>
  }
  <div class="settings">
    <app-setting-row label="shutdown-automations.sequence.turnOffDevices.title">
      <app-device-selector
        [allowedDeviceTypes]="['CONTROLLER', 'TRACKER', 'LIGHTHOUSE']"
        [selection]="config.turnOffDevices"
        (selectionChange)="onChangeDeviceSelection($event)"
      ></app-device-selector>
    </app-setting-row>

    <app-setting-row
      label="shutdown-automations.sequence.quitSteamVR.title"
      description="shutdown-automations.sequence.quitSteamVR.description"
    >
      <label class="switch-toggle">
        <input type="checkbox" [checked]="config.quitSteamVR" (change)="toggleQuitSteamVR()" />
        <span class="switch-toggle-slider"></span>
      </label>
    </app-setting-row>

    <app-setting-row
      label="shutdown-automations.sequence.powerDownWindows.title"
      description="shutdown-automations.sequence.powerDownWindows.description"
    >
      @if (config.powerDownWindows) {
        <div class="power-down-select-box-wrapper" @fade>
          <app-select-box
            type="SMALL"
            class="power-down-options-select-box"
            [expandUp]="true"
            [items]="powerDownOptions"
            [selected]="powerDownOption"
            (selectedChange)="onChangePowerDownOption($event)"
          ></app-select-box>
        </div>
      }
      <label class="switch-toggle">
        <input
          type="checkbox"
          [checked]="config.powerDownWindows"
          (change)="togglePowerDownWindows()"
        />
        <span class="switch-toggle-slider"></span>
      </label>
    </app-setting-row>
  </div>
</div>
