<div class="pane" [@noop]>
  <div class="pane-title" translate>settings.title</div>
  <div class="tab-bar">
    <div class="tab" [class.active]="activeTab === 'GENERAL'" (click)="activeTab = 'GENERAL'">
      <div class="tab-label" translate>settings.tab.general</div>
    </div>
    <div class="tab" [class.active]="activeTab === 'DEBUG'" (click)="activeTab = 'DEBUG'">
      <div class="tab-label" translate>settings.tab.debug</div>
    </div>
  </div>
  <div class="pane-content" *ngIf="activeTab === 'GENERAL'" [@noop]>
    <div class="setting-category">
      <h2 translate>settings.general.language.title</h2>
      <p translate>settings.general.language.description</p>
      <div class="settings-language">
        <label class="radio-button" *ngFor="let language of languages">
          <input
            type="radio"
            name="radio-language"
            [value]="language.code"
            [checked]="appSettings.userLanguage === language.code"
            (change)="setUserLanguage(language.code)"
          />
          <span class="radio-button-dot"></span>
          <span class="radio-button-label">
            <span class="fi fi-{{ language.flag || language.code }}"></span>
            <span>{{ language.label }}</span>
          </span>
        </label>
      </div>
    </div>
    <div class="setting-category">
      <h2 translate>settings.general.lighthouseConsole.title</h2>
      <p [innerHTML]="'settings.general.lighthouseConsole.description' | translate"></p>
      <div class="settings-lighthouse-console">
        <div class="file-path-bar">
          <div class="file-path-bar-path">
            <input
              type="text"
              [value]="appSettings.lighthouseConsolePath"
              (keyup)="lighthouseConsolePathInputChange.next(lighthouseConsolePathInput.value)"
              #lighthouseConsolePathInput
            />
          </div>
          <button class="file-path-bar-btn-browse" (click)="browseForLighthouseConsole()">
            <i class="material-icons">folder</i>
          </button>
        </div>
        <div
          class="alert"
          [class.success]="lighthouseConsolePathAlert.type === 'SUCCESS'"
          [class.error]="lighthouseConsolePathAlert.type === 'ERROR'"
          *ngIf="lighthouseConsolePathAlert"
          [@vshrink]
        >
          <div class="alert-bg"></div>
          <div class="alert-icon">
            <i class="material-icons" *ngIf="!lighthouseConsolePathAlert.loadingIndicator">
              check_circle_outline
            </i>
            <div class="small-spinner" *ngIf="lighthouseConsolePathAlert.loadingIndicator"></div>
          </div>
          <div
            class="alert-content"
            [innerHTML]="lighthouseConsolePathAlert.text | translate"
          ></div>
        </div>
      </div>
    </div>
    <div class="setting-category">
      <h2 translate>settings.general.adminPrivileges.title</h2>
      <div class="setting-row">
        <div class="setting-row-label" translate>
          <span translate>settings.general.adminPrivileges.label</span>
          <span translate>settings.general.adminPrivileges.description</span>
        </div>
        <div class="setting-row-action">
          <label class="switch-toggle">
            <input
              type="checkbox"
              [checked]="appSettings.askForAdminOnStart"
              (change)="setAskForAdminOnStart(!appSettings.askForAdminOnStart)"
            />
            <span class="switch-toggle-slider"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="pane-content" *ngIf="activeTab === 'DEBUG'" [@noop]>
    <div class="setting-category">
      <p translate>settings.debug.description</p>
    </div>
    <div class="setting-category">
      <h2 translate>settings.debug.persistentStorage.title</h2>
      <p translate>settings.debug.persistentStorage.description</p>
      <div class="debug-persistent-storage-actions">
        <button class="btn btn-secondary" (click)="clearStore()" translate>
          settings.debug.persistentStorage.clearAll
        </button>
        <button
          class="btn btn-secondary"
          (click)="clearStore(storeKey.SETTINGS_KEY_AUTOMATION_CONFIGS)"
          translate
        >
          settings.debug.persistentStorage.clearAutomationSettings
        </button>
        <button
          class="btn btn-secondary"
          (click)="clearStore(storeKey.SETTINGS_KEY_APP_SETTINGS)"
          translate
        >
          settings.debug.persistentStorage.clearAppSettings
        </button>
        <button class="btn btn-secondary" (click)="printSettings()" translate>
          settings.debug.persistentStorage.printSettings
        </button>
      </div>
    </div>
    <div class="setting-category">
      <h2 translate>settings.debug.language.title</h2>
    </div>
    <p translate>settings.debug.language.description</p>
    <div class="debug-persistent-storage-actions">
      <button class="btn btn-secondary" (click)="loadLanguageFile()" translate>
        settings.debug.language.loadFile
      </button>
    </div>
    <div class="setting-category">
      <h2 translate>settings.debug.sleepingPose.title</h2>
    </div>
    <app-sleeping-pose-viewer></app-sleeping-pose-viewer>
  </div>
</div>
