<div class="pane" [@noop]>
  <div class="pane-title" translate>settings.title</div>
  <div class="tab-bar">
    <div class="tab" [class.active]="activeTab === 'GENERAL'" (click)="activeTab = 'GENERAL'">
      <div class="tab-label" translate>settings.tab.general</div>
    </div>
    <div class="tab" [class.active]="activeTab === 'VRCHAT'" (click)="activeTab = 'VRCHAT'">
      <div class="tab-label" translate>settings.tab.vrchat</div>
    </div>
    <div class="tab" [class.active]="activeTab === 'UPDATES'" (click)="activeTab = 'UPDATES'">
      <div class="tab-label">
        <i
          class="material-icons"
          style="color: var(--color-warning)"
          @hshrink
          *ngIf="updateAvailable.manifest"
        >
          notification_important
        </i>
        <span translate>settings.tab.updates</span>
      </div>
    </div>
    <div class="tab" [class.active]="activeTab === 'DEBUG'" (click)="activeTab = 'DEBUG'">
      <div class="tab-label" translate>settings.tab.debug</div>
    </div>
  </div>
  <app-settings-general-tab class="pane-content" *ngIf="activeTab === 'GENERAL'" @noop></app-settings-general-tab>
  <app-settings-vrchat-tab class="pane-content" *ngIf="activeTab === 'VRCHAT'" @noop></app-settings-vrchat-tab>
  <app-settings-updates-tab class="pane-content" *ngIf="activeTab === 'UPDATES'" @noop></app-settings-updates-tab>
  <app-settings-debug-tab class="pane-content" *ngIf="activeTab === 'DEBUG'" @noop></app-settings-debug-tab>
</div>
