<div class="header-row" @noop>
  <span>{{ _script.commands.length }} Commands</span>
  <span>&nbsp;|&nbsp;</span>
  <div class="small-spinner" *ngIf="!validated" @hshrink style="margin-right: 0.5em"></div>
  <span>{{ errors.length }} Validation errors</span>
  <span style="flex: 1"></span>
  <div class="header-row-buttons">
    <app-dropdown-button [items]="addCommandItems" (onSelect)="onAdd($event)">
      <i class="material-icons">add</i>
      <span>Add</span>
    </app-dropdown-button>
    <button class="btn btn-secondary" (click)="testCode()" [disabled]="testing || !validated">
      <div class="small-spinner" *ngIf="testing" @hshrink></div>
      <i class="material-icons" *ngIf="!testing" @hshrink>play_arrow</i>
      <span *ngIf="!testing" [@hshrink]>Test</span>
    </button>
  </div>
</div>
<div class="simple-commands" @noop>
  <div class="simple-command" *ngFor="let command of _script.commands; let i = index" @vshrink>
    <ng-container *ngIf="command.type === 'COMMAND'">
      <div
        class="simple-command-error-icon"
        @hshrink
        *ngIf="getErrorsForAction(i).length"
        (mouseenter)="hoverOnAction(i, $event)"
      >
        <i class="material-icons-round">error</i>
      </div>
      <div class="simple-command-index">{{ i + 1 }}.</div>
      <div class="simple-command-action">OSC</div>
      <app-select-box
        [type]="'SMALL'"
        [selected]="getSelectedParameterTypeForCommand(command)"
        [items]="parameterTypeSelectItems"
        (selectedChange)="setSelectedParameterTypeForCommand(command, $event!)"
        [showPlaceholderInDropdown]="false"
        class="simple-command-type-input"
      ></app-select-box>
      <app-select-box
        class="simple-command-boolean-input"
        *ngIf="command.parameterType === 'BOOLEAN'"
        [type]="'SMALL'"
        [selected]="getSelectedBooleanValueForCommand(command)"
        [items]="[
          { id: 'true', label: 'true' },
          { id: 'false', label: 'false' }
        ]"
        (selectedChange)="setBoolValue(command, $event!)"
        [showPlaceholderInDropdown]="false"
      ></app-select-box>
      <div
        class="input-wrapper simple-command-integer-input"
        *ngIf="command.parameterType === 'INT'"
      >
        <input
          type="number"
          step="1"
          min="0"
          max="255"
          [value]="command.value"
          (change)="setIntValue(command, $event)"
        />
      </div>
      <div
        class="input-wrapper simple-command-float-input"
        *ngIf="command.parameterType === 'FLOAT'"
      >
        <input
          type="number"
          step="0.001"
          [value]="command.value"
          (change)="setFloatValue(command, $event)"
        />
      </div>
      <div class="input-wrapper simple-command-address-input">
        <input
          type="text"
          placeholder="OSC Address"
          [value]="command.address"
          (change)="setAddress(command, $event)"
        />
      </div>
      <button class="btn simple-command-remove-button" (click)="removeCommand(command)">
        <i class="material-icons">clear</i>
      </button>
    </ng-container>
    <ng-container *ngIf="command.type === 'SLEEP'">
      <div
        class="simple-command-error-icon"
        @hshrink
        *ngIf="getErrorsForAction(i).length"
        (mouseenter)="hoverOnAction(i, $event)"
      >
        <i class="material-icons-round">error</i>
      </div>
      <div class="simple-command-index">{{ i + 1 }}.</div>
      <div class="simple-command-action">Sleep</div>
      <div style="flex: 1"></div>
      <div class="input-wrapper with-unit simple-command-duration-input">
        <input
          type="number"
          step="any"
          [value]="command.duration"
          (change)="setSleepDuration(command, $event)"
        />
        <span>ms</span>
      </div>
      <button class="btn simple-command-remove-button" (click)="removeCommand(command)">
        <i class="material-icons">clear</i>
      </button>
    </ng-container>
  </div>
  <div class="no-commands" *ngIf="!_script.commands.length" @vshrink>
    <i class="material-icons-round">add_circle_outline</i>
    <span>No commands added yet!</span>
  </div>
  <div
    class="error-tooltip"
    [style.top]="tooltipPosition.y + 'px'"
    [style.left]="tooltipPosition.x + 'px'"
    *ngIf="tooltipErrors.length"
    @fade
    (mouseleave)="hoverOnAction(-1, undefined)"
  >
    <div class="error-tooltip-bg"></div>
    <div class="error-tooltip-content">
      <div class="error-tooltip-error" *ngFor="let error of tooltipErrors">
        {{ error.message }}
      </div>
    </div>
  </div>
</div>
