:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.main-pane {
  display: grid;
  grid-template-columns: 225px 1fr;
  grid-template-rows: minmax(0, 1fr);
  grid-gap: 1em;
  padding: 0 1em 1em 1em;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.route-container {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0.1;
  overflow: hidden;
  border-radius: var(--window-border-radius);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
