:host {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.pane {
  overflow: hidden;
}

.main {
  flex: 1;

  .pane-content {
    overflow: auto;

    app-select-box {
      width: 18em;
    }
  }
}

.alert {
  &:not(:last-child) {
    margin-bottom: 1em;
  }

  &-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      flex: 1;
    }

    button {
      flex-shrink: 0;
    }
  }
}

.player-list-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: visible;
  padding-left: 1em;

  .player-list {
    flex: 1;
    overflow: auto;
  }
}

.player-list {
  width: 225px;
  min-width: 225px;

  .pane-content {
    overflow: hidden;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .players-list {
      flex: 1;
      overflow: auto;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      .no-players {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-text-3);
        text-align: center;
        width: 100%;
        height: 100%;
        padding: 1.5em;
      }

      .player {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: var(--color-surface-1);

        &:not(:last-child) {
          border-bottom: 1px solid var(--color-surface-3);
        }

        &-left {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          flex: 1;
          padding: 0.5em 1em;
        }

        &-right {
          flex-shrink: 0;
          margin-left: 0.5em;
        }

        &-name {
          flex: 1;
        }

        .btn {
        }

        &-icon {
          flex-shrink: 0;
          margin-right: 0.5em;
          border: 2px solid var(--color-text-4);
          height: 2.5em;
          width: 2.5em;
          border-radius: 3em;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          img {
            height: 100%;
          }
        }
      }
    }

    .player-list-actions {
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      padding: 1em;
      border-top: 1px solid var(--color-surface-3);

      & > * {
        flex: 1;

        &:not(:last-child) {
          margin-bottom: 0.5em;
        }
      }
    }
  }
}
