:host {
  display: grid;
  grid-template-columns: 1fr 225px;
  grid-gap: 1em;
  height: 100%;
}

.pane {
  overflow: hidden;
}

.main {
  .pane-content {
    overflow: auto;
    app-select-box {
      width: 18em;
    }
  }
}

.player-list {
  .pane-content {
    overflow: hidden;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    .players-list {
      flex: 1;
      overflow: auto;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      .player {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: var(--color-surface-1);
        &:not(:last-child) {
          border-bottom: 1px solid var(--color-surface-3);
        }
        &-left {
          flex: 1;
          padding: 0.75em 1em;
        }
        &-right {
          flex-shrink: 0;
          margin-left: 0.5em;
        }
        &-name {
        }
        .btn {
        }
      }
    }
    .player-list-actions {
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      padding: 1em;
      border-top: 1px solid var(--color-surface-3);
      &>* {
        flex: 1;

        &:not(:last-child) {
          margin-bottom: 0.5em;
        }
      }
    }
  }
}

.settings {
  display: flow-root;
  margin-bottom: 1em;
  background: var(--color-surface-1);
  border-radius: 0.5em;
  & > * {
    transition: all 0.15s ease;
  }

  & > .alert {
    margin: 1em;
  }

  &.disabled {
    pointer-events: none;
    & > *:not(.alert) {
      opacity: 0.5;
    }
  }
}

.setting-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;

  .setting-row-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    > span:first-child {
      color: var(--color-text-1);
      margin-bottom: 0.25em;
    }
    > span:last-child {
      color: var(--color-text-3);
    }
  }
  .setting-row-action {
    flex-shrink: 0;
    margin-left: 1em;
    padding: 0 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    & > * {
      &:not(:last-child) {
        margin-right: 0.5em;
      }
    }
  }
}
