<div class="logo-row">
  <div class="left">
    <img src="/assets/img/icon_150x150.png" alt="logo" />
    <span class="logo-text">
      <span>Oyasumi</span>
      <span>VR</span>
    </span>
    <span>Translation Editor</span>
  </div>
  <div class="right">
    <button class="close-editor" (click)="closeTranslationModule()">
      <i class="material-icons">clear</i>
    </button>
  </div>
</div>
<div class="view-wrapper">
  <div class="view">
    @if (state === 'INITIALIZING' || state === 'STARTING') {
      <div style="display: flex; justify-content: center; align-items: center; padding: 10em 0">
        <div class="large-spinner" style="transform: scale(3)"></div>
      </div>
    }

    @if (state === 'ERROR') {
      <p style="margin: 1em 0">{{ error }}</p>
      <button class="btn btn-primary" (click)="init()">Retry</button>
    }

    @if (state === 'INITIALIZED') {
      <div class="setting-category">
        <div class="settings">
          <div class="setting-row">
            <div class="setting-row-label">
              <span>Edit existing language</span>
              <span
                >Choose this if you want to edit or add translations for an existing language</span
              >
            </div>
            <div class="setting-row-action"></div>
          </div>
          <div class="setting-row-group">
            <div class="setting-row">
              <div class="setting-row-label">
                <span>Language</span>
                <span>Select which language you're going to edit</span>
              </div>
              <div class="setting-row-action">
                <app-select-box
                  [items]="translationOptions"
                  (selectedChange)="translationOption = $event"
                ></app-select-box>
              </div>
            </div>
            <div class="setting-row">
              <div class="setting-row-label">
                <span>Fresh Start</span>
                <span>Pull the most recent translation files from the web</span>
              </div>
              <div class="setting-row-action">
                <button
                  class="btn btn-primary"
                  [disabled]="!translationOption"
                  (click)="downloadForExistingLanguage()"
                  >Download
                </button>
              </div>
            </div>
            <div class="setting-row">
              <div class="setting-row-label">
                <span>Import File</span>
                <span>Load an existing translation file for this language</span>
              </div>
              <div class="setting-row-action">
                <button
                  class="btn btn-primary"
                  [disabled]="!translationOption"
                  (click)="openForExistingLanguage()"
                  >Open File
                </button>
              </div>
            </div>
          </div>
          <div class="setting-row">
            <div class="setting-row-label">
              <span>Add a new language</span>
              <span>Choose this if you want to add translations for a new language</span>
            </div>
            <div class="setting-row-action"></div>
          </div>
          <div class="setting-row-group">
            <div class="setting-row">
              <div class="setting-row-label">
                <span>Language</span>
                <span
                  >Enter the
                  <a href="https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes"
                    >two-letter ISO 639-1 identifier</a
                  >
                  for the language you want to translate to</span
                >
              </div>
              <div class="setting-row-action">
                <input type="text" maxlength="2" [(ngModel)]="languageCode" />
              </div>
            </div>
            <div class="setting-row">
              <div class="setting-row-label">
                <span>Fresh Start</span>
                <span>Pull the most recent translations file from the web</span>
              </div>
              <div class="setting-row-action">
                <button
                  class="btn btn-primary"
                  [disabled]="!hasValidLanguageCode"
                  (click)="startNewLanguage()"
                  >Download
                </button>
              </div>
            </div>
            <div class="setting-row">
              <div class="setting-row-label">
                <span>Import File</span>
                <span>Load an existing translation file for this language</span>
              </div>
              <div class="setting-row-action">
                <button
                  class="btn btn-primary"
                  [disabled]="!hasValidLanguageCode"
                  (click)="openForNewLanguage()"
                  >Open File
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>
