<button class="btn btn-primary" (click)="clearV1Ids()">Clear V1 Ids</button>
<pre>{{ (appSettings.settings | async)?.v1LighthouseIdentifiers | json }}</pre>
<button class="btn btn-primary" (click)="pullOvrData()">PULL OVR DATA</button><br>
<pre>{{ ovrData | json }}</pre>
<button class="btn btn-primary" (click)="setAppFrameLimit(0)">FPS LIMIT 0</button><br>
<button class="btn btn-primary" (click)="setAppFrameLimit(1)">FPS LIMIT 1</button><br>
<button class="btn btn-primary" (click)="setAppFrameLimit(2)">FPS LIMIT 2</button><br>
<button class="btn btn-primary" (click)="setAppFrameLimit(3)">FPS LIMIT 3</button><br>
<button class="btn btn-primary" (click)="setAppFrameLimit(4)">FPS LIMIT 4</button><br>
<button class="btn btn-primary" (click)="setAppFrameLimit(5)">FPS LIMIT 5</button><br>
<button class="btn btn-primary" (click)="setAppFrameLimit(null)">AUTO LIMIT</button>
<button class="btn btn-primary" (click)="getAppFrameLimit()">FETCH LIMIT</button>
<pre>{{ result | json }}</pre>
