@import 'panes';

.manual-control-pane {
  margin-top: 1em;

  .manual-control-pane-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5em;

    h3 {
      flex-shrink: 0;
      flex-grow: 1;
      flex-basis: 1;
      margin: 0;
    }

    .current-pose {
      margin: 0;
      text-align: right;
    }
  }

  .manual-control-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    &:not(:first-of-type) {
      margin-top: 0.5em;
    }

    button {
      white-space: nowrap;
      flex: 1;

      &:not(:last-child) {
        margin-right: 0.5em;
      }
    }
  }
}

.option-pane {
  background: var(--color-surface-1);
  overflow: visible;

  &:not(:last-child) {
    margin-bottom: 1em;
  }

  &:not(:first-of-type) {
    margin-top: 1em;
  }

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em 0.5em 0.5em 1em;

    h3 {
      margin: 0;
      flex: 1;
    }

    label {
      margin-right: 1em;
    }

    &-actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      margin-right: 1em;

      app-select-box {
        max-width: 18em;
      }

      .collapse-toggle {
        margin: -0.5em 0 -0.5em 0.5em;
        width: 3em;
        height: 3em;
        border-radius: 3em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &:hover {
          background: var(--color-surface-4);
        }
      }
    }
  }

  &-alert {
    padding: 0.5em 1em 1em 1em;

    .alert {
      &:not(:first-child) {
        margin-top: 0.5em;
      }
    }
  }

  &-options {
    border-top: 1px solid var(--color-surface-3);
    padding: 1.5em;

    .osc-options-error {
      color: var(--color-caution);
    }
  }

  .suboptions {
    @extend .pane;
    margin-left: 2em;
    padding: 0.5em 1em;
    margin-top: 0.5em;

    .suboption input[type='number'] {
      background: var(--color-surface-0);
      padding-top: 0.25em;
      padding-bottom: 0.25em;
      padding-left: 0.5em;
    }
  }

  .option {
    display: flex;
    flex-direction: row;
    align-items: center;

    &:not(:first-child) {
      margin-top: 1em;
    }

    &.suboption {
    }

    &-label {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      > *:first-child {
      }

      > *:last-child {
        margin-top: 0.5em;
        color: var(--color-text-3);
      }
    }

    &-actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-shrink: 0;

      > *:not(:first-child) {
        margin-left: 0.5em;
      }

      input[type='number'] {
        background: var(--color-surface-2);
      }
    }
  }
}
