<p
  style="white-space: pre-wrap"
  [innerHtml]="'oscAutomations.sleepingAnimations.description' | translate"
></p>
<!-- ENABLE/OSC PANE-->
<div class="pane option-pane" @noop>
  <div class="pane-content no-padding">
    <div class="title">
      <label class="switch-toggle">
        <input
          type="checkbox"
          [checked]="config.enabled"
          (change)="updateConfig({ enabled: !config.enabled })"
        />
        <span class="switch-toggle-slider"></span>
      </label>
      <h3 translate>oscAutomations.sleepingAnimations.enable</h3>
      <div class="title-actions">
        <app-select-box
          [items]="oscPresetOptions"
          [selected]="getPresetOptionForId(config.preset!)"
          (selectedChange)="selectPreset($event!.id!)"
          style="min-width: 15em"
        ></app-select-box>
        <button class="btn collapse-toggle" (click)="oscOptionsExpanded = !oscOptionsExpanded">
          <i class="material-icons">
            {{ oscOptionsExpanded ? 'expand_less' : 'expand_more' }}
          </i>
        </button>
      </div>
    </div>
    <div class="option-pane-alert" @vshrink *ngIf="presetNotes.length">
      <div
        *ngFor="let note of presetNotes"
        class="alert"
        [class.success]="note.type === 'SUCCESS'"
        [class.error]="note.type === 'CAUTION'"
        [class.warning]="note.type === 'WARNING'"
        @vshrink
      >
        <div class="alert-bg"></div>
        <div class="alert-icon">
          <i class="material-icons-round" *ngIf="note.type === 'CAUTION'">error_outline</i>
          <i class="material-icons-outlined" *ngIf="note.type === 'INFO'">info</i>
          <i class="material-icons-round" *ngIf="note.type === 'SUCCESS'"> check_circle_outline </i>
          <i class="material-icons-round" *ngIf="note.type === 'WARNING'">warning_amber</i>
        </div>
        <div class="alert-content">{{ note.text | tsTranslate }}</div>
      </div>
    </div>
    <div class="option-pane-options" *ngIf="oscOptionsExpanded" @vshrink>
      <div class="option">
        <div class="option-label">
          <span translate>oscAutomations.sleepingAnimations.options.positions.title</span>
          <span translate> oscAutomations.sleepingAnimations.options.positions.description </span>
        </div>
        <div class="option-actions">
          <app-osc-script-button
            [label]="'oscAutomations.sleepingAnimations.options.positions.SIDE_FRONT'"
            [script]="config.oscScripts.SIDE_FRONT"
            (scriptChange)="updateOSCScript('SIDE_FRONT', $event)"
          ></app-osc-script-button>
          <app-osc-script-button
            [label]="'oscAutomations.sleepingAnimations.options.positions.SIDE_BACK'"
            [script]="config.oscScripts.SIDE_BACK"
            (scriptChange)="updateOSCScript('SIDE_BACK', $event)"
          ></app-osc-script-button>
          <app-osc-script-button
            [label]="'oscAutomations.sleepingAnimations.options.positions.SIDE_LEFT'"
            [script]="config.oscScripts.SIDE_LEFT"
            (scriptChange)="updateOSCScript('SIDE_LEFT', $event)"
          ></app-osc-script-button>
          <app-osc-script-button
            [label]="'oscAutomations.sleepingAnimations.options.positions.SIDE_RIGHT'"
            [script]="config.oscScripts.SIDE_RIGHT"
            (scriptChange)="updateOSCScript('SIDE_RIGHT', $event)"
          ></app-osc-script-button>
        </div>
      </div>
      <div class="option">
        <div class="option-label">
          <span translate>oscAutomations.sleepingAnimations.options.footLock.title</span>
          <span translate> oscAutomations.sleepingAnimations.options.footLock.description </span>
        </div>
        <div class="option-actions">
          <app-osc-script-button
            [label]="'oscAutomations.sleepingAnimations.options.footLock.FOOT_LOCK'"
            [script]="config.oscScripts.FOOT_LOCK"
            (scriptChange)="updateOSCScript('FOOT_LOCK', $event)"
          ></app-osc-script-button>
          <app-osc-script-button
            [label]="'oscAutomations.sleepingAnimations.options.footLock.FOOT_UNLOCK'"
            [script]="config.oscScripts.FOOT_UNLOCK"
            (scriptChange)="updateOSCScript('FOOT_UNLOCK', $event)"
          ></app-osc-script-button>
        </div>
      </div>
      <div class="manual-control-pane" @vshrink *ngIf="showManualControl">
        <div class="manual-control-pane-title">
          <h3 translate>oscAutomations.sleepingAnimations.manualControl</h3>
          <p class="current-pose">
            {{ 'oscAutomations.sleepingAnimations.currentPose' | translate }}:&nbsp;
            {{ 'oscAutomations.sleepingAnimations.options.positions.' + currentPose | translate }}
          </p>
        </div>
        <div class="manual-control-row">
          <button
            *ngFor="let action of sleepingPoses"
            class="btn btn-secondary"
            (click)="setSleepingPosition(action)"
            [disabled]="!config.oscScripts[action]"
          >
            <i class="material-icons">play_arrow</i>
            <span>
              {{ 'oscAutomations.sleepingAnimations.options.positions.' + action | translate }}
            </span>
          </button>
        </div>
        <div class="manual-control-row">
          <button
            *ngFor="let action of footLockActions"
            class="btn btn-secondary"
            (click)="setFootLock(action === 'FOOT_LOCK')"
            [disabled]="!config.oscScripts[action]"
          >
            <i class="material-icons">play_arrow</i>
            <span>
              {{ 'oscAutomations.sleepingAnimations.options.footLock.' + action | translate }}
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- GENERAL OPTIONS PANE-->
<div class="setting-category">
  <h3 translate>oscAutomations.sleepingAnimations.options.general.title</h3>
  <div class="settings">
    <div class="setting-row">
      <div class="setting-row-label" translate>
        <span translate
          >oscAutomations.sleepingAnimations.options.general.onlySwitchAnimations</span
        >
        <span></span>
      </div>
      <div class="setting-row-action"></div>
    </div>
    <div class="setting-row-group">
      <div class="setting-row">
        <div class="setting-row-label" translate>
          <span translate
            >oscAutomations.sleepingAnimations.options.general.onlyIfSleepModeEnabled</span
          >
          <span></span>
        </div>
        <div class="setting-row-action">
          <label class="switch-toggle">
            <input
              type="checkbox"
              [checked]="config.onlyIfSleepModeEnabled"
              (change)="updateConfig({ onlyIfSleepModeEnabled: !config.onlyIfSleepModeEnabled })"
            />
            <span class="switch-toggle-slider"></span>
          </label>
        </div>
      </div>
      <div class="setting-row">
        <div class="setting-row-label" translate>
          <span translate
            >oscAutomations.sleepingAnimations.options.general.onlyIfAllTrackersTurnedOff</span
          >
          <span></span>
        </div>
        <div class="setting-row-action">
          <label class="switch-toggle">
            <input
              type="checkbox"
              [checked]="config.onlyIfAllTrackersTurnedOff"
              (change)="
                updateConfig({
                  onlyIfAllTrackersTurnedOff: !config.onlyIfAllTrackersTurnedOff
                })
              "
            />
            <span class="switch-toggle-slider"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="setting-category">
  <h3 translate>oscAutomations.sleepingAnimations.options.general.footLock.title</h3>
  <p translate>oscAutomations.sleepingAnimations.options.general.footLock.description</p>
  <div class="settings">
    <div class="setting-row">
      <div class="setting-row-label" translate>
        <span translate
          >oscAutomations.sleepingAnimations.options.general.lockFeetOnSleepModeEnable</span
        >
        <span></span>
      </div>
      <div class="setting-row-action">
        <label class="switch-toggle">
          <input
            type="checkbox"
            [checked]="config.lockFeetOnSleepModeEnable"
            (change)="
              updateConfig({ lockFeetOnSleepModeEnable: !config.lockFeetOnSleepModeEnable })
            "
          />
          <span class="switch-toggle-slider"></span>
        </label>
      </div>
    </div>
    <div class="setting-row">
      <div class="setting-row-label" translate>
        <span translate
          >oscAutomations.sleepingAnimations.options.general.unlockFeetOnSleepModeDisable</span
        >
        <span></span>
      </div>
      <div class="setting-row-action">
        <label class="switch-toggle">
          <input
            type="checkbox"
            [checked]="config.unlockFeetOnSleepModeDisable"
            (change)="
              updateConfig({
                unlockFeetOnSleepModeDisable: !config.unlockFeetOnSleepModeDisable
              })
            "
          />
          <span class="switch-toggle-slider"></span>
        </label>
      </div>
    </div>
    <div class="setting-row">
      <div class="setting-row-label" translate>
        <span translate
          >oscAutomations.sleepingAnimations.options.general.unlockFeetOnAutomationDisable</span
        >
        <span></span>
      </div>
      <div class="setting-row-action">
        <label class="switch-toggle">
          <input
            type="checkbox"
            [checked]="config.unlockFeetOnAutomationDisable"
            (change)="
              updateConfig({
                unlockFeetOnAutomationDisable: !config.unlockFeetOnAutomationDisable
              })
            "
          />
          <span class="switch-toggle-slider"></span>
        </label>
      </div>
    </div>
    <div class="setting-row">
      <div class="setting-row-label" translate>
        <span translate
          >oscAutomations.sleepingAnimations.options.general.releaseFootLockOnPoseChange</span
        >
        <span></span>
      </div>
      <div class="setting-row-action">
        <label class="switch-toggle">
          <input
            type="checkbox"
            [checked]="config.releaseFootLockOnPoseChange"
            (change)="
              updateConfig({
                releaseFootLockOnPoseChange: !config.releaseFootLockOnPoseChange
              })
            "
          />
          <span class="switch-toggle-slider"></span>
        </label>
      </div>
    </div>
    <div class="setting-row-group">
      <div class="setting-row" [class.disabled]="!config.releaseFootLockOnPoseChange">
        <div class="setting-row-label" translate>
          <span translate
            >oscAutomations.sleepingAnimations.options.general.footLockReleaseWindow</span
          >
          <span></span>
        </div>
        <div class="setting-row-action">
          <app-slider-setting
            [step]="1"
            [min]="100"
            [max]="5000"
            unit="ms"
            [value]="config.footLockReleaseWindow"
            (valueChange)="updateFootLockReleaseWindow($event)"
            [snapValues]="[600]"
            [snapDistance]="400"
          ></app-slider-setting>
        </div>
      </div>
    </div>
  </div>
</div>
