@import 'shadows';
@import 'effects';

:host {
  display: block;
  padding: 4.25em 1.5em;
}

.b-modal-container {
  pointer-events: all;
  width: 35em;
  backdrop-filter: blur(4px);
  border-radius: var(--surface-border-radius);
  @include shadow(5, true);
  overflow: hidden;
  border: 0.15em solid var(--color-surface-3);
  background-color: color-mix(in srgb, var(--color-surface-1) 80%, transparent);
  background-image: radial-gradient(ellipse at 40% 0%, color-mix(in srgb, var(--a) 6%, transparent) 0, transparent 75%), radial-gradient(ellipse at 60% 0%, color-mix(in srgb, var(--b) 6%, transparent) 0, transparent 75%);
  @include pane-radial-gradient(#fff);
}

.sliders-container {
  padding: 2em 1.5em 0 1.5em;
}

.brightness-slider {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  transition: opacity .15s ease;

  &:not(:first-child) {
    margin-top: 1.5em;
  }

  &-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1em 2em 0 2em;
    font-weight: 200;
    white-space: nowrap;

    span {
      font-size: 1.5em;
    }
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.footer-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 1em 1.5em;
}

.shortcut-automations {
  color: var(--color-text-3);
  text-decoration: none;
  transition: all .15s;
  line-height: 1em;
  vertical-align: middle;
  display: inline-block;

  &:hover {
    color: var(--color-text-2);
  }

  &:active {
    color: var(--color-text-3);
  }

  &.active {
    pointer-events: none;
    opacity: 0;
  }
}
