@use 'shadows.scss';

:host {
  height: 0;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: var(--window-border-radius);

  &:before {
    content: '';
    background-color: var(--color-surface-0);
    z-index: -2;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    border-radius: var(--window-border-radius);
    pointer-events: none;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border: 1px solid var(--color-surface-3);
    z-index: 10002;
    border-radius: var(--window-border-radius);
    pointer-events: none;
  }
}

app-window-titlebar {
  flex-shrink: 0;
}

.route-container {
  display: block;
  height: 0;
  flex: 1;
  width: 100%;

  &,
  &:before {
    transition: all 0.15s ease-in-out;
  }
}
