<div
  class="track-container"
  [class.style-audio-level]="style === 'AUDIO_LEVEL'"
  (mousedown)="onDragStart($event)"
>
  <div class="track" [class.style-audio-level]="style === 'AUDIO_LEVEL'">
    <div
      class="track-fill"
      [style.width]="trackFillStyleWidth"
      [class.style-audio-level]="style === 'AUDIO_LEVEL'"
    ></div>
    @if (style === 'AUDIO_LEVEL') {
      <div class="track-fill-audio-level" #audioLevelTrackFill></div>
    }
    @for (snapValue of snapValues; track snapValue; let i = $index) {
      <div
        class="track-stop"
        [style.left]="trackStopStyleLeft[i]"
        [class.surpassed]="snapValue < value"
      ></div>
    }
  </div>
  <div
    class="thumb"
    [class.style-audio-level]="style === 'AUDIO_LEVEL'"
    #thumbEl
    [style.left]="thumbStyleLeft"
    [class.dragging]="dragging"
    (mousedown)="onDragStart($event)"
  ></div>
</div>
<div class="snap-indicator-container">
  @for (snapValue of snapValues; track snapValue; let i = $index) {
    <div
      class="snap-indicator"
      [style.left]="snapIndicatorStyleLeft[i]"
      [class.surpassed]="snapValue < value"
    >
      <i class="material-icons-round">arrow_drop_up</i>
    </div>
  }
</div>
