<div class="track-container" [class.style-audio-level]="style === 'AUDIO_LEVEL'" (mousedown)="onDragStart($event)">
  <div class="track" [class.style-audio-level]="style === 'AUDIO_LEVEL'">
    <div class="track-fill" [style.width]="trackFillStyleWidth"
         [class.style-audio-level]="style === 'AUDIO_LEVEL'"></div>
    <div class="track-fill-audio-level"
         *ngIf="style === 'AUDIO_LEVEL'"
         #audioLevelTrackFill
    ></div>
    <div
      class="track-stop"
      *ngFor="let snapValue of snapValues; let i = index"
      [style.left]="trackStopStyleLeft[i]"
      [class.surpassed]="snapValue < value"
    ></div>
  </div>
  <div
    class="thumb"
    [class.style-audio-level]="style === 'AUDIO_LEVEL'"
    #thumbEl
    [style.left]="thumbStyleLeft"
    [class.dragging]="dragging"
    (mousedown)="onDragStart($event)"
  ></div>
</div>
<div class="snap-indicator-container">
  <div
    class="snap-indicator"
    *ngFor="let snapValue of snapValues; let i = index"
    [style.left]="snapIndicatorStyleLeft[i]"
    [class.surpassed]="snapValue < value"
  >
    <i class="material-icons-round">arrow_drop_up</i>
  </div>
</div>
