<p translate>settings.integrations.description</p>
<div class="setting-category">
  <div class="settings">

    <div class="setting-row">
      <div class="setting-row-icon">
        <a href="https://vrchat.com/" target="_blank">
          <img class="vrchat-logo clickable-logo" src="/assets/img/vrc_icon.png" />
        </a>
      </div>
      <div class="setting-row-label">
        <span [innerHtml]="'settings.integrations.vrchat.title' | translate"></span>
        <span [innerHtml]="'settings.integrations.vrchat.description' | translate"></span>
        <a target="_blank" href="https://vrchat.com" translate>settings.integrations.providerLink</a>
      </div>
      <div class="setting-row-action">
        <div class="connected" *ngIf="vrchat.user | async" @hshrink>
          <div class="connected-info"
          >
            <i class="material-icons-round">check_circle</i>
            <div class="connected-info-account">
              {{(vrchat.user | async)?.displayName}}
            </div>
          </div>
          <button class="btn btn-secondary connected-disconnect" (click)="vrchat.logout()" translate>
            settings.integrations.disconnect
          </button>
        </div>
        <button class="btn btn-primary" (click)="vrchat.showLoginModal()" translate
                *ngIf="(vrchat.user | async) === null" @hshrink>settings.integrations.connect
        </button>
      </div>
    </div>

    <div class="setting-row">
      <div class="setting-row-icon">
        <a href="https://pulsoid.net/" target="_blank">
          <img class="pulsoid-logo clickable-logo" src="/assets/img/pulsoid-logo.png" />
        </a>
      </div>
      <div class="setting-row-label">
        <span [innerHtml]="'settings.integrations.pulsoid.title' | translate"></span>
        <span [innerHtml]="'settings.integrations.pulsoid.description' | translate"></span>
        <a target="_blank" href="https://pulsoid.net" translate>settings.integrations.providerLink</a>
      </div>
      <div class="setting-row-action">
        <div class="connected" *ngIf="pulsoid.loggedInUser | async" @hshrink>
          <div class="connected-info"
               [tooltip]="'settings.integrations.reveal'" [tooltipMode]="'top'"
          >
            <i class="material-icons-round">check_circle</i>
            <div class="connected-info-account obfuscated"
                 [obfuscatedValue]="(pulsoid.loggedInUser | async) ?? ''"
                 [obfuscatedMaxLength]="16"
                 [deobfuscatedMaxLength]="32"
                 [deobfuscate]="deobfuscated.includes('PULSOID')" (click)="deobfuscate('PULSOID')"
            ></div>
          </div>
          <button class="btn btn-secondary connected-disconnect" (click)="pulsoid.logout()" translate>
            settings.integrations.disconnect
          </button>
        </div>
        <button class="btn btn-primary" (click)="pulsoid.login()" translate
                *ngIf="(pulsoid.loggedInUser | async) === null" @hshrink>settings.integrations.connect
        </button>
      </div>
    </div>


  </div>
</div>
