<div
  class="slider-container"
  [class.disabled]="disabled()"
  [class.transitioning]="isTransitioning()"
>
  <div class="slider-backdrop"></div>
  <div class="slider-title-row">
    <span class="glow-80">{{ label() }}</span>
  </div>
  <div
    class="slider-bar-area"
    [class.dragging]="dragging()"
    (mousedown)="startDragging($event)"
  >
    <div class="slider-bar-pre glow-80" [style.flex]="renderProgression() * 100"></div>
    <div class="slider-thumb glow-80">
      <span>{{ renderPercentage() }}%</span>
    </div>
    <div class="slider-bar-post glow-80" [style.flex]="(1 - renderProgression()) * 100"></div>
    <div class="slider-bar-range-guide" #rangeGuide></div>
  </div>
</div>
