@import 'material-icons/iconfont/material-icons.css';
@import '@fortawesome/fontawesome-free/css/all.css';
@import 'flag-icons/css/flag-icons.min.css';
@import 'material-symbols';
@import 'themes.scss';
@import 'typography.scss';
@import 'panes.scss';
@import 'buttons.scss';
@import 'inputs.scss';
@import 'alerts.scss';
@import 'spinners.scss';
@import 'tab-bar.scss';
@import 'modals.scss';
@import 'misc.scss';
@import 'responsive.scss';
@import 'animations.scss';
@import 'tooltips.scss';

html,
body {
  margin: 0;
  background-color: var(--color-surface-0);
  color: var(--color-text-0);
  font-size: 12px;
  min-height: 100vh;
  max-width: 100vw;
  transition: background-color 0.15s ease, color 0.15s ease;
  overflow: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

* {
  box-sizing: border-box;
  user-select: none;

  &::-webkit-scrollbar,
  *::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb,
  *::-webkit-scrollbar-thumb {
    background: var(--color-surface-4);
    border-radius: 2px;
  }

  &::-webkit-scrollbar-track-piece,
  *::-webkit-scrollbar-track-piece {
    display: none;
  }
}

a,
a:visited,
a:hover,
a:focus,
a:active {
  color: var(--color-primary);
  cursor: pointer;
  text-decoration: underline;
}

i.material-icons {
  font-size: 1.5em;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
