<div class="pane modal-lg" [@fadeUp]>
  <div class="pane-title" transloco="sleep-detection.modals.disableForUprightPose.title"></div>
  <div class="pane-content">
    <p transloco="sleep-detection.modals.disableForUprightPose.description"></p>
    <div class="settings">
      <div class="setting-row">
        <div class="setting-row-label">
          <span transloco="sleep-detection.modals.disableForUprightPose.duration.title"></span>
          <span
            transloco="sleep-detection.modals.disableForUprightPose.duration.description"
          ></span>
        </div>
        <div class="setting-row-action">
          <app-slider-setting
            [(value)]="durationInternal"
            unit="s"
            [min]="1"
            [snapValues]="[5]"
            [snapDistance]="2"
            [max]="59"
          ></app-slider-setting>
        </div>
      </div>
    </div>
  </div>
  <div class="pane-actions spread">
    <button class="btn btn-secondary" (click)="close()" transloco="shared.modals.cancel"></button>
    <button class="btn btn-primary" (click)="save()" transloco="shared.modals.save"></button>
  </div>
</div>
