@if (!!avatar) {
  <button class="btn-clear" @hshrink (click)="deselect()">
    <i class="material-icons">clear</i>
  </button>
}
<button class="btn-main" [class.selected]="!!avatar" (click)="select()" @noop>
  @if (avatar) {
    <div @hshrink class="image">
      <img
        draggable="false"
        onerror="this.style.display = 'none'"
        loading="lazy"
        [imgSmoothLoader]="avatar.imageUrl | imageCache: 3600 * 6"
      />
    </div>
  }
  @if (avatar) {
    <div @hshrink class="name">
      {{ avatar.name }}
    </div>
  }
  @if (!avatar) {
    <div @hshrink translate class="name"> comp.vrc-avatar-select-button.select</div>
  }
</button>
