name: 'PR & Feature Check'
on:
  pull_request:
  push:
    branches:
      - 'feature/*'
      - '!feature/steam-release'

jobs:
  check-pr-or-feature:
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    strategy:
      fail-fast: false
      matrix:
        platform: [ windows-latest ]
    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v2
      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: npm
      - name: Initialize the project
        run: npm run ci
      - name: Lint Angular project
        run: npm run lint
