name: 'PR & Feature Check'
on:
  pull_request:
  push:
    branches:
      - 'feature/*'
      - '!feature/steam-release'

jobs:
  check-pr-or-feature:
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    strategy:
      fail-fast: false
      matrix:
        platform: [windows-latest]
    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v2
      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: npm
      - name: Initialize the project
        run: npm run ci
      - name: Lint Angular project
        run: npm run lint
      - name: Set app version to DEV version
        run: npm run set-version DEV
      - name: Set flavour to DEV
        run: npm run set-flavour DEV
      - name: Set build id
        run: npm run set-build-id
      - name: Install Rust stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.70.0
          default: true
          override: true
      - name: Install Protoc
        uses: arduino/setup-protoc@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Configure Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: |
            src-shared-rust
            src-elevated-sidecar
            src-core
      - name: Install development Tauri CLI
        run: cargo install --git https://github.com/tauri-apps/tauri --branch 1.x tauri-cli
      - name: Test if OyasumiVR compiles
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tauriScript: cargo-tauri
          includeDebug: true
          includeRelease: false
          includeUpdaterJson: false
          args: -b "{\"tauri\":{\"bundle\":{\"active\":false}}}"
